{
  "openapi": "3.0.1",
  "info": {
    "description": "Staging URL:     https://developer.api.stg.walmart.com/api-proxy/service/WPA/Api/v1/ \nProduction URL : https://developer.api.walmart.com/api-proxy/service/WPA/Api/v1/ \n\nThe Walmart Sponsored Products API enables programmatic access to campaign management and reporting, allowing you to automate, scale, and optimize your advertising. Our flexible solution will allow you to integrate with Sponsored Products in a way that meets your goals and objectives. The API functionalities include campaign and ad group creation, bid and budget adjustments, campaign scheduling, and performance reporting. \n\nNote: POST request to create new entities. PUT request should only include the attribute which needs to be updated and Id for which PUT request is fired for.",
    "title": "Walmart Sponsored Products API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://developer.api.stg.walmart.com/api-proxy/service/WPA/Api/v1/"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "consumer_id": []
    },
    {
      "timestamp": []
    },
    {
      "auth_signature": []
    }
  ],
  "tags": [
    {
      "description": "AdGroup management",
      "name": "AdGroup"
    },
    {
      "description": "AdGroup Media management",
      "name": "AdGroup Media API"
    },
    {
      "description": "Product management for Ad Group Items",
      "name": "Ad Item"
    },
    {
      "description": "Alerts and Recommendations for advertisers",
      "name": "Alerts and Recommendations"
    },
    {
      "description": "API Usage of advertisers",
      "name": "Api Usage Analyze"
    },
    {
      "description": "Bid Multiplier management",
      "name": "Bid Multiplier"
    },
    {
      "description": "Brand Asset management",
      "name": "Brand Assets"
    },
    {
      "description": "Search item published on Walmart.com",
      "name": "Catalog Item"
    },
    {
      "description": "Campaign management",
      "name": "Campaign"
    },
    {
      "description": "Campaign Placement management",
      "name": "Campaign Placement"
    },
    {
      "description": "Insights for advertisers",
      "name": "Insights"
    },
    {
      "description": "Keyword management for keyword bidded campaigns",
      "name": "Keywords"
    },
    {
      "description": "Media management for Sponsored Products",
      "name": "Media API"
    },
    {
      "description": "Retrieving reports for campaigns",
      "name": "Reports"
    },
    {
      "description": "Review management for advertisers",
      "name": "Review"
    },
    {
      "description": "Sponsored Brands profile management",
      "name": "SBA Profile API"
    },
    {
      "description": "Snapshot management for advertisers",
      "name": "Snapshot"
    },
    {
      "description": "Retrieving stats for advertisers",
      "name": "Stats"
    }
  ],
  "paths": {
    "/api/v1/adGroup/media": {
      "get": {
        "description": "This API allows you to retrieve all media associated with a specific ad group by providing the required ad group details in the request. Upon successful execution, the service returns the complete list of ad group media for review and management purposes.",
        "operationId": "AdGroupMediaList",
        "parameters": [
          {
            "description": "The ID of the campaign tied to this ad group",
            "in": "query",
            "name": "campaignId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The ID of the ad group for which the media should be returned.",
            "in": "query",
            "name": "adGroupId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupMedia"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List All The Ad Group Media",
        "tags": [
          "AdGroup Media API"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup Media API"
          }
        ]
      },
      "post": {
        "description": "This API allows you to create new ad group media by providing the required details in the request. Upon successful creation, a unique media ID will be assigned to the newly created media asset for identification and management purposes.",
        "operationId": "AdGroupMediaCreate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupMediaCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupMediaResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Create New Ad Group Media",
        "tags": [
          "AdGroup Media API"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup Media API"
          }
        ]
      },
      "put": {
        "description": "This API allows you to update existing ad group media by providing the required details in the request. Upon successful execution, the specified media asset is updated to reflect the new information for accurate management and tracking.",
        "operationId": "AdGroupMediaUpdate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupMediaUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupMediaResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update Ad Group Media",
        "tags": [
          "AdGroup Media API"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup Media API"
          }
        ]
      }
    },
    "/api/v1/adGroups": {
      "get": {
        "description": "This API allows you to fetch all the available ad group. Provide the advertiser unique ID in the request to fetch the details. The response includes key details about each ad group enabling you to view and manage all ad groups under a specific advertiser account.",
        "operationId": "AdGroupList",
        "parameters": [
          {
            "description": "The ID of the advertiser for whom the ad groups should be returned.",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The ID of the campaign for which the ad groups should be returned.",
            "in": "query",
            "name": "campaignId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "A valid ad group name with which the desired ad group can be searched in the absence of ad group ID.",
            "in": "query",
            "name": "filter[name]",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Provide a date to fetch only those ad groups which were modified on or after that date.\n\n***Note:***\n- *If there was any change to the ad group set up.*\n- *If any item or keyword was modified/added/removed for relevant ad groups.*\n",
            "in": "query",
            "name": "filter[lastModifiedDate]",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroup"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_token": [],
            "consumer_id": [],
            "timestamp": [],
            "auth_signature": [],
            "key_version": []
          }
        ],
        "summary": "List All The Ad Group",
        "tags": [
          "AdGroup"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup"
          }
        ]
      },
      "post": {
        "description": "This API allows you to create a new ad group within an existing campaign by providing the required details in the request. Upon successful creation, a unique ad group ID will be assigned to the newly created ad group for identification and management purposes.",
        "operationId": "AdGroupCreate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful Operation"
          }
        },
        "security": [
          {
            "auth_token": [],
            "consumer_id": [],
            "timestamp": [],
            "auth_signature": [],
            "key_version": []
          }
        ],
        "summary": "Create New Ad Group",
        "tags": [
          "AdGroup"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup"
          }
        ]
      },
      "put": {
        "description": "This API allows you to update an existing ad group by providing the required details in the request. Upon successful update, the ad group will be modified with the new configurations while retaining its unique ad group ID for identification and management purposes.",
        "operationId": "AdGroupUpdate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupUpdate"
              }
            }
          },
          "description": "Request Payload",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_token": [],
            "consumer_id": [],
            "timestamp": [],
            "auth_signature": [],
            "key_version": []
          }
        ],
        "summary": "Update Existing Ad Group",
        "tags": [
          "AdGroup"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "AdGroup"
          }
        ]
      }
    },
    "/api/v1/adItems": {
      "get": {
        "description": "This API allows you to retrieve a list of all items associated with a specific campaign. By providing the required campaign details in the request, the service returns the complete set of items for review and management.",
        "operationId": "AdItemList",
        "parameters": [
          {
            "description": "The ID of the campaign for which the ad groups should be returned.",
            "in": "query",
            "name": "campaignId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List All The Items In A Campaign",
        "tags": [
          "Ad Item"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Ad Item"
          }
        ]
      },
      "post": {
        "description": "This API allows you to add a new item to an existing ad group by providing the required details in the request. Upon successful addition, a unique item ID will be assigned to the newly created item for identification and management purposes.",
        "operationId": "AdItemCreate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupItemCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdItemResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Add New Item To Ad Group",
        "tags": [
          "Ad Item"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Ad Item"
          }
        ]
      },
      "put": {
        "description": "This API allows you to update an existing ad item by providing the required details in the request. Upon successful update, the changes are applied to the specified ad item to ensure accurate management and tracking.",
        "operationId": "AdItemUpdate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupItemUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdItemResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update Ad Item",
        "tags": [
          "Ad Item"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Ad Item"
          }
        ]
      }
    },
    "/api/v1/alerts": {
      "get": {
        "description": "",
        "operationId": "Alert List",
        "parameters": [
          {
            "description": "AdvertiserId",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AlertsandRecommendations"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List all the Alerts and Recommendations for the advertiser",
        "tags": [
          "Alerts and Recommendations"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Alerts and Recommendations"
          }
        ]
      }
    },
    "/api/v1/api_usage_analyze": {
      "get": {
        "description": "",
        "operationId": "getLastHourApiUsageForCurrentUser",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUsageAnalyze"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Get last hour api usage",
        "tags": [
          "Api Usage Analyze"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Api Usage Analyze"
          }
        ]
      }
    },
    "/api/v1/brand_assets": {
      "get": {
        "description": "",
        "operationId": "BrandAssetsGet",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "brand asset Id",
            "in": "query",
            "name": "brandAssetId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BrandAssetsGetResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Get the brand asset details",
        "tags": [
          "Brand Assets"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      },
      "post": {
        "description": "",
        "operationId": "brandAssetsCreate",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BrandAssetsPostRequest"
                },
                "type": "array"
              }
            }
          },
          "description": "",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Create the brand asset details",
        "tags": [
          "Brand Assets"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      },
      "put": {
        "description": "",
        "operationId": "brandAssetsUpdate",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BrandAssetsPutRequest"
                },
                "type": "array"
              }
            }
          },
          "description": "",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update the brand asset details",
        "tags": [
          "Brand Assets"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/brand_assets/reviews": {
      "get": {
        "description": "",
        "operationId": "BrandAssetsReviewGet",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "brand asset Id",
            "in": "query",
            "name": "brandAssetId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsReviewGet_200_response_inner"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Get the brand assets reviews",
        "tags": [
          "Brand Assets"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      },
      "post": {
        "description": "",
        "operationId": "brandAssetsReviewsCreate",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/brandAssetsReviewsCreate_request_inner"
                },
                "type": "array"
              }
            }
          },
          "description": "",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsReviewsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Create the brand assets reviews",
        "tags": [
          "Brand Assets"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/brand_assets/custom_image_upload": {
      "post": {
        "description": "",
        "operationId": "brandAssetsCustomImageUpload",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/brandAssetsCustomImageUpload_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Upload Custom Image to brand assets by brandAssetId",
        "tags": [
          "Brand Assets"
        ],
        "x-content-type": "application/x-www-form-urlencoded",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/brand_assets/logo_image_upload": {
      "post": {
        "description": "",
        "operationId": "brandAssetsLogoImageUpload",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/brandAssetsCustomImageUpload_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BrandAssetsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Upload Logo Image to brand assets by brandAssetId",
        "tags": [
          "Brand Assets"
        ],
        "x-content-type": "application/x-www-form-urlencoded",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/brand_assets/{brandAssetId}": {
      "delete": {
        "description": "",
        "operationId": "brandAssetsDelete",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "brandAssetId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BrandAssetsResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Delete the brand asset by id",
        "tags": [
          "Brand Assets"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/brand_assets/{brandAssetId}/custom_image": {
      "delete": {
        "description": "",
        "operationId": "brandAssetsCustomImageDelete",
        "parameters": [
          {
            "description": "advertiser Id",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "brandAssetId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BrandAssetsResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Delete the custom image by brand asset id",
        "tags": [
          "Brand Assets"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Brand Assets"
          }
        ]
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "description": "This API allows you to retrieve detailed information about a specific campaign. Provide the campaign's unique ID in the request to fetch its attributes.\n\n***Note:*** *It will not return deleted campaigns.*\n",
        "operationId": "CampaignList",
        "parameters": [
          {
            "description": "The ID of the advertiser for whom the ad groups should be returned.",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The ID of the campaign for which the ad groups should be returned.",
            "in": "query",
            "name": "campaignId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "A valid campaign name with which the desired campaign can be searched in the absence of campaign ID.\n\n***Note:*** *Characters encoding is required.*\n",
            "in": "query",
            "name": "filter[name]",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Provide a date to fetch only those campaigns which were modified on or after that date.\n\n***Note:***\n*- Modified describes any change to campaign set up.*\n*- Characters encoding is required.*\n",
            "in": "query",
            "name": "filter[lastModifiedDate]",
            "required": false,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List All The Campaigns",
        "tags": [
          "Campaign"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      },
      "post": {
        "description": "This API enables the creation of a new campaign by submitting the necessary details in the request payload. Once the campaign is successfully created, the system returns a unique campaign ID that can be used for future tracking and management.",
        "operationId": "CampaignCreate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Create New Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      },
      "put": {
        "description": "This API allows you to modify an existing campaign's details and manage its associated items. You must provide the campaign's unique ID along with the necessary changes in the request. The specified updates will be applied while preserving the campaign's unique identifier.",
        "operationId": "CampaignUpdate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update Existing Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      }
    },
    "/api/v1/campaigns/delete": {
      "put": {
        "description": "This API allows you to permanently remove an existing campaign from the system. Once deleted, the campaign and its unique ID will no longer be retrievable. The campaign's unique ID must be included in the request.",
        "operationId": "CampaignDelete",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful Operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Delete existing campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      }
    },
    "/api/v1/insights": {
      "get": {
        "description": "",
        "operationId": "InsightsResponse",
        "parameters": [
          {
            "description": "Insights type",
            "in": "query",
            "name": "insightsType",
            "required": true,
            "schema": {
              "enum": [
                "searchTrends"
              ],
              "type": "string"
            }
          },
          {
            "description": "File format",
            "in": "query",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "zip",
                "gzip"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Insights"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Get the Insights",
        "tags": [
          "Insights"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Insights"
          }
        ]
      }
    },
    "/api/v1/itemSearch": {
      "post": {
        "description": "You can search an item by providing search string text or item ID. List of items is pulled only from seller/supplier catalog.\n\n***Note:*** *You can use either `searchText` or `searchItemIds` along with `advertiserId` to search an item. At least one of these is required. You must not include both.*\n",
        "operationId": "CatalogSearch",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ItemSearchResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Search items published on Walmart.com",
        "tags": [
          "Catalog Item"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Catalog Item"
          }
        ]
      }
    },
    "/api/v1/keywordAnalytics": {
      "post": {
        "description": "Use this method to allow API users to perform keyword research and analysis for advertisers.",
        "operationId": "fetchAnalytics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KwatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KwatResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Fetch keyword Analytics",
        "tags": [
          "Keywords"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Keywords"
          }
        ]
      }
    },
    "/api/v1/keyword_suggestions": {
      "get": {
        "description": "This API allows you to retrieve suggested keywords based on the item added to an ad group. By providing the necessary item details in the request, the service returns a list of relevant keyword suggestions to support optimization and management of the ad group.",
        "operationId": "SuggestedKeywordApi",
        "parameters": [
          {
            "description": "The ID of the ad group.",
            "in": "query",
            "name": "adGroupId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SuggestedKeywordResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Suggested Keywords",
        "tags": [
          "Keywords"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Keywords"
          }
        ]
      }
    },
    "/api/v1/keywords": {
      "get": {
        "description": "This API allows you to retrieve all keywords associated with a specific campaign by providing the required campaign details in the request. Upon successful execution, the service returns the complete list of keywords for review and management purposes.",
        "operationId": "KeywordList",
        "parameters": [
          {
            "description": "The ID of the campaign.",
            "in": "query",
            "name": "campaignId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KeywordApiJson"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List All The Keywords In A Campaign",
        "tags": [
          "Keywords"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Keywords"
          }
        ]
      },
      "post": {
        "description": "This API allows you to add new keywords to an existing keyword-bidded campaign by providing the required details in the request. You can add your own keywords as well. Upon successful addition, the specified campaign is updated with the newly included keywords for improved targeting and management.",
        "operationId": "KeywordCreate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KeywordResponseJson"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Add Keywords To Existing Keyword Bidded Campaign",
        "tags": [
          "Keywords"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Keywords"
          }
        ]
      },
      "put": {
        "description": "This API allows you to update the state and bid of existing keywords by providing the required details in the request. Upon successful execution, the specified keywords are updated to reflect the new configurations for accurate control and management.",
        "operationId": "KeywordUpdate",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/KeywordApiResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update State And Bid Of Existing Keywords",
        "tags": [
          "Keywords"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Keywords"
          }
        ]
      }
    },
    "/api/v1/media": {
      "get": {
        "description": "This API allows you to retrieve all media by providing the required details in the request. Upon successful execution, the system returns a complete list of media resources for identification and management purposes.",
        "operationId": "MediaList",
        "parameters": [
          {
            "description": "The ID of the advertiser.",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The unique ID of the media file generated from the notify media upload complete call. When an advertiser ID and multiple media IDs are provided, the service shall return the media details qualifying for the first media ID.",
            "in": "query",
            "name": "mediaId",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The value represents the status of the media file. When an advertiser ID and multiple status are provided, the service shall return the media details qualifying for the first status.\n\n***Note:*** \n*- `PENDING` and `PROCESSING` status signify that the video is being processed at the backend for technical specification.*\n*- `LIVED` status means that the video was associated with a campaign which went live and cannot be deleted.*\n*- `AVAILABLE` signifies that the video is now available to be added to a campaign.*\n*- `FAILED` signifies that the background process for video validation failed.*\n",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GetAllMediaAPIResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "List All The Media",
        "tags": [
          "Media API"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      },
      "put": {
        "description": "This API allows you to update the media file name by providing the required information in the request. Upon successful execution, the specified media resource is updated with the new details for accurate identification and management purposes.",
        "operationId": "Update media details",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUpdateResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update The Media Details",
        "tags": [
          "Media API"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      }
    },
    "/api/v1/media/{mediaId}": {
      "delete": {
        "description": "This API allows you to delete an existing media resource by providing the required media identifier in the request. Upon successful execution, the specified media asset is removed from the system for proper management and cleanup purposes.",
        "operationId": "Delete media response",
        "parameters": [
          {
            "description": "The unique ID of the media file.",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The unique ID associated with advertiser account.",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MediaDeleteResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Delete Media File",
        "tags": [
          "Media API"
        ],
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      }
    },
    "/api/v1/media/{mediaId}/cc": {
      "post": {
        "description": "This API allows you to update a closed caption file by providing the required details in the request. Upon successful execution, the specified closed caption record is updated to reflect the new information for accurate identification and management purposes.\n\n***Note:*** \n*- Caption file format should be .srt or .vtt.*\n*- You cannot update a closed caption file for a media which associated with a campaign.*\n",
        "operationId": "Update media closed caption response",
        "parameters": [
          {
            "description": "The unique ID of the media file associated to the closed caption file.",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The unique ID associated with advertiser account.",
            "in": "query",
            "name": "advertiserId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Update_media_closed_caption_response_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUpdateCaptionResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Update Closed Caption By ID",
        "tags": [
          "Media API"
        ],
        "x-content-type": "application/x-www-form-urlencoded",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      }
    },
    "/api/v1/media/complete": {
      "put": {
        "description": "This API allows you to accept a video upload notification by providing the required details in the request. Upon successful processing, a unique media ID is created to represent the uploaded video asset. This media ID can then be used to associate the media with an ad group for sponsored videos.",
        "operationId": "complete Media upload",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadCompleteResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Complete Media Upload",
        "tags": [
          "Media API"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      }
    },
    "/api/v1/media/upload": {
      "post": {
        "description": "The upload media endpoint is used to create a location to upload a video asset and an optional closed caption file (recommended to provide if video has spoken words). This location is short lived and expires in 15 minutes.",
        "operationId": "Upload Media",
        "parameters": [
          {
            "description": "Auth signature as an API key.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you the consumer ID to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "We will provide you with the KEY VERSION to access the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "WM_SEC.KEY_VERSION",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Timestamp for which the auth signature is generated. Use Unix epoch format.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The token will provide you the access to the API. It is same for all advertisers you access through the API.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "BearerAuth": [],
            "timestamp": []
          }
        ],
        "summary": "Upload Media",
        "tags": [
          "Media API"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Media API"
          }
        ]
      }
    },
    "/api/v1/multipliers/placement": {
      "get": {
        "description": "Retrieve a list of all the placement bid multipliers for a campaign using this method.",
        "operationId": "BidMultipliersPlacementList",
        "parameters": [
          {
            "description": "ID of the campaign.",
            "in": "query",
            "name": "campaignId",
            "required": true,
            "schema": {
[...]
