{"openapi":"3.0.1","info":{"title":"Advertising","version":"1.0","description":"Search Engine Marketing (SEM) allows you to promote your listings through Google Shopping Ads and reach customers who are searching on Google for products like yours."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"paths":{"/v3/advertising/sem/campaigns/{campaignId}":{"get":{"tags":["Campaign Management"],"summary":"Get campaign details","description":"This API allows you to retrieve detailed information about a specific campaign. Provide the campaign's unique ID in the request to fetch its attributes.","operationId":"getCampaignDetails","parameters":[{"name":"campaignId","in":"path","description":"Campaign ID of the campaign whose details are to be retrieved.","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Campaign"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse404"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}},"put":{"tags":["Campaign Management"],"summary":"Update an existing campaign","description":"This API allows you to modify an existing campaign's details and manage its associated items. You must provide the campaign's unique ID along with the necessary changes in the request. The specified updates will be applied while preserving the campaign's unique identifier.","operationId":"updateCampaign","parameters":[{"name":"campaignId","in":"path","description":"Campaign ID of the campaign to be updated.","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse404"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}},"delete":{"tags":["Campaign Management"],"summary":"Delete an existing campaign","description":"This API allows you to permanently remove an existing campaign from the system. Once deleted, the campaign and its unique ID will no longer be retrievable. The campaign's unique ID must be included in the request.","operationId":"deleteCampaign","parameters":[{"name":"campaignId","in":"path","description":"Campaign ID of the campaign to be deleted.","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"responses":{"204":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse404"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/campaigns/{campaignId}/stop":{"put":{"tags":["Campaign Management"],"summary":"Stop a running campaign","description":"This API allows you to stop an active campaign. Stopping a campaign does not delete it but prevents further actions. The campaign's unique ID must be included in the request.","operationId":"stopCampaign","parameters":[{"name":"campaignId","in":"path","description":"Campaign ID of the campaign to be stopped.","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"responses":{"204":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse404"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/items/eligibility":{"post":{"tags":["Catalog"],"summary":"Check eligibility of items","description":"This API allows you to check whether an item from your catalog meets the required conditions for Search Engine Marketing ads.","operationId":"getEligibleItems","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemEligibilityRequest"}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/campaigns":{"post":{"tags":["Campaign Management"],"summary":"Create a new campaign","description":"This API allows you to create a new campaign by providing the required details in the request. Upon successful creation, a unique campaign ID will be assigned to the newly created campaign for identification and management purposes.","operationId":"createCampaign","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignCreateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/campaigns/{campaignId}/item-level-summary":{"post":{"tags":["Reporting"],"summary":"Get item-level performance data","description":"This API allows you to fetch comprehensive performance metrics for all the items in a specific campaign, allowing you to analyze key performance indicators based on specified filtering and sorting criteria.","operationId":"getItemLevelSummary","parameters":[{"name":"campaignId","in":"path","description":"Campaign ID of the campaign whose item-level performance report is to be retrieved.","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemLevelReportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse404"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/campaigns/performance-summary":{"post":{"tags":["Reporting"],"summary":"Get campaign-level performance data","description":"This API allows you to fetch comprehensive performance metrics for all campaigns, allowing you to analyze key performance indicators based on specified filtering and sorting criteria.","operationId":"getCampaignLevelSummary","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignLevelReportResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/billing-history":{"post":{"tags":["Reporting"],"summary":"Get billing history","description":"This API allows you to fetch your billing history.","operationId":"getBillingHistory","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"requestBody":{"description":"Request Payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingHistoryRequest"}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingHistoryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/items/recommendations":{"get":{"tags":["Catalog"],"summary":"Get top recommended items from your catalog","description":"This API allows you to fetch a list of top recommended items from your catalog. You can customize the number of recommendations to be returned by adjusting the request parameter.","operationId":"getItemRecommendations","parameters":[{"name":"limit","in":"query","description":"Specifies the maximum number of recommended items to be returned. This value cannot exceed 200.","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"in":"header","$ref":"#/components/parameters/accessToken"},{"in":"header","$ref":"#/components/parameters/channelType"},{"in":"header","$ref":"#/components/parameters/correlationId"},{"in":"header","$ref":"#/components/parameters/svcName"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse400"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemErrorResponse500"}}}}}}},"/v3/advertising/sem/item-issues/search":{"post":{"tags":["Item Diagnostics"],"summary":"Search item issues","description":"Search for item-level diagnostic issues that block or limit items from being used in Search Engine Marketing (SEM). Returns paginated, item-level diagnostic details including campaign associations, issue types, severity, remediation guidance, and overall item status.<br><b style='color:green;'>Market availability: US only</b>\n\nItems in SEM campaigns must meet content, quality, and policy requirements before they can be advertised on search engines (For example, Google Shopping Ads). This endpoint surfaces the specific issues preventing or limiting an item's SEM eligibility, along with actionable remediation guidance so sellers can resolve problems and restore advertising reach.\n\n### Current scope\nThis endpoint currently returns diagnostics for **items that are part of active SEM campaigns** for the authenticated seller. Each item in the response includes its `campaignAssociations` — the list of campaigns the item belongs to. Items not associated with any campaign are not included in the results.\n\n### Default behavior \n- When no request body is provided, defaults to `offset=0`, `limit=100` with no filters\n- When no `issueCategory` filter is provided, returns **only items with issues** (`BLOCKED` or `LIMITED`)\n- To include healthy items, explicitly pass `issueCategory` filter with `NO_ISSUES` or all three values\n- By default, the API prioritizes returning actionable diagnostic issues rather than healthy items. This reduces payload size and improves relevance\n\n### Supported filters\nFilters are combined with AND logic. Multiple values within a single filter act as OR.\n\n| Filter Field    | Supported Values                          | Max Values | Description                                              |\n|-----------------|-------------------------------------------|------------|----------------------------------------------------------|\n| `issues`        | Any valid `issueType` enum value          | 100        | Filter by specific SEM issue types (For example, `ITEM_OUT_OF_STOCK`, `TITLE_TOO_LONG`, `POLICY_VIOLATION`) |\n| `issueCategory` | `LIMITED`, `BLOCKED`, `NO_ISSUES`         | 100        | Filter by SEM issue severity — `BLOCKED` items cannot be advertised at all, `LIMITED` items have reduced SEM performance |\n| `itemId`        | Numeric string item IDs                   | 100        | Filter by Walmart catalog item identifiers within the seller's active campaigns. *In a future release, this filter will also support items outside of campaigns.* |\n\n### Response structure\nEach response contains two top-level fields:\n- `pagination`: Standard pagination metadata including `hasNextPage`/`hasPreviousPage` for convenient UI navigation\n- `data`: Array of item-level diagnostics. Each item appears **once** per unique `offerId` with all campaign associations listed. Each item includes an `issueCategory` field representing the overall SEM eligibility status of the item, and an `issues` array containing issue type identifiers. Issues are item-level, not campaign-specific — a blocked item is blocked in all SEM campaigns it belongs to.\n\nIssue metadata (name, description, fixability, help links) is not included in this response. Partners should use the dedicated `GET /item-issues/issue-types` endpoint to retrieve complete issue metadata and cache it locally (TTL: 24 hours).\n\n### Issue categories\n| Category     | SEM Impact                                                                     |\n|--------------|--------------------------------------------------------------------------------|\n| `BLOCKED`    | Item **cannot be advertised** on search engines. Must be resolved before the item can appear in SEM ads. Examples: out of stock, missing title, policy violation, invalid image. |\n| `LIMITED`    | Item **can be advertised but with reduced visibility** or performance on search engines. Resolving these issues improves ad reach and effectiveness. Examples: title too long, low image quality, description too short. |\n| `NO_ISSUES`  | Item has no SEM issues and can be advertised normally with full visibility.      |\n\n### Actionable vs non-actionable issues\nEach issue type has an `isFixable` flag available via the `GET /item-issues/issue-types` reference endpoint:\n- `isFixable=true`: Seller can fix the issue to restore SEM eligibility (For example, restock inventory, update title, fix image). Partners should surface these with a \"Fix Now\" UI affordance.\n- `isFixable=false`: Requires Walmart or system intervention (For example, Google policy violations). Partners should display these as informational — the seller cannot directly resolve them.","operationId":"searchItemIssues","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"$ref":"#/components/parameters/channelType"},{"$ref":"#/components/parameters/svcName"},{"$ref":"#/components/parameters/correlationId"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/accept"}],"requestBody":{"description":"Optional search request with pagination and filters.\nDefaults to `offset=0`, `limit=100` with no filters if body is absent.\nWhen no `issueCategory` filter is provided, only items with issues (`BLOCKED` or `LIMITED`) are returned.\nThis reduces payload size and improves relevance — diagnostics API consumers typically want problems, not healthy-item confirmation.\nTo include all items, explicitly pass `issueCategory` filter with all three values: `LIMITED`, `BLOCKED`, `NO_ISSUES`.","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemDiagnosticSearchRequest"},"examples":{"basicSearch":{"summary":"Basic search with pagination","description":"Search for items with issues using pagination. No filters means only `BLOCKED` and `LIMITED` items are returned by default.","value":{"page":{"offset":0,"limit":20}}},"filterByIssueCategory":{"summary":"Filter by issue category","description":"Search for only BLOCKED items across all active campaigns.","value":{"page":{"offset":0,"limit":20},"filters":[{"field":"issueCategory","values":["BLOCKED"]}]}},"filterBySpecificIssues":{"summary":"Filter by specific issue types","description":"Search for items with specific issue types (`ITEM_OUT_OF_STOCK` and `TITLE_TOO_LONG`).","value":{"page":{"offset":0,"limit":50},"filters":[{"field":"issues","values":["ITEM_OUT_OF_STOCK","TITLE_TOO_LONG"]}]}},"filterByItemId":{"summary":"Filter by item IDs","description":"Search for diagnostics for specific items by their Walmart item IDs.","value":{"page":{"offset":0,"limit":10},"filters":[{"field":"itemId","values":["123456789","987654321"]}]}},"combinedFilters":{"summary":"Combined filters","description":"Search using multiple filters combined. Filters are evaluated with AND logic between filter groups and OR logic within each group.","value":{"page":{"offset":0,"limit":20},"filters":[{"field":"issues","values":["ITEM_OUT_OF_STOCK","TITLE_TOO_LONG"]},{"field":"issueCategory","values":["LIMITED","BLOCKED"]}]}},"includeHealthyItems":{"summary":"Include healthy items (NO_ISSUES)","description":"To include items with no issues, explicitly pass the `issueCategory` filter with `NO_ISSUES`.\nBy default, only items with issues are returned.","value":{"page":{"offset":0,"limit":50},"filters":[{"field":"issueCategory","values":["LIMITED","BLOCKED","NO_ISSUES"]}]}},"emptyBody":{"summary":"Empty body (default behavior)","description":"When no body is provided, defaults to `offset=0`, `limit=100`, and returns only items with issues (`BLOCKED` or `LIMITED`).","value":{}}}}}},"responses":{"200":{"description":"Search results retrieved successfully","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemDiagnosticSearchResponse"},"examples":{"successWithData":{"summary":"Successful response with data","description":"Response with item-level diagnostics, campaign associations, and issue metadata.","value":{"pagination":{"pageNo":0,"pageSize":20,"totalCount":45,"totalPages":3,"hasNextPage":true,"hasPreviousPage":false},"data":[{"offerId":"ABC123DEF456","itemId":"123456789","sku":"PARTNER-SKU-001","productImageUrl":"https://i5.walmartimages.com/samsung-buds-pro.jpg","productName":"Samsung Galaxy Buds Pro","campaignAssociations":[{"campaignId":"98765","campaignName":"Electronics Summer Sale"},{"campaignId":"11223","campaignName":"Back to School Campaign"}],"issueCategory":"BLOCKED","productUrl":"https://www.walmart.com/ip/123456789","issues":[{"issueType":"ITEM_OUT_OF_STOCK"}]},{"offerId":"XYZ789GHI012","itemId":"987654321","sku":"PARTNER-SKU-002","productImageUrl":"https://i5.walmartimages.com/wireless-headphones.jpg","productName":"Premium Wireless Bluetooth Headphones","campaignAssociations":[{"campaignId":"98765","campaignName":"Electronics Summer Sale"}],"issueCategory":"LIMITED","productUrl":"https://www.walmart.com/ip/987654321","issues":[{"issueType":"TITLE_TOO_LONG"},{"issueType":"DESCRIPTION_TOO_SHORT"}]}]}},"noIssuesItem":{"summary":"Response with healthy item (NO_ISSUES)","description":"Response when the `issueCategory` filter includes `NO_ISSUES`. Items with no issues have an empty issues array, and `DUPLICATE_OFFER` items are categorized as `NO_ISSUES`.","value":{"pagination":{"pageNo":0,"pageSize":10,"totalCount":1,"totalPages":1,"hasNextPage":false,"hasPreviousPage":false},"data":[{"offerId":"HEALTHY123","itemId":"555555555","sku":"PARTNER-SKU-003","productImageUrl":"https://i5.walmartimages.com/healthy-item.jpg","productName":"Healthy campaign Item","campaignAssociations":[{"campaignId":"98765","campaignName":"Electronics Summer Sale"}],"issueCategory":"NO_ISSUES","productUrl":"https://www.walmart.com/ip/555555555","issues":[]}]}},"emptyResponse":{"summary":"Empty response","description":"Response when no items match the search criteria.","value":{"pagination":{"pageNo":0,"pageSize":100,"totalCount":0,"totalPages":0,"hasNextPage":false,"hasPreviousPage":false},"data":[]}}}}}},"400":{"description":"Bad Request - Invalid request parameters or malformed request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalidPageOffset":{"summary":"Invalid page offset","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Page offset must be zero or a positive value.","instance":"/v3/advertising/sem/item-issues/search"}]}},"invalidPageLimit":{"summary":"Page limit exceeds maximum","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Limit must be between 1 and 100.","instance":"/v3/advertising/sem/item-issues/search"}]}},"invalidFilterField":{"summary":"Invalid filter field","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Invalid field 'invalidField'. Allowed fields are [issues, issueCategory, itemId].","instance":"/v3/advertising/sem/item-issues/search"}]}},"emptyFilterValues":{"summary":"Empty filter values","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Filter values must not be empty.","instance":"/v3/advertising/sem/item-issues/search"}]}},"invalidIssueCategory":{"summary":"Invalid issue category value","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Invalid Item Status 'INVALID_VALUE'. Supported values: LIMITED, BLOCKED, NO_ISSUES.","instance":"/v3/advertising/sem/item-issues/search"}]}},"invalidIssueType":{"summary":"Invalid issue type value","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Invalid Issue Type 'NONEXISTENT_ISSUE'.","instance":"/v3/advertising/sem/item-issues/search"}]}},"filterValueLimitExceeded":{"summary":"Filter values exceed maximum","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Filter field 'issues' supports a maximum of 100 values. Received: 105.","instance":"/v3/advertising/sem/item-issues/search"}]}},"duplicateFilterField":{"summary":"Duplicate filter field","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Duplicate filter field `issueCategory`. Each filter field must be specified only once.","instance":"/v3/advertising/sem/item-issues/search"}]}},"invalidItemId":{"summary":"Invalid item ID format","value":{"error":[{"type":"about:blank","title":"Invalid Parameter","status":400,"detail":"Invalid Item Id 'abc'. itemId must be a numeric string.","instance":"/v3/advertising/sem/item-issues/search"}]}},"malformedJson":{"summary":"Malformed JSON in request body","value":{"error":[{"type":"about:blank","title":"Invalid Request Body","status":400,"detail":"Malformed JSON in request body.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"401":{"description":"Unauthorized - Missing, invalid, or expired bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unauthorized":{"summary":"Unauthorized","value":{"error":[{"type":"about:blank","title":"Unauthorized","status":401,"detail":"Missing, invalid, or expired bearer token.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"403":{"description":"Forbidden - Seller does not have access to SEM advertising features.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"forbidden":{"summary":"Forbidden","value":{"error":[{"type":"about:blank","title":"Forbidden","status":403,"detail":"You do not have permission to access this resource.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"422":{"description":"Unprocessable Entity - Request is malformed (For example, request body passed as string instead of JSON object).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unprocessableEntity":{"summary":"Content-Type not supported","value":{"error":[{"type":"about:blank","title":"Unprocessable Entity","status":422,"detail":"Content-Type must be application/json","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"429":{"description":"Rate limit exceeded - You have exceeded your API calls threshold.","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse429"},"examples":{"tooManyRequests":{"summary":"Rate limit exceeded","value":{"error":[{"type":"about:blank","title":"Rate limit exceeded","status":429,"detail":"You have exceeded your API calls threshold. Check your seller account documentation to find out how many API calls are allowed for your account.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"500":{"description":"Internal server error - Unexpected server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internalServerError":{"summary":"Internal server error","value":{"error":[{"type":"about:blank","title":"Internal server error","status":500,"detail":"An unexpected error occurred. Retry or contact support if the issue persists.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}},"503":{"description":"Service Unavailable - Service is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"serviceUnavailable":{"summary":"Service unavailable","value":{"error":[{"type":"about:blank","title":"Service unavailable","status":503,"detail":"The service is temporarily unavailable. Retry with exponential backoff.","instance":"/v3/advertising/sem/item-issues/search"}]}}}}}}},"security":[{"accessToken":[]}]}},"/v3/advertising/sem/item-issues/issue-types":{"get":{"tags":["Item Diagnostics"],"summary":"Get issue types","description":"Returns the complete, authoritative metadata for all SEM eligibility issue types (~61 issue types, ~5KB).<br><b style='color:green;'>Market availability: US only</b>\n\nItems used in Search Engine Marketing (SEM) campaigns such as Google Shopping Ads must meet specific content, quality, and policy requirements before they can be advertised on search engines. When items fail to meet these requirements, they are flagged with specific issue types that either **block** the item from being advertised entirely or **limit** its visibility and performance in SEM.\n\nThis endpoint returns the complete catalog of all issue types that can affect an item's SEM eligibility, along with human-readable names, descriptions, remediation guidance, severity categories, and help links. It serves as the **single source of truth** for issue metadata.\n\n### Current scope\nThe issue types returned by this endpoint apply to items that are currently part of active SEM campaigns. The `POST /item-issues/search` endpoint uses these issue types to report diagnostics on campaign items.\n\n### Future extensibility\nIn a future release, the `POST /item-issues/search` endpoint will support querying diagnostic issues for any item in the seller's catalog — even items not yet added to a campaign — using the `itemId` filter. The same issue types returned by this endpoint will apply to those items as well, enabling sellers to proactively diagnose and fix issues before campaign onboarding.\n\n### SEM eligibility issue categories\nEach issue type belongs to one of three categories that indicate its impact on an item's ability to be advertised on search engines:\n\n| Category     | Count | SEM Impact                                                                     |\n|--------------|-------|--------------------------------------------------------------------------------|\n| `BLOCKED`    | ~49   | Item **cannot be advertised** on search engines. Must be resolved before the item can appear in SEM ads. Examples: `ITEM_OUT_OF_STOCK`, `POLICY_VIOLATION`, `MISSING_INVALID_TITLE`, `INVALID_IMAGE`, `BUYBOX_NOT_WINNER` |\n| `LIMITED`    | ~11   | Item **can be advertised but with reduced visibility** or performance on search engines. Resolving these issues improves ad reach and effectiveness. Examples: `TITLE_TOO_LONG`, `LOW_IMAGE_QUALITY`, `DESCRIPTION_TOO_SHORT`, `LOW_OFFER_LISTING_QUALITY` |\n| `NO_ISSUES`  | ~1    | Informational statuses such as `DUPLICATE_OFFER` — item has no SEM eligibility issues |\n\n### Actionable vs non-actionable issues\nEach issue type includes an `isFixable` flag that indicates whether the seller can resolve the issue:\n- `isFixable=true`: Seller can take action to restore or improve SEM eligibility (For example, restock inventory, update title, improve image quality). Partners should surface these with a \"Fix Now\" UI affordance.\n- `isFixable=false`: Requires Walmart or system intervention (For example, Google policy violations, BuyBox eligibility). Partners should display these as informational — the seller cannot directly resolve them.\n\n### Response structure\nThe response is a map keyed by `issueType` (string), where each value is an `IssueMetadata` object containing:\n- `issueName`: Human-readable short headline for UI display (For example, \"Item Out of Stock\")\n- `issueCategory`: SEM eligibility impact — `BLOCKED` (cannot advertise on search engines) or `LIMITED` (reduced SEM visibility)\n- `isFixable`: Whether the partner can remediate this issue to restore SEM eligibility\n- `issueDescription`: Human-readable description with specific remediation guidance (For example, \"Item is out of stock. Add inventory to make the item available.\")\n- `learnMoreUrl`: Help link to Walmart-hosted or Google support documentation for step-by-step remediation. May be null for some issue types.\n\n### Recommended usage pattern\n1. Call this endpoint **once** on application initialization\n2. Cache the result locally (recommended **TTL: 24 hours**)\n3. Use cached metadata to enrich items returned by the `POST /item-issues/search` endpoint — match each item's `issueType` to the cached metadata for display name, description, and help links\n4. Use `isFixable` to drive UI affordances: show \"Fix Now\" buttons for fixable SEM issues, informational badges for non-fixable ones\n5. Use `learnMoreUrl` to deep-link to help documentation for step-by-step remediation guidance\n6. Use `issueCategory` to color-code or badge issues in your UI: red for `BLOCKED` (cannot advertise), yellow for `LIMITED` (reduced SEM performance).","operationId":"getIssueTypes","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"$ref":"#/components/parameters/channelType"},{"$ref":"#/components/parameters/svcName"},{"$ref":"#/components/parameters/correlationId"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/accept"}],"responses":{"200":{"description":"Issue types metadata retrieved successfully","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueTypesResponse"},"examples":{"issueTypesResponse":{"summary":"Issue types response (Partial)","description":"Partial response showing a few representative issue types. The actual response contains all 61 issue types.","value":{"ITEM_OUT_OF_STOCK":{"issueName":"Item Out of Stock","issueCategory":"BLOCKED","isFixable":true,"issueDescription":"Item is out of stock. Add inventory to make the item available.","learnMoreUrl":"https://marketplacelearn.walmart.com/guides/Getting%20started/Getting%20ready%20to%20sell/How-to-update-seller-fulfilled-inventory:-overview"},"TITLE_TOO_LONG":{"issueName":"Title Too Long","issueCategory":"LIMITED","isFixable":true,"issueDescription":"Only the first 70 characters of your title are displayed in Shopping Ads (maximum 150 characters). Place the most important product details at the beginning of the title to maximize discoverability.","learnMoreUrl":"https://support.google.com/merchants/answer/14989281"},"POLICY_VIOLATION":{"issueName":"Policy Violation","issueCategory":"BLOCKED","isFixable":false,"issueDescription":"Item is flagged for violating Google policy and cannot be advertised on Google.","learnMoreUrl":null},"BUYBOX_NOT_WINNER":{"issueName":"Item is not BuyBox Winner","issueCategory":"BLOCKED","isFixable":false,"issueDescription":"Item cannot be advertised on Google at this time.","learnMoreUrl":null},"LOW_OFFER_LISTING_QUALITY":{"issueName":"Low Offer Listing Quality","issueCategory":"LIMITED","isFixable":true,"issueDescription":"Improving your listing quality can increase performance.","learnMoreUrl":"https://marketplacelearn.walmart.com/guides/Listing%20optimization/Items%20and%20inventory/Listing-quality-and-rewards-dashboard"}}}}}}},"401":{"description":"Unauthorized - Missing, invalid, or expired bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unauthorized":{"summary":"Unauthorized","value":{"error":[{"type":"about:blank","title":"Unauthorized","status":401,"detail":"Missing, invalid, or expired bearer token.","instance":"/v3/advertising/sem/item-issues/issue-types"}]}}}}}},"403":{"description":"Forbidden - Seller does not have access to SEM advertising features.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"forbidden":{"summary":"Forbidden","value":{"error":[{"type":"about:blank","title":"Forbidden","status":403,"detail":"You do not have permission to access this resource.","instance":"/v3/advertising/sem/item-issues/issue-types"}]}}}}}},"429":{"description":"Rate limit exceeded - You have exceeded your API calls threshold.","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse429"},"examples":{"tooManyRequests":{"summary":"Rate limit exceeded","value":{"error":[{"type":"about:blank","title":"Rate limit exceeded","status":429,"detail":"You have exceeded your API calls threshold. Check your seller account documentation to find out how many API calls are allowed for your account.","instance":"/v3/advertising/sem/item-issues/issue-types"}]}}}}}},"500":{"description":"Internal server error - Unexpected server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internalServerError":{"summary":"Internal server error","value":{"error":[{"type":"about:blank","title":"Internal server error","status":500,"detail":"An unexpected error occurred. Retry or contact support if the issue persists.","instance":"/v3/advertising/sem/item-issues/issue-types"}]}}}}}},"503":{"description":"Service Unavailable - Service is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"serviceUnavailable":{"summary":"Service unavailable","value":{"error":[{"type":"about:blank","title":"Service unavailable","status":503,"detail":"The service is temporarily unavailable. Retry with exponential backoff.","instance":"/v3/advertising/sem/item-issues/issue-types"}]}}}}}}},"security":[{"accessToken":[]}]}},"/v3/advertising/sem/campaigns/recommendations/search":{"post":{"tags":["Campaign Management"],"summary":"Search campaign recommendations","description":"Search for campaign-level recommendations to improve SEM campaign performance. Returns a paginated list of active campaigns for the authenticated seller, each enriched with actionable recommendations — including budget adjustments and bidding strategy optimizations — along with projected performance impact metrics (clicks, impressions, ad spend).<br><b style='color:green;'>Market availability: US only</b>\n\n### Why this API matters\nSEM campaigns require continuous optimization to stay competitive. Budget constraints and suboptimal bidding strategies are the two most common reasons campaigns underperform. Without data-driven guidance, sellers either overspend without results or miss revenue opportunities by underspending.\n\nThis API bridges that gap by surfacing **machine-generated recommendations** for each active campaign, complete with projected impact on clicks, impressions, and ad spend. Partners can integrate these recommendations into their dashboards and automation pipelines to:\n- **Increase ROAS**: Apply budget and bidding strategy recommendations to maximize return on ad spend\n- **Reduce wasted spend**: Identify campaigns where budget is being underutilized or misallocated\n- **Automate campaign tuning**: Build automated workflows that periodically fetch recommendations and apply them programmatically, reducing manual effort and reaction time\n- **Enable data-driven decisions**: Each recommendation includes three impact scenarios (recommended, conservative, aggressive) so sellers can choose the option that fits their risk tolerance\n\n### Key use cases\n1. **Campaign Health Dashboard**: Display campaigns with pending recommendations, color-coded by type (`BUDGET` vs `BIDDING_STRATEGY`), with projected impact metrics\n2. **Automated Budget Optimizer**: Periodically poll this API and auto-apply budget recommendations that meet a minimum projected ROAS threshold\n3. **Bidding Strategy Advisor**: Surface bidding strategy change suggestions to sellers with before/after performance projections\n4. **Bulk Campaign Management**: Retrieve all recommendations across campaigns in a single paginated call, enabling batch review and bulk application of changes\n\n### How it works\nThe API returns only active campaigns that are eligible for recommendations. You can filter results using `campaignIds` or `recommendationType` (`BUDGET` or `BIDDING_STRATEGY`).\n\n### Default behavior \n- When no request body is provided, the API defaults to `offset=0`, `limit=10`.\n- By default, the API returns recommendations for both `BUDGET` and `BIDDING_STRATEGY`.\n- Results are not sorted by default; use the sort object to order by adspend.\n- Returns only **active campaigns** that have at least one pending recommendation\n- Results are not sorted by default; use the `sort` object to order by `adspend`\n\n### Supported filters\nFilters are combined with AND logic. Multiple values within a single filter act as OR.\n\n| Filter Field              | Supported Values              | Description                                              |\n|---------------------------|-------------------------------|----------------------------------------------------------|\n| `campaignIds`             | Numeric string campaign IDs   | Filter by specific campaign identifiers                  |\n| `recommendationType`  | `BUDGET`, `BIDDING_STRATEGY`  | Filter by recommendation type                            |\n\n### Sorting\nResults can be sorted using the `sort` object:\n\n| Sort Field | Supported Orders | Description                              |\n|------------|------------------|------------------------------------------|\n| `adspend`  | `ASC`, `DESC`    | Sort campaigns by ad spend               |\n\n### Recommendation types\n| Type               | Description                                                              |\n|--------------------|--------------------------------------------------------------------------|\n| `BUDGET`           | Recommended total or daily budget adjustment to improve campaign reach    |\n| `BIDDING_STRATEGY` | Recommended change to bidding strategy for better performance            |\n\n### Response structure\nEach response contains two top-level fields:\n- `pagination`: Standard pagination metadata (`pageNo`, `pageSize`, `totalCount`, `totalPages`, `hasNextPage`, `hasPreviousPage`)\n- `data`: Array of campaign-level suggestions. Each campaign includes current settings (bidding strategy, target ROAS, daily budget) and an array of `campaignRecommendations` with projected performance impact at three levels: recommended, minimum, and maximum.\n\n### Performance impact projections\nEach recommendation includes a `recommendedValueImpact` object with up to three scenarios:\n- **recommended**: The optimal suggested value (marked `isRecommended: true`)\n- **minRecommendation**: A conservative lower-bound option (may be `null` if not applicable)\n- **maxRecommendation**: An aggressive upper-bound option","operationId":"searchCampaignRecommendations","parameters":[{"in":"header","$ref":"#/components/parameters/accessToken"},{"$ref":"#/components/parameters/channelType"},{"$ref":"#/components/parameters/svcName"},{"$ref":"#/components/parameters/correlationId"},{"$ref":"#/components/parameters/content-type"},{"$ref":"#/components/parameters/accept"}],"requestBody":{"description":"Optional search request with pagination, sorting, and filters. Defaults to `offset=0`, `limit=10` with no filters and no sorting if body is absent.","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignRecommendationsSearchRequest"},"examples":{"basicSearch":{"summary":"Basic search with pagination","description":"Search for campaign recommendations with pagination.","value":{"page":{"offset":0,"limit":10}}},"filterByCampaignIds":{"summary":"Filter by campaign IDs","description":"Retrieve recommendations for specific campaigns.","value":{"page":{"offset":0,"limit":10},"filters":[{"field":"campaignIds","values":["2085840575","2032707425"]}]}},"filterByBudgetRecommendations":{"summary":"Filter by budget recommendations","description":"Retrieve only campaigns with budget adjustment recommendations.","value":{"page":{"offset":0,"limit":20},"filters":[{"field":"recommendationType","values":["BUDGET"]}]}},"filterByMultipleRecommendationTypes":{"summary":"Filter by multiple recommendation types","description":"Retrieve campaigns with budget or bidding strategy recommendations.","value":{"page":{"offset":0,"limit":20},"filters":[{"field":"recommendationType","values":["BUDGET","BIDDING_STRATEGY"]}]}},"withSortByAdspend":{"summary":"Sort by ad spend (descending)","description":"Retrieve recommendations sorted by ad spend in descending order.","value":{"page":{"offset":0,"limit":10},"sort":{"field":"adspend","order":"DESC"}}},"combinedFiltersWithSort":{"summary":"Combined filters with sort","description":"Filter by recommendation type and campaign IDs, sorted by ad spend.","value":{"page":{"offset":0,"limit":10},"sort":{"field":"adspend","order":"DESC"},"filters":[{"field":"recommendationType","values":["BUDGET"]},{"field":"campaignIds","values":["2085840575"]}]}},"emptyBody":{"summary":"Empty body (Default behavior)","description":"When no body is provided, defaults to `offset=0`, `limit=10`, no filters, no sorting.","value":{}}}}}},"responses":{"200":{"description":"Campaign recommendations retrieved successfully","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignRecommendationsSearchResponse"},"examples":{"successWithBudgetRecommendations":{"summary":"Successful response with budget recommendations","description":"Response with campaign-level budget recommendations including projected performance impact.","value":{"pagination":{"pageNo":0,"pageSize":10,"totalCount":2,"totalPages":1,"hasNextPage":false,"hasPreviousPage":false},"data":[{"campaignId":"2085840575","name":"November 18 - Success Hub Campaign","biddingStrategyType":"TARGET_ROAS","targetRoas":3.5,"dailyBudget":1000,"campaignRecommendations":[{"type":"BUDGET","subType":"INCREASE_DAILY_BUDGET","recommendedValue":"2400.0","recommendedValueImpact":{"recommended":{"value":2400,"adspendChange":11200,"clicksChange":13242,"impressionsChange":963695,"isRecommended":true},"minRecommendation":{"value":1600,"adspendChange":5600,"clicksChange":6621,"impressionsChange":481848,"isRecommended":false},"maxRecommendation":{"value":3200,"adspendChange":16800,"clicksChange":19863,"impressionsChange":1445542,"isRecommended":false}}}]},{"campaignId":"2032707425","name":"November 10 - Maximize Sales Potential","biddingStrategyType":"TARGET_ROAS","targetRoas":3.5,"dailyBudget":800,"campaignRecommendations":[{"type":"BUDGET","subType":"INCREASE_DAILY_BUDGET","recommendedValue":"900.0","recommendedValueImpact":{"recommended":{"value":1900,"adspendChange":4200,"clicksChange":7319,"impressionsChange":427708,"isRecommended":true},"minRecommendation":null,"maxRecommendation":{"value":1200,"adspendChange":6300,"clicksChange":10978,"impressionsChange":641562,"isRecommended":false}}}]}]}},"emptyResponse":{"summary":"Empty response","description":"Response when no campaigns match the search criteria or no recommendations are available.","value":{"pagination":{"pageNo":0,"pageSize":10,"totalCount":0,"totalPages":0,"hasNextPage":false,"hasPreviousPage":false},"data":[]}}}}}},"400":{"description":"Bad Request - Invalid request parameters or malformed request body.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"invalidPageOffset":{"summary":"Invalid page offset","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Page offset must be zero or a positive value.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"invalidPageLimit":{"summary":"Page limit exceeds maximum","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Limit must be between 1 and 100.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"invalidFilterField":{"summary":"Invalid filter field","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Invalid filter field 'invalidField'. Allowed fields are [campaignIds, recommendationType].","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"filterValuesRequired":{"summary":"Filter values required","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Filter values are required when filter field is specified.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"emptyFilterValues":{"summary":"Empty filter values","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Filter values must contain at least one value","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"invalidRecommendationType":{"summary":"Invalid recommendation type value","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Invalid value 'INVALID_TYPE' for field 'recommendationType'. Allowed values are [BIDDING_STRATEGY, BUDGET].","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"duplicateFilterField":{"summary":"Duplicate filter field","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Duplicate filter field 'campaignIds'. Each filter field must be specified only once.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"malformedJson":{"summary":"Malformed JSON in request body","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Malformed JSON in request body.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"invalidSortField":{"summary":"Invalid sort field","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Invalid sort field 'invalidField'. Allowed fields are [adspend].","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"invalidSortOrder":{"summary":"Invalid sort order","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":400,"detail":"Invalid sort order 'INVALID'. Allowed values are [ASC, DESC].","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"401":{"description":"Unauthorized - Missing, invalid, or expired bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unauthorized":{"summary":"Unauthorized","value":{"error":[{"type":"about:blank","title":"Unauthorized","status":401,"detail":"Missing, invalid, or expired bearer token.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"403":{"description":"Forbidden - Seller does not have access to SEM advertising features.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"forbidden":{"summary":"Forbidden","value":{"error":[{"type":"about:blank","title":"Forbidden","status":403,"detail":"You do not have permission to access this resource.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"422":{"description":"Unprocessable Entity - Request is malformed (For example, request body passed as string instead of JSON object).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"contentTypeNotSupported":{"summary":"Content-Type not supported","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":422,"detail":"Content-Type must be application/json.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}},"unprocessableEntity":{"summary":"Unprocessable entity","value":{"error":[{"type":"about:blank","title":"Request Not Valid","status":422,"detail":"Unprocessable Entity","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"429":{"description":"Rate limit exceeded - You have exceeded your API calls threshold.","headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse429"},"examples":{"tooManyRequests":{"summary":"Rate limit exceeded","value":{"error":[{"type":"about:blank","title":"Rate limit exceeded","status":429,"detail":"You have exceeded your API calls threshold. Check your seller account documentation to find out how many API calls are allowed for your account.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"500":{"description":"Internal server error - Unexpected server error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internalServerError":{"summary":"Internal server error","value":{"error":[{"type":"about:blank","title":"Internal server error","status":500,"detail":"An unexpected error occurred. Retry or contact support if the issue persists.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}},"503":{"description":"Service Unavailable - Service is temporarily unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"serviceUnavailable":{"summary":"Service unavailable","value":{"error":[{"type":"about:blank","title":"Service unavailable","status":503,"detail":"The service is temporarily unavailable. Retry with exponential backoff.","instance":"/v3/advertising/sem/campaigns/recommendations/search"}]}}}}}}},"security":[{"accessToken":[]}]}}},"components":{"schemas":{"CampaignResponse":{"type":"object","properties":{"campaignId":{"type":"string","description":"Unique identifier for the campaign.","example":"123456789"}}},"SemError400":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"INVALID_REQUEST.SEM_API"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"Request not valid"},"info":{"type":"string","description":"A brief summary of the error, often used for a quick understanding of the issue.","example":"End date cannot be before start date"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include `ERROR`, `WARNING`, or `INFO`.","example":"Error"},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"Data specific error"}}},"SemErrorResponse400":{"type":"object","properties":{"error":{"type":"array","description":"An array containing error messages related to the request.","items":{"$ref":"#/components/schemas/SemError400"}}}},"SemError404":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"CONTENT_NOT_FOUND.SEM_API"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"Requested content not found"},"info":{"type":"string","description":"A brief summary of the error, often used for a quick understanding of the issue.","example":"Data not found for the given campaign ID"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"Info"},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"Application specific error"}}},"SemErrorResponse404":{"type":"object","properties":{"error":{"type":"array","description":"An array containing error messages related to the request.","items":{"$ref":"#/components/schemas/SemError404"}}}},"SemError500":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"SYSTEM_ERROR.SEM_API"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"Internal server error"},"info":{"type":"string","description":"A brief summary of the error, often used for a quick understanding of the issue.","example":"An unexpected error occurred"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include `ERROR`, `WARNING`, or `INFO`.","example":"Error"},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"System specific error"}}},"SemErrorResponse500":{"type":"object","properties":{"error":{"type":"array","description":"An array containing error messages related to the request.","items":{"$ref":"#/components/schemas/SemError500"}}}},"CampaignItemsOperation":{"required":["operationType","skus"],"type":"object","properties":{"operationType":{"type":"string","description":"Type of operation to perform on campaign items. Allowed values: `ADD` or `REMOVE`.","enum":["ADD","REMOVE"]},"skus":{"type":"array","description":"List of SKUs associated with the campaign. Must contain between 1 and 10,000 SKUs.","example":["sku_07144442400738_test","sku_00993001888299_test"],"items":{"type":"string","description":"List of SKUs associated with the campaign. Must contain between 1 and 10,000 SKUs.","example":"[\"sku_07144442400738_test\",\"sku_00993001888299_test\"]"}}},"description":"List of operations to perform on campaign items."},"CampaignUpdateMetadata":{"type":"object","properties":{"name":{"type":"string","description":"Name of the campaign. Allowed characters: letters, digits, dashes, underscores, and spaces. Maximum 255 characters allowed.","example":"New Year Campaign"},"startDate":{"pattern":"yyyy-MM-dd","type":"string","description":"Start date of the campaign in yyyy-MM-dd format.","example":"2024-01-01"},"endDate":{"pattern":"yyyy-MM-dd","type":"string","description":"End date of the campaign in yyyy-MM-dd format.","example":"2024-01-31","default":"9999-12-30"},"dailyBudget":{"type":"number","description":"Daily budget allocated for the campaign. Must be a positive value with up to two decimal places. Daily budget must be between $5.00 and $2,500.00.","example":100},"totalBudget":{"type":"number","description":"Total budget allocated for the campaign. Total budget must be between $5.00 and $250,000.00. Cannot be updated to a value less than what has already been spent.","example":1000},"biddingStrategyType":{"type":"string","description":"Bidding strategy type for the campaign.","example":"TARGET_ROAS","enum":["TARGET_ROAS","MAXIMIZE_TRAFFIC"]},"targetRoas":{"type":"number","description":"Target ROAS for the campaign. Must be a positive value between 1.00 and 20.00, with up to two decimal places.","format":"double","example":3,"default":3.5}},"description":"Metadata for updating the campaign."},"CampaignUpdateRequest":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/CampaignUpdateMetadata"},"itemsOperations":{"type":"array","description":"List of operations to perform on campaign items.","items":{"$ref":"#/components/schemas/CampaignItemsOperation"}}}},"CatalogueResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","description":"List of item details included in the catalog response.","items":{"$ref":"#/components/schemas/ItemDetail"}}}},"ItemDetail":{"type":"object","properties":{"itemId":{"type":"string","description":"A unique ID which identifies the item.","example":"5014488974"},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","example":"sku_07144442400738_test"},"productId":{"type":"string","description":"Product ID of the item","example":"1A2B3C4D5E"},"productName":{"type":"string","description":"A seller-specified, alphanumeric string uniquely identifying the product name.","example":"Wireless Bluetooth Headphones"},"categoryName":{"type":"string","description":"Category of the item.","example":"Electronics"},"productUrl":{"type":"string","description":"URL where the item can be viewed.","example":"/ip/Headphones/5014488974"},"productImageUrl":{"type":"string","description":"URL of the image representing the item.","example":"https://i5-qa.walmartimages.com/asr/dffe200d-117d-4804-a4de-aebbdbe7a616.ccd4b68eb51087086daf6c75197b214b.avif"},"recommendationType":{"type":"string","description":"Recommendation type for the item, indicating how it is recommended for SEM campaigns.","example":"HIGHLY_RECOMMENDED"}},"description":"List of item details included in the catalog response."},"Pagination":{"type":"object","properties":{"pageNo":{"type":"integer","description":"Page Number","format":"int32","example":1},"pageSize":{"type":"integer","description":"Page Size","format":"int32","example":10},"totalCount":{"type":"integer","description":"Total Count","format":"int32","example":45},"totalPages":{"type":"integer","description":"Total Pages","format":"int32","example":5}},"description":"Pagination details"},"Filter":{"required":["field","values"],"type":"object","properties":{"field":{"type":"string","description":"Field by which the filtering is to be done."},"values":{"type":"array","description":"List of values for the specified field.","items":{"type":"string","description":"List of values for the specified field."}}},"description":"Filtering criteria"},"ItemEligibilityRequest":{"required":["filters"],"type":"object","properties":{"filters":{"type":"array","description":"List of filters to apply when checking eligibility.","items":{"$ref":"#/components/schemas/Filter"}}}},"CampaignCreateMetadata":{"required":["name","startDate","dailyBudget"],"type":"object","properties":{"name":{"type":"string","description":"Name of the campaign. Allowed characters: letters, digits, dashes, underscores, and spaces. Maximum 255 characters allowed.","example":"New Year Campaign"},"startDate":{"pattern":"yyyy-MM-dd","type":"string","description":"Start date of the campaign in yyyy-MM-dd format.","example":"2025-01-01"},"endDate":{"pattern":"yyyy-MM-dd","type":"string","description":"End date of the campaign in yyyy-MM-dd format.","example":"2025-01-31","default":"9999-12-30"},"dailyBudget":{"type":"number","description":"Daily budget allocated for the campaign. Must be a positive value with up to two decimal places. Daily budget must be between $5.00 and $2,500.00.","example":100},"totalBudget":{"type":"number","description":"Total budget allocated for the campaign. Must be a positive value with up to two decimal places. Total budget must be between $5.00 and $250,000.00. Total budget must be greater than or equal to daily budget.","example":1000},"biddingStrategyType":{"type":"string","description":"Bidding strategy type for the campaign.","example":"TARGET_ROAS","enum":["TARGET_ROAS","MAXIMIZE_TRAFFIC"]},"targetRoas":{"type":"number","description":"Target ROAS for the campaign. Must be a positive value between 1.00 and 20.00, with up to two decimal places.","format":"double","example":3,"default":3.5}},"description":"Metadata for creating a campaign."},"CampaignCreateRequest":{"required":["itemsOperations","metadata"],"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/CampaignCreateMetadata"},"itemsOperations":{"type":"array","description":"List of operations to perform on campaign items.","items":{"$ref":"#/components/schemas/CampaignItemsOperation"}}}},"ItemLevelReportResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","description":"List of items with performance data.","items":{"$ref":"#/components/schemas/ItemReport"}}}},"ItemReport":{"type":"object","properties":{"itemId":{"type":"string","description":"A unique ID which identifies the item.","example":"5014488974"},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","example":"sku_07144442400738_test"},"productId":{"type":"string","description":"Product ID of the item.","example":"1A2B3C4D5E"},"productName":{"type":"string","description":"A seller-specified, alphanumeric string uniquely identifying the product name.","example":"Wireless Bluetooth Headphones"},"categoryName":{"type":"string","description":"Category of the item.","example":"Electronics"},"productUrl":{"type":"string","description":"URL where the item can be viewed.","example":"/ip/Headphones/5014488974"},"productImageUrl":{"type":"string","description":"URL of the image representing the item.","example":"https://i5-qa.walmartimages.com/asr/dffe200d-117d-4804-a4de-aebbdbe7a616.ccd4b68eb51087086daf6c75197b214b.avif"},"status":{"type":"string","description":"Status of the item.","example":"OPTIMIZING"},"olqScore":{"type":"number","description":"OLQ Score of the item.","format":"double","example":95},"offerPrice":{"type":"number","description":"Offer Price","format":"double","example":150},"competitorPrice":{"type":"number","description":"Competitor Price","format":"double","example":145},"googlePrice":{"type":"number","description":"Google Price","format":"double","example":145},"traffic":{"$ref":"#/components/schemas/Traffic"}},"description":"List of items with performance data"},"Traffic":{"type":"object","properties":{"impressions":{"type":"integer","description":"The number of times the advertisement was displayed.","format":"int32","example":5000},"clicks":{"type":"integer","description":"The number of times the advertisement was clicked.","format":"int32","example":250},"ctr":{"type":"number","description":"Click-Through Rate (CTR), calculated as clicks divided by impressions.","format":"double","example":0.05},"adspend":{"type":"number","description":"Total amount spent on ads.","format":"double","example":150},"cpc":{"type":"number","description":"Cost Per Click (CPC), calculated as ad spend divided by clicks.","format":"double","example":0.6},"gmv":{"type":"number","description":"Gross Merchandise Value (GMV), representing total sales generated.","format":"double","example":600},"roas":{"type":"number","description":"Return on Ad Spend (ROAS), calculated as GMV divided by ad spend.","format":"double","example":4}},"description":"Performance data of the campaign"},"Page":{"required":["limit","offset"],"type":"object","properties":{"offset":{"type":"integer","description":"The starting position for fetching records. Must be zero or a positive value.","format":"int32","example":0},"limit":{"type":"integer","description":"The maximum number of records to fetch per page. Must be a positive value and cannot exceed 200.","format":"int32","example":10}},"description":"Pagination criteria"},"ReportRequest":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"},"sort":{"$ref":"#/components/schemas/Sort"},"filters":{"type":"array","description":"Filtering criteria","items":{"$ref":"#/components/schemas/Filter"}}}},"Sort":{"required":["field","order"],"type":"object","properties":{"field":{"type":"string","description":"Field to sort by.","example":"gmv"},"order":{"type":"string","description":"Order of sorting.","example":"DESC"}},"description":"Sorting criteria"},"Campaign":{"type":"object","properties":{"campaignId":{"type":"string","description":"Unique identifier for the campaign.","example":"123456789"},"name":{"type":"string","description":"Name of the campaign.","example":"New Year Campaign"},"startDate":{"type":"string","description":"Start date of the campaign in 'yyyy-MM-dd' format.","example":"2025-01-01"},"endDate":{"type":"string","description":"End date of the campaign in 'yyyy-MM-dd' format.","example":"2025-01-31"},"dailyBudget":{"type":"number","description":"Daily budget allocated for the campaign.","example":100},"totalBudget":{"type":"number","description":"Total budget allocated for the campaign.","example":1000},"biddingStrategyType":{"type":"string","description":"Bidding strategy type for the campaign.","example":"TARGET_ROAS"},"targetRoas":{"type":"number","description":"Target ROAS for the campaign.","format":"double","example":3},"status":{"type":"string","description":"Current status of the campaign.","example":"RUNNING"},"createdDate":{"type":"string","description":"Date when the campaign was created in 'yyyy-MM-dd' format.","example":"2024-11-20"}}},"CampaignLevelReportResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","description":"List of campaigns with performance data.","items":{"$ref":"#/components/schemas/CampaignReport"}}}},"CampaignReport":{"type":"object","description":"List of Campaigns with performance data.","allOf":[{"$ref":"#/components/schemas/Campaign"},{"type":"object","properties":{"campaignId":{"type":"string","description":"Unique identifier for the campaign.","example":"123456789"},"name":{"type":"string","description":"Name of the campaign.","example":"New Year Campaign"},"startDate":{"type":"string","description":"Start date of the campaign in 'yyyy-MM-dd' format.","example":"2025-01-01"},"endDate":{"type":"string","description":"End date of the campaign in 'yyyy-MM-dd' format.","example":"2025-01-31"},"dailyBudget":{"type":"number","description":"Daily budget allocated for the campaign.","example":100},"totalBudget":{"type":"number","description":"Total budget allocated for the campaign.","example":1000},"biddingStrategyType":{"type":"string","description":"Bidding strategy type for the campaign.","example":"TARGET_ROAS"},"targetRoas":{"type":"number","description":"Target ROAS for the campaign.","format":"double","example":3},"status":{"type":"string","description":"Current status of the campaign.","example":"RUNNING"},"createdDate":{"type":"string","description":"Date when the campaign was created in 'yyyy-MM-dd' format.","example":"2024-11-20"},"traffic":{"$ref":"#/components/schemas/Traffic"}}}]},"BillingHistoryResponse":{"type":"object","properties":{"pagination":{"$ref":"#/components/schemas/Pagination"},"data":{"type":"array","description":"List of invoices.","items":{"$ref":"#/components/schemas/Invoice"}}}},"Invoice":{"type":"object","properties":{"invoiceDate":{"type":"string","description":"The date when the invoice was generated.","example":"2025-01-09"},"billingDateFrom":{"type":"string","description":"Start date of the billing period.","example":"2025-01-01"},"billingDateTo":{"type":"string","description":"End date of the billing period.","example":"2025-01-07"},"status":{"type":"string","description":"Current status of the invoice.","example":"SUCCESS"},"amount":{"type":"number","description":"Total amount charged in the invoice.","example":-100},"currency":{"type":"string","description":"Currency in which the invoice amount is denominated.","example":"USD"},"paymentMode":{"type":"string","description":"Payment method used for settling the invoice.","example":"SETTLEMENT"}},"description":"List of invoices"},"BillingHistoryRequest":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/Page"}}},"ItemDiagnosticSearchRequest":{"type":"object","description":"Request DTO for searching item-level diagnostics.\n\nAll fields are optional. The request body itself is also optional — when absent, sensible defaults are applied:\n- `page.offset`: 0\n- `page.limit`: 100\n- No filters (returns only items with issues: `BLOCKED` or `LIMITED`)\n\n**Current scope**: Results are scoped to items in active SEM campaigns. In a future release, the `itemId` filter will support querying any item in the seller's catalog.\n\n**Default behavior**: When no `issueCategory` filter is provided, the API returns **only items with issues** (`BLOCKED` or `LIMITED`). This design decision ensures diagnostics consumers receive actionable problems first, reducing payload size and improving relevance. To include healthy items, explicitly pass `issueCategory` with value `NO_ISSUES` or use all three values.\n\n**Filter behavior**: Filters are combined with AND logic. Multiple values within a single filter act as OR. For example, filtering by `issueCategory`=[`BLOCKED`, `LIMITED`] returns items that are either `BLOCKED` or `LIMITED`. Adding a second filter `issues`=[`ITEM_OUT_OF_STOCK`] narrows results to items that are (`BLOCKED` or `LIMITED`) AND have `ITEM_OUT_OF_STOCK`.","properties":{"page":{"$ref":"#/components/schemas/DiagnosticPage"},"filters":{"type":"array","description":"List of filters to narrow down results.\nMultiple filters are combined using the AND operator.\nEach filter field must be specified only once (no duplicates).","items":{"$ref":"#/components/schemas/ItemDiagnosticFilter"}}}},"DiagnosticPage":{"type":"object","description":"Pagination configuration for controlling result set size and navigation.\n\n**Defaults when page is not provided**: offset=0, limit=100\n\nBoth `offset` and `limit` are required when the `page` object is provided.","required":["offset","limit"],"properties":{"offset":{"type":"integer","description":"The starting position for fetching records (0-based).\n\n**Constraints**: Must be zero or a positive value\n**Default**: 0 (when page is not provided).","minimum":0,"default":0,"example":0},"limit":{"type":"integer","description":"Maximum number of records to fetch per page.\n\n**Constraints**: Must be between 1 and 100\n**Default**: 100 (when page is not provided).","minimum":1,"maximum":100,"default":100,"example":20}}},"ItemDiagnosticFilter":{"type":"object","description":"Filter configuration to narrow down item diagnostic results.\n\n**Validation Rules**:\n- Both `field` and `values` are required when a filter is provided\n- Each filter field must be specified only once (no duplicate fields)\n- Each filter field supports a maximum of 100 values\n- Filter values are case-insensitive\n- Multiple values within a filter act as an OR condition\n- Multiple filters are combined with AND logic","required":["field","values"],"properties":{"field":{"type":"string","description":"Field by which the filtering is to be done.\n\n**Supported fields**:\n- `issues`: Filter by specific issue types (For example, `ITEM_OUT_OF_STOCK`, `TITLE_TOO_LONG`)\n- `issueCategory`: Filter by issue severity category (`LIMITED`, `BLOCKED`, `NO_ISSUES`)\n- `itemId`: Filter by Walmart item IDs (numeric strings). Currently filters within items in active SEM campaigns. *In a future release, this will also support items not yet associated with any campaign.*","enum":["issues","issueCategory","itemId"],"example":"issueCategory"},"values":{"type":"array","description":"List of values for the specified field.\nMultiple values act as an OR condition within the filter.\n\n**Constraints**: At least 1 value required, maximum 100 values per filter.\n\n**Valid values by field**:\n- `issues`: Any valid `issueType` enum value (Refer to the issue types endpoint)\n- `issueCategory`: `LIMITED`, `BLOCKED`, `NO_ISSUES`\n- `itemId`: Numeric string item IDs (currently scoped to items in active SEM campaigns)","items":{"type":"string"},"minItems":1,"maxItems":100,"example":["BLOCKED","LIMITED"]}}},"ItemDiagnosticSearchResponse":{"type":"object","description":"Search response containing paginated item-level diagnostics and pagination metadata.\n\nEach item's `issues` array contains `issueType` values as lightweight lookup keys.\nPartners should use the dedicated `GET /item-issues/issue-types` endpoint to retrieve\ncomplete issue metadata (name, description, category, fixability, help links) and cache\nit locally (recommended TTL: 24 hours) to enrich search results.","properties":{"pagination":{"$ref":"#/components/schemas/DiagnosticPagination"},"data":{"type":"array","description":"Paginated list of item-level diagnostics.\nEach item appears once per unique `offerId` with all campaign associations.\nEmpty array when no items match the search criteria.","items":{"$ref":"#/components/schemas/ActiveItemIssues"}}}},"ActiveItemIssues":{"type":"object","description":"Item-level diagnostic data including product details, campaign associations, overall item status, and list of issues.\n\nEach `ActiveItemIssues` object appears **once** per unique `offerId`.\nThe `campaignAssociations` array lists all campaigns the item belongs to.\nIssues are **item-level**, not campaign-specific — the same issue applies regardless of which campaign the item is in.\n\n### Identifier Contract\n| Field     | Source           | Format                  | Description                                                              |\n|-----------|------------------|-------------------------|--------------------------------------------------------------------------|\n| `offerId` | Walmart-assigned | String                  | Uniquely identifies a specific offer (item + seller). Recommended primary key for partner systems. |\n| `itemId`  | Walmart-assigned | Numeric string          | Walmart catalog item identifier. Shared across sellers offering the same product. |\n| `sku`     | Partner-assigned | Alphanumeric (partner-defined) | The partner's own SKU. Never a Walmart-assigned value.               |","properties":{"offerId":{"type":"string","description":"Unique offer identifier. Enables deep-linking, correlation with partner inventory systems, and disambiguation of items across campaigns.","example":"ABC123DEF456"},"itemId":{"type":"string","description":"Walmart catalog item identifier (numeric string).\nShared across sellers offering the same product.","example":"123456789"},"sku":{"type":"string","description":"Partner-assigned Stock Keeping Unit.\nAlways the partner's own SKU, never a Walmart-assigned value.","example":"PARTNER-SKU-001"},"productImageUrl":{"type":"string","description":"Product image URL.","example":"https://i5.walmartimages.com/samsung-buds-pro.jpg"},"productName":{"type":"string","description":"Product display name.","example":"Samsung Galaxy Buds Pro"},"campaignAssociations":{"type":"array","description":"List of all campaigns this item is associated with.\nA single item may participate in multiple campaigns.","items":{"$ref":"#/components/schemas/CampaignRef"}},"issueCategory":{"type":"string","description":"Overall SEM eligibility status derived from all issues affecting this item.\n\n- **NO_ISSUES**: Item has no SEM issues and can be advertised on search engines with full visibility\n- **LIMITED**: Item has issues that reduce its visibility or performance in Search Engine Marketing\n- **BLOCKED**: Item has critical issues that completely prevent it from being advertised on search engines","enum":["NO_ISSUES","LIMITED","BLOCKED"],"example":"BLOCKED"},"productUrl":{"type":"string","description":"Link to item on Walmart.com.","example":"https://www.walmart.com/ip/123456789"},"issues":{"type":"array","description":"List of issues affecting this item.\nEach issue contains an `issueType` that can be used as a lookup key\ninto the issue metadata returned by the `GET /item-issues/issue-types` endpoint.\nEmpty array when item has no issues.","items":{"$ref":"#/components/schemas/Issue"}}}},"CampaignRef":{"type":"object","description":"Campaign association reference. Represents a campaign that an item belongs to.\nA single item can appear in multiple campaigns.","properties":{"campaignId":{"type":"string","description":"Campaign identifier.","example":"98765"},"campaignName":{"type":"string","description":"Human-readable campaign name.","example":"Electronics Summer Sale"}}},"Issue":{"type":"object","description":"Issue affecting an item. Contains the issue type identifier only.\n\nThe `issueType` serves as a lookup key into the issue metadata returned by the `GET /item-issues/issue-types` reference endpoint. All static metadata (name, description, category, fixability, help links) lives in that endpoint's response.","properties":{"issueType":{"type":"string","description":"Lookup key into the issue metadata returned by the `GET /item-issues/issue-types` endpoint. Maps to one of the supported issue type enum values.","enum":["BUYBOX_NOT_WINNER","SINGLE_COLOR_IMAGE","SHIPPING_PRICE_TOO_HIGH","SHIPPING_NOT_OFFERED","PROMOTIONAL_OVERLAY_IMAGE","MISSING_INVALID_TITLE","MISSING_INVALID_PRICE","MISSING_INVALID_DESCRIPTION","INVALID_MPN","INVALID_IMAGE","INVALID_GTIN","INVALID_CHARACTERS_TITLE","INVALID_CHARACTERS_TITLE_UTF8","INVALID_BRAND","IMAGE_TOO_SMALL","IMAGE_TOO_BIG","GENERIC_IMAGE","EXTRANEOUS_TEXT_TITLE","ADDITIONAL_IMAGE_TOO_SMALL","ADDITIONAL_IMAGE_TOO_BIG","ITEM_NOT_AVAILABLE","POLICY_VIOLATION","POLICY_VIOLATION_HAZARDOUS_MATERIALS","POLICY_VIOLATION_UNAPPROVED_SUPPLEMENT","POLICY_VIOLATION_UNAPPROVED_PHARMACEUTICALS","POLICY_VIOLATION_HEALTHCARE_PRESCRIPTION","POLICY_VIOLATION_HEALTHCARE_MISLEADING","POLICY_VIOLATION_TOBACCO","POLICY_VIOLATION_SODIUM_NITRITE","POLICY_VIOLATION_SERVICES","POLICY_VIOLATION_SENSITIVE_ISSUES","POLICY_VIOLATION_RECALLED","POLICY_VIOLATION_OFFENSIVE_CONTENT","POLICY_VIOLATION_LOCAL","POLICY_VIOLATION_LIVE_ANIMALS","POLICY_VIOLATION_IMMOVABLE_PROPERTY","POLICY_VIOLATION_HACKING","POLICY_VIOLATION_GAMBLING","POLICY_VIOLATION_ENDANGERED_SPECIES","POLICY_VIOLATION_ILLEGAL_DRUGS","POLICY_VIOLATION_OTHER_WEAPONS","POLICY_VIOLATION_GUNS_AND_PARTS","POLICY_VIOLATION_EXPLOSIVES","POLICY_VIOLATION_DANGEROUS_KNIVES","POLICY_VIOLATION_WHOLESALE_CURRENCY","POLICY_VIOLATION_COUNTERFEIT","POLICY_VIOLATION_ADULT_CONTENT","ITEM_UNPUBLISHED","DUPLICATE_OFFER","INVALID_ADDITIONAL_IMAGE","DESCRIPTION_TOO_SHORT","DESCRIPTION_TOO_LONG","LOW_IMAGE_QUALITY","EXCESSIVE_CAPITALIZATION_TITLE","ADULT_CONTENT","TITLE_TOO_LONG","EXTRANEOUS_TEXT_TITLE_WARNING","ITEM_LIMITED","ITEM_OUT_OF_STOCK","ITEM_PRICE_TOO_HIGH","LOW_OFFER_LISTING_QUALITY"],"example":"ITEM_OUT_OF_STOCK"}}},"IssueMetadata":{"type":"object","description":"Static metadata for an issue type. Provides human-readable information for building diagnostic UIs including issue name, description, severity, remediability, and help links.\n\nThis metadata is the same for every item — it describes the issue type itself, not a specific occurrence on an item.","properties":{"issueName":{"type":"string","description":"Human-readable issue name for UI short headline display.","example":"Item Out of Stock"},"issueCategory":{"type":"string","description":"Issue severity category.\n\n- **BLOCKED**: Item cannot be advertised\n- **LIMITED**: Item has reduced visibility or performance\n- **NO_ISSUES**: Item has no SEM eligibility issues","enum":["BLOCKED","LIMITED","NO_ISSUES"],"example":"BLOCKED"},"isFixable":{"type":"boolean","description":"Whether the partner can remediate this issue.\n`true` = actionable by partner (show \"Fix Now\" UI affordance),\n`false` = requires Walmart or system intervention (informational only).","example":true},"issueDescription":{"type":"string","description":"Human-readable description of the issue with remediation guidance.","example":"Item is out of stock. Add inventory to make the item available."},"learnMoreUrl":{"type":"string","nullable":true,"description":"Help link (Walmart-hosted or Google support) for additional information.\nMay be null if no help link is available for this issue type.","example":"https://marketplacelearn.walmart.com/guides/Getting%20started/Getting%20ready%20to%20sell/How-to-update-seller-fulfilled-inventory:-overview"}}},"IssueTypesResponse":{"type":"object","description":"Complete map of all supported issue types keyed by issue type name.\nContains metadata for all 61 issue types.\nPartners should cache this response (TTL: 24 hours) and use it as the authoritative source for issue metadata.","additionalProperties":{"$ref":"#/components/schemas/IssueMetadata"}},"DiagnosticPagination":{"type":"object","description":"Pagination metadata for navigating through search results.\n\nIncludes `hasNextPage` and `hasPreviousPage` boolean flags for\nconvenient pagination control in UIs.","properties":{"pageNo":{"type":"integer","description":"Current page number (0-based).\nCalculated as: offset / limit","example":0},"pageSize":{"type":"integer","description":"Number of items per page (same as `limit` in request).","example":20},"totalCount":{"type":"integer","description":"Total number of items matching the search criteria across all pages.","example":45},"totalPages":{"type":"integer","description":"Total number of pages available.\nCalculated as: ceil(totalCount / pageSize).","example":3},"hasNextPage":{"type":"boolean","description":"`true` if more pages exist after the current page.","example":true},"hasPreviousPage":{"type":"boolean","description":"`true` if pages exist before the current page.","example":false}}},"ErrorResponse":{"type":"object","description":"Standardized error response envelope containing an array of error details.\nAll error responses from the API follow this structure.","properties":{"error":{"type":"array","description":"List of error details. Typically contains a single error, but may contain multiple errors for validation failures.","items":{"$ref":"#/components/schemas/ErrorDetail"}}}},"ErrorDetail":{"type":"object","description":"Error detail following RFC 7807 (Problem Details for HTTP APIs).","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type.","example":"https://developer.walmart.com/us-marketplace/docs/get-item-issues"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Invalid Parameter"},"status":{"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"Limit must be between 1 and 100."},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.","example":"/v3/advertising/sem/item-issues/search"}}},"ErrorResponse429":{"type":"object","description":"Error response envelope for rate limit (429) errors returned by the API Gateway.","properties":{"error":{"type":"array","description":"List of rate limit error details.","items":{"$ref":"#/components/schemas/ErrorDetail429"}}}},"ErrorDetail429":{"type":"object","description":"Rate limit error detail following RFC 7807 (Problem Details for HTTP APIs).\nReturned by the API Gateway when the request threshold is violated.","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type.","example":"https://developer.walmart.com/us-marketplace/docs/get-item-issues"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Rate limit exceeded"},"status":{"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":429},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"You have exceeded your API calls threshold. Check your seller account documentation to find out how many API calls are allowed for your account."},"instance":{"type":"string","format":"uri","description":"A URI reference that identifies the specific occurrence of the problem.","example":"/v3/advertising/sem/item-issues/search"}}},"CampaignRecommendationsSearchRequest":{"type":"object","description":"Request DTO for searching campaign-level recommendations.\n\nAll fields are optional. The request body itself is also optional — when absent, sensible defaults are applied:\n- `page.offset`: 0\n- `page.limit`: 10\n- No filters, no sorting\n\n**Filter behavior**: Filters are combined with AND logic. Multiple values within a single filter act as OR.","properties":{"page":{"$ref":"#/components/schemas/CampaignRecommendationsPage"},"sort":{"$ref":"#/components/schemas/RecommendationsSort"},"filters":{"type":"array","description":"List of filters to narrow down results.\nMultiple filters are combined with AND logic.\nEach filter field must be specified only once (no duplicates).","items":{"$ref":"#/components/schemas/CampaignRecommendationsFilter"}}}},"CampaignRecommendationsPage":{"type":"object","description":"Pagination configuration for campaign recommendations.\n\n**Defaults when page is not provided**: `offset=0`, `limit=10`\n\nBoth `offset` and `limit` are required when the `page` object is provided.","required":["offset","limit"],"properties":{"offset":{"type":"integer","description":"The starting position for fetching records (0-based).\n\n**Constraints**: Must be zero or a positive value\n**Default**: 0 (when page is not provided).","minimum":0,"default":0,"example":0},"limit":{"type":"integer","description":"Maximum number of records to fetch per page.\n\n**Constraints**: Must be between 1 and 100\n**Default**: 10 (when page is not provided).","minimum":1,"maximum":100,"default":10,"example":10}}},"RecommendationsSort":{"type":"object","description":"Sorting configuration for ordering search results.\n\nBoth `field` and `order` are required when the `sort` object is provided.","required":["field","order"],"properties":{"field":{"type":"string","description":"Field by which the results should be sorted.","enum":["adspend"],"example":"adspend"},"order":{"type":"string","description":"Sort direction.","enum":["ASC","DESC"],"example":"DESC"}}},"CampaignRecommendationsFilter":{"type":"object","description":"Filter configuration to narrow down campaign recommendation results.\n\n**Validation Rules**:\n- Both `field` and `values` are required when a filter is provided\n- Each filter field must be specified only once (no duplicate fields)\n- Filter values must contain at least one value\n- Multiple values within a filter act as an OR condition\n- Multiple filters are combined with AND logic.","required":["field","values"],"properties":{"field":{"type":"string","description":"Field by which the filtering is to be done.\n\n**Supported fields**:\n- `campaignIds`: Filter by specific campaign identifiers\n- `recommendationType`: Filter by recommendation type (`BUDGET`, `BIDDING_STRATEGY`).","enum":["campaignIds","recommendationType"],"example":"recommendationType"},"values":{"type":"array","description":"List of values for the specified field.\nMultiple values act as an OR condition within the filter.\n\n**Valid values by field**:\n- `campaignIds`: Numeric string campaign IDs\n- `recommendationType`: `BUDGET`, `BIDDING_STRATEGY`.","items":{"type":"string"},"minItems":1,"example":["BUDGET","BIDDING_STRATEGY"]}}},"CampaignRecommendationsSearchResponse":{"type":"object","description":"Search response containing paginated campaign-level recommendations and pagination metadata.\n\nEach campaign in the `data` array includes its current settings (bidding strategy, target ROAS, daily budget) and an array of actionable recommendations with projected performance impact.","properties":{"pagination":{"$ref":"#/components/schemas/DiagnosticPagination"},"data":{"type":"array","description":"Paginated list of campaign-level suggestions.\nEach campaign appears once with all its recommendations.\nEmpty array when no campaigns match the search criteria.","items":{"$ref":"#/components/schemas/CampaignSuggestion"}}}},"CampaignSuggestion":{"type":"object","description":"Campaign-level suggestion containing current campaign settings and an array of actionable recommendations.","properties":{"campaignId":{"type":"string","description":"Unique campaign identifier.","example":"2085840575"},"name":{"type":"string","description":"Human-readable campaign name.","example":"November 18 - Success Hub Campaign"},"biddingStrategyType":{"type":"string","description":"Current bidding strategy type configured for the campaign (For example, `TARGET_ROAS`, `MAXIMIZE_CLICKS`).","example":"TARGET_ROAS"},"targetRoas":{"type":"number","nullable":true,"description":"Current target Return on Ad Spend (ROAS) configured for the campaign. Only applicable when `biddingStrategyType` is `TARGET_ROAS`.","example":3.5},"dailyBudget":{"type":"number","description":"Current daily budget configured for the campaign (in USD).","example":1000},"campaignRecommendations":{"type":"array","description":"List of actionable recommendations for this campaign.\nEach recommendation includes the type, recommended value, and projected performance impact.","items":{"$ref":"#/components/schemas/CampaignRecommendation"}}}},"CampaignRecommendation":{"type":"object","description":"An actionable recommendation for a campaign. Includes the recommendation type, suggested value, and projected performance impact at three levels (recommended, minimum, maximum).","properties":{"type":{"type":"string","description":"Recommendation category.\n\n- **BUDGET**: Recommended budget adjustment (daily or total)\n- **BIDDING_STRATEGY**: Recommended change to bidding strategy","enum":["BUDGET","BIDDING_STRATEGY"],"example":"BUDGET"},"subType":{"type":"string","description":"Specific recommendation subtype indicating the optimization action being suggested. Example values include `INCREASE_DAILY_BUDGET` and bidding strategy adjustment actions.","example":"INCREASE_DAILY_BUDGET"},"recommendedValue":{"type":"string","description":"The primary recommended value as a string representation. For budget recommendations, this is the suggested new budget amount.","example":"2400.0"},"recommendedValueImpact":{"$ref":"#/components/schemas/RecommendedValueImpact"}}},"RecommendedValueImpact":{"type":"object","description":"Projected performance impact of the recommendation at three levels.\n\n- **recommended**: The optimal suggested value (marked `isRecommended: true`)\n- **minRecommendation**: A conservative lower-bound option. May be `null` if not applicable.\n- **maxRecommendation**: An aggressive upper-bound option. May be `null` if not applicable.","properties":{"recommended":{"$ref":"#/components/schemas/ImpactOption","description":"The optimal recommended option. Always present and marked with `isRecommended: true`."},"minRecommendation":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/ImpactOption"}],"description":"Conservative lower-bound recommendation option. May be `null` when a minimum option is not applicable."},"maxRecommendation":{"nullable":true,"allOf":[{"$ref":"#/components/schemas/ImpactOption"}],"description":"Aggressive upper-bound recommendation option. May be `null` when a maximum option is not applicable."}}},"ImpactOption":{"type":"object","description":"A single recommendation option with its projected performance impact.","properties":{"value":{"type":"number","description":"The recommended value for this option (For example, suggested daily budget amount in USD).","example":2400},"adspendChange":{"type":"number","description":"Projected change in ad spend (in USD) if this option is applied.","example":11200},"clicksChange":{"type":"integer","description":"Projected change in number of clicks if this option is applied.","example":13242},"impressionsChange":{"type":"integer","description":"Projected change in number of impressions if this option is applied.","example":963695},"isRecommended":{"type":"boolean","description":"`true` if this is the primary recommended option. Only one option within a `RecommendedValueImpact` will have `isRecommended: true`.","example":true}}}},"headers":{"X-Current-Token-Count":{"description":"The number of API call tokens remaining in the current rate limit window.","schema":{"type":"integer"},"example":0},"X-Next-Replenishment-Time":{"description":"The time (in epoch milliseconds) when the next batch of tokens will be replenished. Wait until this time before retrying.","schema":{"type":"integer","format":"int64"},"example":1719500400000}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
