{"openapi":"3.0.1","info":{"title":"Assortment Recommendations Overview","version":"1.0","description":"Assortment recommendations help sellers understand customer demand in Walmart and the external market by providing personalized item recommendations. These insights are generated by leveraging demand signals like: \n*   Internal and external search \n*   Best Sellers\n*   Trending items\n\n The assortment recommendations API can be used to view Customer Favorites (In-demand items), demand trends, filter, reject, and bulk download the recommendations. These recommended items can be set up using the [Item Setup API](https://developer.walmart.com/api/us/mp/items).\nSellers need to provide API access key on [developer portal](https://developer.walmart.com/account/generateKey) for ‘Analytics & Growth’ to solution providers and channel partners to be able to access Assortment Growth APIs."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"paths":{"/v3/growth/assortment/recommendations":{"post":{"tags":["Assortment Recommendations"],"summary":"Get Recommendations","description":"You can fetch the list of recommendations that are recommended for you. \n \nUsing ITEM as a recommendationType,\n*   You can get the list of ITEM recommendations. You can apply filters to fetch selective item recommendations. \n \n\n","externalDocs":{"description":"View Guide","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12957"},"operationId":"getAssortmentRecommendations","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request payload","content":{"application/json":{"schema":{"required":["recommendationType"],"type":"object","properties":{"recommendationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM | To get list of recommended items | string |","enum":["ITEM"]},"meta":{"type":"object","properties":{"limit":{"maximum":200,"minimum":1,"type":"integer","description":"Number of records expected in the request","format":"int32","default":200},"nextCursor":{"type":"string","description":"Used for pagination when more than 200 records are retrieved. The nextCursor value of the response includes a marker which needs to be passed in next call which retrieves the next page of results."}},"description":"Meta information for the request."},"filterCriteria":{"type":"object","properties":{"searchText":{"minLength":3,"type":"string","description":"To filter with a search text having a word that can be part of the recommended data. "},"multiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations | string |\n| PRODUCT_TYPE | To filter based on list of product types which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY","PRODUCT_TYPE"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}},"enumFilter":{"type":"array","description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply an enum filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_AVAILABILITY_STATUS | To filter based on whether the items which are new to Walmart or existing in Walmart. | string |\n| SHOPPING_TRENDS | Indicates the demand types identified in the market for an item. An item can have more than one value for this parameter. | string |\n| DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |","enum":["ITEM_AVAILABILITY_STATUS","SHOPPING_TRENDS","DEMAND_SALES_TRENDS"]},"values":{"type":"array","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","items":{"type":"string","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]}},"description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated."}},"rangeFilter":{"type":"array","description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply a range filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE | To filter based on the price. | string |","enum":["PRICE"]},"from":{"type":"string","description":"Filter range start"},"to":{"type":"string","description":"Filter range end"}},"description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated."}},"isTopGoGetItem":{"type":"boolean","description":"Filters the Top Go-Get Items, which are high-demand, customer-favorite items that sellers should prioritize adding to their Walmart catalog. Set to `true` to return only Top Go-Get Items."},"isNewRecommendation":{"type":"boolean","description":"Filter for newly added recommendations. These are high-demand, customer-favorite items added to the recommendation set within the past 30 days. Set to `true` to return only these items."}},"description":"Different type of filters can be passed in this object."}}},"examples":{"All item recommendations":{"value":{"recommendationType":"ITEM","meta":{"limit":2}}},"Item recommendations based on filter":{"value":{"recommendationType":"ITEM","meta":{"limit":4,"nextCursor":"AoRYPgVANXFt6AeR8QUAAAAAAAAAADkxMDEwMDMwNTZBTkRBTkRCMDg3WVYxOU05"},"filterCriteria":{"searchText":"and","multiValueFilter":[{"parameter":"BRAND","values":["Disney","NINTENDO"]},{"parameter":"CATEGORY","values":["Toys"]},{"parameter":"PRODUCT_TYPE","values":["Action Figure Sets","Power Tool Batteries","Action Figures"]}],"enumFilter":[{"parameter":"ITEM_AVAILABILITY_STATUS","values":["NEW_TO_WALMART","EXISTING_IN_WALMART"]},{"parameter":"SHOPPING_TRENDS","values":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},{"parameter":"DEMAND_SALES_TRENDS","values":["DEC","APR","NOV","MAR"]}],"rangeFilter":[{"parameter":"PRICE","from":"1.0","to":"3.5"}],"isTopGoGetItem":true,"isNewRecommendation":true}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"required":["recommendationType"],"type":"object","properties":{"recommendationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM | To get list of recommended items | string |","enum":["ITEM"]},"meta":{"type":"object","properties":{"totalRecords":{"type":"integer","description":"The total number of records are present for the requested categorization type along with filters.","format":"int32"},"recordsFetched":{"type":"integer","description":"The number of records fetched in the response.","format":"int32"},"limit":{"maximum":200,"minimum":1,"type":"integer","description":"Number of records expected in the request","format":"int32","default":200},"nextCursor":{"type":"string","description":"The string returned from the initial API call to indicate nextCursor. Specify nextCursor value to retrieve the next set of records."}},"description":"Meta information for the response."},"records":{"type":"array","description":"Information related to the item recommendations.","items":{"type":"object","properties":{"itemRecommendationUniqueId":{"type":"string","description":"Unique identifier for the recommended item."},"itemDetails":{"type":"object","properties":{"title":{"type":"string","description":"Title of the recommended item"},"brand":{"type":"string","description":"Brand of the recommended item"},"category":{"type":"string","description":"Category of the recommended item"},"productType":{"type":"string","description":"Indicates the product type of an item that can be used to set up this item using Item Setup APIs or Item setup bulk upload."},"gtin":{"type":"string","description":"GTIN of the recommended item"},"upc":{"type":"string","description":"UPC of the recommended item"},"isbn":{"type":"string","description":"ISBN of the recommended item"},"ean":{"type":"string","description":"EAN of the recommended item"},"itemAvailabilityStatus":{"type":"string","description":"Item availability status of the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| EXISTING_IN_WALMART | Indicates that item is existing in Walmart. | string |\n| NEW_TO_WALMART | Indicates that item is new to Walmart. | string |","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART"]},"potentialSales":{"type":"string","description":"Indicates the potential revenue the recommended item can bring in over a year. \nThis field does not promise the numbers indicated."},"potentialSalesRank":{"type":"string","description":"Rank of an item, from 1 to 10 (1 being highest), that indicates the relative potential sales of a product in a category. This is an estimate based on customer demand, historical category sales and other data points."},"isTopGoGetItem":{"type":"boolean","description":"Top Go‑Get Items are Customer favorite items sellers are recommended to prioritize and bring to their Walmart Catalog."},"shoppingTrends":{"type":"array","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","items":{"type":"string","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"demandSalesTrends":{"type":"array","description":"Indicates the months of the year when high demand is observed for the recommended item. The sequence of month is in the decreasing order of the high demand. The values are comma separated. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","items":{"type":"string","description":"Indicates the months in a year when high demand is observed for the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"searchKeywords":{"type":"array","description":"List of the most popular keywords that people have searched for, where the item shows up in the result set.","items":{"type":"string"}},"offerCount":{"type":"number","description":"Total number offers for this Item on Walmart."},"freeShipping":{"type":"string","description":"Indicates if the shipping is free for a recommended item which is a buy box winner.","enum":["YES","NO"]},"rating":{"type":"number","description":"Average rating of the recommended item.","format":"double"},"ratingCount":{"type":"number","description":"Total number of ratings for the recommended item."},"primaryVariantItemId":{"type":"string","description":"Primary variant item ID."},"hasVariants":{"type":"boolean","description":"Indicates to ensure whether the item has variants or not. If it is "},"walmart":{"type":"object","properties":{"itemId":{"type":"string","description":"Walmart item id."},"url":{"type":"string","description":"Walmart item url."},"wfsIndicator":{"type":"boolean","description":"Walmart fulfilment service indicator."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Walmart's item information"},"competitors":{"type":"array","description":"Competitor's item information","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Competitor item id."},"url":{"type":"string","description":"Competitor item url."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Competitor's item information"}}},"description":"Details of the recommended item."}},"description":"Information related to the item recommendations."}}},"description":"Payload in the response having the details about the item recommendations."}}},"examples":{"All item recommendations":{"value":{"payload":{"recommendationType":"ITEM","meta":{"totalRecords":7,"recordsFetched":2,"limit":2,"nextCursor":"FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFmFvVTU3ZXNnUktHbjNxeUJHVHJ6VHcAAAAAAAApuhZqRkg2QURYNFFGR29ZMndCRnp4eEl3"},"records":[{"itemRecommendationUniqueId":"552855525","itemDetails":{"title":"Disney Mirrorverse 5\" Figure WV1 - Sulley","brand":"Disney","category":"Toys","productType":"Action Figures","gtin":"00787926160345","upc":"78792616034","ean":"0787926160345","itemAvailabilityStatus":"EXISTING_IN_WALMART","potentialSales":"$0-$10K","potentialSalesRank":9,"isTopGoGetItem":false,"shoppingTrends":["Most searched for"],"demandSalesTrends":["DEC","APR","NOV","MAR"],"searchKeywords":["MINIVERSE","MINIVERSE HOLIDAY","MINVERSE","SULLEY","MIRRORVERSE"],"offerCount":12,"freeShipping":"YES","rating":4.5,"ratingCount":67,"primaryVariantItemId":"B0CW3VWC3X","hasVariants":true,"walmart":{"itemId":"552855525","itemPrice":{"amount":2.3,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}},"competitors":[{"itemId":"B08X954CCW","url":"www.amazon.com/dp/B08X954CCW"}]}},{"itemRecommendationUniqueId":"B016GASDD8","itemDetails":{"title":"Animal Crossing Happy Home Designer Amiibo Card Sterling 048/100","brand":"NINTENDO","category":"Toys","productType":"Action Figures","itemAvailabilityStatus":"NEW_TO_WALMART","potentialSales":"$0-$10K","potentialSalesRank":9,"isTopGoGetItem":true,"shoppingTrends":["Most searched for"],"demandSalesTrends":["DEC","APR","NOV","MAR"],"searchKeywords":["raymond amiibo","raymond amiibo card"],"offerCount":10,"freeShipping":"NO","rating":4.3,"ratingCount":16,"hasVariants":false,"competitors":[{"itemId":"B016GASDD8","url":"www.amazon.com/dp/B016GASDD8","itemPrice":{"amount":2.95,"currency":"USD"},"shippingPrice":{"amount":0.5,"currency":"USD"}}]}}]}}},"Item recommendations based on filter":{"value":{"payload":{"recommendationType":"ITEM","meta":{"totalRecords":7,"recordsFetched":2,"limit":2,"nextCursor":"FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFmFvVTU3ZXNnUktHbjNxeUJHVHJ6VHcAAAAAAAApuhZqRkg2QURYNFFGR29ZMndCRnp4eEl3"},"records":[{"itemRecommendationUniqueId":"552855525","itemDetails":{"title":"Disney Mirrorverse 5\" Figure WV1 - Sulley","brand":"Disney","category":"Toys","productType":"Action Figures","gtin":"00787926160345","upc":"78792616034","ean":"0787926160345","itemAvailabilityStatus":"EXISTING_IN_WALMART","potentialSales":"$0-$10K","potentialSalesRank":9,"isTopGoGetItem":false,"shoppingTrends":["Most searched for"],"demandSalesTrends":["DEC","APR","NOV","MAR"],"searchKeywords":["MINIVERSE","MINIVERSE HOLIDAY","MINVERSE","SULLEY","MIRRORVERSE"],"offerCount":10,"freeShipping":"YES","rating":4.7,"ratingCount":71,"primaryVariantItemId":"B0CW3VWC3X","hasVariants":true,"walmart":{"itemId":"552855525","itemPrice":{"amount":2.3,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}},"competitors":[{"itemId":"B08X954CCW","url":"www.amazon.com/dp/B08X954CCW"}]}},{"itemRecommendationUniqueId":"B016GASDD8","itemDetails":{"title":"Animal Crossing Happy Home Designer Amiibo Card Sterling 048/100","brand":"NINTENDO","category":"Toys","productType":"Action Figures","itemAvailabilityStatus":"NEW_TO_WALMART","potentialSales":"$0-$10K","potentialSalesRank":9,"isTopGoGetItem":false,"shoppingTrends":["Most searched for"],"demandSalesTrends":["DEC","APR","NOV","MAR"],"searchKeywords":["raymond amiibo","raymond amiibo card"],"offerCount":10,"freeShipping":"NO","rating":3.9,"ratingCount":23,"primaryVariantItemId":"B0CW3VWC3X","hasVariants":false,"competitors":[{"itemId":"B016GASDD8","url":"www.amazon.com/dp/B016GASDD8","itemPrice":{"amount":2.95,"currency":"USD"},"shippingPrice":{"amount":0.75,"currency":"USD"}}]}}]}}}}}}}}}},"/v3/growth/assortment/recommendations/variants":{"get":{"tags":["Assortment Recommendations"],"summary":"Get Variants","description":"You can fetch variant items corresponding to a recommended primary variant item.","externalDocs":{"description":"View Guide","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#20694"},"operationId":"getAssortmentRecommendationVariants","parameters":[{"name":"primaryVariantItemId","in":"query","description":"Primary variant item ID that is returned in the response of get recommendations API or in the on-request bulk CSV file","required":true,"schema":{"type":"string","externalDocs":{"description":"Get Recommendations API, Bulk Download Recommendations API","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12976"}}},{"name":"nextCursor","in":"query","allowReserved":true,"description":"Used for pagination when more than 200 records are retrieved. The nextCursor value of the response includes a marker which needs to be passed in next call which retrieves the next page of results.","schema":{"type":"string"},"example":"*"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"meta":{"type":"object","properties":{"totalRecords":{"type":"integer","description":"The total number of records are present for the requested variants based on the primary variant item ID.","format":"int32"},"recordsFetched":{"type":"integer","description":"The number of records fetched in the response.","format":"int32"},"limit":{"maximum":200,"minimum":1,"type":"integer","description":"Number of records expected in the request","format":"int32","default":200},"nextCursor":{"type":"string","description":"The string returned from the initial API call to indicate nextCursor. Specify nextCursor value to retrieve the next set of records."}},"description":"Meta information for the response."},"primaryVariantItemId":{"type":"string","description":"Item ID of the primary variant item."},"records":{"type":"array","description":"Information related to the variant recommendations based on primary variant item ID.","items":{"type":"object","properties":{"itemRecommendationUniqueId":{"type":"string","description":"Unique identifier for the recommended item."},"itemDetails":{"type":"object","properties":{"title":{"type":"string","description":"Title of the recommended item"},"brand":{"type":"string","description":"Brand of the recommended item"},"category":{"type":"string","description":"Category of the recommended item"},"productType":{"type":"string","description":"Indicates the product type of an item that can be used to set up this item using Item Setup APIs or Item setup bulk upload."},"gtin":{"type":"string","description":"GTIN of the recommended item"},"upc":{"type":"string","description":"UPC of the recommended item"},"isbn":{"type":"string","description":"ISBN of the recommended item"},"ean":{"type":"string","description":"EAN of the recommended item"},"itemAvailabilityStatus":{"type":"string","description":"Item availability status of the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| EXISTING_IN_WALMART | Indicates that item is existing in Walmart. | string |\n| NEW_TO_WALMART | Indicates that item is new to Walmart. | string |","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART"]},"potentialSales":{"type":"string","description":"Indicates the potential revenue the recommended item can bring in over a year. \nThis field does not promise the numbers indicated."},"potentialSalesRank":{"type":"string","description":"Rank of an item, from 1 to 10 (1 being highest), that indicates the relative potential sales of a product in a category. This is an estimate based on customer demand, historical category sales and other data points."},"isTopGoGetItem":{"type":"boolean","description":"Top Go‑Get Items are Customer favorite items sellers are recommended to prioritize and bring to their Walmart Catalog."},"shoppingTrends":{"type":"array","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","items":{"type":"string","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"demandSalesTrends":{"type":"array","description":"Indicates the months of the year when high demand is observed for the recommended item. The sequence of month is in the decreasing order of the high demand. The values are comma separated. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","items":{"type":"string","description":"Indicates the months in a year when high demand is observed for the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"searchKeywords":{"type":"array","description":"List of the most popular keywords that people have searched for, where the item shows up in the result set.","items":{"type":"string"}},"offerCount":{"type":"number","description":"Total number offers for this Item on Walmart."},"freeShipping":{"type":"string","description":"Indicates if the shipping is free for a recommended item which is a buy box winner.","enum":["YES","NO"]},"rating":{"type":"number","description":"Average rating of the recommended item.","format":"double"},"ratingCount":{"type":"number","description":"Total number of ratings for the recommended item."},"isPrimaryVariant":{"type":"boolean","description":"Indicates whether the item is a primary variant."},"variantInfo":{"type":"array","description":"List of variant details of the item.","items":{"type":"object","properties":{"name":{"type":"string","description":"Indicates the item attribute name for which variants are available. Example - color, size"},"value":{"type":"string","description":" Indicates the value of item attribute for which variants are available. Example - blue, small"}},"description":"Variants information."}},"walmart":{"type":"object","properties":{"itemId":{"type":"string","description":"Walmart item id."},"url":{"type":"string","description":"Walmart item url."},"wfsIndicator":{"type":"boolean","description":"Walmart fulfilment service indicator."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Walmart's item information"},"competitors":{"type":"array","description":"Competitor's item information","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Competitor item id."},"url":{"type":"string","description":"Competitor item url."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Competitor's item information"}}},"description":"Details of the recommended item."}},"description":"Information related to the item recommendations."}}},"description":"Payload in the response having the details about the item recommendations."}}},"examples":{"All item recommendations":{"value":{"payload":{"meta":{"totalRecords":12,"recordsFetched":2,"limit":200,"nextCursor":"FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFkxxYXVqbDdDU215YlJmTzVoY1V3cGcAAAAAAAAbXhZzRk1VYTR0RlRLbTBHYm4zZWxXaFRB"},"primaryVariantItemId":"B0BQPH9CNF","records":[{"itemRecommendationUniqueId":"2023736962","itemDetails":{"title":"Nintendo Super Mario Bomber Jacket, Mario and Luigi Bomber Jacket","brand":"Nintendo","category":"Clothing","productType":"Outerwear Jackets","gtin":"00197347024339","upc":"0019734702433","ean":"0197347024339","itemAvailabilityStatus":"EXISTING_IN_WALMART","potentialSales":"$0-$10K","shoppingTrends":["Best sellers"],"demandSalesTrends":["OCT","FEB","DEC","NOV","JAN","MAR"],"offerCount":1,"walmart":{"itemId":"2023736962","url":"www.walmart.com/ip/2023736962","itemPrice":{"amount":42.99,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}},"competitors":[{"itemId":"B0BQPH9CNF","url":"www.amazon.com/dp/B0BQPH9CNF","itemPrice":{"amount":51.99,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}}],"freeShipping":"NO","ratingCount":1832,"rating":4.7,"variantInfo":[{"name":"Color","value":"Bowser Black"},{"name":"Size","value":"4"}],"isPrimaryVariant":true}},{"itemRecommendationUniqueId":"3744707969","itemDetails":{"title":"Nintendo Super Mario Bomber Jacket, Mario and Luigi Bomber Jacket","brand":"Nintendo","category":"Clothing","productType":"Outerwear Jackets","itemAvailabilityStatus":"EXISTING_IN_WALMART","potentialSales":"$0-$10K","shoppingTrends":["Best sellers"],"demandSalesTrends":["OCT","FEB","DEC","NOV","JAN","MAR"],"offerCount":1,"walmart":{"itemId":"3744707969","url":"www.walmart.com/ip/3744707969","itemPrice":{"amount":42.99,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}},"competitors":[{"itemId":"B0BQP6JSFF","url":"www.amazon.com/dp/B0BQP6JSFF","itemPrice":{"amount":48.99,"currency":"USD"},"shippingPrice":{"amount":0,"currency":"USD"}}],"freeShipping":"NO","ratingCount":1786,"rating":4.8,"variantInfo":[{"name":"Color","value":"Bowser Black"},{"name":"Size","value":"5-6"}],"isPrimaryVariant":false}}]}}}}}}}}}},"/v3/growth/assortment/recommendations/trends":{"get":{"tags":["Assortment Recommendations"],"summary":"Get Recommendation Trends","description":"You can fetch the monthly and weekly trends for both demand and price, for the assortment recommendations that are recommended for you.","externalDocs":{"description":"View Guide","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12957"},"operationId":"getAssortmentRecommendationTrends","parameters":[{"name":"recommendationUniqueId","in":"query","description":"Unique ID that is returned in the response of the get recommendations API or in the on-request bulk CSV file","required":true,"schema":{"type":"string","externalDocs":{"description":"Get Recommendations API, Bulk Download Recommendations API","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12957"}}},{"name":"trendTypes","in":"query","allowReserved":true,"description":"Comma separated list of trends\n\n | Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE_TRENDS | Indicates the price trends for the recommended item in the marketplace currency for rolling 52-weeks/12-months. The data may not be available for all weeks/months. | string |\n| DEMAND_TRENDS | Indicates the demand trends for the recommended item for 52-weeks/12-months. | string |","schema":{"type":"string"},"example":"PRICE_TRENDS,DEMAND_TRENDS"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"required":["recommendationUniqueId"],"description":"Payload in the response having the trend details for the recommended item.","type":"object","properties":{"recommendationUniqueId":{"type":"string","description":"Unique ID that is returned in the response of the get recommendations API or in the on-request bulk CSV file.","externalDocs":{"description":"Get Recommendations API, Bulk Download Recommendations API","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12957"}},"trends":{"type":"array","description":"Trend data for the recommended item. This will include Price trends and Demand trends.","items":{"type":"object","properties":{"trendType":{"type":"string","description":"Type of trend.\n\n Values: DEMAND_TRENDS, PRICE_TRENDS"},"trendData":{"type":"array","description":"Trend data for the recommended item. The array will be empty if trends are not available for the item.","items":{"type":"object","properties":{"meta":{"type":"object","description":"Meta information related to the trends response.","properties":{"currency":{"type":"string","description":"Currency associated with the price trends of the recommendation.\n\n Value: USD"}}},"monthlyTrends":{"type":"array","description":"Trend data at a monthly level.","items":{"type":"object","properties":{"month":{"type":"string","description":"Month of the year.\n\n Values: JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC"},"year":{"type":"string","description":"Year of trend.\n\n Example: 2024"},"value":{"type":"number","description":"| Trend Type | Description | Data type of value |\n| --- | ----------- | ------- |\n| PRICE_TRENDS | Indicates the price of the item in the market specific currency for the given month and year. Example: 5.99 | double |\n| DEMAND_TRENDS | Normalised values to indicate relative demand for the recommendation for the given month. Example: 0.07 | double |","format":"double"}}}},"weeklyTrends":{"type":"array","description":"Trend data at a weekly level.","items":{"type":"object","properties":{"week":{"type":"string","description":"Week of the year. Example: 24"},"year":{"type":"string","description":"Year of trend. Example: 2024"},"value":{"type":"number","description":"| Trend Type | Description | Data type of value |\n| --- | ----------- | ------- |\n| PRICE_TRENDS | Indicates the price of the item in the market specific currency for the given week and year. Example: 6.54 | double |\n| DEMAND_TRENDS | Normalised values to indicate relative demand for the recommendation for the given week. Example: 0.08 | double |","format":"double"}}}}}}}}}}}}}},"examples":{"All trends":{"value":{"payload":{"recommendationUniqueId":"1033913643","trends":[{"trendType":"PRICE_TRENDS","trendData":[{"meta":{"currency":"USD"},"monthlyTrends":[{"month":"JUN","year":"2023","value":10.99},{"month":"JUL","year":"2023","value":24.83},{"month":"AUG","year":"2023","value":20.44},{"month":"SEP","year":"2023","value":10.99},{"month":"OCT","year":"2023","value":10.99},{"month":"NOV","year":"2023","value":10.99},{"month":"DEC","year":"2023","value":10.99},{"month":"JAN","year":"2024","value":10.99},{"month":"FEB","year":"2024","value":14.03},{"month":"MAR","year":"2024","value":11.99},{"month":"APR","year":"2024","value":11.99},{"month":"MAY","year":"2024","value":11.99}],"weeklyTrends":[{"week":"23","year":"2023","value":10.99},{"week":"24","year":"2023","value":10.99},{"week":"25","year":"2023","value":10.99},{"week":"26","year":"2023","value":10.99},{"week":"27","year":"2023","value":10.99},{"week":"28","year":"2023","value":10.99},{"week":"29","year":"2023","value":19.99},{"week":"30","year":"2023","value":19.99},{"week":"31","year":"2023","value":24.83},{"week":"32","year":"2023","value":24.83},{"week":"33","year":"2023","value":24.83},{"week":"34","year":"2023","value":22.9},{"week":"35","year":"2023","value":20.44},{"week":"36","year":"2023","value":20.44},{"week":"37","year":"2023","value":10.99},{"week":"38","year":"2023","value":10.99},{"week":"39","year":"2023","value":10.99},{"week":"40","year":"2023","value":10.99},{"week":"41","year":"2023","value":10.99},{"week":"42","year":"2023","value":10.99},{"week":"43","year":"2023","value":10.99},{"week":"44","year":"2023","value":10.99},{"week":"45","year":"2023","value":10.99},{"week":"46","year":"2023","value":10.99},{"week":"47","year":"2023","value":10.99},{"week":"48","year":"2023","value":10.99},{"week":"49","year":"2023","value":10.99},{"week":"50","year":"2023","value":14.9},{"week":"51","year":"2023","value":14.9},{"week":"52","year":"2023","value":10.99},{"week":"1","year":"2024","value":14.9},{"week":"2","year":"2024","value":10.99},{"week":"3","year":"2024","value":14.99},{"week":"4","year":"2024","value":14.98},{"week":"5","year":"2024","value":10.99},{"week":"6","year":"2024","value":14.38},{"week":"7","year":"2024","value":14.37},{"week":"8","year":"2024","value":14.37},{"week":"9","year":"2024","value":14.03},{"week":"10","year":"2024","value":13.97},{"week":"11","year":"2024","value":11.89},{"week":"12","year":"2024","value":10.6},{"week":"13","year":"2024","value":11.99},{"week":"14","year":"2024","value":11.99},{"week":"15","year":"2024","value":11.99},{"week":"16","year":"2024","value":11.46},{"week":"17","year":"2024","value":11.99},{"week":"18","year":"2024","value":11.99},{"week":"19","year":"2024","value":11.99},{"week":"20","year":"2024","value":11.97},{"week":"21","year":"2024","value":11.97},{"week":"22","year":"2024","value":11.97}]}]},{"trendType":"DEMAND_TRENDS","trendData":[{"meta":{},"monthlyTrends":[{"month":"JAN","value":0.05},{"month":"FEB","value":0.05},{"month":"MAR","value":0.06},{"month":"APR","value":0.05},{"month":"MAY","value":0.04},{"month":"JUN","value":0.03},{"month":"JUL","value":0.04},{"month":"AUG","value":0.04},{"month":"SEP","value":0.04},{"month":"OCT","value":0.07},{"month":"NOV","value":0.26},{"month":"DEC","value":0.26}],"weeklyTrends":[{"week":"1","value":0.02},{"week":"2","value":0.01},{"week":"3","value":0.01},{"week":"4","value":0.01},{"week":"5","value":0.01},{"week":"6","value":0.02},{"week":"7","value":0.02},{"week":"8","value":0.01},{"week":"9","value":0.02},{"week":"10","value":0.02},{"week":"11","value":0.02},{"week":"12","value":0.02},{"week":"13","value":0.02},{"week":"14","value":0.01},{"week":"15","value":0.01},{"week":"16","value":0.01},{"week":"17","value":0.01},{"week":"18","value":0.01},{"week":"19","value":0.01},{"week":"20","value":0.01},{"week":"21","value":0.01},{"week":"22","value":0.01},{"week":"23","value":0.01},{"week":"24","value":0.01},{"week":"25","value":0.01},{"week":"26","value":0.01},{"week":"27","value":0.01},{"week":"28","value":0.01},{"week":"29","value":0.01},{"week":"30","value":0.01},{"week":"31","value":0.01},{"week":"32","value":0.01},{"week":"33","value":0.01},{"week":"34","value":0.01},{"week":"35","value":0.01},{"week":"36","value":0.01},{"week":"37","value":0.01},{"week":"38","value":0.01},{"week":"39","value":0.01},{"week":"40","value":0.01},{"week":"41","value":0.02},{"week":"42","value":0.02},{"week":"43","value":0.02},{"week":"44","value":0.02},{"week":"45","value":0.04},{"week":"46","value":0.04},{"week":"47","value":0.06},{"week":"48","value":0.08},{"week":"49","value":0.07},{"week":"50","value":0.07},{"week":"51","value":0.07},{"week":"52","value":0.03}]}]}]}}},"Price trends":{"value":{"payload":{"recommendationUniqueId":"1033913643","trends":[{"trendType":"PRICE_TRENDS","trendData":[{"meta":{"currency":"USD"},"monthlyTrends":[{"month":"JUN","year":"2023","value":10.99},{"month":"JUL","year":"2023","value":24.83},{"month":"AUG","year":"2023","value":20.44},{"month":"SEP","year":"2023","value":10.99},{"month":"OCT","year":"2023","value":10.99},{"month":"NOV","year":"2023","value":10.99},{"month":"DEC","year":"2023","value":10.99},{"month":"JAN","year":"2024","value":10.99},{"month":"FEB","year":"2024","value":14.03},{"month":"MAR","year":"2024","value":11.99},{"month":"APR","year":"2024","value":11.99},{"month":"MAY","year":"2024","value":11.99}],"weeklyTrends":[{"week":"23","year":"2023","value":10.99},{"week":"24","year":"2023","value":10.99},{"week":"25","year":"2023","value":10.99},{"week":"26","year":"2023","value":10.99},{"week":"27","year":"2023","value":10.99},{"week":"28","year":"2023","value":10.99},{"week":"29","year":"2023","value":19.99},{"week":"30","year":"2023","value":19.99},{"week":"31","year":"2023","value":24.83},{"week":"32","year":"2023","value":24.83},{"week":"33","year":"2023","value":24.83},{"week":"34","year":"2023","value":22.9},{"week":"35","year":"2023","value":20.44},{"week":"36","year":"2023","value":20.44},{"week":"37","year":"2023","value":10.99},{"week":"38","year":"2023","value":10.99},{"week":"39","year":"2023","value":10.99},{"week":"40","year":"2023","value":10.99},{"week":"41","year":"2023","value":10.99},{"week":"42","year":"2023","value":10.99},{"week":"43","year":"2023","value":10.99},{"week":"44","year":"2023","value":10.99},{"week":"45","year":"2023","value":10.99},{"week":"46","year":"2023","value":10.99},{"week":"47","year":"2023","value":10.99},{"week":"48","year":"2023","value":10.99},{"week":"49","year":"2023","value":10.99},{"week":"50","year":"2023","value":14.9},{"week":"51","year":"2023","value":14.9},{"week":"52","year":"2023","value":10.99},{"week":"1","year":"2024","value":14.9},{"week":"2","year":"2024","value":10.99},{"week":"3","year":"2024","value":14.99},{"week":"4","year":"2024","value":14.98},{"week":"5","year":"2024","value":10.99},{"week":"6","year":"2024","value":14.38},{"week":"7","year":"2024","value":14.37},{"week":"8","year":"2024","value":14.37},{"week":"9","year":"2024","value":14.03},{"week":"10","year":"2024","value":13.97},{"week":"11","year":"2024","value":11.89},{"week":"12","year":"2024","value":10.6},{"week":"13","year":"2024","value":11.99},{"week":"14","year":"2024","value":11.99},{"week":"15","year":"2024","value":11.99},{"week":"16","year":"2024","value":11.46},{"week":"17","year":"2024","value":11.99},{"week":"18","year":"2024","value":11.99},{"week":"19","year":"2024","value":11.99},{"week":"20","year":"2024","value":11.97},{"week":"21","year":"2024","value":11.97},{"week":"22","year":"2024","value":11.97}]}]}]}}},"Demand trends":{"value":{"payload":{"recommendationUniqueId":"1033913643","trends":[{"trendType":"DEMAND_TRENDS","trendData":[{"meta":{},"monthlyTrends":[{"month":"JAN","value":0.05},{"month":"FEB","value":0.05},{"month":"MAR","value":0.06},{"month":"APR","value":0.05},{"month":"MAY","value":0.04},{"month":"JUN","value":0.03},{"month":"JUL","value":0.04},{"month":"AUG","value":0.04},{"month":"SEP","value":0.04},{"month":"OCT","value":0.07},{"month":"NOV","value":0.26},{"month":"DEC","value":0.26}],"weeklyTrends":[{"week":"1","value":0.02},{"week":"2","value":0.01},{"week":"3","value":0.01},{"week":"4","value":0.01},{"week":"5","value":0.01},{"week":"6","value":0.02},{"week":"7","value":0.02},{"week":"8","value":0.01},{"week":"9","value":0.02},{"week":"10","value":0.02},{"week":"11","value":0.02},{"week":"12","value":0.02},{"week":"13","value":0.02},{"week":"14","value":0.01},{"week":"15","value":0.01},{"week":"16","value":0.01},{"week":"17","value":0.01},{"week":"18","value":0.01},{"week":"19","value":0.01},{"week":"20","value":0.01},{"week":"21","value":0.01},{"week":"22","value":0.01},{"week":"23","value":0.01},{"week":"24","value":0.01},{"week":"25","value":0.01},{"week":"26","value":0.01},{"week":"27","value":0.01},{"week":"28","value":0.01},{"week":"29","value":0.01},{"week":"30","value":0.01},{"week":"31","value":0.01},{"week":"32","value":0.01},{"week":"33","value":0.01},{"week":"34","value":0.01},{"week":"35","value":0.01},{"week":"36","value":0.01},{"week":"37","value":0.01},{"week":"38","value":0.01},{"week":"39","value":0.01},{"week":"40","value":0.01},{"week":"41","value":0.02},{"week":"42","value":0.02},{"week":"43","value":0.02},{"week":"44","value":0.02},{"week":"45","value":0.04},{"week":"46","value":0.04},{"week":"47","value":0.06},{"week":"48","value":0.08},{"week":"49","value":0.07},{"week":"50","value":0.07},{"week":"51","value":0.07},{"week":"52","value":0.03}]}]}]}}}}}}}}}},"/v3/growth/assortment/recommendations/categorization/counts":{"post":{"tags":["Assortment Recommendations"],"summary":"Get Categorization","description":"You can get the list of brands or categories associated with the items recommendations that are recommended for you.\n \nUsing BRAND as a categorizationType\n*   You can get the list of brands sorted by the number of item recommendations associated with it. This is then sorted in lexicographic order of brand name. \n \n\nUsing CATEGORY as a categorizationType\n*   You can get the list of categories sorted by the number of item recommendations associated with it. This is then sorted in lexicographic order of category name.  \n \n\n","externalDocs":{"description":"View Guide","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12960"},"operationId":"getCategorizationDetailsOfAssortmentRecommendations","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request payload","content":{"application/json":{"schema":{"required":["categorizationType"],"type":"object","properties":{"categorizationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To get list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To get list of categories which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY"]},"meta":{"type":"object","properties":{"limit":{"maximum":200,"minimum":1,"type":"integer","description":"Number of records expected in the request","format":"int32","default":200},"nextCursor":{"type":"string","description":"Used for pagination when more than 200 records are retrieved. The nextCursor value of the response includes a marker which needs to be passed in next call which retrieves the next page of results."}},"description":"Meta information for the request."},"filterCriteria":{"type":"object","properties":{"searchText":{"minLength":3,"type":"string","description":"To filter with a search text having a word that can be part of the categorization data. "},"multiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations. This is allowed when the categorization type is CATEGORY | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations. This is allowed when the categorization type is BRAND | string |","enum":["CATEGORY","BRAND"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum 7 values are allowed in the list.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum 7 values are allowed in the list."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}}},"description":"Different type of filters can be passed in this object."}}},"examples":{"All brands associated with the item recommendations":{"value":{"categorizationType":"BRAND","meta":{"limit":2}}},"Brands based on filter associated with the item recommendations":{"value":{"categorizationType":"BRAND","meta":{"limit":2,"nextCursor":"categorizationType=BRAND&limit=2&offset=2"},"filterCriteria":{"searchText":"and","multiValueFilter":[{"parameter":"CATEGORY","values":["FINE GEMSTONE JEWELRY ECOMM WOMENS","FASHION JEWELRY ECOMM WOMENS"]}]}}},"All categories associated with the item recommendations":{"value":{"categorizationType":"CATEGORY","meta":{"limit":2}}},"Categories based on filter associated with the item recommendations":{"value":{"categorizationType":"CATEGORY","meta":{"limit":2,"nextCursor":"categorizationType=CATEGORY&limit=2&offset=2"},"filterCriteria":{"searchText":"ecomm","multiValueFilter":[{"parameter":"BRAND","values":["Swarovsk and Co.","Kate Spade and Co."]}]}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"categorizationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To get list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To get list of categories which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY"]},"meta":{"type":"object","properties":{"totalRecords":{"type":"integer","description":"The total number of records are present for the requested categorization type along with filters.","format":"int32"},"recordsFetched":{"type":"integer","description":"The number of records fetched in the response.","format":"int32"},"limit":{"maximum":200,"minimum":1,"type":"integer","description":"Number of records expected in the request","format":"int32","default":200},"nextCursor":{"type":"string","description":"The string returned from the initial API call to indicate nextCursor. Specify nextCursor value to retrieve the next set of records."}},"description":"Meta information for the response."},"records":{"type":"array","description":"Information of item recommendations based on the categorizationType.","items":{"type":"object","properties":{"name":{"type":"string","description":"Name of the brand or category as per the categorizationType."},"numberOfItemRecommendations":{"type":"integer","description":"This attribute is deprecated.","format":"int64"}},"description":"Information of item recommendations based on the categorizationType."}}},"description":"Payload in the response having the categorization details about the item recommendations."}}},"examples":{"All brands associated with the item recommendations":{"value":{"payload":{"categorizationType":"BRAND","meta":{"totalRecords":4,"recordsFetched":2,"limit":2,"nextCursor":"categorizationType=BRAND&limit=2&offset=2"},"records":[{"name":"Swarovsk and Co.","numberOfItemRecommendations":-1},{"name":"Kate Spade and Co.","numberOfItemRecommendations":-1}]}}},"Brands based on filter associated with the item recommendations":{"value":{"payload":{"categorizationType":"BRAND","meta":{"totalRecords":10,"recordsFetched":2,"limit":2,"nextCursor":"categorizationType=BRAND&limit=2&offset=2"},"records":[{"name":"Swarovsk and Co.","numberOfItemRecommendations":-1},{"name":"Kate Spade and Co.","numberOfItemRecommendations":-1}]}}},"All categories associated with the item recommendations":{"value":{"payload":{"categorizationType":"CATEGORY","meta":{"totalRecords":18,"recordsFetched":2,"limit":2,"nextCursor":"categorizationType=CATEGORY&limit=2&offset=4"},"records":[{"name":"FINE GEMSTONE JEWELRY ECOMM WOMENS","numberOfItemRecommendations":-1},{"name":"FASHION JEWELRY ECOMM WOMENS","numberOfItemRecommendations":-1}]}}},"Categories based on filter associated with the item recommendations":{"value":{"payload":{"categorizationType":"CATEGORY","meta":{"totalRecords":20,"recordsFetched":2,"limit":2,"nextCursor":"categorizationType=CATEGORY&limit=2&offset=4"},"records":[{"name":"FINE GEMSTONE JEWELRY ECOMM WOMENS","numberOfItemRecommendations":-1},{"name":"FASHION JEWELRY ECOMM WOMENS","numberOfItemRecommendations":-1}]}}}}}}}}}},"/v3/growth/assortment/recommendations/rejections":{"put":{"tags":["Assortment Recommendations"],"summary":"Reject Recommendations","description":"You can reject a list of recommendations that are recommended for you. \n \nUsing ITEM as a recommendationType,\n*   You can reject specific item recommendations using the filterCriteria or by providing the list of itemRecommendationUniqueIds. \n*   You will need to provide valid rejection code(s) while submitting the reject request. You are required to send the custom rejection message if the rejection code is OTHER_REASON \n\n\n","externalDocs":{"description":"View Guide","url":"/doc/us/us-mp/us-mp-assortmentrecommendations/#12965"},"operationId":"rejectAssortmentRecommendations","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request payload","content":{"application/json":{"schema":{"required":["recommendationType","rejectionCodes"],"type":"object","properties":{"recommendationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM | To reject list of recommended items | string |","enum":["ITEM"]},"filterCriteria":{"type":"object","properties":{"searchText":{"minLength":3,"type":"string","description":"To filter with a search text having a word that can be part of the recommended data. "},"multiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations | string |\n| PRODUCT_TYPE | To filter based on list of product types which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY","PRODUCT_TYPE"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}},"enumFilter":{"type":"array","description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply an enum filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_AVAILABILITY_STATUS | To filter based on whether the items which are new to Walmart or existing in Walmart. | string |\n| SHOPPING_TRENDS | Indicates the demand types identified in the market for an item. An item can have more than one value for this parameter. | string |\n| DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |","enum":["ITEM_AVAILABILITY_STATUS","SHOPPING_TRENDS","DEMAND_SALES_TRENDS"]},"values":{"type":"array","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","items":{"type":"string","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]}},"description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated."}},"rangeFilter":{"type":"array","description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply a range filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE | To filter based on the price. | string |","enum":["PRICE"]},"from":{"type":"string","description":"Filter range start"},"to":{"type":"string","description":"Filter range end"}},"description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated."}},"isTopGoGetItem":{"type":"boolean","description":"Filters the Top Go-Get Items, which are high-demand, customer-favorite items that sellers should prioritize adding to their Walmart catalog. Set to `true` to return only Top Go-Get Items."},"isNewRecommendation":{"type":"boolean","description":"Filter for newly added recommendations. These are high-demand, customer-favorite items added to the recommendation set within the past 30 days. Set to `true` to return only these items."}},"description":"Different type of filters can be passed in this object."},"itemRecommendationUniqueIds":{"type":"array","description":"List of item recommendation unique ids to reject. \nThe size of the list should not exceed 100. \nYou cannot add filter criteria along with the itemRecommendationUniqueIds list","items":{"type":"string","description":"List of item recommendation unique ids to reject. \nThe size of the list should not exceed 100. \nYou cannot add filter criteria along with the itemRecommendationUniqueIds list"}},"rejectionCodes":{"type":"array","description":"List of rejection codes\n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_DISCONTINUED | As a seller, I have discontinued this SKU or stopped carrying this product line | string |\n| NOT_SELLING_THESE_ITEMS | As a seller, I don’t intend to sell these items on Walmart  | string |\n| ITEM_SEASONAL_OR_NOT_RELEVANT | Item is out-of-season or not needed at this time | string |\n| COMPETITOR_ITEM | As a seller, I already carry similar items, thus adding more isn't helpful | string |\n| NOT_SELLING_THESE_CATEGORIES | As a seller, I don’t intend to sell these categories on Walmart  | string |\n| NOT_AUTHORIZED | As a seller, I lack the required brand permission/authorization | string |\n| LIMITED_TO_OTHER_MARKETPLACE | As a seller, I intend to sell the rejected items only on other marketplaces | string |\n| NOT_SELLING_THESE_BRANDS | As a seller, I don’t intend to sell these brands on Walmart | string |\n| ALREADY_SELLING_ON_WALMART | I am already selling these items on Walmart | string |\n| ITEM_NOT_PROFITABLE | As a seller, I cannot list rejected items due to profitability issues | string |\n| INVENTORY_NOT_AVAILABLE | Upstream supply issues prevent sourcing this item | string |\n| HIGH_LOGISTICS_OR_FULFILLMENT_COST | High fulfillment or shipping cost makes this item unviable (incl. Low AUR) | string |\n| WRONG_PRODUCT_INFO | Data attached to the item is incorrect, missing, or mismatched | string |\n| OTHER_REASON | Other reason for rejecting the items. `customRejectionMessage` is mandatory to pass if `rejectionCode` is `OTHER_REASON`.  | string |\n","items":{"type":"string","description":"List of rejection codes \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| NOT_SELLING_THESE_ITEMS | As a seller, I don’t intend to sell these items on Walmart  | string |\n| NOT_SELLING_THESE_BRANDS | As a seller, I don’t intend to sell these brands on Walmart  | string |\n| NOT_SELLING_THESE_CATEGORIES | As a seller, I don’t intend to sell these categories on Walmart  | string |\n| LIMITED_TO_OTHER_MARKETPLACE | As a seller, I intend to sell the rejected items only on other marketplaces  | string |\n| ALREADY_SELLING_ON_WALMART | I am already selling these items on Walmart  | string |\n| OTHER_REASON | Other reason for rejecting the items. customRejectionMessage is mandatory to pass if rejectionCode is OTHER_REASON.  | string |","enum":["ITEM_DISCONTINUED","NOT_SELLING_THESE_ITEMS","ITEM_SEASONAL_OR_NOT_RELEVANT","COMPETITOR_ITEM","NOT_SELLING_THESE_CATEGORIES","NOT_AUTHORIZED","LIMITED_TO_OTHER_MARKETPLACE","NOT_SELLING_THESE_BRANDS","ALREADY_SELLING_ON_WALMART","ITEM_NOT_PROFITABLE","INVENTORY_NOT_AVAILABLE","HIGH_LOGISTICS_OR_FULFILLMENT_COST","WRONG_PRODUCT_INFO","OTHER_REASON"]},"enum":["ITEM_DISCONTINUED","NOT_SELLING_THESE_ITEMS","ITEM_SEASONAL_OR_NOT_RELEVANT","COMPETITOR_ITEM","NOT_SELLING_THESE_CATEGORIES","NOT_AUTHORIZED","LIMITED_TO_OTHER_MARKETPLACE","NOT_SELLING_THESE_BRANDS","ALREADY_SELLING_ON_WALMART","ITEM_NOT_PROFITABLE","INVENTORY_NOT_AVAILABLE","HIGH_LOGISTICS_OR_FULFILLMENT_COS","WRONG_PRODUCT_INFO","OTHER_REASON"]},"customRejectionMessage":{"type":"string","description":"Custom rejection message if the rejection code is OTHER_REASON. This is required only when the rejectionCodes has OTHER_REASON in the list. Maximum length of the message is 500"}}},"examples":{"Reject item recommendations based on filters":{"value":{"recommendationType":"ITEM","filterCriteria":{"multiValueFilter":[{"parameter":"BRAND","values":["Disney","NINTENDO"]},{"parameter":"CATEGORY","values":["Toys"]},{"parameter":"PRODUCT_TYPE","values":["Action Figure Sets","Power Tool Batteries","Action Figures"]}],"enumFilter":[{"parameter":"ITEM_AVAILABILITY_STATUS","values":["NEW_TO_WALMART","EXISTING_IN_WALMART"]},{"parameter":"SHOPPING_TRENDS","values":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},{"parameter":"DEMAND_SALES_TRENDS","values":["DEC","APR","NOV","MAR"]}],"rangeFilter":[{"parameter":"PRICE","to":3}]},"rejectionCodes":["NOT_SELLING_THESE_ITEMS","OTHER_REASON"],"customRejectionMessage":"Removal of this item from other marketplace is in progress"}},"Reject item recommendations based on unique identifier":{"value":{"recommendationType":"ITEM","itemRecommendationUniqueIds":["000166eb-7e67-4a20-96f0-9242db499q1c","47044c4f-ccb0-4b4e-8f05-20d34209fd13"],"rejectionCodes":["NOT_SELLING_THESE_ITEMS"]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"message":{"type":"string","description":"Message confirming the rejection of the recommendations."}},"description":"Payload in the response for rejecting recommendations."}}},"example":{"payload":{"message":"The selected items will be removed shortly from the recommendations."}}}}}}}}},"components":{"schemas":{"RejectRecommendationsResponse":{"type":"object","properties":{"payload":{"type":"object","properties":{"message":{"type":"string","description":"Message confirming the rejection of the recommendations."}},"description":"Payload in the response for rejecting recommendations."}}},"RejectRecommendationsResponsePayload":{"type":"object","properties":{"message":{"type":"string","description":"Message confirming the rejection of the recommendations."}},"description":"Payload in the response for rejecting recommendations."},"EnumFilter":{"type":"array","description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply an enum filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_AVAILABILITY_STATUS | To filter based on whether the items which are new to Walmart or existing in Walmart. | string |\n| SHOPPING_TRENDS | Indicates the demand types identified in the market for an item. An item can have more than one value for this parameter. | string |\n| DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |","enum":["ITEM_AVAILABILITY_STATUS","SHOPPING_TRENDS","DEMAND_SALES_TRENDS"]},"values":{"type":"array","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","items":{"type":"string","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]}},"description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated."}},"MultiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations | string |\n| PRODUCT_TYPE | To filter based on list of product types which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY","PRODUCT_TYPE"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}},"RangeFilterCriteria":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply a range filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE | To filter based on the price. | string |","enum":["PRICE"]},"from":{"type":"string","description":"Filter range start"},"to":{"type":"string","description":"Filter range end"}},"description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated."},"RecommendationRequestFilter":{"type":"object","properties":{"searchText":{"minLength":3,"type":"string","description":"To filter with a search text having a word that can be part of the recommended data. "},"multiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations | string |\n| PRODUCT_TYPE | To filter based on list of product types which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY","PRODUCT_TYPE"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}},"enumFilter":{"type":"array","description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply an enum filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_AVAILABILITY_STATUS | To filter based on whether the items which are new to Walmart or existing in Walmart. | string |\n| SHOPPING_TRENDS | Indicates the demand types identified in the market for an item. An item can have more than one value for this parameter. | string |\n| DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |","enum":["ITEM_AVAILABILITY_STATUS","SHOPPING_TRENDS","DEMAND_SALES_TRENDS"]},"values":{"type":"array","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","items":{"type":"string","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]}},"description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated."}},"rangeFilter":{"type":"array","description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply a range filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE | To filter based on the price. | string |","enum":["PRICE"]},"from":{"type":"string","description":"Filter range start"},"to":{"type":"string","description":"Filter range end"}},"description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated."}},"isTopGoGetItem":{"type":"boolean","description":"Filters the Top Go-Get Items, which are high-demand, customer-favorite items that sellers should prioritize adding to their Walmart catalog. Set to `true` to return only Top Go-Get Items."},"isNewRecommendation":{"type":"boolean","description":"Filter for newly added recommendations. These are high-demand, customer-favorite items added to the recommendation set within the past 30 days. Set to `true` to return only these items."}},"description":"Different type of filters can be passed in this object."},"RejectRecommendationRequest":{"required":["recommendationType","rejectionCodes"],"type":"object","properties":{"recommendationType":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM | To reject list of recommended items | string |","enum":["ITEM"]},"filterCriteria":{"type":"object","properties":{"searchText":{"minLength":3,"type":"string","description":"To filter with a search text having a word that can be part of the recommended data. "},"multiValueFilter":{"type":"array","description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated.","items":{"required":["parameter"],"type":"object","properties":{"parameter":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| BRAND | To filter based on list of brands which are associated with the assortment recommendations | string |\n| CATEGORY | To filter based on list of categories which are associated with the assortment recommendations | string |\n| PRODUCT_TYPE | To filter based on list of product types which are associated with the assortment recommendations | string |","enum":["BRAND","CATEGORY","PRODUCT_TYPE"]},"values":{"type":"array","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7.","items":{"type":"string","description":"A list of values corresponds to the parameter in the filter. The values in the list should not be null or blank. Maximum size of the list should be 7."}}},"description":"Filters based on multiple values associated with a specific parameter. \nNo parameter should be repeated."}},"enumFilter":{"type":"array","description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply an enum filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_AVAILABILITY_STATUS | To filter based on whether the items which are new to Walmart or existing in Walmart. | string |\n| SHOPPING_TRENDS | Indicates the demand types identified in the market for an item. An item can have more than one value for this parameter. | string |\n| DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |","enum":["ITEM_AVAILABILITY_STATUS","SHOPPING_TRENDS","DEMAND_SALES_TRENDS"]},"values":{"type":"array","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","items":{"type":"string","description":"Values correspond to the parameter for applying filter on the response. The data in values[] are predefined. OR operator is used between the values. \n\n| Attribute | Associated parameter of enumFilter | Description | Data Type |\n| --- | ----------- | ----------- | ------- |\n| EXISTING_IN_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are existing in Walmart. | string |\n| NEW_TO_WALMART | ITEM_AVAILABILITY_STATUS | To filters based on the items which are new to Walmart. | string |\n| MOST_SEARCHED_FOR | SHOPPING_TRENDS | Item is most searched for in the market. | string |\n| BEST_SELLERS | SHOPPING_TRENDS | Item is best seller in the market.  | string |\n| DEAL_ITEMS | SHOPPING_TRENDS | Item is in demand and is a part of deals in the other marketplaces. | string |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | DEMAND_SALES_TRENDS | Indicates the months of the year when high demand is observed for the recommended item. | string |\n","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["EXISTING_IN_WALMART","NEW_TO_WALMART","MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS","JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]}},"description":"Filter based on preset parameters and their associated values is possible with EnumFilter.  \nNo parameter should be repeated."}},"rangeFilter":{"type":"array","description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated.","items":{"type":"object","properties":{"parameter":{"type":"string","description":"To apply a range filter based on the predefined parameter. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| PRICE | To filter based on the price. | string |","enum":["PRICE"]},"from":{"type":"string","description":"Filter range start"},"to":{"type":"string","description":"Filter range end"}},"description":"Filter based on a range with RangeFilter. You must also pass a parameter along with any of the beginning or the ending points or both. \nNo parameter should be repeated."}},"isTopGoGetItem":{"type":"boolean","description":"Filters the Top Go-Get Items, which are high-demand, customer-favorite items that sellers should prioritize adding to their Walmart catalog. Set to `true` to return only Top Go-Get Items."},"isNewRecommendation":{"type":"boolean","description":"Filter for newly added recommendations. These are high-demand, customer-favorite items added to the recommendation set within the past 30 days. Set to `true` to return only these items."}},"description":"Different type of filters can be passed in this object."},"itemRecommendationUniqueIds":{"type":"array","description":"List of item recommendation unique ids to reject. \nThe size of the list should not exceed 100. \nYou cannot add filter criteria along with the itemRecommendationUniqueIds list","items":{"type":"string","description":"List of item recommendation unique ids to reject. \nThe size of the list should not exceed 100. \nYou cannot add filter criteria along with the itemRecommendationUniqueIds list"}},"rejectionCodes":{"type":"array","description":"List of rejection codes \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| NOT_SELLING_THESE_ITEMS | As a seller, I don’t intend to sell these items on Walmart  | string |\n| NOT_SELLING_THESE_BRANDS | As a seller, I don’t intend to sell these brands on Walmart  | string |\n| NOT_SELLING_THESE_CATEGORIES | As a seller, I don’t intend to sell these categories on Walmart  | string |\n| LIMITED_TO_OTHER_MARKETPLACE | As a seller, I intend to sell the rejected items only on other marketplaces  | string |\n| ALREADY_SELLING_ON_WALMART | I am already selling these items on Walmart  | string |\n| OTHER_REASON | Other reason for rejecting the items. customRejectionMessage is mandatory to pass if rejectionCode is OTHER_REASON.  | string |","items":{"type":"string","description":"List of rejection codes \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| NOT_SELLING_THESE_ITEMS | As a seller, I don’t intend to sell these items on Walmart  | string |\n| NOT_SELLING_THESE_BRANDS | As a seller, I don’t intend to sell these brands on Walmart  | string |\n| NOT_SELLING_THESE_CATEGORIES | As a seller, I don’t intend to sell these categories on Walmart  | string |\n| LIMITED_TO_OTHER_MARKETPLACE | As a seller, I intend to sell the rejected items only on other marketplaces  | string |\n| ALREADY_SELLING_ON_WALMART | I am already selling these items on Walmart  | string |\n| OTHER_REASON | Other reason for rejecting the items. customRejectionMessage is mandatory to pass if rejectionCode is OTHER_REASON.  | string |","enum":["NOT_SELLING_THESE_ITEMS","NOT_SELLING_THESE_BRANDS","NOT_SELLING_THESE_CATEGORIES","LIMITED_TO_OTHER_MARKETPLACE","ALREADY_SELLING_ON_WALMART","OTHER_REASON"]},"enum":["NOT_SELLING_THESE_ITEMS","NOT_SELLING_THESE_BRANDS","NOT_SELLING_THESE_CATEGORIES","LIMITED_TO_OTHER_MARKETPLACE","ALREADY_SELLING_ON_WALMART","OTHER_REASON"]},"customRejectionMessage":{"type":"string","description":"Custom rejection message if the rejection code is OTHER_REASON. This is required only when the rejectionCodes has OTHER_REASON in the list. Maximum length of the message is 500"}}},"CompetitorItemInfo":{"type":"object","properties":{"itemId":{"type":"string","description":"Competitor item id."},"url":{"type":"string","description":"Competitor item url."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Competitor's item information"},"ItemRecommendationDetails":{"type":"object","properties":{"title":{"type":"string","description":"Title of the recommended item"},"brand":{"type":"string","description":"Brand of the recommended item"},"category":{"type":"string","description":"Category of the recommended item"},"productType":{"type":"string","description":"Indicates the product type of an item that can be used to set up this item using Item Setup APIs or Item setup bulk upload."},"gtin":{"type":"string","description":"GTIN of the recommended item"},"upc":{"type":"string","description":"UPC of the recommended item"},"isbn":{"type":"string","description":"ISBN of the recommended item"},"ean":{"type":"string","description":"EAN of the recommended item"},"itemAvailabilityStatus":{"type":"string","description":"Item availability status of the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| EXISTING_IN_WALMART | Indicates that item is existing in Walmart. | string |\n| NEW_TO_WALMART | Indicates that item is new to Walmart. | string |","enum":["EXISTING_IN_WALMART","NEW_TO_WALMART"]},"potentialSales":{"type":"string","description":"Indicates the potential revenue the recommended item can bring in over a year. \nThis field does not promise the numbers indicated."},"potentialSalesRank":{"type":"string","description":"Rank of an item, from 1 to 10 (1 being highest), that indicates the relative potential sales of a product in a category. This is an estimate based on customer demand, historical category sales and other data points."},"isTopGoGetItem":{"type":"boolean","description":"Top Go‑Get Items are Customer favorite items sellers are recommended to prioritize and bring to their Walmart Catalog."},"shoppingTrends":{"type":"array","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","items":{"type":"string","description":"Indicates the demand type for an item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| MOST_SEARCHED_FOR | Item is most searched for in the market. | string |\n| BEST_SELLERS | Item is best seller in the market. | string |\n| DEAL_ITEMS | Item is in demand and is a part of deals in the other marketplaces. | string |","enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"enum":["MOST_SEARCHED_FOR","BEST_SELLERS","DEAL_ITEMS"]},"demandSalesTrends":{"type":"array","description":"Indicates the months of the year when high demand is observed for the recommended item. The sequence of month is in the decreasing order of the high demand. The values are comma separated. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","items":{"type":"string","description":"Indicates the months in a year when high demand is observed for the recommended item. \n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC | Months of the year. | string |","enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"enum":["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]},"walmart":{"type":"object","properties":{"itemId":{"type":"string","description":"Walmart item id."},"url":{"type":"string","description":"Walmart item url."},"wfsIndicator":{"type":"boolean","description":"Walmart fulfilment service indicator."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Walmart's item information"},"competitors":{"type":"array","description":"Competitor's item information","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Competitor item id."},"url":{"type":"string","description":"Competitor item url."},"itemPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."},"shippingPrice":{"type":"object","properties":{"amount":{"type":"number","description":"The numerical amount of the price. Example: 9.99","format":"double"},"currency":{"type":"string","description":"Currency associated with the price of the item recommendation."}},"description":"Competitor's item shipping price details of the item recommendation."}},"description":"Competitor's item information"}}},"description":"Details of the recommended item."},"ItemRecommendationPayload":{"type":"object","properties":{"itemRecommendationUniqueId":{"type":"string","description":"Unique identifier for the recommended item."},"itemDetails":{"type":"object","properties":{"title":{"type":"string","description":"Title of the recommended item"},"brand":{"type":"string","description":"Brand of the recommended item"},"category":{"type":"string","description":"Category of the recommended item"},"productType":{"type":
[...]
