{"openapi":"3.0.1","info":{"title":"Claims","version":"1.0","description":"Endpoints for creating and tracking Ship with Walmart (SWW) shipment-protection claims."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"paths":{"/v3/claims/shipment-protection/claim":{"post":{"tags":["Shipment Protection"],"summary":"Submit a claim","description":"Creates a shipment-protection claim. Send multipart/form-data with files, documentTypes, and payload.","operationId":"submitClaim","parameters":[{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["files","documentTypes","payload"],"properties":{"files":{"type":"array","description":"One or more supporting files (images, PDFs, etc.).","items":{"type":"string","format":"binary"}},"documentTypes":{"type":"array","description":"Maps each uploaded file to its document category.","items":{"type":"object","required":["fileName","type"],"properties":{"fileName":{"type":"string","description":"Original file name as uploaded."},"type":{"type":"string","enum":["PROOF_OF_DAMAGED_ITEM","INVOICE","OTHER","PPOD"],"description":"Document category."}},"description":"Object describing a single uploaded document."}},"payload":{"type":"object","description":"Claim details.","required":["purchaseOrderNo","purchaseOrderLineNo","salesOrderNo","salesOrderLineNo","fulfillerLineId","quantity","returnOrderId","claimType"],"properties":{"purchaseOrderNo":{"type":"string","description":"Marketplace purchase-order number associated with the item in this claim."},"purchaseOrderLineNo":{"type":"string","description":"Line number within the purchase order that maps to the claimed SKU."},"salesOrderNo":{"type":"string","description":"Customer sales-order number for the shipment."},"salesOrderLineNo":{"type":"string","description":"Line number within the sales order that maps to the claimed SKU."},"fulfillerLineId":{"type":"string","description":"Identifier for the fulfiller’s line item in the warehouse/fulfillment center manifest."},"quantity":{"type":"integer","format":"int32","description":"Number of units being claimed for this line."},"returnOrderId":{"type":"string","description":"Return-order ID that triggered or is linked to the claim."},"claimType":{"type":"string","enum":["LIT","LAD","DAMAGED"],"description":"Claim category: LIT (lost in transit), LAD (lost after delivery), or DAMAGED."},"notes":{"type":"string","description":"Free-form claim notes from the seller."}}}},"example":{"files":["file1.jpg","invoice.pdf"],"documentTypes":[{"fileName":"file1.jpg","type":"PROOF_OF_DAMAGED_ITEM"},{"fileName":"invoice.pdf","type":"INVOICE"}],"payload":{"purchaseOrderNo":"RAPMOCK1729803026938","purchaseOrderLineNo":"1","salesOrderNo":"RAPMOCK1729803026883","salesOrderLineNo":"1","fulfillerLineId":"1","quantity":3,"returnOrderId":"136900073772361154","claimType":"DAMAGED","notes":"Claim submission notes."}}},"encoding":{"files":{"contentType":"application/octet-stream"}}}}},"responses":{"200":{"description":"Claim submitted successfully","content":{"application/json":{"schema":{"type":"object"},"example":{"data":{"claimNumber":"1000000","message":"Claim submitted successfully"}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}}},"/v3/claims/shipment-protection":{"get":{"tags":["Shipment Protection"],"summary":"Get all claims","description":"Returns a paginated list of claims, with optional filters.","operationId":"listClaims","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":25},"description":"Maximum number of results to return in the response page (default 25, maximum 300)."},{"name":"offset","in":"query","schema":{"type":"integer","default":0},"description":"Zero‑based index of the first result to return (default 0). Use together with `limit` for pagination."},{"name":"claimsGroup","in":"query","schema":{"type":"string","enum":["OPEN","ACTION_NEEDED","CLOSED"]},"description":"Filter claims by broad status group: OPEN, ACTION_NEEDED, or CLOSED."},{"name":"claimNumber","in":"query","schema":{"type":"string"},"description":"Exact claim number for filtering (query) or identifying a specific claim (path)."},{"name":"purchaseOrderId","in":"query","schema":{"type":"string"},"description":"Filter by the Walmart purchase order ID associated with the claim."},{"name":"trackingNo","in":"query","schema":{"type":"string"},"description":"Filter by the package tracking number associated with the claim."},{"name":"claimTypes","in":"query","schema":{"type":"string"},"description":"Comma‑separated list of claim types to include (LIT, LAD, DAMAGED)."},{"name":"claimStatuses","in":"query","schema":{"type":"string"},"description":"Comma‑separated list of claim status codes to include (INITIATED, IN_REVIEW, NEED_INFO, etc.)."},{"name":"sortBy","in":"query","schema":{"type":"string","enum":["claimDate"]},"description":"Field to sort by; currently supports `claimDate`."},{"name":"sortOrder","in":"query","schema":{"type":"string","enum":["ASC","DESC"]},"description":"Sort direction: `ASC` for ascending or `DESC` for descending (default DESC)."},{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Claims retrieved successfully.","content":{"application/json":{"schema":{"type":"object"},"example":{"data":{"claims":[{"claimNumber":"5778778","claimDate":"2024-12-23 12:00","claimType":"LIT","purchaseOrderId":"123435944395390","claimAmount":{"amount":4.3,"currency":"USD"},"trackingNo":"1676033785260","status":"APPROVED"}],"totalPages":1,"currentPage":0,"totalElements":12}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}}},"/v3/claims/shipment-protection/claim/{claimNumber}":{"get":{"tags":["Shipment Protection"],"summary":"Get claim details","description":"Retrieves detailed information for a single claim.","operationId":"getClaimDetails","parameters":[{"name":"claimNumber","in":"path","required":true,"schema":{"type":"string"},"description":"Exact claim number for filtering (query) or identifying a specific claim (path)."},{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Details retrieved successfully.","content":{"application/json":{"schema":{"type":"object"},"example":{"data":{"claimInfo":{"claimNumber":1000004,"claimsGroup":"AWAITING_ACTION","claimType":"DAMAGED","status":"INITIATED","returnOrderId":"167901382063297","purchaseOrderId":"136167901382063297","orderNo":"100000417976032","trackingNo":"434777930100","carrier":"FedEx","claimAmount":{"amount":5.37,"currency":"USD"},"paymentStatus":"PENDING","autoRejectCountdownMessage":"8"},"orderDetails":{"customerName":"Ajay","fulfillmentCenterId":"10900015173","fulfillmentCenterName":"Shoes.com - 10900015173 - MP","shipMethod":"EXPEDITED","orderedDate":"Fri Mar 07 08:46:37 GMT 2025","deliverByDate":"Fri Mar 07 08:46:37 GMT 2025","shipByDate":"Fri Mar 07 08:46:37 GMT 2025","itemsDetails":[{"quantity":"2","sku":"REWARDSY119","productName":"Garden of Life Dr. Formulated Probiotics Once Daily Women's Shelf Stable 30 Capsules","chargesPerItem":{"amount":5.47,"currency":"USD"}}]}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}},"patch":{"tags":["Shipment Protection"],"summary":"Submit additional information","description":"Adds documents or notes to an existing claim when Walmart requests more details.","operationId":"submitAdditionalInfo","parameters":[{"name":"claimNumber","in":"path","required":true,"schema":{"type":"string"},"description":"Exact claim number for filtering (query) or identifying a specific claim (path)."},{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["files","documentTypes"],"properties":{"files":{"type":"array","description":"One or more additional supporting files.","items":{"type":"string","format":"binary"}},"documentTypes":{"type":"array","description":"Mapping for each uploaded file.","items":{"type":"object","required":["fileName","type"],"properties":{"fileName":{"type":"string","description":"Original file name for the uploaded document."},"type":{"type":"string","enum":["PROOF_OF_DAMAGED_ITEM","INVOICE","OTHER","PPOD"],"description":"Document category; one of PROOF_OF_DAMAGED_ITEM, INVOICE, OTHER, PPOD."}},"description":"Object describing a single uploaded document."}},"notes":{"type":"string","description":"Additional information requested by Walmart"}},"example":{"files":["item_damage.jpg"],"documentTypes":[{"fileName":"item_damage.jpg","type":"PROOF_OF_DAMAGED_ITEM"}],"notes":"Here is the picture you requested."}},"encoding":{"files":{"contentType":"application/octet-stream"}}}}},"responses":{"200":{"description":"Additional information submitted successfully.","content":{"application/json":{"schema":{"type":"object"},"example":{"data":{"message":"Claim documents uploaded successfully","documents":[{"id":"8958787967C00000D46C3AC4","fileName":"5bdf8b64-78b4-4088-8029-0c56d1432973","fileType":"jpeg","documentType":"OTHER"}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}}},"/v3/claims/shipment-protection/claim/{claimNumber}/history":{"get":{"tags":["Shipment Protection"],"summary":"Get claim history","description":"Returns a chronological log of status changes, notes, and uploaded documents.","operationId":"getClaimHistory","parameters":[{"name":"claimNumber","in":"path","required":true,"schema":{"type":"string"},"description":"Exact claim number for filtering (query) or identifying a specific claim (path)."},{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"History retrieved successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"currentClaimStatus":{"type":"string","enum":["INITIATED","IN_REVIEW","NEED_INFO","APPROVED","PAYMENT_INITIATED","PAID_OUT","REJECTED"]},"history":{"type":"array","items":{"type":"object","properties":{"author":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"status":{"type":"string"},"notes":{"type":"string"},"documents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fileName":{"type":"string"},"fileType":{"type":"string"},"documentType":{"type":"string","enum":["PROOF_OF_DAMAGED_ITEM","INVOICE","OTHER","PPOD"]}}}}}}}}}}},"example":{"data":{"currentClaimStatus":"ACTION_NEEDED","history":[{"author":"Walmart Agent","timestamp":"2025-02-10 05:04 PM","status":"ACTION_NEEDED","notes":"I’m reviewing your case #00000000 and is necessary to add some pictures of the item that you sent to compare them to the item that you received. Could be a different item but same SKU."},{"author":"Walmart Agent","timestamp":"2025-02-10 05:04 PM","status":"IN_REVIEW","notes":"Please find here additional information substantiating my claim on the shipping protection of this return order from the seller.","documents":[{"id":"895711A7AA400000FB4D3BEB","fileName":"fedex","fileType":"jpg","documentType":"PPOD"},{"id":"8957124524A400000FB4D3BEB","fileName":"ups","fileType":"png","documentType":"OTHER"}]}]}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}}},"/v3/claims/shipment-protection/claim/{claimNumber}/documents":{"post":{"tags":["Shipment Protection"],"summary":"Download claim documents","description":"Returns a ZIP file containing one or more uploaded claim documents.","operationId":"downloadClaimDocuments","parameters":[{"name":"claimNumber","in":"path","required":true,"schema":{"type":"string"},"description":"Exact claim number for filtering (query) or identifying a specific claim (path)."},{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and is used to track and debug issues; use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"name":"WM_SVC.NAME","in":"header","description":"Walmart service name—for Marketplace APIs simply use `Walmart Service Name` or the service identifier provided by Walmart.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["documentIds"],"properties":{"documentIds":{"type":"array","items":{"type":"string"},"description":"Array of document IDs to download"}},"example":{"documentIds":["8963F684F4400000D47C1AE5","896C4BF9E180000086B5363F"]}}}}},"responses":{"200":{"description":"ZIP file of documents","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"info":{"type":"string"},"code":{"type":"string"},"description":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"}}}}}},"example":{"errors":[{"info":"info message","code":"error code","description":"detailedMessage","severity":"ERROR","category":"DATA etc"}]}}}}}}}},"components":{}}
