{"openapi":"3.0.1","info":{"title":"Disputes Management","version":"1.0","description":"The Dispute Management APIs allows you to submit duplicate-listing disputes and check status for up to 100 items per request. For details on throttling, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/rate-limiting\">Walmart throttling documentation</a>."},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production environment base URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox environment base URL"}],"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"paths":{"/v3/items/dispute/duplicates/status":{"post":{"tags":["Disputes"],"summary":"Dispute status","description":"Retrieve the duplicate dispute status for up to 100 items.\n\nProvide `productId` and `productIdType` for each item in the request body. Typical HTTP outcomes: 200 (all items processed), 206 (partial content), 404 (no item found). Item status values may include: IN_REVIEW, IS_DUPLICATE, NOT_DUPLICATE, ERROR.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-disputes/"},"operationId":"postStatus","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. Required for authenticating requests.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"Unique ID that represents the consumer request channel. Use the channel type provided during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"Unique ID for each API call used for tracking and debugging. Use a randomly generated GUID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"x-readme":{"code-samples":[{"language":"curl","code":"curl -X 'POST' \n  'https://marketplace.walmartapis.com/v3/items/dispute/duplicates/status' \\ \n  -H 'accept: application/json' \\ \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \\ \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \\ \n  -H 'WM_SVC.NAME: Walmart Service Name' \\ \n  -H 'Content-Type: application/xml' \n  -d '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<DisputeContestRequest>\n<Issues>\n<productId>string</productId>\n<productIdType>string</productIdType>\n</Issues>\n</DisputeContestRequest>'","name":"xml example"},{"language":"curl","code":"curl -X 'POST'  \n  'http://marketplace.walmartapis.com/v3/items/dispute/duplicates/status' \n  -H 'accept: application/json' \n   -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n   -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n   -H 'WM_SVC.NAME: Walmart Service Name' \n   -H 'Content-Type: application/json'  \n -d'{\n\"issues\":[\n{\n\"productId\":\"string\",\n\"productIdType\":\"string\"\n}]}'","name":"JSON example"}]},"requestBody":{"description":"Request body containing items to check or contest for duplicates (maximum 100).","content":{"application/json":{"schema":{"required":["issues"],"type":"object","properties":{"issues":{"type":"array","description":"List of items to process.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to process in the request.","xml":{"name":"Issues"}}}},"xml":{"name":"DisputeContestRequest"}}},"application/xml":{"schema":{"required":["issues"],"type":"object","properties":{"issues":{"type":"array","description":"List of items to process.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to process in the request.","xml":{"name":"Issues"}}}},"xml":{"name":"DisputeContestRequest"}}}},"required":true},"responses":{"200":{"description":"Response received for all items.","content":{"application/json":{"schema":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses for the requested items.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Walmart product ID assigned when the item is listed on Walmart.com."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."},"status":{"type":"string","description":"Dispute processing status for the item. Allowed values may include: IN_REVIEW, IS_DUPLICATE, NOT_DUPLICATE, ERROR, PROCESSING, COMPLETED."},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated."}},"description":"Status of a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeStatusResponses"}},"example":{"itemResponse":[{"productId":"3V47ZGPR09H5","productIdType":"WPID","status":"IN_REVIEW","lastUpdatedDate":"<TIMESTAMP: Unix Epoch timestamp>"},{"productId":"12G6TANIZ4WR","productIdType":"WPID","status":"PROCESSING","lastUpdatedDate":"<TIMESTAMP: Unix Epoch timestamp>"},{"productId":"9JX7AGCLSR8H","productIdType":"WPID","status":"ERROR","lastUpdatedDate":"<TIMESTAMP: Unix Epoch timestamp>"},{"productId":"12G6TANIZ4WR","productIdType":"WPID","status":"COMPLETED","lastUpdatedDate":"<TIMESTAMP: Unix Epoch timestamp>"}]}},"application/xml":{"schema":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses for the requested items.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Walmart product ID assigned when the item is listed on Walmart.com."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."},"status":{"type":"string","description":"Dispute processing status for the item. Allowed values may include: IN_REVIEW, IS_DUPLICATE, NOT_DUPLICATE, ERROR, PROCESSING, COMPLETED."},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated."}},"description":"Status of a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeStatusResponses"}},"example":"<DisputeStatusResponse>\n<itemResponse>\n    <itemResponse>\n        <productId>3V47ZGPR09H5</productId>\n        <productIdType>WPID</productIdType>\n        <status>IN_REVIEW</status>\n        <lastUpdatedDate>TIMESTAMP: Unix Epoch timestamp</lastUpdatedDate>\n    </itemResponse>\n    <itemResponse>\n        <productId>12G6TANIZ4WR</productId>\n        <productIdType>WPID</productIdType>\n        <status>PROCESSING</status>\n        <lastUpdatedDate>TIMESTAMP: Unix Epoch timestamp</lastUpdatedDate>\n    </itemResponse>\n    <itemResponse>\n        <productId>9JX7AGCLSR8H</productId>\n        <productIdType>WPID</productIdType>\n        <status>ERROR</status>\n        <lastUpdatedDate>TIMESTAMP: Unix Epoch timestamp</lastUpdatedDate>\n    </itemResponse>\n    <itemResponse>\n        <productId>12G6TANIZ4WR</productId>\n        <productIdType>WPID</productIdType>\n        <status>PROCESSING</status>\n        <lastUpdatedDate>TIMESTAMP: Unix Epoch timestamp</lastUpdatedDate>\n    </itemResponse>\n</itemResponse>\n</DisputeStatusResponse>"}}},"206":{"description":"Partial response received.","content":{"application/json":{"schema":{"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses returned for items that were processed.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item.","example":"3V47ZGPR09H5"},"productIdType":{"type":"string","description":"Type of product identifier.","example":"WPID"},"status":{"type":"string","description":"Dispute processing status for the item.","example":"IN_REVIEW"},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated.","example":"<TIMESTAMP: Unix Epoch timestamp>"}},"description":"Status of a single item."}}}}},"application/xml":{"schema":{"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses returned for items that were processed.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item.","example":"3V47ZGPR09H5"},"productIdType":{"type":"string","description":"Type of product identifier.","example":"WPID"},"status":{"type":"string","description":"Dispute processing status for the item.","example":"IN_REVIEW"},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated.","example":"<TIMESTAMP: Unix Epoch timestamp>"}},"description":"Status of a single item."}}}}}}},"404":{"description":"No item response.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code. \n","example":"URI_NOT_FOUND.GMP_ITEM_QUERY_API"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Additional details about the error.\n\n","example":"Requested URI could not be found."},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}}}},"application/xml":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code. \n","example":"URI_NOT_FOUND.GMP_ITEM_QUERY_API"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Additional details about the error.\n\n","example":"Requested URI could not be found."},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Key-value identifiers that help correlate related errors.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"HTTP status code or service error code.","example":"500"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"Some error occurred"},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: REQUEST\n","example":"REQUEST"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]","xml":{"name":"causes"}}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}},"xml":{"name":"Error500ForDisputes"}}},"application/xml":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"HTTP status code or service error code.","example":"500"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"Some error occurred"},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: REQUEST\n","example":"REQUEST"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]","xml":{"name":"causes"}}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}},"xml":{"name":"Error500ForDisputes"}}}}}}}},"/v3/items/dispute/duplicates/contest":{"post":{"tags":["Disputes"],"summary":"Dispute submission","description":"Submit duplicate-listing disputes for up to 100 items. Provide `productId` and `productIdType` for each item in the request body.","externalDocs":{"description":"View Guide","url":"doc/us/mp/us-mp-disputes/"},"operationId":"postContest","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. Required for authenticating requests.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"Unique ID that represents the consumer request channel. Use the channel type provided during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"AUnique ID for each API call used for tracking and debugging. Use a randomly generated GUID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"x-readme":{"code-samples":[{"language":"curl","code":"curl -X 'POST' \n  'https://sandbox.walmartapis.com/v3/items/dispute/duplicates/contest' \n  -H 'accept: application/json' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/xml' \n  -d '<?xml version=\"1.0\" encoding=\"UTF-8\"?><DisputeContestRequest>\n<Issues>\n<productId>string</productId>\n<productIdType>string</productIdType>\n</Issues>\n</DisputeContestRequest>'","name":"xml example"},{"language":"curl","code":"curl -X 'POST'  \n  'https://sandbox.walmartapis.com/v3/items/dispute/duplicates/contest'  \n  -H 'accept: application/json' \n -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....'  \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6'  \n  -H 'WM_SVC.NAME: Walmart Service Name'  \n  -H 'Content-Type: application/json' \n  -d '{ \n  \"issues\": [ \n    { \n       \"productId\": \"string\", \n       \"productIdType\": \"string\" \n     } \n   ] \n }'","name":"json example"}]},"requestBody":{"description":"Request body containing items to submit for duplicate dispute (maximum 100).","content":{"application/json":{"schema":{"required":["issues"],"type":"object","properties":{"issues":{"type":"array","description":"List of items to dispute.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to dispute.","xml":{"name":"Issues"}}}},"xml":{"name":"DisputeContestRequest"}}},"application/xml":{"schema":{"required":["issues"],"type":"object","properties":{"issues":{"type":"array","description":"List of items to dispute.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to dispute.","xml":{"name":"Issues"}}}},"xml":{"name":"DisputeContestRequest"}}}},"required":true},"responses":{"200":{"description":"Request acknowledged.","content":{"application/json":{"schema":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Submission result for each item.","items":{"type":"object","properties":{"status":{"type":"string","description":"Submission acknowledgment status. Allowed values: ACKNOWLEDGED.","enum":["ACKNOWLEDGED"]}},"description":"Submission result for a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeContestResponses"}},"example":{"status":"ACKNOWLEDGED"}},"application/xml":{"schema":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Submission result for each item.","items":{"type":"object","properties":{"status":{"type":"string","description":"Submission acknowledgment status. Allowed values: ACKNOWLEDGED.","enum":["ACKNOWLEDGED"]}},"description":"Submission result for a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeContestResponses"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:status xmlns:ns2=\"http://walmart.com/\">ACKNOWLEDGED</ns2:status>\n"}}},"404":{"description":"No item response.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code. \n","example":"URI_NOT_FOUND.GMP_ITEM_QUERY_API"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Additional details about the error.\n\n","example":"Requested URI could not be found."},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}}}},"application/xml":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code. \n","example":"URI_NOT_FOUND.GMP_ITEM_QUERY_API"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Additional details about the error.\n\n","example":"Requested URI could not be found."},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}}}}}},"500":{"description":"Internal server error.","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"HTTP status code or service error code.","example":"500"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"Some error occurred"},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: REQUEST\n","example":"REQUEST"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]","xml":{"name":"causes"}}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}},"xml":{"name":"Error500ForDisputes"}}},"application/xml":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"HTTP status code or service error code.","example":"500"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"Some error occurred"},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: REQUEST\n","example":"REQUEST"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]","xml":{"name":"causes"}}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}},"xml":{"name":"Error500ForDisputes"}}}}}}}}},"components":{"schemas":{"DisputeContestRequest":{"required":["issues"],"type":"object","properties":{"issues":{"type":"array","description":"List of items to process (maximum 100).","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to process in the request.","xml":{"name":"Issues"}}}},"xml":{"name":"DisputeContestRequest"}},"Issues":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."}},"description":"Item to process in the request.","xml":{"name":"Issues"}},"DisputeStatusResponse":{"type":"object","properties":{"productId":{"type":"string","description":"Walmart product ID assigned when the item is listed on Walmart.com."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."},"status":{"type":"string","description":"Dispute processing status for the item. Allowed values may include: IN_REVIEW, IS_DUPLICATE, NOT_DUPLICATE, ERROR, PROCESSING, COMPLETED."},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated."}},"description":"Status of a single item.","xml":{"name":"DisputeContestResponse"}},"DisputeStatusResponses":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses for the requested items.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Walmart product ID assigned when the item is listed on Walmart.com."},"productIdType":{"type":"string","description":"Type of product identifier. Allowed values may include: WPID, GTIN, UPC, EAN, SKU."},"status":{"type":"string","description":"Dispute processing status for the item. Allowed values may include: IN_REVIEW, IS_DUPLICATE, NOT_DUPLICATE, ERROR, PROCESSING, COMPLETED."},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated."}},"description":"Status of a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeStatusResponses"}},"Status206ItemResponse":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item.","example":"3V47ZGPR09H5"},"productIdType":{"type":"string","description":"Type of product identifier.","example":"WPID"},"status":{"type":"string","description":"Dispute processing status for the item.","example":"IN_REVIEW"},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated.","example":"<TIMESTAMP: Unix Epoch timestamp>"}},"description":"Status of a single item."},"Status206Response":{"type":"object","properties":{"itemResponse":{"type":"array","description":"Statuses returned for items that were processed.","items":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID of the item.","example":"3V47ZGPR09H5"},"productIdType":{"type":"string","description":"Type of product identifier.","example":"WPID"},"status":{"type":"string","description":"Dispute processing status for the item.","example":"IN_REVIEW"},"lastUpdatedDate":{"type":"string","description":"Unix epoch timestamp (milliseconds) when the item status was last updated.","example":"<TIMESTAMP: Unix Epoch timestamp>"}},"description":"Status of a single item."}}}},"Error404ForDisputes":{"type":"object","properties":{"code":{"type":"string","description":"Machine-readable error code. \n","example":"URI_NOT_FOUND.GMP_ITEM_QUERY_API"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Additional details about the error.\n\n","example":"Requested URI could not be found."},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}}},"ErrorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}},"Error500ForDisputes":{"type":"object","properties":{"code":{"type":"string","description":"HTTP status code or service error code.","example":"500"},"description":{"type":"string","description":"Human-readable error description.\n\n","example":"Some error occurred"},"severity":{"type":"string","description":"Error severity.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Error category.\n\nExample: REQUEST\n","example":"REQUEST"},"causes":{"type":"array","description":"List of contributing causes.","example":[],"items":{"type":"string","description":"Cause entry.","example":"[]","xml":{"name":"causes"}}},"errorIdentifiers":{"type":"object","description":"Key-value identifiers that help correlate related errors.","example":{}}},"xml":{"name":"Error500ForDisputes"}},"DisputeContestResponse":{"type":"object","properties":{"status":{"type":"string","description":"Submission acknowledgment status. Allowed values: ACKNOWLEDGED.","enum":["ACKNOWLEDGED"]}},"description":"Submission result for a single item.","xml":{"name":"DisputeContestResponse"}},"DisputeContestResponses":{"required":["itemResponse"],"type":"object","properties":{"itemResponse":{"type":"array","description":"Submission result for each item.","items":{"type":"object","properties":{"status":{"type":"string","description":"Submission acknowledgment status. Allowed values: ACKNOWLEDGED.","enum":["ACKNOWLEDGED"]}},"description":"Submission result for a single item.","xml":{"name":"DisputeContestResponse"}}}},"xml":{"name":"DisputeContestResponses"}}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base64-encodes the Client ID and Client Secret obtained during integration.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"Access token obtained from the Token API. Required for authenticating requests.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"Unique ID that represents the consumer request channel. Use the channel type provided during onboarding.","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"Unique ID for each API call used for tracking and debugging. Use a randomly generated GUID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},"accept":{"name":"Accept","in":"header","description":"Media types supported by this API (for example, application/json or application/xml).","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Media type of the request body (for example, application/json or application/xml).","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
