{"openapi":"3.0.1","info":{"title":"Insights Management","version":"1.0","description":"The Insights Management API provides sellers with actionable information to optimize their listings:\n*   Sellers can locate best-selling items with Trending Items API so they can add those to their catalog of item offerings. \n*   Sellers can find out reasons why items go unpublished, fix the issue and republish those items.\n*   Sellers can use Listing Quality APIs to gather listing quality metrics about their items and identify any issues that they can fix.\n*   Sellers can obtain their overall Listing Quality score, and locate any categories that show items with listing quality issues."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"accessToken":[]}],"paths":{"/v3/insights/items/listingQuality/items":{"post":{"tags":["Insight"],"summary":"Item Listing Quality Details","description":"Get each item's listing quality details including: item quality score, offer score, content score and issues, and item performance.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-insights/#3880"},"operationId":"itemsDetailsForListing","parameters":[{"name":"limit","in":"query","description":"Specify number of items to return. If no limit is specified, API returns 200 items by default.","required":false,"schema":{"type":"string","default":"200"}},{"name":"nextCursor","in":"query","description":"Specify pagination for long list of items.","required":false,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request payload","content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type\n| --- | ----------- | -------\n| title | Product Title | string |\n| sku | An arbitrary alphanumeric unique ID, seller-specified, identifying each item | string |\n| itemId | Specifies the item identifier generated by Walmart | string |","enum":["title","sku","itemId"]},"value":{"type":"string"}}},"filters":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type\n| --- | ----------- | -------\n| contentDiscoverabilityPercentage | Item's content and discoverability score expressed as a percentage. | string |\n| qualityScorePercentage | Item's overall Listing Quality score, rated as a percentage. | string |\n| offerPercentage | Item's offer score, based on: item price, shipping price and speed, and in-stock rate.| string |\n| ratingReviewsPercentage | Rating and reviews score, as a percentage. | string |\n| viewTrendingItems | Indicates to return details for trending items that have non-zero page views. Acceptable values are \"true\" if pageView > 0, or \"false\" if pageView >= 0. | string |\n| viewPostPurchaseItems | Show items with post-purchase quality issues. If item has post-purchase value >= 1, it filters all items greater or equal based on post purchase value. | string |\n| wfsFlag | Show WFS-eligible items. Value of this parameter can be true or false. | string |\n| categoryName | Item's category name. | string |\n| hasIssues | Provides a count of item with issues. | integer |\n| productType | Product type to classify the item (e.g. Pants). | string|\n| attributeList | List of all available filter attributes. | string |\n| productTypes | List of all available product. | List<String> |\n| brandList | List of all available brand. | List<String> |\n| oos | Filter using out of stock offer based on days. Min value = 0, Max Value = 7. | integer |\n| fastAndFreeShipping | Possible values are 1 for offers eligible for free shipping and 0 for offers not eligible for free shipping. No value shows all the offers. | integer |\n| priceMeetBeatFlag | Possible values are -1 for no match, 0 for lose, 1 for meets and 2 for beats. No value shows all the offers. | integer |\n| conditionList | Specifies the condition of the item. Can take values (New, New without box, New without tags, Restored Premium, Restored, Remanufactured, Open Box, Pre-Owned: Like New, Pre-Owned: Good, Pre-Owned: Fair, New with defects) | List<String>","enum":["contentDiscoverabilityPercentage","qualityScorePercentage","offerPercentage","ratingReviewsPercentage","viewTrendingItems","viewPostPurchaseItems","wfsFlag","categoryName","hasIssues","productType","attributeList","productTypes","brandList","oos","fastAndFreeShipping","priceMeetBeatFlag","conditionList"]},"op":{"type":"string","enum":["equals","between"]},"values":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"examples":{"Query for SKU":{"value":{"query":{"field":"sku","value":"WB 433KP412-12"}}},"Filter for quality score %":{"value":{"filters":[{"field":"qualityScorePercentage","op":"between","values":[10,50]}]}},"Filter for productType":{"value":{"filters":[{"field":"viewPostPurchaseItems","op":"equals","values":[0]},{"field":"productType","op":"equals","values":["Music"]}]}},"Filter for condition":{"value":{"filters":[{"field":"conditionList","op":"equals","values":["New","New without tags"]}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"nextCursor":{"type":"string"},"totalItems":{"type":"string"},"payload":{"type":"array","items":{"type":"object","properties":{"productId":{"type":"string"},"scoreDetails":{"type":"object","properties":{"offer":{"type":"object","properties":{"issueCount":{"type":"integer","format":"int32"},"price":{"type":"object","properties":{"totalIssue":{"type":"integer","format":"int32"},"price":{"type":"number","format":"double"},"issueTitle":{"type":"string"},"competitorPrice":{"type":"number","format":"double"},"walmartShipping":{"type":"number","format":"double"},"competitorShipping":{"type":"number","format":"double"},"competitorUrl":{"type":"string"},"score":{"type":"number","format":"double"},"additionalDes":{"type":"string"},"asin":{"type":"string"}}},"shippingSpeed":{"type":"object","properties":{"totalIssue":{"type":"integer","format":"int32"},"shippingType":{"type":"string"},"issueTitle":{"type":"string"},"issueDesc":{"type":"string"},"score":{"type":"integer","format":"int32"}}},"publishAndTransactable":{"type":"object","properties":{"issueTitle":{"type":"string"},"totalIssue":{"type":"integer","format":"int32"},"maxIssue":{"type":"integer","format":"int32"},"issues":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"publishFlag":{"type":"boolean"},"transactableFlag":{"type":"boolean"}}}},"score":{"type":"integer","format":"int32"}}},"fastShippingSpeed":{"type":"object","properties":{"issueTitle":{"type":"string"},"issueDesc":{"type":"string"},"score":{"type":"integer","format":"int32"}}},"freeShippingSpeed":{"type":"object","properties":{"issueTitle":{"type":"string"},"issueDesc":{"type":"string"},"score":{"type":"integer","format":"int32"}}}}},"ratingReviews":{"type":"object","properties":{"maxRating":{"type":"string"},"ratingCount":{"type":"string"}}},"postPurchase":{"type":"object","properties":{"cancellations":{"type":"object","properties":{"defectedOrder":{"type":"integer","format":"int32"},"totalOrder":{"type":"integer","format":"int32"},"rate":{"type":"integer","format":"int32"}}},"returns":{"type":"object"},"issueCount":{"type":"string"},"otd":{"type":"object","properties":{"defectedOrder":{"type":"integer","format":"int32"},"totalOrder":{"type":"integer","format":"int32"},"rate":{"type":"integer","format":"int32"}}}}},"contentAndDiscoverability":{"type":"object","properties":{"issueCount":{"type":"integer","format":"int32"},"issues":{"type":"array","items":{"type":"object","properties":{"score":{"type":"number","format":"double"},"isEditable":{"type":"boolean"},"attributeValue":{"type":"string"},"isSpecAttribute":{"type":"boolean"},"attributeName":{"type":"string"},"issueCount":{"type":"integer","format":"int32"},"issues":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"value":{"type":"string"}}}}}}}}}}},"wfsEnabled":{"type":"string"},"priority":{"type":"string"},"productName":{"type":"string"},"itemId":{"type":"string"},"sellerId":{"type":"string"},"pageViews":{"type":"string"},"stats":{"type":"object","properties":{"gmv":{"type":"object","properties":{"amount":{"type":"string"},"currency":{"type":"string"}}},"pageViews":{"type":"string"},"orders":{"type":"string"},"conversionRate":{"type":"string"},"totalUnits":{"type":"string"}}},"imageUrL":{"type":"string"},"qualityScore":{"type":"object","properties":{"score":{"type":"number","format":"double"},"values":{"type":"array","items":{"type":"object","properties":{"scoreType":{"type":"string"},"scoreValue":{"type":"integer","format":"int32"},"impact":{"type":"string"}}}}}},"offerId":{"type":"string"},"sku":{"type":"string"},"category":{"type":"string"},"postPurchaseIssues":{"type":"string"},"productType":{"type":"string"},"condition":{"type":"string"},"fastShippingRegionsCount":{"type":"integer","format":"int32"},"freeShippingRegionsCount":{"type":"integer","format":"int32"},"fastShippingFlag":{"type":"integer","format":"int32"},"freeShippingFlag":{"type":"integer","format":"int32"},"last30DaysConversionRate":{"type":"number","format":"double"},"last30DaysPageViews":{"type":"integer","format":"int32"},"gmv":{"type":"number","format":"double"},"isCustomerFavorites":{"type":"boolean"},"isInStock":{"type":"boolean"},"isFastAndFreeShipping":{"type":"boolean"}}}},"status":{"type":"string"}}},"examples":{"Query for SKU":{"value":{"nextCursor":"AoIFQC8AAAAAAAAATQwRUM0RUVGQTRCODRCNUE5NjE2QjNEMUFGNUNDNUNC","totalItems":1,"payload":[{"qualityScoreData":{"score":15.5,"values":[{"impact":"MEDIUM","scoreType":"content & Discoverability","scoreValue":62},{"impact":"HIGH","scoreType":"offer","scoreValue":0},{"impact":"MEDIUM","scoreType":"Rating & Reviews","scoreValue":0},{"impact":"MEDIUM","scoreType":"Price competitiveness","scoreValue":0},{"impact":"LOW","scoreType":"Published and in stock","scoreValue":0},{"impact":"HIGH","scoreType":"Shipping speed","scoreValue":0}]},"productId":"3F82A2A8W0DJ","scoreDetails":{"offer":{"shippingSpeed":{"totalIssue":0,"score":0,"issueDesc":"Please consider providing free ThreeDay Shipping (enable through Shipping Templates) or TwoDay Shipping for customers","issueTitle":"Consider Faster Shipping","shippingType":"Value"},"price":{"totalIssue":1,"score":null,"walmartShipping":0,"additionalDes":null,"competitorShipping":0,"competitorPrice":{"amount":34.95,"currency":"USD"},"price":{"amount":36.29,"currency":"USD"},"issueTitle":"Price Not Competitive","asin":"B00PDHPL5Y"},"publishAndTransactable":{"score":0,"issueTitle":"Issue Detected","maxIssue":7,"totalIssue":7,"issues":[{"date":"2021-05-18","transactableFlag":false,"publishFlag":true},{"date":"2021-05-17","transactableFlag":false,"publishFlag":true},{"date":"2021-05-16","transactableFlag":false,"publishFlag":true},{"date":"2021-05-15","transactableFlag":false,"publishFlag":true},{"date":"2021-05-14","transactableFlag":false,"publishFlag":true},{"date":"2021-05-13","transactableFlag":false,"publishFlag":true},{"date":"2021-05-12","transactableFlag":false,"publishFlag":true}]},"issueCount":9},"contentAndDiscoverability":{"issueCount":12,"issues":[{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"capacity","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"Plastic","isSpecAttribute":false,"attributeName":"material","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"manufacturer_part_number","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":99.9,"isEditable":true,"attributeValue":"Oasis Supply","isSpecAttribute":true,"attributeName":"brand","issueCount":0},{"score":100,"isEditable":true,"attributeValue":"New","isSpecAttribute":false,"attributeName":"condition","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"color","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"00616450784447","isSpecAttribute":false,"attributeName":"gtin","issueCount":0},{"score":100,"isEditable":true,"attributeValue":"12","isSpecAttribute":false,"attributeName":"package_quantity","issueCount":0},{"score":100,"isEditable":false,"attributeValue":"Multi use","isSpecAttribute":false,"attributeName":"recommended_use","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"food_storage_jar_and_container_type","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":45,"isEditable":true,"attributeValue":"Dimensions:  length: 12.5\" - width: 9 1/2\"Base width at highest point: 2 3/8\"Base width at lowest point: 2\" - total compartment height: 3 1/2\"Compartment top diameter: 2 1/4\" - compartment bottom diameter: 2\"High dome. Crystal clear ,12 per order","isSpecAttribute":true,"attributeName":"product_long_description","issueCount":1,"issues":[{"title":"NOT_ENOUGH_BULLET_POINTS","value":"This description includes 0 key feature bullets, while it should contain 5 or more. Please include more key features."}]},{"score":0,"isEditable":true,"isSpecAttribute":true,"attributeName":"number_of_pieces","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":71.4,"isEditable":true,"attributeValue":"Oasis Supply 12-Compartment Hinged High Dome Clear Cupcake Container, Clear, 12-Pack","isSpecAttribute":true,"attributeName":"product_name","issueCount":1,"issues":[{"title":"MISSING_KEY_ATTRIBUTES","value":"This title includes key attributes such as 'brand', but is missing others such as 'capacity', 'material', and 'recommended use'."}]},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"features","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"This high dome clear cupcake container comes with 12 individual compartments to store a dozen of your delectable cupcakes or muffins. This container is great for bakeries, grocery stores, and catering businesses looking to transport desserts to their events. The high dome structure helps make sure that decorative icing or toppings stay pristine during travel. The lid is detachable, so you'll be able to use this container as its own display without worrying about the top of the lid getting in the way. Just take the top off after your treats have reached their destination, and you're all set up with a grab-and-go dessert station. This container provides a tight, reliable seal, while the crystal clear OPS plastic construction gives your products optimum marketability.","isSpecAttribute":true,"attributeName":"product_short_description","issueCount":0},{"score":46.6,"attributeValue":"2","isSpecAttribute":true,"attributeName":"images","issueCount":5,"issues":[{"title":"IMAGE_COUNT_TOO_LOW","value":"This item has only 2 image(s), while this category requires the item have 5 or more images. Please add more images."}]},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"shape","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]}]},"ratingReviews":{"maxRating":5,"ratingCount":0}},"wfsEnabled":0,"priority":"LOW","categoryName":"Food & Beverage","updatedTimestamp":"2021-05-20 12:56:28.984","productName":"Oasis Supply 12-Compartment Hinged High Dome Clear Cupcake Container, Clear, 12-Pack","itemId":"916854860","stats":{"orders":"0","conversionRate":"0","gmvAmount":{"amount":"0","currency":"USD"},"totalUnits":"0"},"sku":"WB 433KP412-12","condition":"New","productType":"Food Storage Jars & Containers","trends":[{"statsType":"GMV"},{"statsType":"pageViews"},{"statsType":"orders"},{"statsType":"conversionRate"},{"values":[{"value":{"currency":"USD"}}],"statsType":"totalUnits"}],"last30DaysConversionRate":34.3,"last30DaysPageViews":983,"gmv":342.3,"isCustomerFavorites":true,"isInStock":true,"isFastAndFreeShipping":true}],"status":"OK"}},"Filter for quality score %":{"value":{"nextCursor":"AoIFQC8AAAAAAAA/ATQwRUM0RUVGQTRCODRCNUE5NjE2QjNEMUFGNUNDNUNC","totalItems":1,"payload":[{"qualityScoreData":{"score":15.5,"values":[{"impact":"MEDIUM","scoreType":"content & Discoverability","scoreValue":62},{"impact":"HIGH","scoreType":"offer","scoreValue":0},{"impact":"MEDIUM","scoreType":"Rating & Reviews","scoreValue":0},{"impact":"MEDIUM","scoreType":"Price competitiveness","scoreValue":0},{"impact":"LOW","scoreType":"Published and in stock","scoreValue":0},{"impact":"HIGH","scoreType":"Shipping speed","scoreValue":0}]},"productId":"3F82A2A8W0DJ","scoreDetails":{"offer":{"shippingSpeed":{"totalIssue":1,"score":0,"issueDesc":"Please consider providing free ThreeDay Shipping (enable through Shipping Templates) or TwoDay Shipping for customers","issueTitle":"Consider Faster Shipping","shippingType":"Value"},"price":{"totalIssue":1,"score":null,"walmartShipping":0,"additionalDes":null,"competitorShipping":0,"competitorPrice":{"amount":34.95,"currency":"USD"},"price":{"amount":36.29,"currency":"USD"},"issueTitle":"Price Not Competitive","asin":"B00PDHPL5Y"},"publishAndTransactable":{"score":0,"issueTitle":"Issue Detected","maxIssue":7,"totalIssue":7,"issues":[{"date":"2021-05-18","transactableFlag":false,"publishFlag":true},{"date":"2021-05-17","transactableFlag":false,"publishFlag":true},{"date":"2021-05-16","transactableFlag":false,"publishFlag":true},{"date":"2021-05-15","transactableFlag":false,"publishFlag":true},{"date":"2021-05-14","transactableFlag":false,"publishFlag":true},{"date":"2021-05-13","transactableFlag":false,"publishFlag":true},{"date":"2021-05-12","transactableFlag":false,"publishFlag":true}]},"issueCount":9},"contentAndDiscoverability":{"issueCount":12,"issues":[{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"capacity","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"Plastic","isSpecAttribute":false,"attributeName":"material","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"manufacturer_part_number","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":99.9,"isEditable":true,"attributeValue":"Oasis Supply","isSpecAttribute":true,"attributeName":"brand","issueCount":0},{"score":100,"isEditable":true,"attributeValue":"New","isSpecAttribute":false,"attributeName":"condition","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"color","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"00616450784447","isSpecAttribute":false,"attributeName":"gtin","issueCount":0},{"score":100,"isEditable":true,"attributeValue":"12","isSpecAttribute":false,"attributeName":"package_quantity","issueCount":0},{"score":100,"isEditable":false,"attributeValue":"Multi use","isSpecAttribute":false,"attributeName":"recommended_use","issueCount":0},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"food_storage_jar_and_container_type","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":45,"isEditable":true,"attributeValue":"Dimensions:  length: 12.5\" - width: 9 1/2\"Base width at highest point: 2 3/8\"Base width at lowest point: 2\" - total compartment height: 3 1/2\"Compartment top diameter: 2 1/4\" - compartment bottom diameter: 2\"High dome. Crystal clear ,12 per order","isSpecAttribute":true,"attributeName":"product_long_description","issueCount":1,"issues":[{"title":"NOT_ENOUGH_BULLET_POINTS","value":"This description includes 0 key feature bullets, while it should contain 5 or more. Please include more key features."}]},{"score":0,"isEditable":true,"isSpecAttribute":true,"attributeName":"number_of_pieces","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":71.4,"isEditable":true,"attributeValue":"Oasis Supply 12-Compartment Hinged High Dome Clear Cupcake Container, Clear, 12-Pack","isSpecAttribute":true,"attributeName":"product_name","issueCount":1,"issues":[{"title":"MISSING_KEY_ATTRIBUTES","value":"This title includes key attributes such as 'brand', but is missing others such as 'capacity', 'material', and 'recommended use'."}]},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"features","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"score":100,"isEditable":true,"attributeValue":"This high dome clear cupcake container comes with 12 individual compartments to store a dozen of your delectable cupcakes or muffins. This container is great for bakeries, grocery stores, and catering businesses looking to transport desserts to their events. The high dome structure helps make sure that decorative icing or toppings stay pristine during travel. The lid is detachable, so you'll be able to use this container as its own display without worrying about the top of the lid getting in the way. Just take the top off after your treats have reached their destination, and you're all set up with a grab-and-go dessert station. This container provides a tight, reliable seal while the crystal clear OPS plastic construction gives your products optimum marketability.","isSpecAttribute":true,"attributeName":"product_short_description","issueCount":0},{"score":46.6,"attributeValue":"2","isSpecAttribute":true,"attributeName":"images","issueCount":5,"issues":[{"title":"IMAGE_COUNT_TOO_LOW","value":"This item has only 2 image(s), while this category requires the item have 5 or more images. Please add more images."}]},{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"shape","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]}]},"ratingReviews":{"maxRating":5,"ratingCount":0}},"wfsEnabled":0,"priority":"LOW","categoryName":"Food & Beverage","updatedTimestamp":"2021-05-20 12:56:28.984","productName":"Oasis Supply 12-Compartment Hinged High Dome Clear Cupcake Container, Clear, 12-Pack","itemId":"916854860","stats":{"orders":"0","conversionRate":"0","gmvAmount":{"amount":"0","currency":"USD"},"totalUnits":"0"},"sku":"WB 433KP412-12","condition":"New","productType":"Food Storage Jars & Containers","trends":[{"statsType":"GMV"},{"statsType":"pageViews"},{"statsType":"orders"},{"statsType":"conversionRate"},{"values":[{"value":{"currency":"USD"}}],"statsType":"totalUnits"}],"last30DaysConversionRate":34.3,"last30DaysPageViews":983,"gmv":342.3,"isCustomerFavorites":true,"isInStock":true,"isFastAndFreeShipping":true}],"status":"OK"}},"Filter for productType":{"value":{"nextCursor":"AoIFQCVXCj1wo9c/ATA3MTYxOURFRTc2RjQxQ0ZCNDM2N0MyMTE4QTc2RTA5","totalItems":1,"payload":[{"qualityScoreData":{"score":10.67,"values":[{"impact":"MEDIUM","scoreType":"content & Discoverability","scoreValue":32},{"impact":"MEDIUM","scoreType":"Price competitiveness","scoreValue":0},{"impact":"LOW","scoreType":"Published and in stock","scoreValue":0},{"impact":"HIGH","scoreType":"Shipping speed","scoreValue":0}]},"productId":"6L9JFF2TDZDU","scoreDetails":{"offer":{"shippingSpeed":{"totalIssue":0,"score":null,"issueDesc":null,"issueTitle":null,"shippingType":"Value"},"price":{"totalIssue":1,"score":null,"walmartShipping":0,"additionalDes":null,"competitorShipping":0,"competitorPrice":{"amount":3.75,"currency":"USD"},"price":{"amount":6.14,"currency":"USD"},"issueTitle":"Price Not Competitive","asin":"B0006GK3JQ"},"publishAndTransactable":{"score":0,"issueTitle":"Issue Detected","maxIssue":7,"totalIssue":7,"issues":[{"date":"2021-05-18","transactableFlag":false,"publishFlag":true},{"date":"2021-05-17","transactableFlag":false,"publishFlag":true}]},"issueCount":8},"contentAndDiscoverability":{"issueCount":20,"issues":[{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"track_listing","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"title":"MISSING_KEY_ATTRIBUTES","value":"This title includes key attributes such as 'musician', but it is missing others such as 'physical media format' and 'music genre'."}]},"ratingReviews":{"maxRating":5,"ratingCount":0}},"wfsEnabled":0,"priority":"LOW","categoryName":"Toy","updatedTimestamp":"2021-05-20 10:50:43.163","productName":"Loftus - Noise Maker","itemId":"738555634","stats":{"orders":"0","conversionRate":"0","gmvAmount":{"amount":"0","currency":"USD"},"totalUnits":"0"},"sku":"LOF DC-0091","condition":"New","productType":"Music","last30DaysConversionRate":34.3,"last30DaysPageViews":983,"gmv":342.3,"isCustomerFavorites":true,"isInStock":true,"isFastAndFreeShipping":true}],"status":"OK"}},"Filter for condition":{"value":{"nextCursor":"AoIFQCVXCj1wo9c/ATA3MTYxOURFRTc2RjQxQ0ZCNDM2N0MyMTE4QTc2RTA5","totalItems":1,"payload":[{"qualityScoreData":{"score":10.67,"values":[{"impact":"MEDIUM","scoreType":"content & Discoverability","scoreValue":32},{"impact":"MEDIUM","scoreType":"Price competitiveness","scoreValue":0},{"impact":"LOW","scoreType":"Published and in stock","scoreValue":0},{"impact":"HIGH","scoreType":"Shipping speed","scoreValue":0}]},"productId":"6L9JFF2TDZDU","scoreDetails":{"offer":{"shippingSpeed":{"totalIssue":0,"score":null,"issueDesc":null,"issueTitle":null,"shippingType":"Value"},"price":{"totalIssue":1,"score":null,"walmartShipping":0,"additionalDes":null,"competitorShipping":0,"competitorPrice":{"amount":3.75,"currency":"USD"},"price":{"amount":6.14,"currency":"USD"},"issueTitle":"Price Not Competitive","asin":"B0006GK3JQ"},"publishAndTransactable":{"score":0,"issueTitle":"Issue Detected","maxIssue":7,"totalIssue":7,"issues":[{"date":"2021-05-18","transactableFlag":false,"publishFlag":true},{"date":"2021-05-17","transactableFlag":false,"publishFlag":true}]},"issueCount":8},"contentAndDiscoverability":{"issueCount":20,"issues":[{"score":0,"isEditable":true,"isSpecAttribute":false,"attributeName":"track_listing","issueCount":1,"issues":[{"title":"MISSING","value":"Missing"}]},{"title":"MISSING_KEY_ATTRIBUTES","value":"This title includes key attributes such as 'musician', but it is missing others such as 'physical media format' and 'music genre'."}]},"ratingReviews":{"maxRating":5,"ratingCount":0}},"wfsEnabled":0,"priority":"LOW","categoryName":"Toy","updatedTimestamp":"2021-05-20 10:50:43.163","productName":"Loftus - Noise Maker","itemId":"738555634","stats":{"orders":"0","conversionRate":"0","gmvAmount":{"amount":"0","currency":"USD"},"totalUnits":"0"},"sku":"LOF DC-0091","condition":"New","productType":"Music","last30DaysConversionRate":34.3,"last30DaysPageViews":983,"gmv":342.3,"isCustomerFavorites":true,"isInStock":true,"isFastAndFreeShipping":true}],"status":"OK"}}}}}}}}},"/v3/insights/sellerIncentives":{"get":{"tags":["Insight"],"summary":"Pro Seller Tier and Rewards Status","description":"Call this endpoint to retrieve your Pro Seller tier and rewards status based on your account’s current standing in Walmart’s Pro Seller program.\n\nYou can retrieve:\n- Your tier (Rising, Advanced, or Pro Seller) and next eligible tier.\n- Badge enrollment and award state.\n- Evaluation window timing, including the next refresh date.\n- Performance criteria details (targets vs. current values).\n- Active rewards (for example, fee incentives).\n\nUse this endpoint to automate Pro Seller status updates and avoid visiting Seller Center to check your tier and rewards.\n\nRefresh cadence: Tier status refreshes twice monthly on the 5th and 20th of each month. Use `nextRefreshDate` to time polling and dashboards.\n\nMexico market note: Only the Pro Seller level is available.\n\n`criteriaTier` shows the tier level each metric has met. To earn a tier status by `nextRefreshDate`, all `criteriaTier` values must be equivalent to or higher than the tier you want.\n\nFor more information and usage examples, refer to the API guide: https://developer.walmart.com/us-marketplace/docs/retrieve-pro-seller-tier-status-and-reward-details\n\n","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-insights/#19607"},"operationId":"getSellerIncentivesInfo","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"partnerId":{"type":"string","description":"Specifies partner id"},"currentTier":{"type":"string","description":"Specifies the current tier of the seller"},"eligibleTier":{"type":"string","description":"Specifies the next eligible tier for the seller"},"proSellerBadgeEnrolledDate":{"type":"string","description":"Specifies when the seller received their badge"},"criteriaMetadata":{"type":"object","properties":{"orders":{"type":"number","description":"Specifies number of orders received in the given timeframe","format":"double"},"activeDays":{"type":"number","description":"Specifies days active on the platform","format":"double"},"onTimeDeliveryRate":{"type":"number","description":"Specifies on time delivery rate in the given timeframe","format":"double"},"cancellationRate":{"type":"number","description":"Specifies cancellation rate in the given timeframe","format":"double"},"sellerResponseRate":{"type":"number","description":"Specifies seller's response rate","format":"double"},"shippingScore":{"type":"number","description":"Specifies seller's shipping score","format":"double"},"contentScore":{"type":"number","description":"Specifies seller's content score","format":"double"},"priceMbScore":{"type":"number","description":"Specifies seller's price meet/beat score","format":"double"}},"description":"Specifies the metadata value for each criterion"},"criteriaTier":{"type":"object","properties":{"orders":{"type":"string","description":"Specifies the eligible tier based on number of orders"},"activeDays":{"type":"string","description":"Specifies the eligible tier based on active days"},"onTimeDeliveryRate":{"type":"string","description":"Specifies the eligible tier based on OTD"},"cancellationRate":{"type":"string","description":"Specifies the eligible tier based on cancellation rate"},"sellerResponseRate":{"type":"string","description":"Specifies the eligible tier based on seller response rate"},"shippingScore":{"type":"string","description":"Specifies the eligible tier based on shipping score"},"contentScore":{"type":"string","description":"Specifies the eligible tier based on content score"},"priceMbScore":{"type":"string","description":"Specifies the eligible tier based on price meet/beat score"}},"description":"Specifies the tier for each criterion"},"isTierOverride":{"type":"boolean","description":"Indicates if the tier has been overridden"},"tierOverride":{"type":"string","description":"Specifies the overridden tier"},"reasonCodes":{"type":"array","description":"Specifies the reason codes for tier ineligibility","items":{"type":"string","description":"Specifies the reason codes for tier ineligibility"}},"nextRefreshDate":{"type":"string","description":"Specifies the date of next tier refresh"},"rewards":{"type":"array","description":"Specifies the list of rewards","items":{"type":"object","properties":{"reward":{"type":"string","description":"Specifies name of the eligible reward"},"isRewardActive":{"type":"boolean","description":"Indicates reward active status"},"isRewardOverride":{"type":"boolean","description":"Indicates if the reward has been overridden"},"rewardOverrideAction":{"type":"string","description":"Specifies the reward override action (approve or deny)"}},"description":"Specifies the list of rewards"}}}},"example":{"status":"OK","payload":{"partnerId":"255045","currentTier":"Pro Seller","eligibleTier":"Rising","proSellerBadgeEnrolledDate":"2025-02-16T00:00:00.000-08:00","criteriaMetadata":{"orders":1500,"activeDays":95,"onTimeDeliveryRate":93,"cancellationRate":2.41,"sellerResponseRate":92,"shippingScore":67,"contentScore":66,"priceMbScore":99.1},"criteriaTier":{"orders":"Pro Seller","activeDays":"Pro Seller","onTimeDeliveryRate":"Advanced","cancellationRate":"Rising","sellerResponseRate":"Rising","shippingScore":"Pro Seller","contentScore":"Rising","priceMbScore":"Pro Seller"},"isTierOverride":false,"tierOverride":null,"reasonCodes":[],"nextRefreshDate":"2025-02-19T00:00:00.000-08:00","rewards":[{"reward":"Pro Seller Badge","isRewardActive":true,"isRewardOverride":false,"rewardOverrideAction":null},{"reward":"Search engine marketing","isRewardActive":true,"isRewardOverride":true,"rewardOverrideAction":"APPROVE"},{"reward":"Pro Listing Discounts","isRewardActive":true,"isRewardOverride":false,"rewardOverrideAction":null},{"reward":"Review accelerator credit","isRewardActive":true,"isRewardOverride":false,"rewardOverrideAction":null},{"reward":"Shipping label discount","isRewardActive":true,"isRewardOverride":true,"rewardOverrideAction":"APPROVE"},{"reward":"Capital by Walmart","isRewardActive":true,"isRewardOverride":true,"rewardOverrideAction":"APPROVE"},{"reward":"Daily Cashflow","isRewardActive":true,"isRewardOverride":false,"rewardOverrideAction":null}]}}}}}}}},"/v3/insights/performance/vtr/summary":{"get":{"tags":["Insight"],"summary":"Valid Tracking Rate Performance Metrics","description":"Returns Valid Tracking Rate metrics,like percent of orders with valid tracking information provided.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getVtr","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"shippingMethod","in":"query","description":"Shipping Method filter","required":false,"schema":{"type":"string","enum":["ALL_METHODS","TWO_DAY","ONE_DAY"]}},{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"shippingMethod":{"type":"string","description":"shipping methods used to calculate these metrics","enum":["ALL_METHODS","TWO_DAY","ONE_DAY"]},"cumulativeRate":{"type":"number","description":"Cumulative valid tracking rate","format":"float"},"cumulativeRateTrend":{"type":"string","description":"Cumulative valid tracking rate trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"impactedCustomerCount":{"type":"integer","description":"Number of customers impacted","format":"int32"},"impactedCustomerTrend":{"type":"string","description":"Indicates the trend of customer impact. Ranges from Positive change to urgent and needs to be resolved.","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"standard":{"type":"string","description":"[Deprecated] Use performanceStandard. Previously indicated the seller accountable valid tracking rate (VTR) under Walmart performance standards.","deprecated":true},"performanceStandard":{"type":"string","description":"Minimum seller accountable valid tracking rate (VTR) as defined by Walmart performance standards."},"riskLevel":{"type":"string","description":"[Deprecated] Use performanceRiskLevel. Previously indicated the risk level under Walmart performance standards.","deprecated":true,"enum":["Meets standard","Monitor","Urgent"]},"performanceRiskLevel":{"type":"string","description":"Risk level as defined by Walmart performance standards.","enum":["GOOD","MONITOR","URGENT"]},"sellerAccountableDrivers":{"type":"object","properties":{"misleadingTrackingRate":{"type":"number","description":"Total rate of orders with misleading tracking information","format":"float"},"nonIntegratedCarrierRate":{"type":"number","description":"Total rate of orders with non Integrated Carriers","format":"float"},"invalidTrackingIdRate":{"type":"number","description":"Total rate of orders with invalid tracking Id","format":"float"},"invalidTrackingUrlRate":{"type":"number","description":"Total rate of orders with invalid tracking url","format":"float"},"noCarrierScanRate":{"type":"number","description":"Total rate of orders with no Carrier Scan","format":"float"}},"description":"Seller accountable drivers, which impacting the valid tracking rate"},"nonAccountableDrivers":{"type":"object","properties":{"miscellaneousRate":{"type":"number","description":"Rate of orders impacted due to miscellaneous reasons","format":"float"}},"description":"Non Accountable drivers, which impacting the valid tracking rate"}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/vtr/report":{"get":{"tags":["Insight"],"summary":"Get Valid Tracking Orders Report","description":"Returns the report of all the orders impacting Valid Tracking Rate metrics","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getVtrOrdersReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"name":"shippingMethod","in":"query","description":"Shipping Method filter","required":false,"schema":{"type":"string","enum":["ALL_METHODS","TWO_DAY","ONE_DAY"]}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/sfla/summary":{"get":{"tags":["Insight"],"summary":"Ship-from Location Accuracy Summary","description":"Returns Ship-from location accuracies from Simplified Shipping Settings Metrics.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getSfla","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"cumulativeAccuracy":{"type":"number","description":"Cumulative ship-from location accuracy","format":"float"},"cumulativeAccuracyTrend":{"type":"string","description":"Cumulative ship-from location accuracy trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"impactedOrderCount":{"type":"integer","description":"Number of orders impacted","format":"int32"},"impactedOrderTrend":{"type":"string","description":"Impacted orders trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"recommendedAccuracy":{"type":"number","description":"Recommended Carrier method accuracy value","format":"float"},"infractionDrivers":{"type":"object","additionalProperties":{"type":"number","description":"Ship-from location accuracies of individual places","format":"float"},"description":"Ship-from location accuracies of individual places"}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/sfla/report":{"get":{"tags":["Insight"],"summary":"Ship-from Location Accuracy Report","description":"Returns the report of all the orders impacting Simplified Shipping Settings Metrics - Ship-from location accuracy. The data will be returned in a .xlsx file format.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getOrdersSssSflaReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/ots/summary":{"get":{"tags":["Insight"],"summary":"On-time Shipment Summary","description":"Returns On-time Shipment rates from Simplified Shipping Settings Metrics.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getOts","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"cumulativeRate":{"type":"number","description":"Cumulative on time shipment rate","format":"float"},"cumulativeRateTrend":{"type":"string","description":"Cumulative on time shipment rate trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"impactedOrderCount":{"type":"integer","description":"Number of orders impacted","format":"int32"},"impactedOrderTrend":{"type":"string","description":"Indicates the trend of orders impacted.","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"recommendedRate":{"type":"number","description":"Recommended on time shipment rate value","format":"float"},"infractionDrivers":{"type":"object","properties":{"markedAsShippedLateRate":{"type":"number","description":"Marked as shipped later rate","format":"float"},"lateHandoverToCarrierRate":{"type":"number","description":"Late handover to carrier rate","format":"float"}},"description":"Individual drivers of on time shipment rate"}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/ots/report":{"get":{"tags":["Insight"],"summary":"On-time Shipment Report","description":"Returns the report of all the orders impacting Simplified Shipping Settings Metrics. Use this endpoint to retrieve your current on-time shipment (OTS) report at the order level as an Excel (.xlsx) file.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getOrdersSssOtsReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/cma/summary":{"get":{"tags":["Insight"],"summary":"Carrier Method Accuracy Summary","description":"Returns Carrier Method Accuracy from Simplified Shipping Settings Metrics.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getCma","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"cumulativeAccuracy":{"type":"number","description":"Cumulative carrier method accuracy","format":"float"},"cumulativeAccuracyTrend":{"type":"string","description":"Cumulative carrier method accuracy trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"impactedOrderCount":{"type":"integer","description":"Number of orders impacted","format":"int32"},"impactedOrderTrend":{"type":"string","description":"Indicates the trend of orders impacted.","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"recommendedAccuracy":{"type":"number","description":"Recommended Carrier method accuracy value","format":"float"},"infractionDrivers":{"type":"object","additionalProperties":{"type":"number","description":"Individual carrier method accuracies","format":"float"},"description":"Individual carrier method accuracies"}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/sss/cma/report":{"get":{"tags":["Insight"],"summary":"Carrier Method Accuracy Report","description":"Returns the report of all the orders impacting Simplified Shipping Settings Metrics. Use this endpoint to retrieve your current carrier method accuracy report at the order level as an Excel (.xlsx) file.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getOrdersSssCmaReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/srr/summary":{"get":{"tags":["Insight"],"summary":"Seller Response Rate Performance Metrics","description":"Returns Seller Response Rate metrics,like percentage of customer inquiries responded to within 48 hours of receipt.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getSrr","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"cumulativeRate":{"type":"number","description":"Cumulative seller response rate","format":"float"},"cumulativeRateTrend":{"type":"string","description":"Cumulative seller response rate trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"impactedCustomerCount":{"type":"integer","description":"Number of customers impacted","format":"int32"},"impactedCustomerTrend":{"type":"string","description":"Impacted orders trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"standard":{"type":"string","description":"[Deprecated] Use performanceStandard. Previously indicated the seller response rate required under Walmart performance standards.","deprecated":true},"performanceStandard":{"type":"string","description":"Minimum seller accountable seller response rate as defined by Walmart performance standards."},"riskLevel":{"type":"string","description":"[Deprecated] Use performanceRiskLevel. Previously indicated the risk level under Walmart performance standards.","deprecated":true,"enum":["Meets standard","Monitor","Urgent"]},"performanceRiskLevel":{"type":"string","description":"Risk level as defined by Walmart performance standards.","enum":["GOOD","MONITOR","URGENT"]},"sellerAccountableDrivers":{"type":"object","properties":{"miscellaneousRate":{"type":"number","description":"Seller response rate for miscellaneous customer enquires","format":"float"},"cancellationRate":{"type":"number","description":"Seller response rate for customer enquires regarding cancellations","format":"float"},"feedbackRate":{"type":"number","description":"Seller response rate for customer feedback","format":"float"},"itemIssueRate":{"type":"number","description":"Seller response rate for customer enquires regarding item issues","format":"float"},"returnsRefundsRate":{"type":"number","description":"Seller response rate for customer enquires regarding returns and refunds","format":"float"},"trackOrderRate":{"type":"number","description":"Seller response rate for customer enquires regarding order tracking","format":"float"}},"description":"Seller accountable drivers, which impacting the seller response rate"}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/srr/report":{"get":{"tags":["Insight"],"summary":"Get Seller Response Rate Orders Report","description":"Returns the report of all the orders impacting Seller Response Rate metrics.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getSrrOrdersReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/refunds/summary":{"get":{"tags":["Insight"],"summary":"Refund Performance Metrics (Deprecated)","description":"Returns refunds metrics, for orders which were returned.\n\n**Deprecation notice**: This API is in legacy state and will be removed on March 27, 2027. We recommend transitioning to the <a href=\"https://developer.walmart.com/us-marketplace/reference/getreturns-1\">Get Returns Performance Metrics</a> and <a href=\"https://developer.walmart.com/us-marketplace/reference/getinr\">Item Not Received Performance Metrics</a> APIs.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getRefunds","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Past number of days the metrics calculated","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics are calculated in ISO format"},"cumulativeRate":{"type":"number","description":"Cumulative refunds rate","format":"float"},"cumulativeRateTrend":{"type":"string","description":"Cumulative refunds rate trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"gmvLoss":{"type":"number","description":"gmvLoss incurred","format":"float"},"gmvLossTrend":{"type":"string","description":"gmv Loss trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"ordersImpacted":{"type":"integer","description":"Number of orders impacted","format":"int32"},"ordersImpactedTrend":{"type":"string","description":"Impacted orders trend","enum":["GREEN_UP","GREEN","GREEN_DOWN","YELLOW_UP","YELLOW","YELLOW_DOWN","RED_UP","RED","RED_DOWN"]},"standard":{"type":"string","description":"[Deprecated] Use performanceStandard. Previously indicated the maximum allowed cumulative refund rate under Walmart performance standards.","deprecated":true},"performanceStandard":{"type":"string","description":"Maximum allowed cumulative refund rate as defined by Walmart performance standards."},"riskLevel":{"type":"string","description":"[Deprecated] Use performanceRiskLevel. Previously indicated the risk level under Walmart performance standards.","deprecated":true,"enum":["Meets standard","Monitor","Urgent"]},"performanceRiskLevel":{"type":"string","description":"Risk level as defined by Walmart performance standards.","enum":["GOOD","MONITOR","URGENT"]},"sellerAccountableDrivers":{"type":"object","properties":{"incorrectItemsRate":{"type":"number","description":"Refund rate of incorrect items delivered","format":"float"},"arrivedLateRate":{"type":"number","description":"Refund rate of delivered late orders","format":"float"},"defectiveRate":{"type":"number","description":"Refund rate of defective orders","format":"float"},"damagedRate":{"type":"number","description":"Refund rate of damaged orders","format":"float"},"lostRate":{"type":"number","description":"Refund rate of lost orders","format":"float"}},"description":"Seller accountable drivers, which impacting the refunds rate"},"nonAccountableDrivers":{"type":"object","properties":{"customerChangedMindRate":{"type":"number","description":"Refund rate of returns due to customer changed mind","format":"float"},"miscellaneousRate":{"type":"number","description":"Refund rate of returns due to miscellaneous reasons","format":"float"},"undeliveredRate":{"type":"number","description":"Refund rate of undelivered orders","format":"float"}},"description":"Non Accountable drivers, which impacting the refunds rate"},"recommendations":{"type":"array","description":"recommendations insights","items":{"type":"object","properties":{"recommendation":{"type":"string","description":"recommendation"},"moreInfoLink":{"type":"string","description":"More information link url","format":"url"}},"description":"Recommendations to decrease the cancellation rate"}}}},"status":{"type":"string"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/refunds/report":{"get":{"tags":["Insight"],"summary":"Get Refunded Orders Report (Deprecated)","description":"Returns the report of all the orders impacting Refunds metrics.\n\n**Deprecation notice**: This API is in legacy state and will be removed on March 27, 2027. We recommend transitioning to the <a href=\"https://developer.walmart.com/us-marketplace/reference/getreturnreport\">Get Returns Performance Orders Report</a> and <a href=\"https://developer.walmart.com/us-marketplace/reference/getinrreport\">Get Item Not Received Metrics</a> APIs.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getRefundsOrdersReport","parameters":[{"name":"reportDuration","in":"query","description":"Report Duration in days","required":false,"schema":{"type":"integer","format":"int32","default":30}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/octet-stream":{"schema":{"type":"string","description":"The data will be returned in a .xlsx file in your folder."}}}},"404":{"description":"Not Found","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"404"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 404 Not Found"},"info":{"type":"string","description":"Info of error.\n\n","example":"Requested Performance Metrics could not be found."},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"DATA"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}},"500":{"description":"Internal server error","content":{"application/octet-stream":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Error code of the response. \n","example":"500"},"description":{"type":"string","description":"Description of error.\n\n","example":"HTTP 500 Some error occurred"},"severity":{"type":"string","description":"Severity of Error.\n\nExample: ERROR\n","example":"ERROR"},"category":{"type":"string","description":"Category of error.\n\nExample: DATA\n","example":"REQUEST"},"causes":{"type":"array","description":"Causes of error.","example":[],"items":{"type":"string","description":"Causes of error.","example":"[]"}},"errorIdentifiers":{"type":"object","description":"Error Identifiers of the error.","example":{}}}}}}}}}},"/v3/insights/performance/negativeFeedback/summary":{"get":{"tags":["Insight"],"summary":"Get Negative Feedback Performance Metrics","description":"Returns the negative feedback performance summary for the past N days (defaults to 60). Includes cumulative rate and trend, GMV loss and trend, orders impacted and trend, performance standards, risk level, contributing drivers, and recommendations.","externalDocs":{"description":"View Guide","url":"https://sellerhelp.walmart.com/s/guide?language=en_US&article=000007175"},"operationId":"getNegativeFeedback","parameters":[{"name":"reportDuration","in":"query","description":"Number of past days to include in the report duration window. If omitted, default value of 60 days is used.","required":false,"schema":{"type":"integer","format":"int32","default":60}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful operation. The response includes the summary metrics and contributing drivers.","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"reportDuration":{"type":"integer","description":"Number of past days used to compute the metrics.","format":"int32"},"updatedTimestamp":{"type":"string","description":"Timestamp when metrics were last calculated, in ISO 8601 format.","example":"2025-12-01T06:30:45Z"},"cumulativeRate":{"type":"number","description":"Cumulative negative feedback rate for the window as a decimal.","format":"float"},"cumulativeRateTrend":{"type":"string","description":"Trend for cumulative negative feedback rate.","enum":["GREEN_UP","GREEN_DOWN","RED_UP","RED_DOWN","NEUTRAL"]},"gmvLoss":{"type":"number","description":"Estimated GMV (Gross Merchandise Value) lost due to negative feedback during the window.","format":"float"},"gmvLossTrend":{"type":"string","description":"Trend for GMV loss.","enum":["GREEN_UP","GREEN_DOWN","RED_UP","RED_DOWN","NEUTRAL"]},"ordersImpacted":{"type":"integer","description":"Number of orders impacted by negative feedback in the window.","format":"int32"},"ordersImpactedTrend":{"type":"string","description":"Trend for impacted orders.","enum":["GREEN_UP","GREEN_DOWN","RED_UP","RED_DOWN","NEUTRAL"]},"performanceStandard":{"type":"string","description":"Maximum allowed cumulative negative feedback rate as defined by Walmart performance standards."},"performanceRiskLevel":{"type":"string","description":"Risk level as defined by Walmart performance standards.","enum":["GOOD","MONITOR","URGENT"]},"sellerAccountableDrivers":{"type":"object","properties":{"assemblyInstrRate":{"type":"number","description":"Rate of negative feedback attributed to assembly instructions.","format":"float"},"cancellationRate":{"type":"number","description":"Rate of negative feedback attributed to cancellations initiated by the seller.","format":"float"},"carrierRate":{"type":"number","description":"Rate of negative feedback attributed to carrier issues. For example, delays.","format":"float"},"itemSizeComfortRate":{"type":"number","description":"Rate of negative feedback about item size, fit, or comfort.","format":"float"},"productQualityRate":{"type":"number","description":"Rate of negative feedback about product quality.","format":"float"},"packagingRate":{"type":"number","description":"Rate of negative feedback about packaging.","format":"float"},"damagedRate":{"type":"number","description":"Rate of negative feedback about items being damaged.","format":"float"},"defectiveRate":{"type":"number","description":"Rate of negative feedback about items being defective.","format":"float"},"pricingFeedbackRate":{"type":"number","description":"Rate of negative feedback about pricing concerns.","format":"float"},"incorrectItemRate":{"type":"number","description":"Rate of negative feedback about receiving the wrong item.","format":"float"},"invalidTrackingRate":{"type":"number","description":"Rate of negative feedback about invalid or missing tracking information.","format":"float"},"lateRate":{"type":"number","description":"Rate of negative feedback about late deliveries.","format":"float"},"lostRate":{"type":"number","description":"Rate of negative feedback about lost shipments.","format":"float"},"missingItemRate":{"type":"number","description":"Rate of negative feedback about missing items or parts.","format":"float"},"itemNotAsDescRate":{"type":"number","description":"Rate of negative feedback about item not matching the item's description.","format":"float"},"responseQualityRate":{"type":"number","description":"Rate of negative feedback about the support or response quality.","format":"float"},"returnRate":{"type":"number","description":"Rate of negative feedback associated with returns experience.","format":"float"},"miscellaneousRate":{"type":"number","description":"Rate of negative feedback categorized as miscellaneous.","format":"float"},"otherRate":{"type":"number","description":"Rate of negative feedback categorized as other.","format":"float"}},"description":"Seller accountable drivers that impact the negative feedback rate."},"nonAccountableDrivers":{"type":"object","properties":{"wfsRate":{"type":"number","description":"Rate of negative feedback attributed to Walmart Fulfillment Services (WFS).","format":"float"},"swwRate":{"type":"number","description":"Rate of negative feedback attributed to seller fulfilled workflows (non-WFS).","format":"float"}},"des
[...]
