{"openapi":"3.0.1","info":{"title":"Inventory Management","version":"1.0","description":"Maintaining up-to-date inventory for your items on Walmart.com ensures a better experience for your customers and greater sales opportunities for you."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"basicScheme":[]}],"paths":{"/v3/inventory":{"get":{"tags":["Inventory"],"summary":"Inventory","description":"Retrieve the current inventory for a single SKU.\n\n• If you do not add the `shipNode` query parameter, Walmart returns the quantity at your default ship node.\n• Add `shipNode` to see stock at a specific fulfillment center.\n\nUse this call to confirm stock before you accept or ship orders. The response shows the number of units available to sell (`amount`), the unit of measure (`EACH`), and the date the inventory becomes available if you set one.","operationId":"getInventory","parameters":[{"name":"sku","in":"query","description":"A unique alphanumeric ID you assign to each item. Use the same value in every request that references the item, including your XSD catalog file.\n\nIf the SKU contains any of the following characters, encode them:\n\n\": / ? # [ ] @ ! $ & ' ( ) * + , ; = { } %\"\n\nEncode spaces as \"%20\". You do not need to encode any other characters.","required":true,"schema":{"type":"string"}},{"name":"shipNode","in":"query","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment.<br><b style='color:green;'>Market availability: US</span></b>","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH`, which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"Information about when the inventory is expected at the given ship node.Format:YYYY-MM-DD"}},"xml":{"name":"inventory"}},"example":{"sku":"97964_KFTest","quantity":{"unit":"EACH","amount":10},"inventoryAvailableDate":"2024-09-12"}},"application/xml":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"Information about when the inventory is expected at the given ship node.Format:YYYY-MM-DD"}},"xml":{"name":"inventory"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<inventory xmlns=\"http://walmart.com/\">\n    <sku>97964_KFTest</sku>\n    <quantity>\n        <unit>EACH</unit>\n        <amount>10</amount>\n    </quantity>\n    <inventoryAvailableDate>2024-09-12</inventoryAvailableDate>\n</inventory>"}}}}},"put":{"tags":["Inventory"],"summary":"Update inventory","description":"Replace the stock level for one SKU. Send `sku`, `quantity.amount`, and `quantity.unit` (always \"EACH\"). Add `shipNode` if you need a different ship node. The amount you send overwrites the current value.","operationId":"updateInventoryForAnItem","parameters":[{"name":"sku","in":"query","description":"A unique alphanumeric ID you assign to each item. Use the same value in every request that references the item, including your XSD catalog file.\n\nIf the SKU contains any of the following characters, encode them:\n\n\": / ? # [ ] @ ! $ & ' ( ) * + , ; = { } %\"\n\nEncode spaces as \"%20\". You do not need to encode any other characters.","required":true,"schema":{"type":"string"}},{"name":"shipNode","in":"query","description":"The unique ID of the ship node (fulfillment center) where you want to update inventory. If you omit this parameter, Walmart updates inventory at your default ship node.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment.<br><b style='color:green;'>Market availability: US</span></b>","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"x-readme":{"code-samples":[{"language":"curl","code":"curl -X 'PUT' \n  'https://sandbox.walmartapis.com/v3/inventory?sku=2324' \n  -H 'accept: application/xml' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/xml' \n  -d '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<inventory xmlns=\"http://walmart.com/\">\n<sku>97964_KFTest</sku>\n<quantity>\n<unit>EACH</unit>\n<amount>3</amount>\n</quantity>\n<inventoryAvailableDate>2024-09-20</inventoryAvailableDate>\n</inventory>'","name":"xml example"},{"language":"curl","code":"curl -X 'PUT' \n  'https://sandbox.walmartapis.com/v3/inventory?sku=2324' \n  -H 'accept: application/xml' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n   -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/json' \n -d'{\n\"sku\":\"97964_KFTest\",\n\"quantity\":{\n\"unit\":`EACH`\n\"amount\":10\n},\n\"inventoryAvailableDate\":\"2024-09-20\"}'","name":"JSON example"}]},"requestBody":{"description":"File fields","content":{"application/json":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when this inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}},"xml":{"name":"inventory"}},"example":{"sku":"97964_KFTest","quantity":{"unit":"EACH","amount":10},"inventoryAvailableDate":"2024-09-20"}},"application/xml":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when this inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}},"xml":{"name":"inventory"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<inventory xmlns=\"http://walmart.com/\">\n    <sku>97964_KFTest</sku>\n    <quantity>\n        <unit>EACH</unit>\n        <amount>3</amount>\n    </quantity>\n    <inventoryAvailableDate>2024-09-20</inventoryAvailableDate>\n</inventory>"}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"Information about when the inventory is expected at the given ship node.Format:YYYY-MM-DD"}},"xml":{"name":"inventory"}},"example":{"sku":"97964_KFTest","quantity":{"unit":"EACH","amount":10},"inventoryAvailableDate":"2024-09-20"}},"application/xml":{"schema":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"Information about when the inventory is expected at the given ship node.Format:YYYY-MM-DD"}},"xml":{"name":"inventory"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<inventory xmlns=\"http://walmart.com/\">\n    <sku>97964_KFTest</sku>\n    <quantity>\n        <unit>EACH</unit>\n        <amount>3</amount>\n    </quantity>\n    <inventoryAvailableDate>2024-09-20</inventoryAvailableDate>\n</inventory>"}}}}}},"/v3/inventories/{sku}":{"get":{"tags":["Inventory"],"summary":"Single item inventory by ship node","description":"Returns the current stock for one SKU. If you leave out `shipNode`, the response lists quantities for every ship node on your account. If you include `shipNode`, it shows the quantity for that node only.","operationId":"getMultiNodeInventoryForSkuAndAllShipnodes","parameters":[{"name":"sku","in":"path","description":"The unique alphanumeric ID you assign to an item. Use the same value in every request that references the item, including your XSD catalog file.\n\nIf the SKU contains any of the following characters, encode them:\n\n\": / ? # [ ] @ ! $ & ' ( ) * + , ; = { } %\"\n\nEncode spaces as \"%20\". You do not need to encode any other characters.","required":true,"schema":{"type":"string"}},{"name":"shipNode","in":"query","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment.<br><b style='color:green;'>Market availability: US</span></b>","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"errors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}},"example":{"sku":"AR-CTIX-0092","nodes":[{"shipNode":"100009","inputQty":{"unit":"EACH","amount":5},"availToSellQty":{"unit":"EACH","amount":3},"inventoryAvailableDate":"2024-09-10","reservedQty":{"unit":"EACH","amount":2}}]}}}}}},"put":{"tags":["Inventory"],"summary":"Update item inventory per ship node","description":"Update the stock level for one SKU at one or more ship nodes in a single call.","operationId":"updateMultiNodeInventory","parameters":[{"name":"sku","in":"path","description":"The unique alphanumeric ID you assign to an item. Use the same value in every request that references the item, including your XSD catalog file.\n\nIf the SKU contains any of the following characters, encode them:\n\n\": / ? # [ ] @ ! $ & ' ( ) * + , ; = { } %\"\n\nEncode spaces as \"%20\". You do not need to encode any other characters.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment.<br><b style='color:green;'>Market availability: US</span></b>","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["inventories"],"type":"object","properties":{"inventories":{"required":["nodes"],"type":"object","properties":{"nodes":{"type":"array","items":{"required":["inputQty","shipNode"],"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}}}}}}}},"example":{"inventories":{"nodes":[{"shipNode":"1000005050","inputQty":{"unit":"EACH","amount":88},"inventoryAvailableDate":"2024-09-20"},{"shipNode":"79897837271126017","inputQty":{"unit":"EACH","amount":55},"inventoryAvailableDate":"2024-09-20"}]}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"status":{"type":"string","description":"Node Update status. Example: 'Success'"},"errors":{"type":"array","description":"Node Update Error description.","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}}}}}}},"example":{"sku":"00757642886669_test_01","nodes":[{"shipNode":"1000005050","status":"Success"},{"shipNode":"79897837271126017","status":"Success"}]}}}}}}},"/v3/feeds":{"post":{"tags":["Inventory"],"summary":"Bulk item inventory update","description":"Upload a feed file to update inventory for many SKUs in one request. Use `feedType=inventory` for single-node files (spec 1.4). Use `feedType=MP_INVENTORY` for multi-node files (spec 1.5, JSON only). Upload the file with `multipart/form-data` and the field name `file`. Validate your file against the official schemas before uploading.","parameters":[{"name":"feedType","in":"query","description":"`inventory` — Single ship node per file (spec 1.4). JSON or XML. `MP_INVENTORY` — Multiple ship nodes per SKU (spec 1.5). JSON only.","required":true,"schema":{"type":"string","enum":["inventory","MP_INVENTORY"]}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"The inventory feed file to upload (field name must be `file`)."}}},"encoding":{"file":{"contentType":"application/octet-stream"}},"examples":{"json_multiNode_spec_1_5":{"summary":"MultiNode (spec 1.5, JSON) — multiple ship nodes per SKU","value":{"file":{"inventoryHeader":{"version":"1.5"},"inventory":[{"sku":"SKU-RED-MUG-12OZ","shipNodes":[{"shipNode":"FC_DALLAS_01","quantity":{"unit":"EACH","amount":125}},{"shipNode":"FC_ATLANTA_02","quantity":{"unit":"EACH","amount":60}}]},{"sku":"SKU-BLUE-PLATE-10IN","shipNodes":[{"shipNode":"FC_DALLAS_01","quantity":{"unit":"EACH","amount":240}}]}]}}},"json_singleNode_spec_1_4":{"summary":"Single node (spec 1.4, JSON) — one ship node per file","value":{"file":{"InventoryHeader":{"version":"1.4"},"Inventory":[{"sku":"SKU-RED-MUG-12OZ","quantity":{"unit":"EACH","amount":185},"inventoryAvailableDate":"2025-12-03"},{"sku":"SKU-BLUE-PLATE-10IN","quantity":{"unit":"EACH","amount":300},"inventoryAvailableDate":"2025-12-03"}]}}},"xml_singleNode_spec_1_4":{"summary":"Single node (spec 1.4, XML) — one ship node per file","value":"<InventoryFeed xmlns=\\\"http://walmart.com/\\\"><InventoryHeader><version>1.4</version></InventoryHeader><inventory><sku>SKU-RED-MUG-12OZ</sku><quantity><unit>EACH</unit><amount>185</amount></quantity></inventory><inventory><sku>SKU-BLUE-PLATE-10IN</sku><quantity><unit>EACH</unit><amount>300</amount></quantity></inventory></InventoryFeed>"}}}}},"x-codeSamples":[{"lang":"shell","label":"Upload MultiNode JSON (spec 1.5)","source":"curl -X POST \"https://marketplace.walmartapis.com/v3/feeds?feedType=MP_INVENTORY\" -H \"Authorization: Basic <Base64EncodedConsumerKey:ConsumerSecret>\" -H \"WM_SVC.NAME: Walmart Marketplace\" -H \"WM_QOS.CORRELATION_ID: 1234567890\" -H \"Accept: application/json\" -F \"file=@./MultiNode_Bulk_Inventory_Update_Request.json\""},{"lang":"shell","label":"Upload single-node JSON (spec 1.4)","source":"curl -X POST \"https://marketplace.walmartapis.com/v3/feeds?feedType=inventory\" -H \"Authorization: Basic <Base64EncodedConsumerKey:ConsumerSecret>\" -H \"WM_SVC.NAME: Walmart Marketplace\" -H \"WM_QOS.CORRELATION_ID: 1234567890\" -H \"Accept: application/json\" -F \"file=@./Bulk_Inventory_Update_Request.json\""}],"responses":{"200":{"description":"Accepted feed file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedId"},"example":{"feedId":"0123456789abcdef"}}}},"400":{"description":"Bad request. Missing required field or invalid query parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedErrors"},"example":{"errors":[{"code":"MISSING_FILE","message":"Multipart field 'file' is required."}]}}}},"415":{"description":"Unsupported media type. The file is not JSON or XML for the selected feedType.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedErrors"},"example":{"errors":[{"code":"UNSUPPORTED_MEDIA_TYPE","message":"Expected JSON for MP_INVENTORY or JSON/XML for inventory."}]}}}},"422":{"description":"Validation failed. Invalid SKU or schema mismatch.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedErrors"},"example":{"errors":[{"code":"INVALID_SKU","message":"SKU 'ABC123' not found for this seller.","field":"inventory[0].sku"}]}}}},"429":{"description":"Too Many Requests. Rate limit exceeded.","headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Seconds to wait before retrying."}}}},"externalDocs":{"description":"Download inventory schemas for JSON (spec 1.5 and 1.4) and XML.","url":"https://developer.walmart.com/us-marketplace/docs/inventory-api-overview"}}},"/v3/inventories":{"get":{"tags":["Inventory"],"summary":"Multiple item inventory for all ship nodes","description":"Returns the inventory level for every SKU at every ship node.\n\n• Each response contains up to 50 records (zero- or non-zero inventory).\n• Use the `nextCursor` value from the last response to get the next page.\n\nCall the endpoint repeatedly, passing the updated `nextCursor` each time—until the response omits `nextCursor`. The WFS Inventory API provides real-time inventory data for items fulfilled through Walmart Fulfillment Services (WFS). This API allows you to monitor stock availability, manage your catalog, item publishing, and lifecycle status. By querying for specific SKUs, you can access a wide range of inventory metrics, to ensure optimal stock management, streamline operations, and make informed decisions about WFS inventory.\n\n**Important:** Effective May 15, 2026, the API will begin enforcing sequential behavior and no longer support parallel requests. Any request that submits a cursor out of order, reuses a cursor from a prior response, or runs multiple requests simultaneously within the same session will receive a 404 error. The API endpoint, data format, and response structure are not changing, only the enforcement of the documented sequential requirement.\n\n**Do I need to take action?**\n\nIf you manage inventory through an approved Solution Provider, they are responsible for confirming their integration meets this requirement. If you have questions about how this change may affect your inventory management, please contact your approved Solution Provider directly.\n\nIf your integration already calls this API sequentially, one batch at a time before issuing the next request, then no changes are needed.\n\nIf your integration makes parallel or concurrent calls using the same cursor token, you will need to update before May 15 to avoid errors.\n\n**Questions**\n\nOpen a case through the <a href='https://developer.walmart.com/us-marketplace/help-support'>Walmart Developer Support</a> portal or contact your Partner Success Manager.","operationId":"getMultiNodeInventoryForAllSkuAndAllShipNodes","parameters":[{"name":"limit","in":"query","description":"The maximum number of records to return (1–50). If you omit this parameter, Walmart returns up to 10 records.","required":false,"schema":{"type":"string","default":"10"}},{"name":"nextCursor","in":"query","description":"The cursor token for pagination. Pass the `nextCursor` value that Walmart returned in your previous response to fetch the next page (up to 50 inventory items). Omit this parameter on the first request.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment.<br><b style='color:green;'>Market availability: US</span></b>","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"totalCount":{"type":"number","description":"Total number of Skus of the Seller. Example: '235'"},"nextCursor":{"type":"string","description":"Used for pagination to fetch the next set of items."}},"xml":{"name":"meta"}},"elements":{"type":"object","properties":{"inventories":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}}}}}}},"example":{"meta":{"totalCount":123,"nextCursor":"NTVmZjIxOWEtZjRkMy00MGIwLThkOGYtYzFkNzI1NGZlYmQxIDEw"},"elements":{"inventories":[{"sku":"AI-IGH4-5509","nodes":[{"shipNode":"361451354333223041","inputQty":{"unit":"EACH","amount":93},"availToSellQty":{"unit":"EACH","amount":93},"reservedQty":{"unit":"EACH","amount":0}},{"shipNode":"100009","inputQty":{"unit":"EACH","amount":436},"availToSellQty":{"unit":"EACH","amount":433},"reservedQty":{"unit":"EACH","amount":3}}]},{"sku":"06397309545443","nodes":[{"shipNode":"100009","inputQty":{"unit":"EACH","amount":5},"availToSellQty":{"unit":"EACH","amount":0},"reservedQty":{"unit":"EACH","amount":5}}]}]}}}}}}}},"/v3/fulfillment/inventory":{"get":{"tags":["Inventory"],"summary":"WFS inventory (Legacy)","description":"Returns Available-to-Sell quantities for your WFS items.\n\nOptional query parameters enable you to perform the following:\n• Filter by specific `sku` values.\n• Limit results to items updated after a given date.\n\n**Deprecation notice:** This endpoint will be removed in 2026 (more information to come). Switch to the <a href=\"https://developer.walmart.com/us-marketplace/reference/getwfsinventorydetails\">WFS Inventory (new)</a> API.","operationId":"getWFSInventory","deprecated":true,"parameters":[{"name":"sku","in":"query","description":"The unique alphanumeric ID you assign to an item. Use the same value in every request that references the item, including your XSD catalog file.\n\nIf the SKU contains any of the following characters, encode them:\n\n\": / ? # [ ] @ ! $ & ' ( ) * + , ; = { } %\"\n\nEncode spaces as \"%20\". You do not need to encode any other characters.","required":false,"schema":{"type":"string"}},{"name":"fromModifiedDate","in":"query","description":"The start of the last modified date range. Returns only inventory records updated **on or after** this timestamp. Use 24-hour UTC format `YYYY-MM-DD HH:mm:ss` (for example, `2025-06-01 00:00:00`).","required":false,"schema":{"type":"string"}},{"name":"toModifiedDate","in":"query","description":"The end of the last-modified date range. Returns only inventory records updated **on or before** this timestamp. Use the same `YYYY-MM-DD HH:mm:ss` format as `fromModifiedDate`.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum number of SKUs to include in the response (1–300). If you omit this parameter, Walmart returns up to 10 SKUs.","required":false,"schema":{"type":"string","default":"10"}},{"name":"offset","in":"query","description":"The number of SKUs to skip before Walmart starts listing results. Set to `0` to start at the first SKU.","required":false,"schema":{"type":"string","default":"0"}},{"name":"shipNodeType","in":"query","description":"Filter results by ship-node type.\n\n- Only supported value is `multichannel`.\n- Use this parameter only if you are a multi-channel seller.\n- When you send `shipNodeType`, you must also send `sku`. All other query parameters are ignored.\n- `sku` can be a single value or several SKUs separated by commas (for example, \"sku1,sku2\").","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"headers":{"type":"object","properties":{"totalCount":{"type":"integer","description":"Total number of results for query.","format":"int32"},"limit":{"type":"integer","description":"Information about the quantity in inventory","format":"int32"},"offset":{"type":"integer","description":"Offset is the number of records you wish to skip before selecting results.","format":"int32"}}},"payload":{"type":"object","properties":{"inventory":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"shipNodes":{"type":"array","items":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"Last changes date for the item."},"availToSellQty":{"type":"integer","description":"The available quantity is the quantity of an item that is available to be allocated to orders.","format":"int32"},"onHandQty":{"type":"integer","description":"The on-hand balance is the quantity of active inventory stored at the warehouse.Active inventory is defined as the usable amount of an item that is in the warehouse.Inventory is active if it is not damaged, expired or being inspected.","format":"int32"},"shipNodeType":{"type":"string","description":"Identifies fulfillment aspect of invetory. Walmart, seller or 3PL fulfilled. Possible value is 'WFSFulfilled'. In later phase we will also add seller fulfilled inventory."}}}}}}}}}}}}}}}}},"/v3/wfs/inventory":{"get":{"tags":["Inventory"],"summary":"WFS inventory (New)","description":"The WFS Inventory API provides real-time inventory data for items fulfilled through Walmart Fulfillment Services (WFS). This API allows you to monitor stock availability, manage your catalog, item publishing, and lifecycle status. By querying for specific SKUs, you can access a wide range of inventory metrics, to ensure optimal stock management, streamline operations, and make informed decisions about WFS inventory.\n\n**Important:** This endpoint replaces the legacy WFS Inventory API (`/v3/fulfillment/inventory`), which will be deprecated in 2026 (more information to come). Switch to this new endpoint to continue accessing WFS inventory data.","operationId":"getWFSInventoryDetails","parameters":[{"name":"sku","in":"query","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item. This will be used by the seller in the XSD file to refer to each item. Special characters in the sku needing encoding are: ':', '/', '?', '#', '[', ']', '@', '!', '$', '&', \"'\", '(', ')', '*', '+', ',', ';', '=', ‘ ’ as well as '%' itself if it's a part of sku. Make sure to encode spaces with %20. Other characters don't need to be encoded.","required":false,"schema":{"type":"string"}},{"name":"gtin","in":"query","description":"Global Trade Item Number is a unique identifier for a product that is recognized internationally. This must be 14 digits.","required":false,"schema":{"type":"string"},"example":"00716999676446"},{"name":"limit","in":"query","description":"Number of SKUs to be returned. Cannot be larger than 300.","required":false,"schema":{"type":"string","default":"10"}},{"name":"offset","in":"query","description":"Offset is the number of records you wish to skip before selecting records.","required":false,"schema":{"type":"string","default":"0"}},{"name":"customerFavorite","in":"query","description":"Filters items by customer favorite status. When set to `true`, only customer favorites are returned. When set to `false`, only non-favorites are returned. If omitted, all items are returned.","required":false,"schema":{"type":"boolean"},"example":true},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"headers":{"type":"object","properties":{"totalCount":{"type":"integer","description":"Total number of results for the query.","format":"int32"},"limit":{"type":"integer","description":"Provides details on the current quantity of items available in inventory.","format":"int32"},"offset":{"type":"integer","description":"Specifies the number of records to skip before selecting the results.","format":"int32"}}},"payload":{"type":"object","properties":{"inventory":{"type":"array","items":{"type":"object","properties":{"itemInformation":{"type":"object","properties":{"itemName":{"type":"string","description":"The name of the item."},"gtin":{"type":"string","description":"The Global Trade Identification Number (GTIN) associated with the item. If you provide a 12-digit UPC rather than a GTIN, the GTIN will start with two 0s followed by the UPC."},"sku":{"type":"string","description":"The unique identifier assigned to the item by the seller."},"itemID":{"type":"string","description":"The Walmart-assigned ID used to track items. This ID is located at the end of the item page URL."},"offerID":{"type":"string","description":"The unique identifier assigned to a specific product offer. It is used to distinguish between different listings of the same product, which may vary by price, condition, or seller."},"brand":{"type":"string","description":"Identifies the company or manufacturer that markets the item."},"itemCondition":{"type":"string","description":"The item's condition described by its appearance, quality, packaging, functionality, and previous usage."}}},"inventoryData":{"type":"object","properties":{"publishingStatus":{"type":"string","description":"WFS items' publishing status can be: Published, Unpublished, Processing, Stage, Error, or WFS Ineligible."},"itemLifecycle":{"type":"string","description":"<ul><li><b>Active:</b> The item is currently in your catalog, regardless of its publishing status.</li><li><b>Retired:</b> The item has been removed from your catalog or has surpassed its listing end date. It can be reactivated.</li><li><b>Archived:</b> The item has been permanently deleted from your catalog and cannot be reactivated.</li></ul>"},"stockStatus":{"type":"string","description":"Out-of-stock items have 0 units available to sell.\nAt-risk items have fewer than 28 days of supply, including both available and inbound units.\nIn-stock items have more than 28 days of total supply.\nLong term out of stock items that have been consistently out of stock for more than 30 days.\n New to WFS items that have been set up in WFS but haven't been inbounded because a shipment order has not been created."},"availableUnits":{"type":"integer","description":"Units available for customers to place orders for.","format":"int32"},"reservedUnits":{"type":"integer","description":"The number of units from customer orders that have been placed but not yet fulfilled. Reserved units are not counted as available units, preventing overselling. Once these orders are shipped, the reserved units will decrease. If an order is canceled, the reserved units will become available again. Returns `0` when no units are currently reserved.","format":"int32"},"inboundUnits":{"type":"integer","description":"The number of units that have been sent to WFS but have not yet been received.","format":"int32"},"unavailableUnits":{"type":"object","properties":{"inventoryReviewUnits":{"type":"integer","description":"Units are undergoing a standard review process to check for compliance, expiration dates, cycle counts, and other validations. This process typically takes 24–48 hours.","format":"int32"},"inventoryMovementUnits":{"type":"integer","description":"Units are being transferred to another WFS fulfillment center to improve item availability for more customers. This process typically takes 7–10 business days.","format":"int32"}}},"onhandUnits":{"type":"integer","description":"The sum of available units, reserved units, and temporarily unavailable units due to inventory review and movement to other fulfillment centers.","format":"int32"},"inventoryAge":{"type":"object","description":"The breakdown of units across age buckets provides an overview of how long units have been stored in a WFS fulfillment center. For example, 365PlusDays indicates the number of units stored in a WFS fulfillment center for over 365 days.","properties":{"0To90days":{"type":"integer","format":"int32"},"91To180days":{"type":"integer","format":"int32"},"181To270days":{"type":"integer","format":"int32"},"271To365days":{"type":"integer","format":"int32"},"365PlusDays":{"type":"integer","format":"int32"}}},"firstInStockDate":{"type":"string","format":"date","description":"The date when an item arrives for the first time at a WFS fulfillment center."}}},"inventoryInsights":{"type":"object","properties":{"salesForecastWeek1to4":{"type":"number","format":"float","description":"The number of units estimated to sell in the next 1-4 weeks, based on the item's forecasted sales demand."},"salesForecastWeek5to8":{"type":"number","format":"float","description":"The number of units estimated to sell in the next 5-8 weeks based on the item's forecasted sales demand."},"salesForecastWeek9to12":{"type":"number","format":"float","description":"The number of units estimated to sell in the next 9-12 weeks based on the item's forecasted sales demand."},"sellThroughRate":{"type":"number","format":"float","description":"The number of units shipped to customers in the last 90 days divided by the average number of units stored in a WFS fulfillment center during the same period."},"daysOfSupply":{"type":"string","description":"The anticipated number of days your current available and inbound inventory will last, based on your daily forecasted sales demand."},"outOfStockDate":{"type":"string","format":"date","description":"The estimated date when the item will run out of stock, based on its days of supply."},"suggestedUnits":{"type":"integer","description":"The number of units recommended by Walmart to send to WFS based on the item's forecasted sales demand. These suggestions are generated by algorithms considering several factors including past sales, seasonality, listing, quality, pricing, and more.","format":"int32"},"surplusUnits":{"type":"integer","description":"The number of units that exceed 180 days of supply, calculated based on the item's forecasted sales demand.","format":"int32"},"customerFavorite":{"type":"boolean","description":"Indicates whether the item is identified as a customer favorite based on customer demand.","enum":[true,false],"example":true}}}}}}}}}}}}}}}}},"components":{"schemas":{"Inventory":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"Information about when the inventory is expected at the given ship node.Format:YYYY-MM-DD"}},"xml":{"name":"inventory"}},"SupplyQuantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"InventoryRequest":{"required":["quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"A unique alphanumeric ID you assign to each item. The response returns the decoded SKU."},"quantity":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when this inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}},"xml":{"name":"inventory"}},"Cause":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}},"Error":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}},"MultiNodeInventoryUpdateResponseDTO":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"status":{"type":"string","description":"Node Update status. Example: 'Success'"},"errors":{"type":"array","description":"Node Update Error description.","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}}}}}}},"UpdateInventoriesResponseNodeDTO":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"status":{"type":"string","description":"Node Update status. Example: 'Success'"},"errors":{"type":"array","description":"Node Update Error description.","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}}}},"MultiNodeInventoryUpdateRequestDTO":{"required":["inventories"],"type":"object","properties":{"inventories":{"required":["nodes"],"type":"object","properties":{"nodes":{"type":"array","items":{"required":["inputQty","shipNode"],"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}}}}}}}},"UpdateInventoriesRequestDTO":{"required":["nodes"],"type":"object","properties":{"nodes":{"type":"array","items":{"required":["inputQty","shipNode"],"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}}}}}},"UpdateInventoriesRequestNodeDTO":{"required":["inputQty","shipNode"],"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."}}},"FeedId":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique identifier, which is returned by the Bulk Upload API, used to track and manage the status of the feed file."},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}},"required":["feedId"]},"Elements":{"type":"object","properties":{"inventories":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}}}}},"GetAllInventoriesDTO":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}},"GetAllInventoriesNodeDTO":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}},"Meta":{"type":"object","properties":{"totalCount":{"type":"number","description":"Total number of Skus of the Seller. Example: '235'"},"nextCursor":{"type":"string","description":"Used for pagination to fetch the next set of items."}},"xml":{"name":"meta"}},"MultiNodeInventoryFetchResponseDTO":{"type":"object","properties":{"meta":{"type":"object","properties":{"totalCount":{"type":"number","description":"Total number of Skus of the Seller. Example: '235'"},"nextCursor":{"type":"string","description":"Used for pagination to fetch the next set of items."}},"xml":{"name":"meta"}},"elements":{"type":"object","properties":{"inventories":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}}}}}}},"InventoriesDTO":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"nodes":{"type":"array","items":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"errors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}}}}},"NodeDTO":{"type":"object","properties":{"shipNode":{"type":"string","description":"The unique ID of the ship node (fulfillment center) whose inventory you want to retrieve. If you omit this parameter, the response includes inventory for every ship node linked to your seller account."},"inputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"availToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"errors":{"type":"array","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"Error"}}},"inventoryAvailableDate":{"type":"string","description":"The date when the inventory becomes available at the ship node. Use ISO 8601 format (YYYY-MM-DD). If you omit this field, Walmart treats the inventory as available today."},"reservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."}}},"Headers":{"type":"object","properties":{"totalCount":{"type":"integer","description":"Total number of results for query.","format":"int32"},"limit":{"type":"integer","description":"Information about the quantity in inventory","format":"int32"},"offset":{"type":"integer","description":"Offset is the number of records you wish to skip before selecting results.","format":"int32"}}},"InventoryWFS":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"shipNodes":{"type":"array","items":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"Last changes date for the item."},"availToSellQty":{"type":"integer","description":"The available quantity is the quantity of an item that is available to be allocated to orders.","format":"int32"},"onHandQty":{"type":"integer","description":"The on-hand balance is the quantity of active inventory stored at the warehouse.Active inventory is defined as the usable amount of an item that is in the warehouse.Inventory is active if it is not damaged, expired or being inspected.","format":"int32"},"shipNodeType":{"type":"string","description":"Identifies fulfillment aspect of invetory. Walmart, seller or 3PL fulfilled. Possible value is 'WFSFulfilled'. In later phase we will also add seller fulfilled inventory."}}}}}},"Payload":{"type":"object","properties":{"inventory":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"shipNodes":{"type":"array","items":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"Last changes date for the item."},"availToSellQty":{"type":"integer","description":"The available quantity is the quantity of an item that is available to be allocated to orders.","format":"int32"},"onHandQty":{"type":"integer","description":"The on-hand balance is the quantity of active inventory stored at the warehouse.Active inventory is defined as the usable amount of an item that is in the warehouse.Inventory is active if it is not damaged, expired or being inspected.","format":"int32"},"shipNodeType":{"type":"string","description":"Identifies fulfillment aspect of invetory. Walmart, seller or 3PL fulfilled. Possible value is 'WFSFulfilled'. In later phase we will also add seller fulfilled inventory."}}}}}}}}},"ShipNodes":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"Last changes date for the item."},"availToSellQty":{"type":"integer","description":"The available quantity is the quantity of an item that is available to be allocated to orders.","format":"int32"},"onHandQty":{"type":"integer","description":"The on-hand balance is the quantity of active inventory stored at the warehouse.Active inventory is defined as the usable amount of an item that is in the warehouse.Inventory is active if it is not damaged, expired or being inspected.","format":"int32"},"shipNodeType":{"type":"string","description":"Identifies fulfillment aspect of invetory. Walmart, seller or 3PL fulfilled. Possible value is 'WFSFulfilled'. In later phase we will also add seller fulfilled inventory."}}},"WfsInventoryDTO":{"type":"object","properties":{"headers":{"type":"object","properties":{"totalCount":{"type":"integer","description":"Total number of results for query.","format":"int32"},"limit":{"type":"integer","description":"Information about the quantity in inventory","format":"int32"},"offset":{"type":"integer","description":"Offset is the number of records you wish to skip before selecting results.","format":"int32"}}},"payload":{"type":"object","properties":{"inventory":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item."},"shipNodes":{"type":"array","items":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"Last changes date for the item."},"availToSellQty":{"type":"integer","description":"The available quantity is the quantity of an item that is available to be allocated to orders.","format":"int32"},"onHandQty":{"type":"integer","description":"The on-hand balance is the quantity of active inventory stored at the warehouse.Active inventory is defined as the usable amount of an item that is in the warehouse.Inventory is active if it is not damaged, expired or being inspected.","format":"int32"},"shipNodeType":{"type":"string","description":"Identifies fulfillment aspect of inventory. Walmart, seller or 3PL fulfilled. Possible value is 'WFSFulfilled'. In later phase we will also add seller fulfilled inventory."}}}}}}}}}}},"InputQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is input by the seller"},"AvailToSellQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"Quantity of an item that is available to be allocated to orders"},"ReservedQty":{"required":["amount","unit"],"type":"object","properties":{"unit":{"type":"string","description":"A unit of measure. Walmart Marketplace supports only `EACH` which indicates one individual sellable item.","enum":["EACH"]},"amount":{"type":"number","description":"The number of units pending shipment."}},"description":"The quantity that customers have ordered but you haven't shipped yet."},"FeedError":{"type":"object","properties":{"code":{"type":"string","example":"INVALID_SKU"},"message":{"type":"string","example":"SKU 'ABC123' not found for this seller."},"field":{"type":"string","nullable":true,"example":"inventory[0].sku"},"details":{"type":"object","nullable":true}},"required":["code","message"]},"FeedErrors":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/FeedError"}}},"required":["errors"]}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
