{"openapi":"3.0.1","info":{"title":"Recommendations API","description":"APIs for providing recommendations to sellers.","version":"3.1"},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production server for all APIs."}],"tags":[{"name":"Recommendations","description":"APIs for providing recommendations to sellers."}],"paths":{"/v3/wfs/recommendation/shipment-quantity":{"post":{"tags":["Recommendations"],"summary":"Get WFS Recommended Shipment Quantity","description":"Use this API to get recommended shipment quantities for the items that you plan to send to Walmart Fulfillment Services (WFS) in order to achieve optimal inventory levels.","operationId":"getShipmentQuantityRecommendations","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Global version for API compatibility.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Market identifier.","required":true,"schema":{"type":"string"},"example":"US"}],"requestBody":{"description":"Request body containing GTINs or SKUs to retrieve the quantity limit.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"listOfGtins":{"type":"array","items":{"type":"string"},"description":"List of GTINs to request recommended shipment quantities for.","maxItems":1000},"listOfSkus":{"type":"array","items":{"type":"string"},"description":"List of SKUs to request recommended shipment quantities for.","maxItems":1000}},"oneOf":[{"required":["listOfGtins"]},{"required":["listOfSkus"]}]},"examples":{"gtins_example":{"summary":"Request with GTINs","value":{"listOfGtins":["00723508807642","00643131798370","00643131799155"],"listOfSkus":[]}},"sku_example":{"summary":"Request with SKUs","value":{"listOfGtins":[],"listOfSkus":["79903-108","79903-109","79903-110"]}}}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"},"payload":{"type":"object","properties":{"replenishments":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","description":"The Walmart-assigned ID used to track items. This ID is located at the end of the item page URL."},"gtin":{"type":"string","description":"The Global Trade Identification Number (GTIN) associated with the item. If you provide a 12-digit UPC rather than a GTIN, the GTIN will start with two 0s followed by the UPC."},"upc":{"type":"string","description":"Universal Product Code (UPC) of the item."},"vendorSku":{"type":"string","description":"The unique identifier assigned to the item by the seller."},"maxQty":{"type":"integer","description":"Recommended maximum quantity for the item"},"suggestedQty":{"type":"integer","description":"Suggested inbound quantity"},"customerFavorite":{"type":"boolean","description":"Indicates whether the item is identified as a customer favorite based on customer demand.","enum":[true,false],"example":true}},"required":["itemId","gtin","vendorSku","maxQty"]}}}}}},"example":{"status":"OK","payload":{"replenishments":[{"itemId":"430783001","gtin":"06943478024076","upc":"0e45a142-55cd-4c79-911e-5e434edb16c0","vendorSku":"HAPE-E3029","suggestedQty":100,"maxQty":200,"customerFavorite":true},{"itemId":"667578490","gtin":"06943478024953","upc":"bea01a52-9903-415b-a2b2-ab5d8edb46a8","vendorSku":"HAPE-E0457","suggestedQty":50,"maxQty":100,"customerFavorite":false}]}}}}},"400":{"description":"Bad Request - Missing required GTIN or SKU","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"400.WFS.100","field":"null","description":"gtin/sku is required attribute.","info":"Missing required identifier","severity":"ERROR","category":"REQUEST","causes":[]}]}}}},"404":{"description":"Not Found - Invalid route","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundResponse"},"example":{"timestamp":"2025-03-20T06:51:42.519+00:00","status":404,"error":"Not Found","path":"/v1/inventory/manageInventory/getInbound"}}}},"500":{"description":"Internal Server Error - All GTINs are invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"500.WFS.100","field":null,"description":"An unexpected error occurred.","info":"All GTIN's are invalid","severity":"ERROR","category":"REQUEST","causes":[]}]}}}}}}},"/v3/wfs/recommendation/restock":{"get":{"tags":["Recommendations"],"summary":"Restock Recommendations","description":"Use **Restock Recommendations** to get Walmart-generated suggestions for the items you should restock with WFS based on your current inventory and forecasted sales demand. These suggestions are available on demand. Key attributes include:\n\n- **suggestedUnits**: The number of units we suggest you send of this item to WFS\n- **forecastedSalesLift**: The estimated increase in sales you may see if your items are restocked according to our suggestions\n- **totalForecastedSalesLost**: How much money you're estimated to lose out on if you don't restock your inventory\n\nOnce you determine which suggested items to restock, you can use the Create inbound shipment API to create a shipping plan to send inventory to WFS.","operationId":"getRestockRecommendations","parameters":[{"in":"header","name":"Content-Type","description":"Specifies the literal **application/json**. This value identifies the content type of the request body.\n","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Global version for API compatibility.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","required":true,"schema":{"type":"string"},"example":"US"},{"in":"header","name":"wm_audit.origin_source","description":"Seller identifier.","required":true,"schema":{"type":"string"},"example":"SELLER_API"},{"in":"query","name":"customerFavorite","required":false,"schema":{"type":"boolean"},"description":"Filters items by customer favorite status. When set to `true`, only customer favorites are returned. When set to `false`, only non-favorites are returned. If omitted, all items are returned.","example":true},{"in":"query","name":"showInsights","required":false,"schema":{"type":"boolean","default":true},"description":"Shows aggregate recommendation values for all items.","example":"true/false"},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":30},"description":"The maximum number of SKUs to include in the response (1–300). If you omit this parameter, Walmart returns up to 30 SKUs.","example":10},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","default":0},"description":" The number of SKUs to skip before Walmart starts listing results. Set to 0 to start at the first SKU.","example":1},{"in":"query","name":"sort_by","required":false,"schema":{"type":"string","default":"forecastedSalesLift"},"description":"The attribute to be used in sorting the response.","example":"forecastedSalesLift"},{"in":"query","name":"sort_order","required":false,"schema":{"type":"string","default":"DESC","enum":["ACS","DESC"]},"description":"The order in which the response should be sorted. This can be in set to \"ASC\" or \"DESC\" order of value. Default is \"DESC.","example":"ASC/DESC"},{"in":"query","name":"showHiddenRecordsOnly","required":false,"schema":{"type":"boolean","default":false},"description":"Shows insights you have hidden.","example":"true/false"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"},"payload":{"type":"object","properties":{"recommendedItems":{"type":"array","items":{"type":"object","properties":{"gtin":{"type":"string","description":"The Global Trade Identification Number (GTIN) associated with the item. If you provide a 12-digit UPC rather than a GTIN, the GTIN will start with two 0s followed by the UPC."},"sku":{"type":"string","description":"The unique identifier you as the seller have assigned to your item."},"itemId":{"type":"string","description":"Unique identifier assigned by Walmart for each item."},"brand":{"type":"string","description":"The company name or manufacturer of the item."},"itemName":{"type":"string","description":"The name of the item."},"stockStatus":{"type":"string","description":"Out-of-stock items have 0 units available to sell.\nAt-risk items have fewer than 28 days of supply, including both available and inbound units.\nIn-stock items have more than 28 days of total supply.\nLong term out of stock items that have been consistently out of stock for more than 30 days.\nNew to WFS items that have been set up in WFS but haven't been inbounded because a shipment order has not been created."},"itemCondition":{"type":"string","description":"The item's condition described by its appearance, quality, packaging, functionality, and previous usage."},"insights":{"type":"array","items":{"type":"object","properties":{"daysOfSupply":{"type":"integer","description":"The anticipated number of days your current available and inbound inventory will last, based on your daily forecasted sales demand."},"suggestedUnits":{"type":"integer","description":"The number of units Walmart suggests you send to WFS based on the item's forecasted sales demand. These suggestions are generated by algorithms considering several factors including past sales, seasonality, listing, quality, pricing, and more."},"forecastedSalesLift":{"type":"number","description":"Estimated dollar amount in sales if the suggested number of units are sent to WFS and sold within 8 weeks."},"customerFavorite":{"type":"boolean","description":"Indicates whether the item is identified as a customer favorite based on customer demand.","enum":[true,false],"example":true}}}}}}},"totalInsights":{"type":"array","items":{"type":"object","properties":{"totalEstimatedSalesLift":{"type":"number","description":"Estimated total dollar amount you could lose in sales each day if both out-of-stock and at-risk items are not restocked."},"totalForecastedSalesLost":{"type":"number","description":"Estimated dollar amount you could lose in sales each day if all out-of-stock items are not restocked."},"totalForecastedSalesAtRisk":{"type":"number","description":"Estimated dollar amount you could lose in daily sales if all items with under 4 weeks of supply are not restocked."}}}},"totalRecords":{"type":"number","description":"The total number of item-level restock insights available to you."}}}}},"example":{"status":"OK","payload":{"recommendedItems":[{"gtin":"00781723970862","sku":"HICO-WFS-97086","itemId":"180901654","brand":"Helen's Asian Kitchen","itemName":"HIC Harold Import Co. Helen Chen’s Asian Kitchen Bamboo Foldable Compact Dish Drying Rack, 20.5-Inches x 13-Inches","stockStatus":"Out of Stock","itemCondition":"New","insights":{"daysOfSupply":0,"suggestedUnits":7,"forecastedSalesLift":0,"customerFavorite":true}}],"totalInsights":{"totalEstimatedSalesLift":0,"totalForecastedSalesLost":0,"totalForecastedSalesAtRisk":0},"totalRestockInventoryInsights":64,"totalHiddenRecords":0}}}}},"400":{"description":"Bad Request - INTERNAL_SERVER_ERROR","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"400.WFS.101"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"SON_PARSE_EXCEPTION"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"400.WFS.100","field":"null","description":"JSON_PARSE_EXCEPTION","info":"null","severity":"ERROR","category":"REQUEST","causes":[]}]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"500.WFS.100"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"WFS_INTERNAL_SERVER_ERROR"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"500.WFS.100","field":null,"description":"WFS_INTERNAL_SERVER_ERROR","info":null,"severity":"ERROR","category":"REQUEST","causes":[]}]}}}}}}},"/v3/wfs/recommendation/fulfill-with-wfs":{"get":{"tags":["Recommendations"],"summary":" Fulfill with WFS Recommendations","description":"Use **Fulfill With WFS Recommendations** to identify which seller-fulfilled items in your catalog Walmart suggests could potentially perform best when fulfilled by WFS. These suggestions are available on demand, and suggestions are refreshed the 1st and 15th of each month.\n\nKey attributes include:\n\n- **estimatedSalesLift**: The estimated increase in sales you could see if you converted the suggested items from seller-fulfilled to WFS.\n\n- **sellerFulfilledPast30DaysSales**: A historical view of your seller-fulfilled sales for the past 30 days.\n- **walmartFulfilledEstimatedSales**: An estimated view of your potential sales if the suggested items were fulfilled by WFS.\n\nYou can use these suggestions to determine which items to convert to WFS.","operationId":"getFulfillWithWFSRecommendations","parameters":[{"in":"header","name":"Content-Type","description":"Specifies the literal **application/json**. This value identifies the content type of the request body.\n","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Global version for API compatibility.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","required":true,"schema":{"type":"string"},"example":"US"},{"in":"header","name":"wm_audit.origin_source","description":"Seller identifier.","required":true,"schema":{"type":"string"},"example":"SELLER_API"},{"in":"query","name":"customerFavorite","required":false,"schema":{"type":"boolean"},"description":"Filters items by customer favorite status. When set to `true`, only customer favorites are returned. When set to `false`, only non-favorites are returned. If omitted, all items are returned.","example":true},{"in":"query","name":"showInsights","required":false,"schema":{"type":"boolean","default":false},"description":"Shows aggregate recommendation values for all items.","example":"true/false"},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":30},"description":"The maximum number of SKUs to include in the response (1–300). If you omit this parameter, Walmart returns up to 30 SKUs.","example":10},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","default":0},"description":" The number of SKUs to skip before Walmart starts listing results. Set to 0 to start at the first SKU.","example":1},{"in":"query","name":"sort_by","required":false,"schema":{"type":"string","default":"estimatedSalesLift"},"description":"The attribute to be used in sorting the response.","example":"estimatedSalesLift"},{"in":"query","name":"sort_order","required":false,"schema":{"type":"string","default":"DESC","enum":["ACS","DESC"]},"description":"The order in which the response should be sorted. This can be in set to \"ASC\" or \"DESC\" order of value. Default is \"DESC.","example":"ASC/DESC"},{"in":"query","name":"showHiddenRecordsOnly","required":false,"schema":{"type":"boolean","default":false},"description":"Shows insights you have hidden.","example":"true/false"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"},"payload":{"type":"object","properties":{"recommendedItems":{"type":"array","items":{"type":"object","properties":{"gtin":{"type":"string","description":"The Global Trade Identification Number (GTIN) associated with the item. If you provide a 12-digit UPC rather than a GTIN, the GTIN will start with two 0s followed by the UPC."},"sku":{"type":"string","description":"The unique identifier you as the seller have assigned to your item."},"itemId":{"type":"string","description":"Unique identifier assigned by Walmart for each item."},"brand":{"type":"string","description":"The company name or manufacturer of the item."},"itemName":{"type":"string","description":"The name of the item."},"insights":{"type":"array","items":{"type":"object","properties":{"estimatedSalesLift":{"type":"number","description":"The sales lift we predict you’ll see after your recommended items are converted, sent to WFS and made available to sell. "},"suggestedUnits":{"type":"number","description":"The number of units Walmart suggests you send to WFS based on the item's forecasted sales demand. These suggestions are generated by algorithms considering several factors including past sales, seasonality, listing, quality, pricing, and more."},"customerFavorite":{"type":"boolean","description":"Indicates whether the item is identified as a customer favorite based on customer demand.","enum":[true,false],"example":true}}}}}}},"totalInsights":{"type":"array","items":{"type":"object","properties":{"sellerFulfilledPast30DaysSales":{"type":"number","description":"What you currently earn from seller-fulfilled items, based on your weekly average sales from the past 30 days."},"walmartFulfilledEstimatedSales":{"type":"number","description":"What we predict you’ll earn if you convert the following items to WFS and send the suggested quantities. This is the sum of your predicted WFS GMV in the 30 days after your items are available to sell. To leverage these suggestions, we recommend you convert and send your items to WFS within the next 4 weeks."},"totalEstimatedSalesLift":{"type":"number","description":"Total estimated sales lift if these items are converted to WFS and sold within the next 30 days of recommendation generation. This is your Walmart-fulfilled GMV minus seller-fulfilled GMV."}}}},"totalRecords":{"type":"number","description":"Total number of Fulfill with WFS insights available to you."}}}}},"example":{"status":"OK","payload":{"recommendedItems":[{"gtin":"00781723970862","sku":"HICO-WFS-97086","itemId":"180901654","brand":"Helen's Asian Kitchen","itemName":"HIC Harold Import Co. Helen Chen’s Asian Kitchen Bamboo Foldable Compact Dish Drying Rack, 20.5-Inches x 13-Inches.","insights":{"estimatedSalesLift":0,"suggestedUnits":7,"customerFavorite":true}}],"totalInsights":{"sellerFulfilledPast30DaysSales":0,"walmartFulfilledEstimatedSales\t":0,"totalEstimatedSalesLift":0},"totalRecords":64}}}}},"400":{"description":"Bad Request - INTERNAL_SERVER_ERROR","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"400.WFS.101"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"SON_PARSE_EXCEPTION"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"400.WFS.100","field":"null","description":"JSON_PARSE_EXCEPTION","info":"null","severity":"ERROR","category":"REQUEST","causes":[]}]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"500.WFS.100"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"WFS_INTERNAL_SERVER_ERROR"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"500.WFS.100","field":null,"description":"WFS_INTERNAL_SERVER_ERROR","info":null,"severity":"ERROR","category":"REQUEST","causes":[]}]}}}}}}},"/v3/wfs/recommendation/unpublished":{"get":{"tags":["Recommendations"],"summary":" Unpublished Recommendations","description":"This call helps you identify the estimated storage fees with Walmart for your unpublished WFS items.\n\nUse **Unpublished Recommendations** to fetch a current list of your unpublished WFS items. This is available on demand. \n\nKey data attributes include:\n\n- **unpublishedIssue**: The reason your item is currently unpublished with Walmart.\n- **estimatedStorageFee**: The estimated storage costs associated with your unpublished WFS inventory.\n- **totalunpublishedunitsstored**: The total quantity of units in WFS fulfillment centers for unpublished items.\n\nUse this data to identify the reason these items are unpublished and the estimated costs associated with these unpublished items. By default, these suggestions will only include items that are active with an Available to Sell (ATS) quantity of 0.","operationId":"getUnpublishedRecommendations","parameters":[{"in":"header","name":"Content-Type","description":"Specifies the literal **application/json**. This value identifies the content type of the request body.\n","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json.","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Global version for API compatibility.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","required":true,"schema":{"type":"string"},"example":"US"},{"in":"header","name":"wm_audit.origin_source","description":"Seller identifier.","required":true,"schema":{"type":"string"},"example":"SELLER_API"},{"in":"query","name":"customerFavorite","required":false,"schema":{"type":"boolean"},"description":"Filters items by customer favorite status. When set to `true`, only customer favorites are returned. When set to `false`, only non-favorites are returned. If omitted, all items are returned.","example":true},{"in":"query","name":"showInsights","required":false,"schema":{"type":"boolean","default":false},"description":"Shows aggregate recommendation values for all items.","example":"true/false"},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","default":30},"description":"The maximum number of SKUs to include in the response (1–300). If you omit this parameter, Walmart returns up to 30 SKUs.","example":10},{"in":"query","name":"offset","required":false,"schema":{"type":"integer","default":0},"description":" The number of SKUs to skip before Walmart starts listing results. Set to 0 to start at the first SKU.","example":1},{"in":"query","name":"sort_by","required":false,"schema":{"type":"string","default":"estimatedSalesLift"},"description":"The attribute to be used in sorting the response.","example":"forecastedSalesLift"},{"in":"query","name":"sort_order","required":false,"schema":{"type":"string","default":"DESC","enum":["ACS","DESC"]},"description":"The order in which the response should be sorted. This can be in set to \"ASC\" or \"DESC\" order of value. Default is \"DESC.","example":"ASC/DESC"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"OK"},"payload":{"type":"object","properties":{"recommendedItems":{"type":"array","items":{"type":"object","properties":{"gtin":{"type":"string","description":"The Global Trade Identification Number (GTIN) associated with the item. If you provide a 12-digit UPC rather than a GTIN, the GTIN will start with two 0s followed by the UPC."},"sku":{"type":"string","description":"The unique identifier you as the seller have assigned to your item."},"itemId":{"type":"string","description":"Unique identifier assigned by Walmart for each item."},"brand":{"type":"string","description":"The company name or manufacturer of the item."},"itemName":{"type":"string","description":"The name of the item."},"itemCondition":{"type":"string","description":"The item's condition described by its appearance, quality, packaging, functionality, and previous usage."},"unitsStored":{"type":"integer","description":"The estimated number of units per item currently in stock at WFS fulfillment centers."},"publishingStatus":{"type":"string","description":"The overall status of the item in your Walmart Marketplace catalog. Available statuses include: Published, Unpublished, Processing, Stage, Error, or WFS Ineligible."},"insights":{"type":"array","items":{"type":"object","properties":{"unpublishedIssueType":{"type":"string","description":"High-level issue type explaining why your item is unpublished."},"estimatedStorageFee":{"type":"number","description":"Based on your current inventory level, this is the estimated per-unit storage cost of your unpublished WFS items for the next 30 days."},"inventoryValue":{"type":"number","description":"The estimated dollar value of the available inventory for each unpublished WFS item in your catalog."},"customerFavorite":{"type":"boolean","description":"Indicates whether the item is identified as a customer favorite based on customer demand.","enum":[true,false],"example":true}}}}}}},"totalInsights":{"type":"array","items":{"type":"object","properties":{"totalUnpublishedUnitsStored":{"type":"number","description":"The total number of units of all your unpublished items that are currently in stock at WFS fulfillment centers."},"totalEstimatedStorageFee":{"type":"number","description":"Based on your current inventory level, this is the estimated total cost of storing your unpublished WFS items for the next 30 days."},"totalInventoryValue":{"type":"number","description":"The estimated total dollar value of the available inventory for all your WFS unpublished items."}}}},"totalRecords":{"type":"number","description":"Total number of WFS Unpublished insights available to you."}}}}},"example":{"status":"OK","payload":{"unpublishedItems":[{"gtin":"00068889023497","sku":"DOBE-35404253","itemId":"20659781","brand":"Pyle","itemName":"Pyle 40-Watt Professional Megaphone/Bullhorn","itemCondition":"New","unitsStored":0,"publishingStatus":"UNPUBLISHED","insights":{"unpublishedIssueType":"Listing Issue","estimatedStorageFee":0,"inventoryValue":0,"customerFavorite":true}}],"totalInsights":{"totalUnpublishedUnitsStored":261,"totalEstimatedStorageFee":2.3763,"totalInventoryValue":565},"totalRecords":18}}}}},"400":{"description":"Bad Request - INTERNAL_SERVER_ERROR","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"400.WFS.101"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"SON_PARSE_EXCEPTION"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"400.WFS.100","field":"null","description":"JSON_PARSE_EXCEPTION","info":"null","severity":"ERROR","category":"REQUEST","causes":[]}]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"INTERNAL_SERVER_ERROR"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"500.WFS.100"},"field":{"type":"string","example":"null"},"description":{"type":"string","example":"WFS_INTERNAL_SERVER_ERROR"},"info":{"type":"string","example":"null"},"severity":{"type":"string","example":"ERROR"},"category":{"type":"string","example":"REQUEST"},"causes":{"type":"array","example":""}}}}}},"example":{"status":"INTERNAL_SERVER_ERROR","errors":[{"code":"500.WFS.100","field":null,"description":"WFS_INTERNAL_SERVER_ERROR","info":null,"severity":"ERROR","category":"REQUEST","causes":[]}]}}}}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string"},"category":{"type":"string"},"causes":{"type":"array","items":{"type":"object"}}},"xml":{"name":"Error"}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"NotFoundResponse":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"},"status":{"type":"integer"},"error":{"type":"string"},"path":{"type":"string"}}}}}}
