{"openapi":"3.0.1","info":{"title":"Reviews Acceleration","version":"1.0","description":"The Reviews Acceleration API lets sellers view and enroll items in the Review Accelerator post-purchase program (RAP). Sellers can: \n\n* View eligible products using the Get RAP post-purchase items API.\n* View currently enrolled products using the same API.\n* Identify products that reached their review target after enrollment.\n* Filter by category and price, sort by item priority, and search by product name or SKU.\n* Enroll or disenroll products in bulk using the bulk update item status API.\n"},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Refers to the URL used for accessing the production server."},{"url":"https://sandbox.walmartapis.com","description":"Refers to the URL used for accessing the sandbox server."}],"security":[{"accessToken":[]}],"paths":{"/v3/growth/reviews-accelerator/items/status":{"put":{"tags":["Reviews"],"summary":"Bulk update item status","description":"Use this API to enroll or disenroll items in the Review Accelerator Program (RAP).","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-reviews/#11535"},"operationId":"bulkUpdateItemStatus","parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["items","status"],"type":"object","properties":{"status":{"type":"string","description":"Action to apply to all items.\n\n- ENROLL: Enroll items into the program. Data type: String\n- DISENROLL: Opt out items from the program. Data type: String","enum":["ENROLL","DISENROLL"]},"items":{"type":"array","description":"List of items to update.","items":{"required":["itemId"],"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"targetReviews":{"type":"integer","description":"Sets the target number of reviews to collect for this item during enrollment. Default is 5. Maximum allowed is 20.","format":"int32","example":15}},"description":"List of items to update."}}}},"examples":{"Enrol Items":{"value":{"status":"ENROLL","items":[{"itemId":"2719243"},{"itemId":"2719255"}]}},"Dis-Enrol Items":{"value":{"status":"DISENROLL","items":[{"itemId":"2719243"},{"itemId":"2719255"}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"success":{"type":"object","properties":{"items":{"type":"array","description":"Items processed successfully.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemDescription":{"type":"string","description":"Description of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"}},"description":"Successful item."}}},"description":"Summary of items that succeeded."},"failure":{"type":"object","properties":{"items":{"type":"array","description":"Items that could not be processed.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"errorCode":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_ITEM_ID.001"},"errorDescription":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload has an invalid ItemId. Check the values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}},"description":"Failed items."}}},"description":"Summary of items that failed."}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"examples":{"Enrol Items":{"value":{"statusCode":200,"payload":{"success":{"items":[{"itemId":"2719243","itemDescription":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sku":"NK-WHT2XL"}]},"failure":{"items":[{"itemId":"2719255","errorCode":"400.INVALID_ITEMID.001","errorDescription":"Invalid itemId","severity":"ERROR","category":"DATA"}]}}}},"Dis-Enrol Items":{"value":{"statusCode":200,"payload":{"success":{"items":[{"itemId":"2719243","itemDescription":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sku":"NK-WHT2XL"},{"itemId":"2719255","itemDescription":"Strikeforce Men's Flyer Medium and Wide Width Bowling Shoe","sku":"NK-WHT78S"}]}}}}}}}}}}},"/v3/growth/reviews-accelerator/items":{"post":{"tags":["Reviews"],"summary":"Get RAP post-purchase items","description":" Use this endpoint to retrieve items by RAP status (ELIGIBLE, ENROLLED, COMPLETE). Supports category and price filters, search by item name or SKU, and sorting by Walmart-recommended item priority or price.\n","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-reviews/#11533"},"operationId":"getIrpItems","parameters":[{"name":"scrollId","in":"query","description":"Scroll cursor for pagination. For the first request, pass \"*\" to fetch the initial page. For subsequent requests, pass the `scrollId` returned in the previous response.","required":true,"allowReserved":true,"schema":{"type":"string","default":"*"}},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"The request payload must include the filter criteria or parameters that determine which results are returned by the API endpoint.","content":{"application/json":{"schema":{"required":["filter"],"type":"object","properties":{"search":{"type":"array","description":"Search request criteria. Each object defines the parameters for an individual search operation.","items":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_NAME | Product name | string |\n| SKU | Specifies the item identifier. This value is defined by the seller. | string |","enum":["ITEM_NAME","SKU"]},"value":{"type":"string"}},"description":"Search request criteria. Each object defines the parameters for an individual search operation."}},"filter":{"required":["itemStatus"],"type":"object","properties":{"itemStatus":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ELIGIBLE | To get items which are eligible for the program. | string |\n| ENROLLED | To get items which are currently enrolled into the program. | string |\n| COMPLETE | To get items which have attained target reviews through the program. | string |","enum":["ELIGIBLE","ENROLLED","COMPLETE"]},"dateRange":{"type":"string","description":"Date range to filter impressions, page views, and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"category":{"type":"array","description":"Represents the category to which an item belongs.","example":"HARDLINES","items":{"type":"string","description":"The category name for the item.","example":"HARDLINES"}},"price":{"type":"object","properties":{"minimum":{"type":"number","description":"Minimum price of the item.","format":"double","example":10},"maximum":{"type":"number","description":"Maximum price of the item.","format":"double","example":1000}},"description":"Price range of the items."},"isCustomerFavorite":{"type":"boolean","description":"Filter items by customer favorite status. Set to true to return only customer favorite items. Set to false to return only non-customer favorite items. If omitted, all items are returned regardless of customer favorite status.","example":false}},"description":"Defines the set of filtering conditions to apply when retrieving items. Use this object to specify which items to include in the response based on their status, date range, category, and price."},"sort":{"type":"array","description":"An array of sorting criteria objects. Each object specifies how the results should be ordered based on one or more item attributes.","items":{"type":"object","properties":{"field":{"type":"string","description":"The item attribute to use for sorting.\n\n| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_PRIORITY | Recommended priority of the item by Walmart. | integer |\n| PRICE | Item price | integer |","enum":["ITEM_PRIORITY","PRICE"]},"order":{"type":"string","enum":["ASC","DESC"]},"priority":{"type":"integer","description":"Determines the order in which sorting rules are applied when multiple fields are specified. Lower numbers indicate higher priority.","format":"int32","example":1}},"description":"Sort request."}}}},"examples":{"Get Eligible Items":{"value":{"filter":{"itemStatus":"ELIGIBLE"}}},"Get Enrolled Items":{"value":{"filter":{"itemStatus":"ENROLLED"}}},"Get Complete Items":{"value":{"filter":{"itemStatus":"COMPLETE"}}},"Get customer favorite items":{"value":{"filter":{"itemStatus":"ELIGIBLE","dateRange":"30DAYS","isCustomerFavorite":true}}},"Filter sort and search Items":{"value":{"filter":{"itemStatus":"ELIGIBLE","dateRange":"7DAYS","category":["32 JEWELRY","SHOES"],"price":{"minimum":10,"maximum":100}},"search":[{"value":"kids","field":"ITEM_NAME"}],"sort":[{"field":"ITEM_PRIORITY","order":"ASC","priority":1},{"field":"PRICE","order":"DESC","priority":2}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"totalItems":{"type":"integer","description":"The total of items found.","format":"int32","example":2348},"fetchedItems":{"type":"integer","description":"The total of items fetched.","format":"int32","example":200},"dateRange":{"type":"string","description":"Date range to filter impressions, page views and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"items":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemName":{"type":"string","description":"Name of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sales":{"type":"integer","nullable":true,"description":"Units sold during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":45},"currentReviews":{"type":"integer","description":"Current number of reviews on the item.","format":"int32","example":0},"impressions":{"type":"integer","nullable":true,"description":"The number of times the item appeared in search results during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":1937},"currentPageViews":{"type":"integer","nullable":true,"description":"The number of views on the item page during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":900},"reviewsCollected":{"type":"integer","description":"The number of reviews collected for the item through IRP.","format":"int32","example":0},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"},"itemStatus":{"type":"string","description":"Current status of the item in IRP.","enum":["COMPLETE","ELIGIBLE","ENROLLED"]},"itemPriority":{"type":"integer","description":"Priority of the item as recommended by Walmart.","format":"int32","example":1},"isCustomerFavorite":{"type":"boolean","nullable":true,"description":"Indicates whether the item is a customer favorite. When the isCustomerFavorite request filter is omitted, this field may be true, false, or null depending on available item data. When the filter is provided, only items matching the filter value are returned (true returns only customer favorites; false returns only non-customer favorites).","example":true}}}},"scrollId":{"type":"string","description":"Specifies the searchId to fetch the subsequent set of results.","example":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ=="}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"examples":{"Get Eligible Items":{"value":{"statusCode":200,"payload":{"totalItems":1,"fetchedItems":1,"dateRange":"7DAYS","scrollId":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ==","items":[{"itemId":"100015964","itemName":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sales":231232,"currentReviews":3,"impressions":214231,"currentPageViews":2342,"reviewsCollected":0,"sku":"NK-WHT2XL","itemStatus":"ELIGIBLE","itemPriority":1,"isCustomerFavorite":null}]}}},"Get Enrolled Items":{"value":{"statusCode":200,"payload":{"totalItems":1,"fetchedItems":1,"dateRange":"7DAYS","scrollId":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ==","items":[{"itemId":"100015964","itemName":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sales":32,"currentReviews":5,"impressions":214231,"currentPageViews":2342,"reviewsCollected":2,"sku":"NK-WHT2XL","itemStatus":"ENROLLED","itemPriority":1,"isCustomerFavorite":null}]}}},"Get Complete Items":{"value":{"statusCode":200,"payload":{"totalItems":1,"fetchedItems":1,"dateRange":"7DAYS","scrollId":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ==","items":[{"itemId":"100015964","itemName":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sales":132,"currentReviews":10,"impressions":2231,"currentPageViews":232,"reviewsCollected":7,"sku":"NK-WHT2XL","itemStatus":"COMPLETE","itemPriority":1,"isCustomerFavorite":null}]}}},"Get customer favorite items":{"value":{"statusCode":200,"payload":{"totalItems":1,"fetchedItems":1,"dateRange":"30DAYS","scrollId":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ==","items":[{"itemId":"test_VR2","itemName":"Shirt Item Good Shirt Item 4","sales":null,"currentReviews":0,"impressions":null,"currentPageViews":null,"reviewsCollected":0,"sku":"FLF5LBBKT","itemStatus":"ELIGIBLE","itemPriority":14,"isCustomerFavorite":true}]}}},"Filter sort and search Items":{"value":{"statusCode":200,"payload":{"totalItems":1,"fetchedItems":1,"dateRange":"7DAYS","scrollId":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ==","items":[{"itemId":"100015964","itemName":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel","sales":122,"currentReviews":3,"impressions":81421,"currentPageViews":2342,"reviewsCollected":0,"sku":"NK-WHT2XL","itemStatus":"ELIGIBLE","itemPriority":1,"isCustomerFavorite":null}]}}}}}}}}}},"/v3/growth/reviews-accelerator/categories":{"post":{"tags":["Reviews"],"summary":"Get categories","description":"To get the set of categories the RAP post-purchase items belong to.","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-reviews/#11539"},"operationId":"getIrpCategories","parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"The request payload contains the necessary parameters and criteria required by the API endpoint.","content":{"application/json":{"schema":{"type":"object","properties":{"itemStatus":{"type":"array","description":"An array representing the IRP status values for the items.","items":{"type":"string","description":"The IRP status of an individual item.","enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"enum":["ENROLLED","ELIGIBLE","COMPLETE"]}}},"examples":{"Get categories with status":{"value":{"itemStatus":["ENROLLED","ELIGIBLE","COMPLETE"]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"itemStatus":{"type":"array","description":"IRP status of the items.","items":{"type":"string","description":"IRP status of the items.","enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"categories":{"type":"array","description":"Category of the items in requested item status.","example":"APPAREL","items":{"type":"string","description":"Category of the items in requested item status.","example":"APPAREL"}}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"examples":{"Get categories with status":{"value":{"statusCode":200,"payload":{"itemStatus":["ENROLLED","ELIGIBLE","COMPLETE"],"categories":["HARDLINES","HOME","APPAREL"]}}}}}}}}}}},"components":{"schemas":{"BulkItemStatusUpdateResponsePayload":{"type":"object","properties":{"success":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemDescription":{"type":"string","description":"Description of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"}},"description":"Items."}}},"description":"Items succeeded."},"failure":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"errorCode":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_ITEM_ID.001"},"errorDescription":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload has an invalid ItemId. Check the values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}},"description":"Items."}}},"description":"Items failed."}},"description":"Response payload."},"BulkItemUpdateResponse":{"type":"object","properties":{"payload":{"type":"object","properties":{"success":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemDescription":{"type":"string","description":"Description of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"}},"description":"Items."}}},"description":"Items succeeded."},"failure":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"errorCode":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_ITEM_ID.001"},"errorDescription":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload has an invalid ItemId. Check the values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}},"description":"Items."}}},"description":"Items failed."}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"Error":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}},"Failure":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"errorCode":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_ITEM_ID.001"},"errorDescription":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload has an invalid ItemId. Check the values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}},"description":"Items."}}},"description":"Items failed."},"ItemsFailureResponse":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"errorCode":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_ITEM_ID.001"},"errorDescription":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload has an invalid ItemId. Check the values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}},"description":"Items."},"ItemsSuccessResponse":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier.","example":"100015964"},"itemDescription":{"type":"string","description":"Description of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"}},"description":"Items."},"Success":{"type":"object","properties":{"items":{"type":"array","description":"Items.","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemDescription":{"type":"string","description":"Description of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"}},"description":"Items."}}},"description":"Items succeeded."},"BulkItemStatusUpdateRequest":{"required":["items","status"],"type":"object","properties":{"status":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ENROLL | To enroll items into the program. | string |\n| DISENROLL | To opt out items from the program. | string |","enum":["ENROLL","DISENROLL"]},"items":{"type":"array","description":"Items processed successfully.","items":{"required":["itemId"],"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"targetReviews":{"type":"integer","description":"Sets the target number of reviews to collect for this item during enrollment. Default is 5. Maximum allowed is 20.","format":"int32","example":15}},"description":"List of items to update."}}}},"ItemsRequest":{"required":["itemId"],"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"targetReviews":{"type":"integer","description":"Sets the target number of reviews to collect for this item during enrollment. Default is 5. Maximum allowed is 20.","format":"int32","example":15}},"description":"List of items to update."},"GetIrpItemsResponse":{"type":"object","properties":{"payload":{"type":"object","properties":{"totalItems":{"type":"integer","description":"The total of items found.","format":"int32","example":2348},"fetchedItems":{"type":"integer","description":"The total of items fetched.","format":"int32","example":200},"dateRange":{"type":"string","description":"Date range to filter impressions, page views and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"items":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemName":{"type":"string","description":"Name of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sales":{"type":"integer","nullable":true,"description":"Units sold during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":45},"currentReviews":{"type":"integer","description":"Current number of reviews on the item.","format":"int32","example":0},"impressions":{"type":"integer","nullable":true,"description":"The number of times the item appeared in search results during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":1937},"currentPageViews":{"type":"integer","nullable":true,"description":"The number of views on the item page during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":900},"reviewsCollected":{"type":"integer","description":"The number of reviews collected for the item through IRP.","format":"int32","example":0},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"},"itemStatus":{"type":"string","description":"Current status of the item in IRP.","enum":["COMPLETE","ELIGIBLE","ENROLLED"]},"itemPriority":{"type":"integer","description":"Priority of the item as recommended by Walmart.","format":"int32","example":1}}}},"scrollId":{"type":"string","description":"Specifies the searchId to fetch the subsequent set of results.","example":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ=="}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"GetIrpItemsResponsePayload":{"type":"object","properties":{"totalItems":{"type":"integer","description":"The total of items found.","format":"int32","example":2348},"fetchedItems":{"type":"integer","description":"The total of items fetched.","format":"int32","example":200},"dateRange":{"type":"string","description":"Date range to filter impressions, page views and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"items":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemName":{"type":"string","description":"Name of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sales":{"type":"integer","nullable":true,"description":"Units sold during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":45},"currentReviews":{"type":"integer","description":"Current number of reviews on the item.","format":"int32","example":0},"impressions":{"type":"integer","nullable":true,"description":"The number of times the item appeared in search results during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":1937},"currentPageViews":{"type":"integer","nullable":true,"description":"The number of views on the item page during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":900},"reviewsCollected":{"type":"integer","description":"The number of reviews collected for the item through IRP.","format":"int32","example":0},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"},"itemStatus":{"type":"string","description":"Current status of the item in IRP.","enum":["COMPLETE","ELIGIBLE","ENROLLED"]},"itemPriority":{"type":"integer","description":"Priority of the item as recommended by Walmart.","format":"int32","example":1}}}},"scrollId":{"type":"string","description":"Specifies the searchId to fetch the subsequent set of results.","example":"DXF1ZXJ5QW5kRmV0Y2gBAAAAAACUyUsWamJiNUxwcDJUU0dxbHBObmJvRUF2UQ=="}},"description":"Response payload."},"ItemsPayload":{"type":"object","properties":{"itemId":{"type":"string","description":"Specifies the item identifier assigned by Walmart.","example":"100015964"},"itemName":{"type":"string","description":"Name of the item.","example":"View-Master Discovery Kids 3D Marine Life Toy Viewfinder Reel"},"sales":{"type":"integer","nullable":true,"description":"Units sold during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":45},"currentReviews":{"type":"integer","description":"Current number of reviews on the item.","format":"int32","example":0},"impressions":{"type":"integer","nullable":true,"description":"The number of times the item appeared in search results during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":1937},"currentPageViews":{"type":"integer","nullable":true,"description":"The number of views on the item page during the specified date range. The default date range is the last 7 days. May be null when data is unavailable for the item.","format":"int32","example":900},"reviewsCollected":{"type":"integer","description":"The number of reviews collected for the item through IRP.","format":"int32","example":0},"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) of an item assigned by the seller.","example":"NK-WHT2XL"},"itemStatus":{"type":"string","description":"Current status of the item in IRP.","enum":["COMPLETE","ELIGIBLE","ENROLLED"]},"itemPriority":{"type":"integer","description":"Priority of the item as recommended by Walmart.","format":"int32","example":1}}},"FilterRequest":{"required":["itemStatus"],"type":"object","properties":{"itemStatus":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ELIGIBLE | To get items which are eligible for the program. | string |\n| ENROLLED | To get items which are currently enrolled into the program. | string |\n| COMPLETE | To get items which have attained target reviews through the program. | string |","enum":["ELIGIBLE","ENROLLED","COMPLETE"]},"dateRange":{"type":"string","description":"Date range to filter impressions, page views, and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"category":{"type":"array","description":"Represents the category to which an item belongs.","example":"HARDLINES","items":{"type":"string","description":"Category of the items.","example":"HARDLINES"}},"price":{"type":"object","properties":{"minimum":{"type":"number","description":"Minimum price of the item.","format":"double","example":10},"maximum":{"type":"number","description":"Maximum price of the item.","format":"double","example":1000}},"description":"Price range of the items."}},"description":"The filter criteria for the request."},"GetIrpItemsRequest":{"required":["filter"],"type":"object","properties":{"search":{"type":"array","description":"Search request.","items":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_NAME | Product name | string |\n| SKU | Specifies the item identified. This value is defined by the seller. | string |","enum":["ITEM_NAME","SKU"]},"value":{"type":"string"}},"description":"Search request."}},"filter":{"required":["itemStatus"],"type":"object","properties":{"itemStatus":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ELIGIBLE | To get items which are eligible for the program | string |\n| ENROLLED | To get items which are currently enrolled into the program | string |\n| COMPLETE | To get items which have attained target reviews through the program | string |","enum":["ELIGIBLE","ENROLLED","COMPLETE"]},"dateRange":{"type":"string","description":"Date range to filter impressions, page views, and sales.","default":"7DAYS","enum":["7DAYS","14DAYS","30DAYS"]},"category":{"type":"string","description":"Category of the items.","example":"HARDLINES"},"price":{"type":"object","properties":{"minimum":{"type":"number","description":"Minimum price of the item.","format":"double","example":10},"maximum":{"type":"number","description":"Maximum price of the item.","format":"double","example":1000}},"description":"Price range of the items."}},"description":"The filter criteria for the request."},"sort":{"type":"array","description":"An array of sorting criteria objects. Each object specifies how the results should be ordered based on one or more item attributes.","items":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_PRIORITY | Recommended priority of the item by Walmart. | integer |\n| PRICE | Item price | integer |","enum":["ITEM_PRIORITY","PRICE"]},"order":{"type":"string","enum":["ASC","DESC"]},"priority":{"type":"integer","description":"Determines the order in which sorting rules are applied when multiple fields are specified. Lower numbers indicate higher priority.","format":"int32","example":1}},"description":"Sort request."}}}},"PriceRequest":{"type":"object","properties":{"minimum":{"type":"number","description":"Minimum price of the item.","format":"double","example":10},"maximum":{"type":"number","description":"Maximum price of the item.","format":"double","example":1000}},"description":"Price range of the items."},"SearchRequest":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_NAME | Product name | string |\n| SKU | Specifies the item identified. This value is defined by the seller. | string |","enum":["ITEM_NAME","SKU"]},"value":{"type":"string"}},"description":"The value to search for in the specified field."},"SortRequest":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type |\n| --- | ----------- | ------- |\n| ITEM_PRIORITY | Recommended priority of the item by Walmart. | integer |\n| PRICE | Item price | integer |","enum":["ITEM_PRIORITY","PRICE"]},"order":{"type":"string","enum":["ASC","DESC"]},"priority":{"type":"integer","description":"Sort priority of the specified field.","format":"int32","example":1}},"description":"Sort request."},"GetCategoriesResponse":{"type":"object","properties":{"payload":{"type":"object","properties":{"itemStatus":{"type":"array","description":"IRP status of the items.","items":{"type":"string","description":"IRP status of the items.","enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"categories":{"type":"array","description":"Category of the items in requested item status.","example":"APPAREL","items":{"type":"string","description":"Category of the items in requested item status.","example":"APPAREL"}}},"description":"Response payload."},"statusCode":{"type":"integer","description":"Status code for the request.","format":"int32","example":200},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"A unique identifier for the type of error. This helps in quickly recognizing and categorizing the specific issue.","example":"400.INVALID_REQUEST.003"},"description":{"type":"string","description":"A detailed message explaining what caused the error. This provides more context about the issue.","example":"The request payload is either invalid or is improperly formatted. Check the payload values and try again."},"category":{"type":"string","description":"Classifies the error into a specific group or type, which helps in organizing and managing different types of issues.","example":"DATA"},"severity":{"type":"string","description":"Indicates the criticality of the error. Common values include ERROR, WARNING, or INFO.","example":"ERROR"}}}}}},"GetCategoriesResponsePayload":{"type":"object","properties":{"itemStatus":{"type":"array","description":"IRP status of the items.","items":{"type":"string","description":"IRP status of the items.","enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"categories":{"type":"array","description":"Category of the items in requested item status.","example":"APPAREL","items":{"type":"string","description":"Category of the items in requested item status.","example":"APPAREL"}}},"description":"Response payload."},"GetCategoriesRequest":{"type":"object","properties":{"itemStatus":{"type":"array","description":"IRP status of the items.","items":{"type":"string","description":"IRP status of the items.","enum":["ENROLLED","ELIGIBLE","COMPLETE"]},"enum":["ENROLLED","ELIGIBLE","COMPLETE"]}}}},"parameters":{"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}},"securitySchemes":{"accessToken":{"type":"apiKey","in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token required for authenticating API requests.\n\nTo obtain a token, call `POST https://marketplace.walmartapis.com/v3/token` with your client ID and client secret using the OAuth 2.0 client credentials grant type. Refer to the [Token API documentation](https://developer.walmart.com/us-marketplace/docs/get-an-access-token) for details.\n\nPass the resulting token in the `WM_SEC.ACCESS_TOKEN` header with every API request."}}}}
