{"openapi":"3.0.1","info":{"title":"Rich media management","version":"1.0","description":"Use the rich media management APIs to upload, link, delink, and manage 360-spin images and videos for Walmart Marketplace items. After registration, use your consumer ID and private key to authenticate and begin integration."},"security":[{"accessToken":[]}],"servers":[{"url":"https://marketplace.walmartapis.com","description":"Base URL for production requests."},{"url":"https://sandbox.walmartapis.com","description":"Base URL for sandbox requests."}],"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"paths":{"/v3/items/assets":{"get":{"tags":["Rich Media"],"summary":"Get all assets","description":"Use this API to retrieve rich media assets, including 360-spin images and videos, from the seller catalog. Assets can be created in seller center media library or programmatically through the API. Use this endpoint to retrieve the asset hash, which uniquely identifies each media asset for future management.","operationId":"getAllAssets","parameters":[{"name":"page","in":"query","description":"Indicates the page number to return in the paginated result set. Use this parameter to navigate through multiple pages of results. The value should be a positive integer. For example, 1 for the first page, 2 for the second, and so on.","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"limit","in":"query","description":"Defines the maximum number of items to return per page when retrieving paginated data. Use this parameter to control the number of results included in a single page. The value should be a positive integer.","required":false,"schema":{"type":"integer","format":"int32","default":25},"example":25},{"name":"linkedGtins","in":"query","description":"Filters assets by linked GTIN. Provide multiple GTINs as a list. If omitted, all assets are returned.","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false,"example":["00716999676446","07815386164856"]},{"name":"richMediaTitle","in":"query","description":"Filters assets by rich media title or asset title. If omitted, all assets are returned.","required":false,"schema":{"type":"string"},"example":"title"},{"name":"richMediaType","in":"query","description":"Filters assets by rich media type. Allowed values: `IMAGES360`, `VIDEO`.","required":false,"schema":{"type":"string","enum":["IMAGES360","VIDEO"]},"example":"VIDEO"},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the consumer channel type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful operation. Returns matching rich media assets. When no items match the query, the response contains an empty payload and total records as 0.","content":{"application/json":{"schema":{"type":"object","title":"AssetsResponse","description":"Response contains assets details for rich media asset search results.","properties":{"status":{"type":"string","description":"response status","example":"OK"},"payload":{"type":"array","description":"Array of rich media asset records matching the query.","items":{"type":"object","title":"RichMediaAssetPayload","properties":{"hash":{"type":"string","description":"SHA-1 hash that uniquely identifies this rich media asset.","example":"8db4c830c098c4d5f7feefac7788ee23eb84c250"},"mediaTitle":{"type":"string","description":"Display title for the rich media asset.","example":"test-06-03-02"},"mediaType":{"type":"string","description":"Type of rich media asset. Determines the structure of the `richMediaAsset` object.","enum":["VIDEO","IMAGES360"],"example":"VIDEO"},"source":{"type":"string","description":"Originating source of the rich media asset. Possible values: `MARKETPLACE_PARTNER`, `SELLER_API`","enum":["MARKETPLACE_PARTNER","SELLER_API"],"example":"MARKETPLACE_PARTNER"},"items":{"type":"array","description":"List of items associated with this rich media asset.","items":{"type":"object","title":"AssociatedItemPayload","properties":{"itemId":{"type":"string","description":"Walmart-generated item identifier.","example":"5040004491"},"gtin":{"type":"string","description":"Global Trade Item Number (GTIN-14) for the linked item.","example":"06703211947310"},"updatedDtm":{"type":"string","description":"Timestamp of the most recent item-asset linkage update, in epoch milliseconds.","example":"1780524849214"},"mediaType":{"type":"string","description":"Media type as recorded for this specific item linkage.","enum":["VIDEO","IMAGES360"],"example":"VIDEO"},"locale":{"type":"string","description":"Locale for the item-asset association (BCP 47 format with underscore separator).","example":"en_US"},"status":{"type":"string","description":"Publication status of this asset for the linked item.","example":"PUBLISHED"}}}},"richMediaAsset":{"description":"Asset content details. Structure varies by `mediaType`: `VIDEO` assets contain video URL, optional closed captions, category, and thumbnail; `IMAGES360` assets contain an ordered array of image frame URLs.","oneOf":[{"$ref":"#/components/schemas/VideoAssetDetailPayload"},{"$ref":"#/components/schemas/Images360AssetDetailPayload"}],"discriminator":{"propertyName":"mediaType","mapping":{"VIDEO":"#/components/schemas/VideoAssetDetailPayload","IMAGES360":"#/components/schemas/Images360AssetDetailPayload"}}},"addedDtm":{"type":"string","description":"Timestamp when the asset was first created, in epoch milliseconds.","example":"1780522773490"},"updatedDtm":{"type":"string","description":"Timestamp when the asset record was last updated, in epoch milliseconds.","example":"1780522773493"}}}},"totalRecords":{"type":"integer","description":"Number of rich media assets returned in the current response.","example":2},"headerAttributes":{"type":"object","description":"Additional response header metadata. Typically an empty object.","additionalProperties":true},"errors":{"type":"array","description":"Array of error details. Empty array when no errors occurred.","items":{"type":"object"}}}},"examples":{"multipleRecords":{"summary":"Mixed — `VIDEO` and `IMAGES360` asssts in same response","description":"Response containing both a `VIDEO` and an `IMAGES360` asset, as returned when an item has multiple rich media types attached.","value":{"status":"OK","payload":[{"hash":"8db4c830c098c4d5f7feefac7788ee23eb84c250","mediaTitle":"test-06-03-02","mediaType":"VIDEO","source":"MARKETPLACE_PARTNER","items":[{"itemId":"5040004491","gtin":"06703211947310","updatedDtm":"1780524849214","mediaType":"VIDEO","locale":"en_US","status":"DELETED"}],"richMediaAsset":{"richMediaClosedCaption":[{"richMediaCaptionLanguage":"English","richMediaVideoClosedCaptionUrl":"ç"}],"richMediaVideoAssetUrl":"https://example.com/video.mp4","richMediaVideoCategory":"Product Overview","richMediaVideoTitle":"test-06-03-02","richMediaVideoThumbnailUrl":"https://example.com/thumbnail.png"},"addedDtm":"1780522773490","updatedDtm":"1780522773493"},{"hash":"defd7d8240e53cbd656fdc1b5ea5e8709dfb5bec","mediaTitle":"test-pic-05-21-01","mediaType":"IMAGES360","source":"SELLER_API","items":[{"itemId":"5027865059","gtin":"07399465702929","updatedDtm":"1780542681634","mediaType":"IMAGES360","locale":"en_US","status":"PUBLISHED"}],"richMediaAsset":{"richMediaImageUrl":["https://example.com/frame_1.jpg","https://example.com/frame_2.jpg","https://example.com/frame_3.jpg","https://example.com/frame_4.jpg","https://example.com/frame_5.jpg","https://example.com/frame_6.jpg","https://example.com/frame_7.jpg","https://example.com/frame_8.jpg","https://example.com/frame_9.jpg","https://example.com/frame_10.jpg","https://example.com/frame_11.jpg","https://example.com/frame_12.jpg","https://example.com/frame_13.jpg","https://example.com/frame_14.jpg","https://example.com/frame_15.jpg","https://example.com/frame_16.jpg","https://example.com/frame_17.jpg","https://example.com/frame_18.jpg","https://example.com/frame_19.jpg","https://example.com/frame_20.jpg","https://example.com/frame_21.jpg","https://example.com/frame_22.jpg","https://example.com/frame_23.jpg","https://example.com/frame_24.jpg"]},"addedDtm":"1779388383200","updatedDtm":"1779388383204"}],"totalRecords":2,"headerAttributes":{},"errors":[]}},"emptyPayload":{"summary":"No assets found","description":"When no rich media assets match the query, an empty payload array is returned with `totalRecords` of 0.","value":{"status":"OK","payload":[],"totalRecords":0,"headerAttributes":{},"errors":[]}}}}}},"400":{"description":"Bad request — A required parameter is missing or a supplied value is invalid.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"missingParam":{"value":{"type":"https://marketplace.walmart.com/errors/missing-param","title":"Missing required parameter","status":400,"detail":"At least one search param is required.","instance":"/v3/items/assets"}}}}}},"401":{"description":"Unauthorized — Missing, invalid, or expired bearer token.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"invalidAccess":{"value":{"type":"https://marketplace.walmart.com/errors/invalid-access","title":"Invalid access token","status":401,"detail":"Access token is invalid or expired","instance":"/v3/items/assets"}}}}}},"403":{"description":"Forbidden — Seller access is not authorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"notAuthorized":{"value":{"type":"https://marketplace.walmart.com/errors/not-authorized","title":"Not authorized","status":403,"detail":"Access token is not authorized","instance":"/v3/items/assets"}}}}}},"404":{"description":"Not found - No asset matched the provided filter.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"badRequest":{"value":{"type":"https://marketplace.walmart.com/errors/bad-request","title":"Asset hash not found","status":404,"detail":"Asset hash not found with provided filter","instance":"/v3/items/assets"}}}}}},"429":{"description":"Rate limit exceeded - Too many requests that exceeds limit.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"rateLimitExceeded":{"value":{"type":"https://marketplace.walmart.com/errors/rate-limit-exceeded","title":"Rate limit exceeded","status":429,"detail":"Rate limit exceeded","instance":"/v3/items/assets"}}}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"internalServerError":{"value":{"type":"https://marketplace.walmart.com/errors/internal-server-error","title":"Internal server error","status":500,"detail":"Internal server error. Try again later","instance":"/v3/items/assets"}}}}}}}}},"/v3/feeds?feedType=OMNI_RICH_MEDIA":{"post":{"tags":["Rich Media"],"summary":"Manage rich media assets (Add/Edit/Delink)","description":"Use this API to create, update, or delink rich media assets for items in the seller catalog. Supported asset types are `IMAGES360` and `VIDEO`. Use this API to 1) add new rich media, 2) update associations for existing rich media, or 3) delink item association on existing rich media. Provide accessible media URLs and related metadata in the request body. Video assets require one video URL. 360-spin image assets require 24 image URLs.","operationId":"richMediaOperation","parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the consumer channel type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"required":true,"description":"Rich media feed payload containing asset metadata, item associations, and media URLs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RichMediaFeedRequest"},"examples":{"createVideo":{"summary":"Create a new rich media for `VIDEO` asset","description":"Example payload structure for creating a new rich media `VIDEO` asset.","value":{"SupplierItemFeedHeader":{"subCategory":"video","feedType":"OMNI_RICH_MEDIA","locale":"en","version":"2.0.20240524-16_47_14","subset":"EXTERNAL"},"SupplierItem":[{"Orderable":{"productId":"06703211947310"},"Visible":{"Video":{"richMediaVideoAssetUrl":"https://example.com/video.mp4","richMediaVideoTitle":"Test-Sample-Video","richMediaVideoThumbnailUrl":"https://example.com/thumbnail.png","richMediaVideoCategory":"Product Overview","richMediaClosedCaption":[{"richMediaClosedCaptioningUrl":"https://example.com/captions.vtt","richMediaCaptionLanguage":"English"}]}}}]}},"create360Image":{"summary":"Create a new rich media for `IMAGES360` asset","description":"Example payload structure for creating a new rich media `IMAGES360` asset.","value":{"SupplierItemFeedHeader":{"subCategory":"360_spin_image","feedType":"OMNI_RICH_MEDIA","locale":"en","version":"2.0.20240524-16_47_14","subset":"EXTERNAL"},"SupplierItem":[{"Orderable":{"productId":"012345678901"},"Visible":{"360SpinImage":{"richMediaImageUrl":["https://example.com/frame_1.jpg","https://example.com/frame_2.jpg","https://example.com/frame_3.jpg","https://example.com/frame_4.jpg","https://example.com/frame_5.jpg","https://example.com/frame_6.jpg","https://example.com/frame_7.jpg","https://example.com/frame_8.jpg","https://example.com/frame_9.jpg","https://example.com/frame_10.jpg","https://example.com/frame_11.jpg","https://example.com/frame_12.jpg","https://example.com/frame_13.jpg","https://example.com/frame_14.jpg","https://example.com/frame_15.jpg","https://example.com/frame_16.jpg","https://example.com/frame_17.jpg","https://example.com/frame_18.jpg","https://example.com/frame_19.jpg","https://example.com/frame_20.jpg","https://example.com/frame_21.jpg","https://example.com/frame_22.jpg","https://example.com/frame_23.jpg","https://example.com/frame_24.jpg"],"richMedia360SpinTitle":"test-image-360"}}}]}},"delinkVideo":{"summary":"Delink association for rich media `VIDEO` type","description":"Example payload for delinking association GTINs from `VIDEO` type rich media.","value":{"SupplierItemFeedHeader":{"subCategory":"video","feedType":"OMNI_RICH_MEDIA","locale":"en","version":"2.0.20240524-16_47_14","subset":"EXTERNAL"},"SupplierItem":[{"Orderable":{"productId":"06703211947310"},"Visible":{"Video":{"mediaOperations":"Delink","richMediaVideoAssetUrl":"https://example.com/video.mp4","richMediaVideoTitle":"Test-Sample-Video","richMediaVideoThumbnailUrl":"https://example.com/thumbnail.png","richMediaVideoCategory":"Product Overview","richMediaClosedCaption":[{"richMediaClosedCaptioningUrl":"https://example.com/captions.vtt","richMediaCaptionLanguage":"English"}]}}}]}},"delink360Image":{"summary":"Delink association for rich media `IMAGES360` type","description":"Example payload for delinking association GTINs from `IMAGES360` type rich media.","value":{"SupplierItemFeedHeader":{"subCategory":"360_spin_image","feedType":"OMNI_RICH_MEDIA","locale":"en","version":"2.0.20240524-16_47_14","subset":"EXTERNAL"},"SupplierItem":[{"Orderable":{"productId":"012345678901"},"Visible":{"360SpinImage":{"mediaOperations":"Delink","richMediaImageUrl":["https://example.com/frame_1.jpg","https://example.com/frame_2.jpg","https://example.com/frame_3.jpg","https://example.com/frame_4.jpg","https://example.com/frame_5.jpg","https://example.com/frame_6.jpg","https://example.com/frame_7.jpg","https://example.com/frame_8.jpg","https://example.com/frame_9.jpg","https://example.com/frame_10.jpg","https://example.com/frame_11.jpg","https://example.com/frame_12.jpg","https://example.com/frame_13.jpg","https://example.com/frame_14.jpg","https://example.com/frame_15.jpg","https://example.com/frame_16.jpg","https://example.com/frame_17.jpg","https://example.com/frame_18.jpg","https://example.com/frame_19.jpg","https://example.com/frame_20.jpg","https://example.com/frame_21.jpg","https://example.com/frame_22.jpg","https://example.com/frame_23.jpg","https://example.com/frame_24.jpg"]}}}]}}}}}},"responses":{"200":{"description":"Successful — The feed accepted and queued for processing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedResponse"},"example":{"feedId":"18B507B0440B59E29934D51ED3714B2A@AZEBBgA"}}}},"400":{"description":"Bad request — The feed payload is invalid or a required field is missing.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"invalidPayload":{"value":{"type":"https://marketplace.walmart.com/errors/invalid-payload","title":"Invalid feed payload","status":400,"detail":"The 'feedType' field is required and was not provided.","instance":"/v3/feeds"}}}}}},"401":{"description":"Unauthorized — Missing, invalid, or expired bearer token.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"invalidAccess":{"value":{"type":"https://marketplace.walmart.com/errors/invalid-access","title":"Invalid access token","status":401,"detail":"Access token is invalid or expired","instance":"/v3/feeds"}}}}}},"403":{"description":"Forbidden — Seller access is not authorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"notAuthorized":{"value":{"type":"https://marketplace.walmart.com/errors/not-authorized","title":"Not authorized","status":403,"detail":"Access token is not authorized","instance":"/v3/feeds"}}}}}},"429":{"description":"Rate limit exceeded - Too many requests that exceeds limit.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"rateLimitExceeded":{"value":{"type":"https://marketplace.walmart.com/errors/rate-limit-exceeded","title":"Rate limit exceeded","status":429,"detail":"Rate limit exceeded","instance":"/v3/feeds"}}}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"internalServerError":{"value":{"type":"https://marketplace.walmart.com/errors/internal-server-error","title":"Internal server error","status":500,"detail":"Internal server error. Try again later","instance":"/v3/feeds"}}}}}}}}}},"components":{"schemas":{"SupplierItemFeedHeader":{"type":"object","required":["feedType","locale","version","subCategory","subset"],"description":"Metadata header for the rich media feed.","properties":{"feedType":{"type":"string","enum":["OMNI_RICH_MEDIA"],"description":"Feed type identifier. Allowed value: `OMNI_RICH_MEDIA`.","example":"OMNI_RICH_MEDIA"},"locale":{"type":"string","description":"Locale code for the feed content.","example":"en"},"version":{"type":"string","description":"Schema version string for the feed.","example":"2.0.20240524-16_47_14"},"subCategory":{"type":"string","enum":["video","360_spin_image"],"description":"Rich media sub-category that determines the required Visible block. Allowed values: `video`, `360_spin_image`.","example":"video"},"subset":{"type":"string","enum":["EXTERNAL"],"description":"Subset that identifies the feed source or audience. Allowed value: `EXTERNAL`.","example":"EXTERNAL"}}},"ClosedCaption":{"type":"object","description":"A single closed caption entry for a video asset.","properties":{"richMediaClosedCaptioningUrl":{"type":"string","format":"uri","description":"URL of the closed caption file in `.vtt` format.","example":"https://example.com/captions_en.vtt"},"richMediaCaptionLanguage":{"type":"string","description":"Language of the captions.","example":"English"}}},"VideoAsset":{"type":"object","description":"Video rich media block. Required when `SupplierItemFeedHeader.subCategory` is `video`.","required":["richMediaVideoAssetUrl","richMediaVideoTitle","richMediaVideoCategory"],"properties":{"richMediaVideoAssetUrl":{"type":"string","format":"uri","description":"Publicly accessible URL for the hosted video asset. To delink or associate additional GTINs with an existing asset, use the video URL returned in the response from the Get all assets API.","example":"https://example.com/product-video.mp4"},"richMediaVideoTitle":{"type":"string","description":"Display title for the video. To delink or associate additional GTINs with an existing asset, use the video title returned in the response from the Get all assets API.","example":"Test-Sample-Video"},"richMediaVideoThumbnailUrl":{"type":"string","format":"uri","description":"Publicly accessible URL for the video thumbnail image. To delink or associate additional GTINs with an existing asset, use the video thumbnail URL returned in the response from the Get all assets API.","example":"https://example.com/thumbnail.png"},"richMediaVideoCategory":{"type":"string","description":"Video category label. Allowed value: `Product Overview`.","enum":["Product Overview"],"default":"Product Overview"},"mediaOperations":{"type":"string","enum":["Delink"],"nullable":true,"description":"Operation type. Allowed values: `Delink` and `null`(empty). Set to `Delink` to remove the GTIN association from this asset. Set to `null` (empty) for create/edit operations."},"richMediaClosedCaption":{"type":"array","description":"Closed caption entry for the video. Maximum allowed: 1. To delink or associate additional GTINs with an existing asset, use the video caption returned in the response from the Get all assets API.","maxItems":1,"items":{"$ref":"#/components/schemas/ClosedCaption"}}}},"SpinImageAsset":{"type":"object","description":"360-spin image rich media block. Required when `SupplierItemFeedHeader.subCategory` is `360_spin_image`.","required":["richMediaImageUrl"],"properties":{"richMediaImageUrl":{"type":"array","description":"Ordered list of 24 accessible 360-spin image frame URLs, numbered sequentially with suffix from `_1` to `_24`. To delink GTINs from an existing asset, use the 360-spin image URLs returned in the response from the Get all assets API.","minItems":24,"maxItems":24,"items":{"type":"string","format":"uri"},"example":["https://example.com/frame_1.jpg","https://example.com/frame_2.jpg","https://example.com/frame_3.jpg","https://example.com/frame_4.jpg","https://example.com/frame_5.jpg","https://example.com/frame_6.jpg","https://example.com/frame_7.jpg","https://example.com/frame_8.jpg","https://example.com/frame_9.jpg","https://example.com/frame_10.jpg","https://example.com/frame_11.jpg","https://example.com/frame_12.jpg","https://example.com/frame_13.jpg","https://example.com/frame_14.jpg","https://example.com/frame_15.jpg","https://example.com/frame_16.jpg","https://example.com/frame_17.jpg","https://example.com/frame_18.jpg","https://example.com/frame_19.jpg","https://example.com/frame_20.jpg","https://example.com/frame_21.jpg","https://example.com/frame_22.jpg","https://example.com/frame_23.jpg","https://example.com/frame_24.jpg"]},"richMedia360SpinTitle":{"type":"string","description":"Display title for the 360-spin image.","example":"test-image-360"},"mediaOperations":{"type":"string","enum":["Delink"],"nullable":true,"description":"Operation type. Allowed values: `Delink` and `null`(empty). Set to `Delink` to remove the GTIN association from this asset. Set to `null` (empty) for create/edit operations."}}},"SupplierItemOrderable":{"type":"object","required":["productId"],"properties":{"productId":{"type":"string","description":"Product GTIN (Global Trade Item Number) — the unique product identifier.","example":"012345678901"}}},"VisibleVideoPayload":{"type":"object","description":"Visible block for a video rich media asset. Discriminator for this block is set as subcategory: `VIDEO`","properties":{"Video":{"$ref":"#/components/schemas/VideoAsset"}}},"Visible360ImagePayload":{"type":"object","description":"Visible block for a 360-spin image rich media asset. Discriminator for this block is set as subcategory: `IMAGES360`","properties":{"360SpinImage":{"$ref":"#/components/schemas/SpinImageAsset"}}},"SupplierItemPayload":{"type":"object","required":["Orderable","Visible"],"properties":{"Orderable":{"$ref":"#/components/schemas/SupplierItemOrderable"},"Visible":{"description":"The visible block for rich media. The expected structure depends on `SupplierItemFeedHeader.subCategory`. Discriminator is based on `SupplierItemFeedHeader.subCategory`","oneOf":[{"$ref":"#/components/schemas/VisibleVideoPayload"},{"$ref":"#/components/schemas/Visible360ImagePayload"}]}}},"RichMediaFeedRequest":{"type":"object","required":["SupplierItemFeedHeader","SupplierItem"],"description":"Request body for creating, updating, or delinking rich media assets.","properties":{"SupplierItemFeedHeader":{"$ref":"#/components/schemas/SupplierItemFeedHeader"},"SupplierItem":{"type":"array","description":"One or multiple rich media asset details and associated items.","minItems":1,"items":{"$ref":"#/components/schemas/SupplierItemPayload"}}}},"VideoAssetDetailPayload":{"type":"object","title":"VideoAssetDetailPayload","description":"Rich media content for a VIDEO type asset.","properties":{"mediaType":{"type":"string","enum":["VIDEO"],"description":"Discriminator field identifying this as a VIDEO asset."},"richMediaClosedCaption":{"type":"array","description":"Closed caption tracks associated with the video. May be empty if no captions are available.","items":{"type":"object","properties":{"richMediaCaptionLanguage":{"type":"string","description":"Human-readable language name for this caption track.","example":"English"},"richMediaVideoClosedCaptionUrl":{"type":"string","description":"URL of the closed caption file in `.vtt` format.","example":"https://example.com/caption.vtt"}}}},"richMediaVideoAssetUrl":{"type":"string","description":"URL of the video asset file.","example":"https://example.com/video.mp4"},"richMediaVideoCategory":{"type":"string","description":"Category classifying the type of video content.","example":"Product Overview"},"richMediaVideoTitle":{"type":"string","description":"Display title of the video.","example":"test-06-03-02"},"richMediaVideoThumbnailUrl":{"type":"string","description":"URL of the video thumbnail image.","example":"https://example.com/thumbnail.png"}}},"Images360AssetDetailPayload":{"type":"object","title":"Images360AssetDetailPayload","description":"Rich media content for an `IMAGES360` type asset.","properties":{"mediaType":{"type":"string","enum":["IMAGES360"],"description":"Discriminator field identifying this as an IMAGES360 asset."},"richMediaImageUrl":{"type":"array","description":"Ordered list of 360-spin image frame URLs, numbered sequentially from `_1` to `_24`.","items":{"type":"string","description":"URL of a single 360-spin image frame."}}}},"FeedResponse":{"type":"object","description":"Response returned upon successful feed submission.","properties":{"feedId":{"type":"string","description":"Unique identifier for the submitted feed job. Use this to check feed processing status.","example":"18B507B0440B59E29934D51ED3714B2A@AZEBBgA"}}},"ProblemDetails":{"type":"object","description":"RFC 9457 problem details for HTTP APIs (https://www.rfc-editor.org/rfc/rfc9457). Used for all 4xx and 5xx error responses in the Rich media management API.","properties":{"type":{"type":"string","format":"uri","description":"A URI reference that identifies the problem type. Dereferencing this URI should provide human-readable documentation.","example":"https://marketplace.walmart.com/errors/missing-param"},"title":{"type":"string","description":"A short, human-readable summary of the problem type. Should not change from occurrence to occurrence.","example":"Missing required parameter"},"status":{"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence of the problem.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"At least one search param is required."},"instance":{"type":"string","format":"uri-reference","description":"A URI reference that identifies the specific occurrence of the problem. May be relative.","example":"/v3/items/assets"},"code":{"type":"string","description":"Walmart rich media-specific error code. Pattern: RM-XXXX (e.g. RM-4001 for missing param, RM-4002 for invalid value).","example":"RM-4001"}},"example":{"type":"https://marketplace.walmart.com/errors/missing-param","title":"Missing required parameter","status":400,"detail":"At least one search param is required.","instance":"/v3/items/assets","code":"RM-4001"}}},"securitySchemes":{"accessToken":{"type":"apiKey","in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs."}},"parameters":{"accept":{"name":"Accept","in":"header","description":"Supported media type. Allowed value: `application/json`.","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Supported media type. Allowed value: `application/json`.","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
