{"openapi":"3.0.1","info":{"title":"Ship With Walmart","version":"1.0","description":"The Ship With Walmart (SWW) APIs enables walmart.com sellers to buy shipping at competitively discounted rates directly from Walmart to ship their goods to US customers."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"accessToken":[]}],"paths":{"/v3/shipping/labels":{"post":{"tags":["Ship With Walmart"],"summary":"Create label","description":"This API generates shipping labels using the shipment information provided. A successful response includes a tracking number and a media type format (pdf or image) specified in the Accept header.\nFor example: 'Accept'='application/json,application/pdf' returns a pdf, \n'Accept'='application/json,image/png' returns an image png and 'Accept'='application/json' returns a json response. \n\n*   Refer request sample1 for United-States(US) to United-States(US) shipping. \n*   Refer request sample2 for United-States(US) to United-States(US) shipping with addons. \n*   Refer request sample3 for China(CN) to United-States(US) shipping. \n*   Refer request sample4 for BYOA.\n\n **Note**: The Ship with Walmart service from China to the U.S. is paused until further notice.\n","operationId":"createLabel","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Specifies the desired response format. The order of media types determines the priority for format selection.\n\n**Supported values:**\n- `application/json` : Returns tracking information only (no label file).\n- `application/json, application/pdf` : Returns the label in PDF format.\n- `application/json, image/png` : Returns the label in PNG format.","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Label fields","content":{"application/json":{"schema":{"required":["boxDimensions","boxItems","carrierName","carrierServiceType","packageType","purchaseOrderId"],"type":"object","properties":{"packageType":{"type":"string","description":"Package Type. This value maps to 'packageTypeShortName' from Supported carrier package types API response."},"boxDimensions":{"required":["boxWeight","boxWeightUnit"],"type":"object","description":"Box dimensions and weight for a shipping package.","properties":{"boxLength":{"minimum":0,"type":"number","description":"The length of the package. Required when packageType is CUSTOM_PACKAGE, not required for other standard package types (Example: FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWidth":{"minimum":0,"type":"number","description":"The width of the package. Required when packageType is CUSTOM_PACKAGE, not required for other standard package types (Example: FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxHeight":{"minimum":0,"type":"number","description":"The height of the package. Required when packageType is CUSTOM_PACKAGE, not required for other standard package types (Example: FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWeight":{"type":"number","description":"The weight of the package. Required for all package types. The Unit is determined by boxWeightUnit."},"boxDimensionUnit":{"type":"string","description":"Unit of measurement for the package length, width, and height. Allowed values: IN (inches), FT (feet), CM (centimeters). Required when packageType is CUSTOM_PACKAGE, not required for other standard package types (Example: FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.","enum":["IN","FT","CM"]},"boxWeightUnit":{"type":"string","description":"Unit of measurement for the package weight. Allowed values: LB (pounds), KG (kilograms), OZ (ounces).","enum":["LB","KG","OZ"]}}},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"The stock keeping unit of an item."},"quantity":{"type":"integer","description":"Quantity of the item.","format":"int32"},"lineNumber":{"type":"string","description":"PO line number."},"productName":{"type":"string","description":"The name of the product. This parameter is required if carrier is opted as 'Yanwen' and also for shipping from India(IN) to United-States(US)."},"productNameInLocale":{"type":"string","description":"The name of the product in Mandarin. This parameter is required if carrier is opted as 'Yanwen'."},"hsCode":{"type":"string","description":"HS Code, Harmonized System code, is a six-digit numerical identifier used for classifying traded products worldwide. This is a mandatory field for India(IN) to United-States(US) shipping."},"originState":{"type":"string","description":"Origin state. This field is mandatory for shipments from India (IN) to the United States (US)."},"originCity":{"type":"string","description":"Origin city. This field is mandatory for shipments from India (IN) to the United States (US)."},"countryOfOrigin":{"type":"string","description":"Country of origin. This field is mandatory for shipments from India (IN) to the United States (US)."}},"description":"Box Items"}},"fromAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"companyName":{"type":"string","description":"Company name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"City of the from address location."},"state":{"type":"string","description":"State or province of the from address. Use the standard two-letter code where applicable (example, CA, TX)."},"postalCode":{"type":"string","description":"ZIP or postal code of the from address location."},"country":{"type":"string","description":"Country code of the from address location (example, US)."},"phone":{"type":"string","description":"Phone number associated with the from address location."},"email":{"type":"string","description":"Email address associated with the from address location."}},"description":"From address"},"purchaseOrderId":{"type":"string","description":"Purchase order ID "},"carrierName":{"type":"string","description":"Carrier name. This value maps to 'shortName' from Supported carriers API response. Currently FedEx and USPS are supported carriers."},"carrierServiceType":{"type":"string","description":"Carrier service type. This value maps to 'serviceTypes.name' from Shipping Estimates API response"},"addOns":{"type":"array","description":"Add-on response items. Add-ons can be opted during label generation for a shipping. Supported values for Add-ons are INSURANCE and SIGNATURE. We support standard SIGNATURE Type for now.","items":{"type":"string","description":"Add-on type. Add-ons can be opted during label generation for a shipping. Supported values for add-ons are INSURANCE and SIGNATURE. We support standard SIGNATURE Type for now.","enum":["SIGNATURE","INSURANCE"]}},"returnAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"City of the return address location."},"state":{"type":"string","description":"State or province of the return address. Use the standard two-letter code where applicable (example, CA, TX)."},"postalCode":{"type":"string","description":"ZIP or postal code of the return address location."},"country":{"type":"string","description":"Country code of the return address location (example, US)."},"phone":{"type":"string","description":"Phone number associated with the return address location."},"email":{"type":"string","description":"Email address associated with the return address location."},"shipNode":{"type":"string","description":"ship Node"}},"description":"Return Address. This is only mandatory field for yanwen."},"hasBattery":{"type":"boolean","description":"hasBattery flag. Pass 'true' if the shipment consists of battery. This is a mandatory field for yanwen."},"hazmat":{"type":"boolean","description":"hazmat flag. Pass 'true' if the shipment consists of hazardous material."},"accountType":{"type":"string","description":"Account Type. This is a mandatory field in case of BYOA"},"shipOnDate":{"type":"string","description":"Optional. The ship-on date for the label in yyyy-MM-dd format. Use the [Get ship-on-date API](https://developer.walmart.com/api/us/mp/ship-with-walmart#operation/getShipOnDate) to retrieve the valid ship-on date window before creating a label.","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-06-02"}}},"examples":{"sample1":{"value":{"packageType":"CUSTOM_PACKAGE","boxDimensions":{"boxDimensionUnit":"IN","boxWeightUnit":"LB","boxWeight":13,"boxLength":13,"boxWidth":9,"boxHeight":0},"boxItems":[{"lineNumber":"1","sku":"PRECISE3PGLASS9","quantity":1}],"fromAddress":{"contactName":"Test Seller","companyName":"Test Company","addressLine1":"Add1","addressLine2":"Add2","city":"Anchorage","state":"AK","postalCode":"99501","country":"US","phone":"12253","email":"test@walmart.com"},"purchaseOrderId":"97108719025934786","carrierName":"FedEx","carrierServiceType":"FEDEX_2_DAY","hazmat":true}},"sample2":{"value":{"packageType":"CUSTOM_PACKAGE","boxDimensions":{"boxDimensionUnit":"IN","boxWeightUnit":"LB","boxWeight":13,"boxLength":13,"boxWidth":9,"boxHeight":0},"boxItems":[{"lineNumber":"1","sku":"PRECISE3PGLASS9","quantity":1}],"fromAddress":{"contactName":"Test Seller","companyName":"Test Company","addressLine1":"Add1","addressLine2":"Add2","city":"Anchorage","state":"AK","postalCode":"99501","country":"US","phone":"12253","email":"test@walmart.com"},"addOns":["INSURANCE","SIGNATURE"],"purchaseOrderId":"97108719025934786","carrierName":"FedEx","carrierServiceType":"FEDEX_2_DAY"}},"sample3":{"value":{"packageType":"CUSTOM_PACKAGE","boxDimensions":{"boxDimensionUnit":"IN","boxWeightUnit":"LB","boxWeight":13,"boxLength":13,"boxWidth":9,"boxHeight":0},"boxItems":[{"lineNumber":"1","sku":"PRECISE3PGLASS9","quantity":1,"productName":"racket","productNameInLocale":"读写汉字"}],"fromAddress":{"contactName":"Test Seller","companyName":"Test Company","addressLine1":"Add1","addressLine2":"Add2","city":"guangZhouShi","state":"GD","postalCode":"510599","country":"CN","phone":"12253","email":"test@walmart.com"},"returnAddress":{"contactName":"深圳市市盛天育科区游乡寺 - 10001223622 - MP","addressLine1":"福田区石峡新田世纪商务中心B座36楼11室","city":"深圳","state":"系列","postalCode":"581000","country":"CN","phone":"9087654589","email":"sfsorderbatching@gmail.com","shipNode":"765476571"},"purchaseOrderId":"97108719025934786","carrierName":"Yanwen","carrierServiceType":"YANWEN_EXPRESS","hasBattery":true}},"sample4":{"value":{"packageType":"CUSTOM_PACKAGE","boxDimensions":{"boxDimensionUnit":"IN","boxWeightUnit":"LB","boxWeight":2,"boxLength":2,"boxWidth":2,"boxHeight":2},"boxItems":[{"sku":"SKUWfs6055469496189","quantity":1,"lineNumber":"1"}],"fromAddress":{"contactName":"Shoes.com - 10900015173 - MP","addressLine1":"2050 Royal Dr, Apt-7","addressLine2":"Apt-7","city":"SANTA CLARA","state":"CA","postalCode":"95050","country":"US","phone":"8024455150"},"purchaseOrderId":"108919840486078","carrierName":"FedEx","carrierServiceType":"FEDEX_EXPRESS_SAVER","accountType":"OWN","shipOnDate":"2026-06-02"}},"sample5":{"value":{"packageType":"CUSTOM_PACKAGE","boxDimensions":{"boxDimensionUnit":"IN","boxWeightUnit":"KG","boxWeight":13,"boxLength":13,"boxWidth":9,"boxHeight":0},"boxItems":[{"lineNumber":"1","sku":"SKUWfs6055469496189","quantity":1,"productName":"Boys tshirt","hsCode":"12332412","originState":"Delhi","originCity":"Delhi","countryOfOrigin":"IN"}],"fromAddress":{"contactName":"Test Seller","companyName":"Test Company","addressLine1":"Add1","addressLine2":"Add2","city":"Bangalore","state":"Karanataka","postalCode":"560100","country":"IN","phone":"2074193432","email":"test@walmart.com"},"purchaseOrderId":"108913539040341","carrierName":"FedEx","carrierServiceType":"FEDEX_INTERNATIONAL_PRIORITY","hazmat":false}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"Purchase Order Id "},"trackingNo":{"type":"string","description":"Tracking Number"},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"The name of the product. This parameter is required if carrier is opted as 'Yanwen' and also for shipping from India(IN) to United-States(US)."},"productNameInLocale":{"type":"string","description":"The name of the product in Mandarin. This parameter is required if carrier is opted as 'Yanwen'."},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"}},"carrierName":{"type":"string","description":"Carrier Short Name"},"carrierFullName":{"type":"string","description":"Carrier Full Name"},"carrierServiceType":{"type":"string","description":"Carrier Service Type"},"trackingUrl":{"type":"string","description":"Tracking URL"},"addOns":{"type":"array","description":"Add Ons Response","items":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE add-on type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."}}},"description":"Response payload containing the generated label tracking details."},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"examples":{"sample1":{"value":{"data":{"purchaseOrderId":"97108719025934786","trackingNo":"10015361751436","boxItems":[{"sku":"PRECISE3PGLASS9","quantity":1,"lineNumber":"1"}],"carrierName":"FedEx","carrierFullName":"FedEx","carrierServiceType":"FedEx 2Day","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=10015361751436&locale=en_US&cntry_code=us"}}},"sample2":{"value":{"data":{"purchaseOrderId":"97108719025934786","trackingNo":"10015361751436","boxItems":[{"sku":"PRECISE3PGLASS9","quantity":1,"lineNumber":"1"}],"carrierName":"FedEx","carrierFullName":"FedEx","carrierServiceType":"FedEx 2Day","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=10015361751436&locale=en_US&cntry_code=us","addOns":[{"name":"INSURANCE","charge":{"amount":0.32,"currency":"USD"},"declaredValue":{"amount":40,"currency":"USD"},"refLink":"https://docs.google.com/forms/d/e/1FAIpQLSfptruFTsLSkL2T3xi50m3BZn6xFHApbliZqucpIxSYqVXEvA/viewform?pli=1","status":"Active"},{"name":"SIGNATURE","charge":{"amount":6.35,"currency":"USD"},"status":"Active"}]}}},"sample5":{"value":{"data":{"purchaseOrderId":"108919840486078","trackingNo":"100625040279","boxItems":[{"sku":"SKUWfs6055469496189","quantity":1,"lineNumber":"1"}],"carrierName":"FedEx","carrierFullName":"FedEx","carrierServiceType":"FedEx Express Saver","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=100625040279&locale=en_US&cntry_code=us"}}}}},"application/pdf":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"Purchase Order Id "},"trackingNo":{"type":"string","description":"Tracking Number"},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"Name of the Product. This is a mandatory field if carrier is opted as 'Yanwen' and also for India(IN) to United-States(US) shipping"},"productNameInLocale":{"type":"string","description":"Name of the Product in Mandarin. This is a mandatory field if carrier is opted as 'Yanwen'"},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"}},"carrierName":{"type":"string","description":"Carrier Short Name"},"carrierFullName":{"type":"string","description":"Carrier Full Name"},"carrierServiceType":{"type":"string","description":"Carrier Service Type"},"trackingUrl":{"type":"string","description":"Tracking URL"},"addOns":{"type":"array","description":"Add Ons Response","items":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE add-on type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."}}},"description":"Response payload containing the generated label tracking details and, when requested, the label file."},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}}},"image/png":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"Purchase Order Id "},"trackingNo":{"type":"string","description":"Tracking Number"},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"Name of the Product. This is a mandatory field if carrier is opted as 'Yanwen' and also for India(IN) to United-States(US) shipping"},"productNameInLocale":{"type":"string","description":"Name of the Product in Mandarin. This is a mandatory field if carrier is opted as 'Yanwen'"},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"}},"carrierName":{"type":"string","description":"Carrier Short Name"},"carrierFullName":{"type":"string","description":"Carrier Full Name"},"carrierServiceType":{"type":"string","description":"Carrier Service Type"},"trackingUrl":{"type":"string","description":"Tracking URL"},"addOns":{"type":"array","description":"Add Ons Response","items":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE add-on type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."}}},"description":"Response payload containing the generated label tracking details and, when requested, the label file."},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}}}}}}}},"/v3/shipping/scan-form":{"post":{"tags":["Ship With Walmart"],"summary":"Create scan form for labels","description":"This API generates a scan form using the provided tracking numbers. The scan form is a consolidated document that contains all the tracking numbers and shipping details for the packages being shipped out on a particular day. It is used by carriers to verify and process the shipments during pickup and delivery. Currently, only USPS supports scan forms.\n\n**Idempotency:** `scanFormId` acts as a natural idempotency key — the client supplies it in the request body before the call. Submitting a second POST with a `scanFormId` that was already successfully processed returns `409 Conflict`; no duplicate scan form is created. On network failure or timeout, clients may safely retry using the same `scanFormId`. This guarantee is critical for EOD automation — a duplicate manifest can cause carrier processing errors and shipment delays.\n\n**Rate Limits:** This endpoint allows 100 requests per minute. Exceeding this limit returns a `429 Too Many Requests` response. See the [Rate Limiting guide](https://developer.walmart.com/us-marketplace/docs/rate-limiting) for full details. The response includes `x-current-token-count` (remaining requests in the current window) and `X-Next-Replenishment-Time` (when the token count next increases).\n\n**Sandbox:** Use base URL `https://sandbox.walmartapis.com`. The sandbox accepts test tracking numbers and returns a synthetic `manifestId` (e.g. `SANDBOX-12345`). Use that `manifestId` with the GET endpoint to retrieve the stub scan form document.","x-stability":"beta","operationId":"scanForm","security":[{"accessToken":[]}],"parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"Accept","description":"Only supported media type: application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request payload for creating a scan form.","content":{"application/json":{"schema":{"required":["scanFormId","carrierName","shipOnDate","fromAddress","trackingNumbers","documentFormat"],"type":"object","properties":{"scanFormId":{"type":"string","description":"Client-generated unique identifier for this scan form. Acts as a natural idempotency key — submitting a second POST with the same scanFormId returns 409 Conflict without creating a duplicate. Use a deterministic value (e.g., sellerId + shipOnDate + shipNode) to enable safe retries on network failure."},"carrierName":{"type":"string","description":"Carrier short name for the scan form request. This value maps to shortName from the supported carriers API response."},"shipOnDate":{"type":"string","description":"Ship-on date for the scan form. This is the date when the shipment is scheduled for carrier pickup. Format: yyyy-MM-dd."},"fromAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","x-pii":true,"description":"Contact name for the origin address."},"companyName":{"type":"string","description":"Company name for the origin address."},"addressLine1":{"type":"string","description":"First line of the origin street address."},"addressLine2":{"type":"string","description":"Second line of the origin street address, such as suite or unit."},"city":{"type":"string","description":"Origin city name."},"state":{"type":"string","description":"Origin state or province. Use the region code when available. For example, CA, AK."},"postalCode":{"type":"string","description":"Origin postal or ZIP code."},"country":{"type":"string","description":"Origin country code. Use a two-letter code. For example, US, CN, IN."},"phone":{"type":"string","x-pii":true,"description":"Origin contact phone number."},"email":{"type":"string","x-pii":true,"description":"Origin contact email address."}},"description":"Origin address used for the scan form."},"trackingNumbers":{"type":"array","maxItems":200,"minItems":1,"description":"List of tracking numbers to include in the scan form. Maximum 200 tracking numbers per scan form (USPS limit).","items":{"type":"string"}},"carrierServiceType":{"type":"string","description":"Carrier service type. This value maps to serviceTypes.name from the shipping estimates API response."},"documentFormat":{"type":"string","description":"Requested scan form output format. Allowed values: PDF, ZPL, PNG, BLOB. Default is PDF."}}},"examples":{"sample1":{"value":{"scanFormId":"string","carrierName":"USPS","shipOnDate":"2025-08-23","fromAddress":{"contactName":"John Doe","companyName":"Walmart","addressLine1":"1375 Crossman Ave","addressLine2":"string","city":"Sunnyvale","state":"CA","postalCode":"63116","country":"US","phone":"6172012456","email":""},"trackingNumbers":["100044481029","100044481030"],"documentFormat":"PDF"}}}}},"required":true},"responses":{"200":{"description":"Successful operation","headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current rate-limit window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Number of requests remaining in the current rate-limit window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) at which the current rate-limit window resets.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"manifestId":{"type":"string","description":"Manifest ID returned by the create scan form API. Use this value to download the scan form or for future reference."},"status":{"type":"string","description":"Status of the scan form request. Example: SUCCESS."}},"description":"Response payload for the operation."}}},"examples":{"sample1":{"value":{"data":{"manifestId":"599010122","status":"SUCCESS"}}}}}}},"400":{"description":"Invalid operation","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"sample1":{"value":{"type":"https://marketplace.walmart.com/errors/invalid-scan-form","title":"Invalid Scan Form Request","status":400,"detail":"trackingNumbers must not be empty.","instance":"/v3/shipping/scan-form"}}}}}},"409":{"description":"Conflict — a scan form with the given scanFormId already exists. No duplicate is created. Retrieve the existing scan form using the GET endpoint with the previously returned manifestId.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"sample1":{"value":{"type":"https://marketplace.walmart.com/errors/scan-form-already-exists","title":"Scan Form Already Exists","status":409,"detail":"A scan form with scanFormId 'SF-20240513-001' already exists for this seller.","instance":"/v3/shipping/scan-form"}}}}}}}},"get":{"tags":["Ship With Walmart"],"summary":"Download scan form","description":"This API retrieves a scan form for a given manifest ID.\n\n**Rate Limits:** This endpoint allows 100 requests per minute. Exceeding this limit returns a `429 Too Many Requests` response. See the [Rate Limiting guide](https://developer.walmart.com/us-marketplace/docs/rate-limiting) for full details. The response includes `x-current-token-count` (remaining requests in the current window) and `X-Next-Replenishment-Time` (when the token count next increases).\n\n**Sandbox:** Use base URL `https://sandbox.walmartapis.com`. The sandbox returns a stub binary document for any valid sandbox `manifestId`. The `documentFormat` selection (PDF/ZPL/PNG) is honored in production; in sandbox, a PDF stub is always returned regardless of the format requested during scan form creation.\n\n**Note:** This endpoint returns a binary document stream (application/octet-stream). Treat the response body as bytes and save it to a file. The underlying document format aligns with the scan form documentFormat selected during creation (for example, PDF, ZPL, PNG).","x-stability":"beta","operationId":"getScanFormByManifestId","security":[{"accessToken":[]}],"parameters":[{"name":"manifestId","in":"query","description":"Manifest ID returned by the create scan form API. Use this value to download the scan form document.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"Accept","description":"Requested response media type. This endpoint returns a binary document stream (application/octet-stream). Treat the response body as bytes.","required":true,"schema":{"type":"string"},"example":"application/octet-stream"}],"responses":{"200":{"description":"Successful operation","headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current rate-limit window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Number of requests remaining in the current rate-limit window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) at which the current rate-limit window resets.","schema":{"type":"integer"}}},"content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}}}},"/v3/shipping/labels/shipping-estimates":{"post":{"tags":["Ship With Walmart"],"summary":"Shipping estimates","description":"This API retrieves shipping cost estimates for available shipping services based on address and package (example, customer address, packaged weight.)","operationId":"getShippingEstimate","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"The only supported response media type is application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Shipping fields","content":{"application/json":{"schema":{"required":["boxDimensions","fromAddress","packageType","toAddress","purchaseOrderId","boxItems"],"type":"object","properties":{"boxDimensions":{"required":["boxWeight","boxWeightUnit"],"type":"object","description":"Box dimensions and weight for a shipping package.","properties":{"boxLength":{"minimum":0,"type":"number","description":"Length of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWidth":{"minimum":0,"type":"number","description":"Width of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxHeight":{"minimum":0,"type":"number","description":"Height of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWeight":{"type":"number","description":"Weight of the package. Required for all package types. The Unit is determined by boxWeightUnit."},"boxDimensionUnit":{"type":"string","description":"Unit of measurement for the package length, width, and height. Allowed values: IN (inches), FT (feet), CM (centimeters). Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.","enum":["IN","FT","CM"]},"boxWeightUnit":{"type":"string","description":"Unit of measurement for the package weight. Allowed values: LB (pounds), KG (kilograms), OZ (ounces).","enum":["LB","KG","OZ"]}}},"deliverByDate":{"type":"string","description":"Estimated delivery date. "},"shipByDate":{"type":"string","description":"ShipBy date."},"fromAddress":{"required":["addressLines","city","countryCode","postalCode","state"],"type":"object","properties":{"postalCode":{"type":"string","description":"ZIP or postal code of the seller's fulfillment center."},"countryCode":{"type":"string","description":"Country code of the seller's fulfillment center (example, US)."},"addressLines":{"type":"array","description":"Street address lines for the seller's fulfillment center.","items":{"type":"string","description":"A single street address line."}},"city":{"type":"string","description":"City of the seller's fulfillment center."},"state":{"type":"string","description":"State or province of the seller's fulfillment center. Use the standard two-letter code (example, CA, TX)."}},"description":"Seller's fulfillment center address."},"toAddress":{"required":["addressLines","city","countryCode","postalCode","state"],"type":"object","properties":{"postalCode":{"type":"string","description":"ZIP or postal code of the customer's delivery address."},"countryCode":{"type":"string","description":"Country code of the customer's delivery address (example, US)."},"addressLines":{"type":"array","description":"Street address lines for the customer's delivery address. Provide up to two lines.","items":{"type":"string","description":"A single street address line."}},"city":{"type":"string","description":"City of the customer's delivery address."},"state":{"type":"string","description":"State or province of the customer's delivery address. Use the standard two-letter code (example, CA, TX)."}},"description":"To Address - Customer's delivery address."},"carriers":{"type":"array","description":"Carriers List. This value maps to 'shortName' from All carriers API response.If not provided, it will fetch response for all service types.","items":{"type":"string","description":"Carriers List. This value maps to 'shortName' from All carriers API response.If not provided, it will fetch response for all service types."}},"packageType":{"type":"string","description":"Package Type. This value maps to 'packageTypeShortName' from All carrier package types API response."},"includeServicesNotMeetingDeliveryPromise":{"type":"boolean","description":"Delivery promise date flag. Pass 'false' if only services meeting promised delivery dates needs to be fetched, else 'true' to fetch all supported delivery dates"},"purchaseOrderId":{"type":"string","description":"An unique identifier associated with the seller's purchase order."},"boxItems":{"type":"array","description":"boxItems - A list of items that the seller will be shipping in this package. Each item must correspond to a line item in the specified purchaseOrder. The lineId and SKU fields are used to uniquely identify the specific item being shipped.","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"}},"description":"boxItems - A list of items that the seller will be shipping in this package. Each item must correspond to a line item in the specified purchaseOrder. The lineId and SKU fields are used to uniquely identify the specific item being shipped."}},"addOns":{"type":"boolean","description":"addOns flag. Pass 'true' to fetch all addOns cost and we support two add ons type: SIGNATURE and INSURANCE. To get Insurance Estimate, please provide purchaseOrderId and boxItems details. By default, The value of addOns will be false."},"hasBattery":{"type":"boolean","description":"hasBattery flag. Pass 'true' if the shipment consists of battery. This is a mandatory field for yanwen."}}},"examples":{"sample1":{"value":{"packageType":"CUSTOM_PACKAGE","purchaseOrderId":"91088062299813853","boxItems":[{"lineNumber":"1","sku":"sku-1NMeZnK1B1MNJdXde5771022","quantity":1}],"boxDimensions":{"boxWeightUnit":"LB","boxWeight":0.8,"boxLength":6,"boxWidth":6,"boxHeight":6,"boxDimensionUnit":"IN"},"shipByDate":"2023-06-05T08:00:00.611Z","deliverByDate":"2023-06-07T23:00:00.611Z","carriers":["FEDEX"],"fromAddress":{"postalCode":"91776","countryCode":"US","addressLines":["311 E VALLEY BLVD STE 112 PMB 271as"],"city":"SAN GABRIEL1as","state":"CA"},"toAddress":{"postalCode":"94085","countryCode":"US","addressLines":["748 N Mathilda Ave","Room # 224"],"city":"SUNNYVALE","state":"CA"},"includeServicesNotMeetingDeliveryPromise":true}},"sample2":{"value":{"packageType":"CUSTOM_PACKAGE","purchaseOrderId":"91088062299813853","boxItems":[{"lineNumber":"1","sku":"sku-1NMeZnK1B1MNJdXde5771022","quantity":1}],"boxDimensions":{"boxWeightUnit":"LB","boxWeight":0.8,"boxLength":6,"boxWidth":6,"boxHeight":6,"boxDimensionUnit":"IN"},"shipByDate":"2023-06-05T08:00:00.611Z","deliverByDate":"2023-06-07T23:00:00.611Z","carriers":["FEDEX"],"fromAddress":{"postalCode":"91776","countryCode":"US","addressLines":["311 E VALLEY BLVD STE 112 PMB 271as"],"city":"SAN GABRIEL1as","state":"CA"},"toAddress":{"postalCode":"94085","countryCode":"US","addressLines":["748 N Mathilda Ave","Room # 224"],"city":"SUNNYVALE","state":"CA"},"addOns":true,"includeServicesNotMeetingDeliveryPromise":true}},"sample3":{"value":{"packageType":"CUSTOM_PACKAGE","purchaseOrderId":"91088062299813853","boxItems":[{"lineNumber":"1","sku":"sku-1NMeZnK1B1MNJdXde5771022","quantity":1}],"boxDimensions":{"boxWeightUnit":"LB","boxWeight":0.8,"boxLength":6,"boxWidth":6,"boxHeight":6,"boxDimensionUnit":"IN"},"shipByDate":"2023-06-05T08:00:00.611Z","deliverByDate":"2023-06-07T23:00:00.611Z","carriers":["YANWEN"],"fromAddress":{"postalCode":"510599","countryCode":"CN","addressLines":["GuSu District PingLong Road 251 Hao"],"city":"guangZhouShi","state":"GD"},"toAddress":{"postalCode":"94085","countryCode":"US","addressLines":["748 N Mathilda Ave","Room # 224"],"city":"SUNNYVALE","state":"CA"},"hasBattery":false,"includeServicesNotMeetingDeliveryPromise":true}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"estimates":{"type":"array","description":"List of estimates.","items":{"type":"object","properties":{"serviceTypeGroupName":{"type":"string","description":"Service type group name."},"serviceTypeGroupDisplayName":{"type":"string","description":"Service type group display name."},"name":{"type":"string","description":"Carrier service type."},"displayName":{"type":"string","description":"Carrier service type display name."},"estimatedRate":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Estimated Rate"},"deliveryDate":{"type":"string","description":"Delivery Date"},"carrierName":{"type":"string","description":"Carrier Short Name"},"carrierDisplayName":{"type":"string","description":"Carrier Display Name"},"isDeliveryPromiseFulfilled":{"type":"boolean","description":"Delivery Promise Fulfilled"},"addOns":{"type":"array","description":"Add Ons Response","items":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE add-on type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."}}},"description":"List of estimates."}},"alertMessage":{"type":"string","description":"Alert message displayed when there are issues fetching estimates for the carrier service type."}},"description":"Response payload containing the list of shipping cost estimates for available services."},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"examples":{"sample1":{"value":{"data":{"estimates":[{"name":"PRIORITY_MAIL","displayName":"USPS Priority Mail","deliveryDate":"2023-10-02T23:59:00.000Z","estimatedRate":{"amount":7.2,"currency":"USD"},"serviceTypeGroupName":"USPS_DEFAULT","serviceTypeGroupDisplayName":"Default","isDeliveryPromiseFulfilled":false,"carrierName":"USPS","carrierDisplayName":"USPS"},{"name":"FEDEX_GROUND","displayName":"FedEx US Ground","deliveryDate":"2023-09-29T23:59:00.000Z","estimatedRate":{"amount":11.87,"currency":"USD"},"serviceTypeGroupName":"FEDEX_GROUND","serviceTypeGroupDisplayName":"FedEx Ground","isDeliveryPromiseFulfilled":false,"carrierName":"FedEx","carrierDisplayName":"FedEx"}],"alertMessage":"We are unable to find a shipping service that would meet this delivery date. You may choose one of the other delivery options below but note that you may be responsible for any late deliveries."}}},"sample2":{"value":{"data":{"estimates":[{"name":"PRIORITY_MAIL","displayName":"USPS Priority Mail","deliveryDate":"2023-10-02T23:59:00.000Z","estimatedRate":{"amount":7.2,"currency":"USD"},"serviceTypeGroupName":"USPS_DEFAULT","serviceTypeGroupDisplayName":"Default","isDeliveryPromiseFulfilled":false,"carrierName":"USPS","carrierDisplayName":"USPS","addOns":[{"name":"INSURANCE","charge":{"amount":0.33,"currency":"USD"},"declaredValue":{"amount":40,"currency":"USD"}}]},{"name":"FEDEX_GROUND","displayName":"FedEx US Ground","deliveryDate":"2023-09-29T23:59:00.000Z","estimatedRate":{"amount":11.87,"currency":"USD"},"serviceTypeGroupName":"FEDEX_GROUND","serviceTypeGroupDisplayName":"FedEx Ground","isDeliveryPromiseFulfilled":false,"carrierName":"FedEx","carrierDisplayName":"FedEx","addOns":[{"name":"INSURANCE","charge":{"amount":0.33,"currency":"USD"},"declaredValue":{"amount":40,"currency":"USD"}},{"name":"SIGNATURE","charge":{"amount":6.35,"currency":"USD"}}]}],"alertMessage":"We are unable to find a shipping service that would meet this delivery date. You may choose one of the other delivery options below but note that you may be responsible for any late deliveries."}}}}}}}}}},"/v3/shipping/ship-nodes/{shipNodeId}/ship-on-date":{"get":{"tags":["Ship With Walmart"],"summary":"Get ship-on-date","description":"This API retrieves the default ship-on-date, max ship-on-date, allowed ship dates, and estimated ship date (in `MM/dd/yyyy` format) for the given ship node.","operationId":"getShipOnDate","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token from POST /v3/token (client_credentials grant).","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"shipNodeId","in":"path","description":"Ship node identifier.","required":true,"schema":{"type":"string"},"example":"NODE-001"},{"name":"estimatedShipDate","in":"query","description":"The estimated ship date of the order in MM/DD/YYYY format. Example: `/v3/shipping/ship-nodes/{shipNodeId}/ship-on-date?estimatedShipDate={MM/dd/yyyy}`.","required":true,"schema":{"type":"string","pattern":"^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/[0-9]{4}$","minLength":10,"maxLength":10},"example":"03/20/2026"},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track a consumer request by channel. Use the consumer channel type you received in onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique identifier assigned to each API call. It is used for tracking and debugging with a randomly generated GUID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart service name.","required":true,"schema":{"type":"string"},"example":"Walmart service name"},{"in":"header","name":"Accept","description":"The supported media type for application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseShipOnDateResponse"},"examples":{"sample1":{"value":{"data":{"defaultShipOnDate":"03/24/2026","maxShipOnDate":"03/26/2026","allowedShipDates":[{"date":"03/24/2026","cutoffTime":"23:59"}]}}}}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"invalidShipDate":{"value":{"type":"https://marketplace.walmart.com/errors/invalid-ship-date","title":"Invalid ship date","status":400,"detail":"The input date format is incorrect. The expected date format is MM/DD/YYYY.","instance":"/v3/shipping/ship-nodes/NODE-001/ship-on-date","code":"LS-4010"}}}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"unauthorized":{"value":{"type":"https://marketplace.walmart.com/errors/unauthorized","title":"Unauthorized","status":401,"detail":"Invalid or missing the bearer token.","instance":"/v3/shipping/ship-nodes/NODE-001/ship-on-date","code":"LS-4011"}}}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"forbidden":{"value":{"type":"https://marketplace.walmart.com/errors/forbidden","title":"Forbidden","status":403,"detail":"You do not have permission to access this ship node.","instance":"/v3/shipping/ship-nodes/NODE-001/ship-on-date","code":"LS-4013"}}}}}},"404":{"description":"Not Found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"shipNodeNotFound":{"value":{"type":"https://marketplace.walmart.com/errors/ship-node-not-found","title":"Ship node not found","status":404,"detail":"The specified ship node was not found.","instance":"/v3/shipping/ship-nodes/NODE-001/ship-on-date","code":"LS-4014"}}}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"upstreamFailure":{"value":{"type":"https://marketplace.walmart.com/errors/internal-server-error","title":"Internal server error","status":500,"detail":"We are unable to retrieve the ship-on date due to a technical issue. Retry shortly. If the issue persists, use an alternative method to ship this order.","instance":"/v3/shipping/ship-nodes/NODE-001/ship-on-date","code":"LS-5010"}}}}}}}}},"/v3/shipping/labels/purchase-orders/{purchaseOrderId}":{"get":{"tags":["Ship With Walmart"],"summary":"Label details by purchase order ID","description":"This API retrieves all label details generated for a purchase order ID.","operationId":"getLabel","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"name":"purchaseOrderId","in":"path","description":"purchaseOrderId","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"The only supported response media type is application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of label details generated for the specified purchase order ID.","items":{"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"Purchase Order Id "},"trackingNo":{"type":"string","description":"Tracking Number"},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"Name of the Product. This is a mandatory field if carrier is opted as 'Yanwen' and also for India(IN) to United-States(US) shipping"},"productNameInLocale":{"type":"string","description":"Name of the Product in Mandarin. This is a mandatory field if carrier is opted as 'Yanwen'"},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"}},"carrierName":{"type":"string","description":"Carrier Short Name"},"carrierFullName":{"type":"string","description":"Carrier Full Name"},"carrierServiceType":{"type":"string","description":"Carrier Service Type"},"trackingUrl":{"type":"string","description":"Tracking URL"},"addOns":{"type":"array","description":"Add Ons Response","items":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE add-on type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."}}},"description":"Label and tracking details of shipment in the purchase order."}},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"examples":{"sample1":{"value":{"data":[{"purchaseOrderId":"65108826634074798","trackingNo":"14300153617516","boxItems":[{"sku":"06068906426236Test","quantity":1,"lineNumber":"1"}],"carrierName":"FedEx","carrierFullName":"FedEx","carrierServiceType":"FedEx 2Day","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=14300153617516&locale=en_US&cntry_code=us"}]}},"sample2":{"value":{"data":[{"purchaseOrderId":"65108826634074798","trackingNo":"14300153617516","boxItems":[{"sku":"06068906426236Test","quantity":1,"lineNumber":"1"}],"carrierName":"FedEx","carrierFullName":"FedEx","carrierServiceType":"FedEx 2Day","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=14300153617516&locale=en_US&cntry_code=us","addOns":[{"name":"INSURANCE","charge":{"amount":0.32,"currency":"USD"},"declaredValue":{"amount":40,"currency":"USD"},"refLink":"https://docs.google.com/forms/d/e/1FAIpQLSfptruFTsLSkL2T3xi50m3BZn6xFHApbliZqucpIxSYqVXEvA/viewform?pli=1","status":"Active"},{"name":"SIGNATURE","charge":{"amount":6.35,"currency":"USD"},"status":"Active"}]}]}}}}}}}}},"/v3/shipping/labels/carriers":{"get":{"tags":["Ship With Walmart"],"summary":"Supported carriers","description":"This API retrieves all carriers supported by Ship With Walmart.","operationId":"getCarriers","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"The only supported response media type is application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"carriers":{"type":"array","description":"carriers","items":{"type":"object","properties":{"carrierId":{"type":"string","description":"The carrier ID. A unique identifier for the carrier."},"shortName":{"type":"string","description":"The carrier short name."},"carrierName":{"type":"string","description":"The carrier name."}},"description":"carriers"}},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"example":{"carriers":[{"carrierId":"1000","shortName":"FedEx","carrierName":"FedEx"}]}}}}}}},"/v3/shipping/labels/carriers/{carrierShortName}/trackings/{trackingNo}":{"get":{"tags":["Ship With Walmart"],"summary":"Download label","description":"This API retrieves label for a carrier & tracking number combination.The response to a successful call contains the tracking number with the pdf or image type based on the media type passed in Accept header.\nFor eg. 'Accept'='application/json,application/pdf' will result in pdf media type and\n'Accept'='application/json,image/png' as image media type.","operationId":"getLabelByTrackingAndCarrier","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"name":"carrierShortName","in":"path","description":"carrierShortName","required":true,"schema":{"type":"string"}},{"name":"trackingNo","in":"path","description":"trackingNo","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Specifies the desired label format in the response.\n\n**Supported values:**\n- `application/pdf` : Returns the label as a PDF binary.\n- `image/png` : Returns the label as a PNG binary.","required":true,"schema":{"type":"string","enum":["application/pdf","image/png"]},"example":"application/pdf"}],"responses":{"200":{"description":"Successful Operation","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"image/png":{"schema":{"type":"string","format":"binary"}}}}}},"delete":{"tags":["Ship With Walmart"],"summary":"Discard label","description":"This API marks a generated label as discarded.","operationId":"discardLabel","parameters":[{"name":"carrierShortName","in":"path","description":"carrierShortName from getCarriers API","required":true,"schema":{"type":"string"}},{"name":"trackingNo","in":"path","description":"trackingNo","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"The only supported response media type is application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"boolean","description":"Returns `true` if the label was successfully discarded."},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"example":{"data":"true"}}}}}}},"/v3/shipping/labels/carriers/{carrierShortName}/package-types":{"get":{"tags":["Ship With Walmart"],"summary":"Supported carrier package types","description":"This API retrieves all supported package types for the selected carrier.","operationId":"getCarrierPackageTypes","x-stability":"beta","security":[{"accessToken":[]}],"parameters":[{"name":"carrierShortName","in":"path","description":"carrierShortName fetched from carrier API response or pass 'ALL' to fetch all package types of supported carriers","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.\n\n<b style=\"color: green;\">Market availability: Global</b>","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"The only supported response media type is application/json.","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of supported carrier package types.","items":{"type":"object","properties":{"id":{"type":"string","description":"The carrier package Id"},"packageTypeShortName":{"type":"string","description":"The carrier package short name"},"packageTypeDisplayName":{"type":"string","description":"The carrier package display name"},"length":{"type":"number","description":"The package length.The Unit is determined by dimensionUnit."},"width":{"type":"number","description":"The package width.The Unit is determined by dimensionUnit."},"height":{"type":"number","description":"The package height.The Unit is determined by dimensionUnit."},"dimensionUnit":{"type":"string","description":"The package dimension unit. Allowed values: IN (inches), FT (feet), CM (centimeters).","enum":["IN","FT","CM"]}},"description":"Carrier package type details."}},"errors":{"type":"array","description":"List of error details describing why the request failed.","items":{"type":"object","properties":{"info":{"type":"string","description":"Additional contextual information about the error."},"code":{"type":"string","description":"Error code identifying the failure reason."},"field":{"type":"string","description":"Name of the request field that triggered this error, when applicable."},"description":{"type":"string","description":"Human-readable description of the error."},"severity":{"type":"string","description":"Severity level of the error.","enum":["EMERG","ALERT","CRITICAL","ERROR","WARN"]},"category":{"type":"string","description":"Category classifying the origin of the error.","enum":["APPLICATION","SERVICE","REQUEST","DATA"]},"httpStatus":{"type":"integer","description":"HTTP status code associated with this error.","format":"int32"}},"description":"Error detail object."}}}},"example":{"data":[{"id":"DBF09762-C2B1-4D92-B159-41FC4C7BF3FD","packageTypeShortName":"CUSTOM_PACKAGE","packageTypeDisplayName":"Custom Package","length":0,"width":0,"height":0,"dimensionUnit":"IN"},{"id":"A26CFAA3-D3F3-4647-9180-F344A7736996","packageTypeShortName":"FEDEX_ENVELOPE","packageTypeDisplayName":"FedEx Envelope","length":12.5,"width":9.5,"height":0,"dimensionUnit":"IN"},{"id":"98120D70-7BCB-44BB-9912-F4655CC05A7D","packageTypeShortName":"FEDEX_PAK","packageTypeDisplayName":"FedEx Pak","length":12.75,"width":10.25,"height":0,"dimensionUnit":"IN"}]}}}}}}}},"components":{"schemas":{"ProblemDetails":{"type":"object","description":"Problem details for HTTP APIs as defined by RFC 9457. This is the standard error envelope used by all new Ship With Walmart endpoints.","required":["type","title","status"],"properties":{"type":{"type":"string","format":"uri","description":"A URI that identifies the problem type.","example":"https://marketplace.walmart.com/errors/invalid-ship-date"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Invalid ship date"},"status":{"type":"integer","format":"int32","description":"The HTTP status code returned by the origin server for this occurrence.","example":400},"detail":{"type":"string","description":"A human-readable explanation of the problem.","example":"Input date format is incorrect. Expected MM/dd/yyyy."},"instance":{"type":"string","description":"URI reference identifying the specific occurrence of the problem.","example":"/v3/shipping/ship-nodes/NODE-001/ship-on-date"},"code":{"type":"string","description":"A Walmart legacy error response code. This code is a backwards compatible alert and has a runbook lookup.","example":"LS-4010"}}},"BaseRequest":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"companyName":{"type":"string","description":"Company name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"postalCode":{"type":"string","description":"postal code"},"country":{"type":"string","description":"country"},"phone":{"type":"string","description":"phone"},"email":{"type":"string","description":"email"}},"description":"From address"},"BoxDimensions":{"required":["boxWeight","boxWeightUnit"],"type":"object","properties":{"boxLength":{"minimum":0,"type":"number"},"boxWidth":{"minimum":0,"type":"number"},"boxHeight":{"minimum":0,"type":"number"},"boxWeight":{"type":"number"},"boxDimensionUnit":{"type":"string","enum":["IN","FT","CM"]},"boxWeightUnit":{"type":"string","enum":["LB","KG","OZ"]}}},"BoxItem":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"Name of the Product. This is a mandatory field if carrier is opted as 'Yanwen' and also for India(IN) to United-States(US) shipping"},"productNameInLocale":{"type":"string","description":"Name of the Product in Mandarin. This is a mandatory field if carrier is opted as 'Yanwen'"},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"},"LabelGenerationRequest":{"required":["boxDimensions","boxItems","carrierName","carrierServiceType","packageType","purchaseOrderId"],"type":"object","properties":{"packageType":{"type":"string","description":"Package Type. This value maps to 'packageTypeShortName' from Supported carrier package types API response."},"boxDimensions":{"required":["boxWeight","boxWeightUnit"],"type":"object","description":"Box dimensions and weight for the shipping package.","properties":{"boxLength":{"minimum":0,"type":"number","description":"Length of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWidth":{"minimum":0,"type":"number","description":"Width of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxHeight":{"minimum":0,"type":"number","description":"Height of the package. Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.The Unit is determined by boxDimensionUnit."},"boxWeight":{"type":"number","description":"Weight of the package. Required for all package types.The Unit is determined by boxWeightUnit."},"boxDimensionUnit":{"type":"string","description":"Unit of measurement for the package length, width, and height. Allowed values: IN (inches), FT (feet), CM (centimeters). Required when packageType is CUSTOM_PACKAGE; not required for other standard package types (e.g., FEDEX_ENVELOPE, FEDEX_PAK) where dimensions are predetermined by the carrier.","enum":["IN","FT","CM"]},"boxWeightUnit":{"type":"string","description":"Unit of measurement for the package weight. Allowed values: LB (pounds), KG (kilograms), OZ (ounces).","enum":["LB","KG","OZ"]}}},"boxItems":{"type":"array","description":"Box Items","items":{"required":["lineNumber","quantity","sku"],"type":"object","properties":{"sku":{"type":"string","description":"sku of an item"},"quantity":{"type":"integer","description":"Quantity of Item","format":"int32"},"lineNumber":{"type":"string","description":"PO Line Number"},"productName":{"type":"string","description":"Name of the Product. This is a mandatory field if carrier is opted as 'Yanwen' and also for India(IN) to United-States(US) shipping"},"productNameInLocale":{"type":"string","description":"Name of the Product in Mandarin. This is a mandatory field if carrier is opted as 'Yanwen'"},"hsCode":{"type":"string","description":"HS Code. This is a mandatory field for India(IN) to United-States(US) shipping"},"originState":{"type":"string","description":"Origin State. This is a mandatory field for India(IN) to United-States(US) shipping"},"originCity":{"type":"string","description":"Origin City. This is a mandatory field for India(IN) to United-States(US) shipping"},"countryOfOrigin":{"type":"string","description":"Country of Origin. This is a mandatory field for India(IN) to United-States(US) shipping"}},"description":"Box Items"}},"fromAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"companyName":{"type":"string","description":"Company name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"postalCode":{"type":"string","description":"postal code"},"country":{"type":"string","description":"country"},"phone":{"type":"string","description":"phone"},"email":{"type":"string","description":"email"}},"description":"From address"},"purchaseOrderId":{"type":"string","description":"Purchase order ID"},"carrierName":{"type":"string","description":"Carrier name. This value maps to 'shortName' from Supported carriers API response. Currently FedEx and USPS are supported carriers."},"carrierServiceType":{"type":"string","description":"Carrier service type. This value maps to 'serviceTypes.name' from Shipping Estimates API response"},"addOns":{"type":"array","description":"Add-on type. Add-ons can be opted during label generation for a shipping. Supported values for add-ons are INSURANCE and SIGNATURE. We support standard SIGNATURE Type for now.","items":{"type":"string","description":"Add-on type. Add-ons can be opted during label generation for a shipping. Supported values for add-ons are INSURANCE and SIGNATURE. We support standard SIGNATURE Type for now.","enum":["SIGNATURE","INSURANCE"]}},"returnAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"postalCode":{"type":"string","description":"postal code"},"country":{"type":"string","description":"country"},"phone":{"type":"string","description":"phone"},"email":{"type":"string","description":"email"},"shipNode":{"type":"string","description":"ship Node"}},"description":"Return Address. This is only mandatory field for yanwen"},"hasBattery":{"type":"boolean","description":"hasBattery flag. Pass 'true' if the shipment consists of battery. This is a mandatory field for yanwen."},"hazmat":{"type":"boolean","description":"hazmat flag. Pass 'true' if the shipment consists of hazardous material."},"accountType":{"type":"string","description":"Account Type. This is a mandatory field in case of BYOA"},"shipOnDate":{"type":"string","description":"Optional. The ship-on date for the label in yyyy-MM-dd format. Use the [Get ship-on-date API](https://developer.walmart.com/api/us/mp/ship-with-walmart#operation/getShipOnDate) to retrieve the valid ship-on date window before creating a label.","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-06-02"}}},"ReturnAddress":{"required":["addressLine1","city","contactName","country","phone","postalCode","state"],"type":"object","properties":{"contactName":{"type":"string","description":"Contact name"},"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"city"},"state":{"type":"string","description":"state"},"postalCode":{"type":"string","description":"postal code"},"country":{"type":"string","description":"country"},"phone":{"type":"string","description":"phone"},"email":{"type":"string","description":"email"},"shipNode":{"type":"string","description":"ship Node"}},"description":"Return Address. This is only mandatory field for yanwen"},"AddOnsResponse":{"required":["charge","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the AddOn type.","enum":["SIGNATURE","INSURANCE"]},"charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Charge of add-on type."},"declaredValue":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}},"description":"Declared value of shipment. This value is applicable in case of INSURANCE AddOn Type only."},"refLink":{"type":"string","description":"Reference link for the add-on type."},"status":{"type":"string","description":"Status of the add-on type."}},"description":"List of add-ons returned for the estimate."},"Charge":{"type":"object","properties":{"amount":{"type":"number","description":"Amount"},"currency":{"type":"string","description":"Currency","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","
[...]
