{"openapi":"3.0.1","info":{"title":"Fulfillment Management","version":"1.0","description":"With Walmart Fulfillment Services, you can focus on sales while Walmart expertly take care of fast shipping, seamless returns, and customer service. Simply send your inventory to Walmart fulfillment centers, where we will store your products securely and prepare them swiftly for shipping when an order is placed."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"accessToken":[]}],"paths":{"/v3/fulfillment/shipment-quantities":{"put":{"tags":["Fulfillment"],"summary":"Update Shipment Quantities ","description":"Use this API to modify the shipment quantity before the shipment arrives at the Walmart Fulfillment Centers (WFS). Modifications to the shipment quantity are not allowed if the Shipment Status is Receiving, In-progress, Closed, or Cancelled. \n\nYou must provide new shipment quantities for each Stock Keeping Unit (SKU) to update the shipment quantity. \n\nThe maximum allowed addition per SKU is 6 shipment units. To remove an SKU from a shipment unit, you can reduce the quantity to 0. You cannot set all SKUs to 0; instead, you can cancel the entire inbound order.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#2885"},"operationId":"updateShipmentQuantity","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["inboundOrderId","shipmentId"],"type":"object","properties":{"inboundOrderId":{"type":"string","description":"Unique ID identifying inbound shipment request"},"shipmentId":{"type":"string","description":"Unique ID identifying inbound shipment"},"orderItems":{"maxItems":5000,"minItems":1,"type":"array","description":"update shipment qty line items","xml":{"wrapped":true},"items":{"required":["sku","updatedShipmentQty"],"type":"object","properties":{"sku":{"type":"string","description":"Seller Item ID"},"updatedShipmentQty":{"minimum":0,"type":"integer","description":"updated quantity","format":"int32"}},"description":"update shipment qty line items"}}}},"example":{"inboundOrderId":"123543","shipmentId":"1234","orderItems":[{"sku":"WILL-SL969","updatedShipmentQty":11}]}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"required":["status"],"type":"object","properties":{"status":{"type":"string","enum":["OK","CREATED","ACCEPTED","NO_CONTENT","PARTIAL","MOVED_PERMANENT","FOUND","SEE_OTHER","NOT_MODIFIED","TEMPORARY_REDIRECT","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","NOT_ACCEPTABLE","REQUEST_TIMEOUT","CONFLICT","REQUEST_ENTITY_TOO_LARGE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","TOO_MANY_REQUESTS","FAIL","BAD_GATEWAY","SERVICE_UNAVAILABLE","GATEWAY_TIMEOUT"]},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"ServiceHeader"}},"errors":{"type":"array","xml":{"wrapped":true},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}},"payload":{"type":"object"}},"xml":{"name":"ServiceResponse"}},"example":{"status":"OK"}}}}}}},"/v3/items/onhold/search":{"post":{"tags":["Fulfillment"],"summary":"Hazmat Items On hold","description":"Use this API to see a list of items that are on hold for hazmat compliance review, including items with an In Review, Action Needed, and Prohibited status. Also use this API to review your Action Needed error descriptions and understand how to correct them for further assessment.","operationId":"wercsFeedback","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type\n| --- | ----------- | -------\n| sku | An arbitrary alphanumeric unique ID, seller-specified, identifying each item | string\n| gtin | Specifies a Global Trade Item Number (GTIN) search. GTIN must be 14 digits. | string","enum":["sku","gtin"]},"value":{"type":"string"}}},"filters":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type\n| --- | ----------- | -------\n| status | Item status | string","enum":["status"]},"op":{"type":"string","enum":["equals"]},"values":{"type":"array","items":{"type":"string","enum":["PROHIBITED","IN_REVIEW","ACTION_NEEDED"]}}}}},"sort":{"type":"object","properties":{"field":{"type":"string","description":"| Attribute | Description | Data Type\n| --- | ----------- | -------\n| createdAt | when the item is last submitted/updated by Seller | string\n| updatedAt | when the item is last updated by Seller/Walmart | string |","enum":["createdAt","updatedAt"]},"order":{"type":"string","enum":["ASC","DESC"]}}}}},"example":{"query":{"field":"gtin","value":"06154035330299"},"filters":[{"field":"status","op":"equals","values":["PROHIBITED","IN_REVIEW","ACTION_NEEDED"]}],"sort":{"field":"updatedAt","order":"DESC"}}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"required":["status"],"type":"object","properties":{"status":{"type":"string","enum":["OK","CREATED","ACCEPTED","NO_CONTENT","PARTIAL","MOVED_PERMANENT","FOUND","SEE_OTHER","NOT_MODIFIED","TEMPORARY_REDIRECT","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","NOT_ACCEPTABLE","REQUEST_TIMEOUT","CONFLICT","REQUEST_ENTITY_TOO_LARGE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","TOO_MANY_REQUESTS","FAIL","BAD_GATEWAY","SERVICE_UNAVAILABLE","GATEWAY_TIMEOUT"]},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"ServiceHeader"}},"errors":{"type":"array","xml":{"wrapped":true},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}},"payload":{"type":"object"}},"xml":{"name":"ServiceResponse"}},"example":{"status":"OK","header":{},"payload":{"nextCursor":"?limit=1&offset=1","totalItems":207,"actionNeeded":4,"inReview":203,"prohibited":0,"items":[{"gtin":"00051494401255","productName":"INNATE Response Formulas, Men Over 40 One Daily Iron Free, Multivitamin, Vegetarian, Non-GMO, 60 tablets (60 Servings","category":"Medicine & Supplements","subCategory":"medicine_and_supplements","status":"ACTION_NEEDED","sku":"SD-AB-12345","createdAt":1611140177328,"updatedAt":1629992924901,"primaryImage":"image.jpg","errors":[{"code":"ERR_EXT_DATA_4001029","field":"batteryTechnologyType","description":"This item may contain a lithium or lead acid battery that requires additional compliance information, check the 'Battery Type' field.","severity":"ERROR","category":"REQUEST"}]}]}}}}}}}},"/v3/fulfillment/shipment-tracking":{"post":{"tags":["Fulfillment"],"summary":"Update Shipment Tracking","description":"The purpose of this service is to capture tracking information from sellers.\n\nFor small parcel shipments, sellers must provide the tracking info including carrier name and tracking numbers. WFS will use the data to capture updated expected delivery date to adjust the fulfillment inbound capacity to avoid any receiving delays. \n\nSeller will also be able to view the updated expected delivery date through the Seller Center UI or calling the Get Inbound Shipment Items API.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#2934"},"operationId":"updateShipmentTrackingDetails","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["carrierName","shipmentId"],"type":"object","properties":{"shipmentId":{"type":"string"},"carrierName":{"type":"string"},"trackingInfo":{"maxItems":100,"minItems":1,"type":"array","xml":{"wrapped":true},"items":{"type":"string"}}}},"example":{"shipmentId":"12345","carrierName":"UPS","trackingInfo":["123","456-1","789-2"]}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"required":["status"],"type":"object","properties":{"status":{"type":"string","enum":["OK","CREATED","ACCEPTED","NO_CONTENT","PARTIAL","MOVED_PERMANENT","FOUND","SEE_OTHER","NOT_MODIFIED","TEMPORARY_REDIRECT","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","NOT_ACCEPTABLE","REQUEST_TIMEOUT","CONFLICT","REQUEST_ENTITY_TOO_LARGE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","TOO_MANY_REQUESTS","FAIL","BAD_GATEWAY","SERVICE_UNAVAILABLE","GATEWAY_TIMEOUT"]},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","additionalProperties":{"type":"object"}}},"xml":{"name":"ServiceHeader"}},"errors":{"type":"array","xml":{"wrapped":true},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}},"payload":{"type":"object"}},"xml":{"name":"ServiceResponse"}},"example":{"status":"OK"}}}}}}},"/v3/fulfillment/shipment-label":{"post":{"tags":["Fulfillment"],"summary":"Create Inbound Shipment label","description":"The purpose of this service is to generate WFS Receiving Labels in various formats for receiving purposes. Please note this is not a carrier label; these labels are required for the FC to identify the Inbound Order and Shipment ID they are receiving against.Receiving labels are customizable: \n1. 3 size and format options are available to choose from through the LabelSize and LabelFormat fields:\n\t - 4 in. x 6 in. (PDF).\n\t - 4 in. x 3 1/3 in. (PDF).\n\t - 4 in. x 6 in. (ZPL).\n2. Provide the type of the label (box or pallet) in the LoadType field and the number of the labels needed in the Count field.\n3. Print the WFS receiving label.\n4. Affix the WFS receiving labels to the boxes/ pallets.\n\nIf none of the above optional inputs are provided, a blank 4 in. x 6 in. PDF format label will be generated. Sellers must work with the warehouse/supplier to provide the required details before sending any Shipments to WFS FCs:\n1. Print the WFS receiving label.\n2. Fill out the FILL OUT section based on the seller’s packing situation. For example, if a seller plans to ship 3 boxes to the WFS fulfillment center, print out 3 labels and fill out BOX 1 of 3, 2 of 3, and 3 of 3 in the FILL OUT section.\n3. Circle one shipment type in the CIRCLE ONE section. For example, if there are different SKUs in the box, circle MIXED SKUS in the CIRCLE ONE section.\n4. Affix the WFS receiving labels to the boxes/ pallets.\n","operationId":"createInboundShipmentLabelV2","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["shipmentId"],"type":"object","properties":{"shipmentId":{"type":"string"},"labelSize":{"type":"string","enum":["X4_6","X4_3"]},"labelFormat":{"type":"string","enum":["PDF","ZPL"]},"loadTypes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"count":{"type":"integer","format":"int32"},"loadType":{"type":"string"}},"enum":["SINGLE SKU","PALLET","MIXED SKUS"]},"enum":["SINGLE SKU","PALLET","MIXED SKUS"]}}}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/pdf":{"schema":{"type":"string"}}}}}}},"/v3/fulfillment/return-orders":{"get":{"tags":["Fulfillment"],"summary":"Get customer return orders status","description":"Returns a list of customer return orders created through Walmart Multichannel Solutions (MCS), with the current status and associated details for each return.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#19511"},"operationId":"getReturnOrdersStatus","parameters":[{"name":"limit","in":"query","description":"Limiting the number of records fetched. Valid range is from 1 to 50 inclusive.","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Setting an offset to skip records. Valid range is from 0 to 50000 inclusive.","required":false,"schema":{"type":"string"}},{"name":"fromOrderDate","in":"query","description":"Search the order based on a start date (Date in YYYY-MM-DD format).","required":false,"schema":{"type":"string"}},{"name":"toOrderDate","in":"query","description":"Search the order based on an endDate date (Date in YYYY-MM-DD format).","required":false,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"Mart Id"},"buId":{"type":"string","description":"Business Unit Id"},"pageCount":{"type":"integer","description":"Page count","format":"int32"},"totalCount":{"type":"integer","description":"Total count","format":"int32"}},"description":"Header attributes for returns."}},"description":"Header for the response"},"payload":{"type":"array","description":"Order details","items":{"type":"object","properties":{"returnOrderId":{"type":"string","description":"The return order ID."},"sellerOrderId":{"type":"string","description":"The seller order ID."},"ReturnLineDispute":{"type":"object","description":"The return line dispute.","properties":{"disputeCreationTime":{"type":"string","format":"date-time","description":"Time when the dispute was created."},"disputeDescription":{"type":"string","description":"Description of the dispute."},"disputeReasonCode":{"type":"string","description":"Reason Code of the dispute."},"currentDisputeStatus":{"type":"string","description":"Current status of the dispute."},"upc":{"type":"string","description":"Universal Product Code (UPC) of the item."}}},"returnOrderLines":{"type":"array","description":"The return order lines.","items":{"type":"object","properties":{"lineNo":{"type":"string","description":"Line number."},"sellerOrderId":{"type":"string","description":"Seller order ID."},"returnReason":{"type":"string","description":"Reason for return."},"returnReasonDesc":{"type":"string","description":"Reason description."},"itemDetail":{"type":"object","properties":{"sku":{"type":"string","description":"Unique alphanumeric code that identifies each item."}},"description":"Item detail"},"qty":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line."},"lineQuantityInfo":{"type":"array","description":"Line quantity information","items":{"type":"object","properties":{"status":{"type":"string","enum":["MARKET_PLACE_RETURN_INITIATED","RETURN_IN_TRANSIT","DELIVERED_AT_RETURN_CENTER","RETURN_RECEIVED","RETURN_CANCELLED","DISPUTE_INITIATED","DISPUTE_PROCESSED"],"description":"Status of the line"},"statusCode":{"type":"integer","description":"Status code of the line","format":"int32"},"statusDescription":{"type":"string","description":"Description of the status"},"statusQuantity":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"}},"description":"Line quantity information"}},"imageURL":{"type":"string","description":"Image URL"},"faultCategory":{"type":"string","description":"Fault category"},"inspectionComments":{"type":"string","description":"Inspection comments"},"dispositionCode":{"type":"string","enum":["POTENTIAL_FRAUD","DISPOSE","LIQUIDATION","RTV","DONATE","RESTOCK","FRAUD"],"properties":{"disputeCreationTime":{"type":"string","description":"Time when the dispute was created.","format":"date-time"},"disputeDescription":{"type":"string","description":"Description of the dispute."},"disputeReasonCode":{"type":"string","description":"Reason Code of the dispute."},"currentDisputeStatus":{"type":"string","description":"Current status of the dispute."},"upc":{"type":"string","description":"Universal Product Code (UPC) of the item."}},"description":"Disposition code"},"currentTrackingStatuses":{"type":"array","description":"Current tracking statuses","items":{"type":"object","properties":{"trackingStatus":{"type":"string","description":"Status of tracking"},"quantity":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"},"currentTrackingStatusTime":{"type":"string","description":"Current tracking status time","format":"date-time"}},"description":"Current tracking statuses"}}},"description":"The return order lines."}},"returnLineGroups":{"type":"array","description":"The return line groups.","items":{"type":"object","properties":{"groupNo":{"type":"string","description":"The group no."},"returnOrderGroupLines":{"type":"array","description":"The return order group lines.","items":{"type":"object","properties":{"lineNo":{"type":"string","description":"Unique identifier for the line"},"qty":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"}},"description":"The return order group lines."}},"labelImageUrl":{"type":"string","description":"The label image url."},"carrierInfo":{"type":"object","properties":{"carrierName":{"type":"string","description":"The name of the carrier."},"trackingNo":{"type":"string","description":"The tracking number."},"trackingUrl":{"type":"string","description":"The URL for tracking."}},"description":"The carrier info."},"shipFrom":{"type":"object","properties":{"address":{"required":["addressLineOne","addressType","city","countryCode","postalCode","stateOrProvinceCode"],"type":"object","properties":{"addressLineOne":{"type":"string"},"addressLine2":{"type":"string"},"addressType":{"type":"string"},"city":{"type":"string"},"stateCode":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"},"stateOrProvinceCode":{"type":"string"},"phone":{"type":"string"}}},"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Customer name details"},"phone":{"type":"string","description":"Phone of the shipment"},"email":{"type":"string","description":"Email of the shipment"}},"description":"The ship to address."},"shipTo":{"type":"object","properties":{"address":{"required":["addressLineOne","addressType","city","countryCode","postalCode","stateOrProvinceCode"],"type":"object","properties":{"addressLineOne":{"type":"string"},"addressLine2":{"type":"string"},"addressType":{"type":"string"},"city":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"},"stateOrProvinceCode":{"type":"string"},"phone":{"type":"string"}}},"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Customer name details"},"phone":{"type":"string","description":"Phone of the shipment"},"email":{"type":"string","description":"Email of the shipment"}},"description":"The ship to address."}},"description":"The return line groups."}}},"description":"Order details"}},"status":{"type":"string","description":"Status of the response","enum":["OK","CREATED","ACCEPTED","CANCELLED","NO_CONTENT","PARTIAL","MOVED_PERMANENT","FOUND","SEE_OTHER","NOT_MODIFIED","TEMPORARY_REDIRECT","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","NOT_ACCEPTABLE","REQUEST_TIMEOUT","CONFLICT","REQUEST_ENTITY_TOO_LARGE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","TOO_MANY_REQUESTS","PARTIAL_SUCCESS","FAIL","BAD_GATEWAY","SERVICE_UNAVAILABLE","GATEWAY_TIMEOUT","SUCCESS"]},"errors":{"type":"array","description":"Errors for the response","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}}}},"example":{"header":{"headerAttributes":{"martId":"202","buId":"0","pageCount":2,"totalCount":2}},"payload":[{"returnOrderId":"330259024293819922","sellerOrderId":"100000578939695","returnOrderLines":[{"lineNo":"1","returnReason":"Incorrect item","returnReasonDesc":"Incorrect item received","itemDetail":{"sku":"SKU_123"},"qty":{"unitOfMeasure":"EA","measurementValue":1},"lineQuantityInfo":[{"status":"RETURN_CANCELLED","statusCode":9000,"statusDescription":"Return Cancelled","statusQuantity":{"unitOfMeasure":"EA","measurementValue":1}}],"imageURL":"image.jpeg","faultCategory":"SELLER","currentTrackingStatuses":[{"trackingStatus":"RETURN_CANCELLED","quantity":{"unitOfMeasure":"EACH","measurementValue":1},"currentTrackingStatusTime":"2024-11-19T00:44:44Z"}]}],"returnLineGroups":[{"groupNo":"1","returnOrderGroupLines":[{"lineNo":"1","qty":{"unitOfMeasure":"EA","measurementValue":1}}],"labelImageUrl":"image.png","carrierInfo":{"carrierName":"FEDEX","trackingNo":"1234567890","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=1234567890"},"shipFrom":{"address":{"addressLineOne":"Street address","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: CA"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname"},"phone":"2485656260","email":"example@email.com"},"shipTo":{"address":{"addressLineOne":"Street address","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: KY"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname"},"phone":"8009256278","email":"example@email.com"}}],"channelName":"Seller_Returns"},{"returnOrderId":"330257724289781172","sellerOrderId":"100000578939695","returnOrderLines":[{"lineNo":"2","returnReason":"Incorrect item","returnReasonDesc":"Incorrect item received","itemDetail":{"sku":"schaefer_028"},"qty":{"unitOfMeasure":"EA","measurementValue":1},"lineQuantityInfo":[{"status":"RETURN_CANCELLED","statusCode":9000,"statusDescription":"Return Cancelled","statusQuantity":{"unitOfMeasure":"EA","measurementValue":1}}],"imageURL":"image.jpeg","faultCategory":"SELLER","currentTrackingStatuses":[{"trackingStatus":"RETURN_CANCELLED","quantity":{"unitOfMeasure":"EACH","measurementValue":1},"currentTrackingStatusTime":"2024-11-01T18:34:15Z"}]},{"lineNo":"1","returnReason":"Incorrect item","returnReasonDesc":"Incorrect item received","itemDetail":{"sku":"SKU_123"},"qty":{"unitOfMeasure":"EA","measurementValue":1},"lineQuantityInfo":[{"status":"RETURN_CANCELLED","statusCode":9000,"statusDescription":"Return Cancelled","statusQuantity":{"unitOfMeasure":"EA","measurementValue":1}}],"imageURL":"image.jpeg","faultCategory":"SELLER","currentTrackingStatuses":[{"trackingStatus":"RETURN_CANCELLED","quantity":{"unitOfMeasure":"EACH","measurementValue":1},"currentTrackingStatusTime":"2024-11-01T18:34:15Z"}]}],"returnLineGroups":[{"groupNo":"1","returnOrderGroupLines":[{"lineNo":"2","qty":{"unitOfMeasure":"EA","measurementValue":1}},{"lineNo":"1","qty":{"unitOfMeasure":"EA","measurementValue":1}}],"labelImageUrl":"image.png","carrierInfo":{"carrierName":"FEDEX","trackingNo":"1234567890","trackingUrl":"https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers=1234567890"},"shipFrom":{"address":{"addressLineOne":"Street address","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: MI"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname"},"phone":"2485656260","email":"example@email.com"},"shipTo":{"address":{"addressLineOne":"Street address","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: MI"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname"},"phone":"8009256278","email":"example@email.com"}}],"channelName":"Seller_Returns"}]}}}}}},"post":{"tags":["Fulfillment"],"summary":"Create customer return order","description":"Creates a return order for a customer through Walmart Multichannel Solutions (MCS). WFS processes the return and routes it back to the seller's inventory. Use this API when a customer initiates a return for an order fulfilled by MCS.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#19509"},"operationId":"createReturnFulfillment","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["header","payload"],"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"required":["orderItems","sellerOrderId"],"type":"object","properties":{"sellerReturnOrderId":{"type":"string","description":"Seller return order UUID, can retry with same UUID","xml":{"wrapped":true}},"sellerOrderId":{"type":"string","description":"Seller order id generated by walmart","xml":{"wrapped":true}},"orderItems":{"type":"array","description":"Order items details","items":{"required":["itemDetail","qty"],"type":"object","properties":{"returnReason":{"maxLength":256,"minLength":1,"type":"string","description":"Return reason of the item, Expected return reasons are: \n * No Longer Wanted \n * Tried to Cancel \n * Item Arrived Damaged \n * Defective/Broken \n * Missing Parts or instructions \n * Incorrect item received \n * Warranty/Service item return"},"itemDetail":{"required":["sku"],"type":"object","properties":{"sku":{"maxLength":50,"minLength":1,"type":"string","description":"The identifier of the item in seller system (vendor sku)"}},"description":"Details of an item"},"qty":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"maxLength":4,"minLength":1,"type":"string","description":"Sales unit measure. Currently supported type : 'EACH'"},"measurementValue":{"minimum":1,"exclusiveMinimum":false,"type":"number","description":"Requested Quantity Information of an item"}},"description":"Item quantity details"}},"description":"Order items details"}}},"description":"request payload"}}},"example":{"header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"sellerReturnOrderId":"98966341-2944-49c5-bba3-ee167f667e04","sellerOrderId":"Seller Order Id","orderItems":[{"returnReason":"Reason for return","itemDetail":{"sku":"sku of the Item"},"qty":{"unitOfMeasure":"EA","measurementValue":1}}]}}}},"required":true},"responses":{"200":{"description":"Successful Request Creation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"type":"object","properties":{"returnOrderId":{"type":"string","description":"Unique identifier for the return order."},"sellerReturnOrderId":{"type":"string","description":"Unique identifier for the return order in the seller's system."},"sellerOrderId":{"type":"string","description":"Unique identifier for the sales order in the seller's system."},"originSystemOrderId":{"type":"string","description":"Unique identifier for the order in the origin system."},"channelName":{"type":"string","description":"Name of the channel that the return order belongs to."},"returnOrderLines":{"type":"array","description":"List of lines in the return order.","items":{"type":"object","properties":{"lineNo":{"type":"string","description":"Line number"},"sellerOrderId":{"type":"string","description":"Seller order id"},"returnReason":{"type":"string","description":"Reason for return"},"returnReasonDesc":{"type":"string","description":"Reason description"},"itemDetail":{"type":"object","properties":{"sku":{"type":"string","description":"Unique alphanumeric code that identifies each item"}},"description":"Item detail"},"qty":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"},"lineQuantityInfo":{"type":"array","description":"Line quantity information","items":{"type":"object","properties":{"status":{"type":"string","description":"Status of the line"},"statusCode":{"type":"integer","description":"Status code of the line","format":"int32"},"statusDescription":{"type":"string","description":"Description of the status"},"statusQuantity":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"}},"description":"Line quantity information"}},"imageURL":{"type":"string","description":"Image URL"},"faultCategory":{"type":"string","description":"Fault category"},"inspectionComments":{"type":"string","description":"Inspection comments"},"dispositionCode":{"type":"object","properties":{"disputeCreationTime":{"type":"string","description":"Time when the dispute was created.","format":"date-time"},"disputeDescription":{"type":"string","description":"Description of the dispute."},"disputeReasonCode":{"type":"string","description":"Reason Code of the dispute."},"currentDisputeStatus":{"type":"string","description":"Current status of the dispute."},"upc":{"type":"string","description":"Universal Product Code (UPC) of the item."}},"description":"Disposition code"},"currentTrackingStatuses":{"type":"array","description":"Current tracking statuses","items":{"type":"object","properties":{"trackingStatus":{"type":"string","description":"Status of tracking"},"quantity":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"},"currentTrackingStatusTime":{"type":"string","description":"Current tracking status time","format":"date-time"}},"description":"Current tracking statuses"}}},"description":"The return order lines."}},"returnLineGroups":{"type":"array","description":"List of return order line groups.","items":{"type":"object","properties":{"groupNo":{"type":"string","description":"The group no."},"returnOrderGroupLines":{"type":"array","description":"The return order group lines.","items":{"type":"object","properties":{"lineNo":{"type":"string","description":"Unique identifier for the line"},"qty":{"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"The unit of measure."},"measurementValue":{"type":"integer","description":"The measurement value.","format":"int32"}},"description":"Quantity for the line"}},"description":"The return order group lines."}},"labelImageUrl":{"type":"string","description":"The label image url."},"carrierInfo":{"type":"object","properties":{"carrierName":{"type":"string","description":"The name of the carrier."},"trackingNo":{"type":"string","description":"The tracking number."},"trackingUrl":{"type":"string","description":"The URL for tracking."}},"description":"The carrier info."},"shipFrom":{"type":"object","properties":{"address":{"required":["addressLine1","city","countryCode","postalCode","stateCode"],"type":"object","properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"stateCode":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"}}},"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Customer name details"},"phone":{"type":"string","description":"Phone of the shipment"},"email":{"type":"string","description":"Email of the shipment"}},"description":"The ship to address."},"shipTo":{"type":"object","properties":{"address":{"required":["addressLine1","city","countryCode","postalCode","stateCode"],"type":"object","properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"stateCode":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"}}},"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"}},"description":"Customer name details"},"phone":{"type":"string","description":"Phone of the shipment"},"email":{"type":"string","description":"Email of the shipment"}},"description":"The ship to address."}},"description":"The return line groups."}}},"description":"response payload"},"errors":{"type":"array","description":"errors for the response","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}}}},"example":{"status":"OK","header":{"headerAttributes":{"pageCount":1,"totalCount":1,"martId":"202","buId":"0"}},"payload":{"sellerReturnOrderId":"98966341-2944-49c5-bba3-ee167f667e02","returnOrderId":"156275470377404264","sellerOrderId":"200011888200325","returnOrderLines":[{"lineNo":1,"returnMode":"MAIL","returnReason":"Changed Mind","returnReasonDesc":"No Longer Wanted","itemDetail":{"sku":"00080119078374"},"qty":{"unitOfMeasure":"EA","measurementValue":1}}],"returnLineGroups":[{"groupNo":1,"returnOrderGroupLines":[{"lineNo":1,"quantity":{"unitOfMeasure":"EA","measurementValue":1}}],"labelImageURL":"Label Image url ","carrierInfo":{"carrierName":"FEDEX","trackingNo":"1234567890","trackingUrl":"https://www.fedex.com/apps/fedextrack/"},"shipFrom":{"address":{"addressLineOne":"Street address","addressType":"RESIDENTIAL","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: KY"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname","lastName":"Lastname"},"phone":"1234567908","email":"example@email.com"},"shipTo":{"address":{"addressLineOne":"Street address","city":"Name of the city","countryCode":"Country code, example: USA","postalCode":"12345","stateOrProvinceCode":"Two letter state, example: KY"},"name":{"completeName":"Firstname Lastname","firstName":"Firstname"},"phone":"1234567890","email":"example@email.com"}}]},"headers":{"headerAttributes":{"buId":"0","martId":"202"}}}}}}}}},"/v3/fulfillment/return-orders/{orderId}/cancel":{"post":{"tags":["Fulfillment"],"summary":"Cancel customer return order","description":"Cancels a customer return order created through Walmart Multichannel Solutions (MCS).","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#19518"},"operationId":"cancelReturnFulfillment","parameters":[{"name":"orderId","in":"path","description":"Unique ID identifying each orderId.","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Successful Request Creation","content":{"application/json":{"schema":{"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"Mart Id"},"buId":{"type":"string","description":"Business Unit Id"},"pageCount":{"type":"integer","description":"Page count","format":"int32"},"totalCount":{"type":"integer","description":"Total count","format":"int32"}},"description":"Header attributes for returns."}},"description":"Header for the response"},"payload":{"type":"object","properties":{"returnOrderId":{"type":"string","description":"A unique ID associated with the return order."}},"description":"Payload for the response"},"status":{"type":"string","description":"Status of the response","enum":["OK","CREATED","ACCEPTED","CANCELLED","NO_CONTENT","PARTIAL","MOVED_PERMANENT","FOUND","SEE_OTHER","NOT_MODIFIED","TEMPORARY_REDIRECT","BAD_REQUEST","UNAUTHORIZED","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","NOT_ACCEPTABLE","REQUEST_TIMEOUT","CONFLICT","REQUEST_ENTITY_TOO_LARGE","UNSUPPORTED_MEDIA_TYPE","UNPROCESSABLE_ENTITY","TOO_MANY_REQUESTS","PARTIAL_SUCCESS","FAIL","BAD_GATEWAY","SERVICE_UNAVAILABLE","GATEWAY_TIMEOUT","SUCCESS"]},"errors":{"type":"array","description":"Errors for the response","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}}}},"example":{"header":{"headerAttributes":{"martId":"202","buId":"0"}},"payload":{"returnOrderId":"330249724205033322"},"status":"OK"}}}}}}},"/v3/fulfillment/orders-fulfillments":{"post":{"tags":["Fulfillment"],"summary":"Create MCS customer order","description":"Use this API to create a fulfillment order for a customer through Walmart Multichannel Solutions (MCS). WFS fulfills the order on the seller's behalf, regardless of the sales channel it originated from. \n\n The WFS Inventory API is a prerequisite for using the Create Customer Order for WFS API. It ensures you have accurate, real-time inventory data before placing or managing orders. \n\nThe Create Customer Order API also validates the delivery promise before placing the order. This allows you to identify and resolve potential issues in advance, with error responses aligned to those provided in Seller Center. \n\nFor more information, review the <a href=\"https://developer.walmart.com/us-marketplace/docs/wfs-get-inventory-new\">WFS API Guide (New)</a> and <a href=\"https://developer.walmart.com/us-marketplace/reference/getwfsinventorydetails\">WFS Inventory API Reference (New)</a>.","externalDocs":{"description":"View Guide","url":"https://developer.walmart.com/us-marketplace/docs/create-customer-order-for-wfs-item"},"operationId":"createFulfillment","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["payload"],"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"Specifies the martId to be included in the request header. Currently supported: '202'."},"buId":{"type":"string","description":"Specifies the 'buId' to be included in the request header. Currently supported: '0'"}},"description":"Header attributes"}},"description":"Header to support build and martId."},"payload":{"required":["customer","orderChannelId","orderItems","customerOrderNo"],"type":"object","properties":{"orderChannelId":{"type":"string","description":"Unique ID identifying channels from where the orders have been generated. This ID is generated by Walmart at the time of on-boarding onto multichannel program and this cannot be a random number."},"customerOrderNo":{"maxLength":36,"minLength":0,"pattern":"^[A-Za-z0-9\\s]+$","type":"string","description":"A unique alphanumeric identifier for the customer’s order request. Prefixing this value with your seller short name is recommended. For example, sellername001ABC123."},"orderPlacedTime":{"type":"string","description":"Timestamp when the order was placed. Format: '2022-03-25T21:58:30.143Z'","format":"date-time"},"customer":{"required":["contact"],"type":"object","properties":{"contact":{"required":["name","phone"],"type":"object","properties":{"name":{"required":["firstName","lastName"],"type":"object","properties":{"firstName":{"maxLength":64,"minLength":1,"type":"string","description":"Customer first name"},"lastName":{"maxLength":64,"minLength":1,"type":"string","description":"Customer last name"}},"description":"Name of the Customer"},"phone":{"maxLength":15,"minLength":1,"type":"string","description":"Customer phone number"},"email":{"maxLength":64,"minLength":1,"type":"string","description":"Customer email address"}},"description":"Customer contact details"}},"description":"Customer details"},"orderItems":{"type":"array","description":"Order items details","items":{"required":["chargeDetails","itemDetail","qty","sellerLineId","shippingTo"],"type":"object","properties":{"sellerLineId":{"maxLength":6,"minLength":1,"type":"string","description":"Unique Id for each line item, preferred sequence '1','2','3'."},"itemDetail":{"required":["sku"],"type":"object","properties":{"sku":{"minLength":1,"type":"string","description":"The SKU identifier of the item in the seller's system."}},"description":"Details of an item."},"qty":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"maxLength":4,"minLength":1,"type":"string","description":"Sales unit measure. Currently supported type : 'EACH'."},"measurementValue":{"minimum":1,"exclusiveMinimum":false,"type":"number","description":"Requested Quantity Information of an item."}},"description":"Item quantity details"},"shippingMethod":{"type":"string","description":"Shipping method for an item in the order. Currently supported type: 'EXPEDITED', 'STANDARD'.","enum":["EXPEDITED","STANDARD"]},"shippingTo":{"required":["contact","address"],"type":"object","properties":{"contact":{"required":["name","phone"],"type":"object","properties":{"name":{"required":["firstName","lastName"],"type":"object","properties":{"firstName":{"maxLength":64,"minLength":1,"type":"string","description":"Customer first name"},"lastName":{"maxLength":64,"minLength":1,"type":"string","description":"Customer last name"}},"description":"Name of the Customer"},"phone":{"maxLength":15,"minLength":1,"type":"string","description":"Customer phone number"},"email":{"maxLength":64,"minLength":1,"type":"string","description":"Customer email address"}},"description":"Customer contact details"},"address":{"required":["city","country","line1","state","zip"],"type":"object","properties":{"line1":{"maxLength":35,"minLength":1,"type":"string","description":"First line of the address"},"line2":{"maxLength":35,"minLength":1,"type":"string","description":"Second line of the address"},"city":{"maxLength":32,"minLength":1,"type":"string","description":"City where the address is located in"},"state":{"maxLength":2,"minLength":1,"type":"string","description":"State (two letter) code where the address is located in, for example: 'MI'"},"country":{"maxLength":3,"minLength":1,"type":"string","description":"Country code where the address is located in, for example: 'USA'"},"zip":{"maxLength":5,"minLength":5,"pattern":"^[0-9]+$","type":"string","description":"ZIP or postal code where the address is located in, for example: '48083'"},"addressType":{"type":"string","description":"The address type. Currently supported: 'RESIDENTIAL'"}},"description":"Customer address details"}},"description":"Shipping address details"}},"description":"Order items details"}}},"description":"request payload"}}},"example":{"header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"orderChannelId":"Enter the orderChannelId","customerOrderNo":"A unique alphanumeric identifier for the customer order.","orderPlacedTime":"Enter order placed time. Format : '2022-03-25T21:58:30.143Z'.","customer":{"contact":{"name":{"firstName":"Enter Customer firstName","lastName":"Enter Customer lastName"},"phone":"Enter Customer phone number","email":"Enter Customer email"}},"orderItems":[{"sellerLineId":"1, increment for the next line","shippingMethod":"EXPEDITED","itemDetail":{"sku":"The SKU (Stock Keeping Unit) of the item."},"qty":{"unitOfMeasure":"EACH","measurementValue":2},"shippingTo":{"contact":{"name":{"firstName":"Enter delivery info : firstName","lastName":"Enter delivery info : lastName"},"phone":"The phone number for delivery contact.","email":"The email address of the delivery contact."},"address":{"line1":"Enter delivery address line1","line2":"Enter delivery address line2","city":"Enter delivery city","state":"Enter delivery state","country":"USA","zip":"Enter delivery zip code","addressType":"RESIDENTIAL"}}}]}}}},"required":true},"responses":{"200":{"description":"Successful Request Creation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'."},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'."}},"description":"Header attributes"}},"description":"Header to support build and martId."},"payload":{"type":"object","properties":{"requestId":{"type":"string","description":"Unique ID identifying each request"}},"description":"response payload"}}},"example":{"status":"ACCEPTED","header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"requestId":"594ef12e-0d0f-402d-aab9-3f7ca06b0ed8"}}}}}}}},"/v3/fulfillment/orders-fulfillments/fetchOrderPromiseOptions":{"post":{"tags":["Fulfillment"],"summary":"Fetch delivery promise details","description":"Returns fulfillment options, delivery promise details, and estimated MCS fulfillment fees for an eligible item and offer.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#12154"},"operationId":"promiseFulfillments","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["payload"],"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"required":["destinations","offerSelections"],"type":"object","properties":{"destinations":{"type":"array","description":"Customer order destination details.","xml":{"wrapped":true},"items":{"required":["address","fulfillmentType"],"type":"object","properties":{"address":{"required":["zip","state"],"type":"object","properties":{"city":{"type":"string","description":"City where the address is located in."},"addressType":{"type":"string","description":"Type of address (example: RESIDENTIAL)."},"zip":{"type":"string","description":"ZIP or postal code where the address is located in."},"line1":{"type":"string","description":"First line of the address."},"line2":{"type":"string","description":"Second line of the address."},"country":{"type":"string","description":"Country code where the address is located in."},"state":{"type":"string","description":"State (two letter) code where the address is located in."}},"description":"Address details."},"fulfillmentType":{"type":"string","description":"Fulfillment Type of an order. Currently supported type : 'DELIVERY'"}},"description":"Customer order destination details."}},"offerSelections":{"type":"array","description":"Offer Selection details. List of offers - number of offer inside offer selection should be less than or equal to 30.","xml":{"wrapped":true},"items":{"required":["offers"],"type":"object","properties":{"offers":{"type":"array","description":"Offer details. List of an items/vendor sku.","xml":{"wrapped":true},"items":{"required":["lineId","requestedQuantity","salesUnit","sku"],"type":"object","properties":{"sku":{"type":"string","description":"The identifier of the item in seller system (vendor sku)."},"lineId":{"type":"string","description":"The identifier (UUID) for each line assigned by seller systems."},"salesUnit":{"type":"string","description":"Sales unit type. Currently supported type : 'EACH'"},"requestedQuantity":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"measurementValue":{"minimum":1,"type":"integer","description":"Quantity of each item.","format":"int32"},"unitOfMeasure":{"type":"string","description":"Unit of quantity. Currently supported type : 'EA'"}},"description":"Requested Quantity Information of an item."}},"description":"Offer details. List of an items/vendor sku."}}},"description":"Offer Selection details. List of offers - number of offer inside offer selection should be less than or equal to 30."}}},"description":"Request payload."}}},"example":{"header":{"headerAttributes":{"martId":"202","buId":"0"}},"payload":{"destinations":[{"address":{"city":"Milpitas","addressType":"RESIDENTIAL","postalCode":"95035","addressLineOne":"261 Odyssey Ln","addressLineTwo":"222","isPOBox":false,"countryCode":"US","stateCode":"CA"},"fulfillmentType":"DELIVERY"}],"offerSelections":[{"offers":[{"sku":"OMP-B01-L","lineId":"249ac8e1-e6c2-4806-81a5-54215eb16b00","salesUnit":"Each","requestedQuantity":{"measurementValue":1,"unitOfMeasure":"EA"}}]}]}}}},"required":true},"responses":{"200":{"description":"Successful operation.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Response status."},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"type":"object","properties":{"offers":{"type":"array","description":"Offer details indicating available quantity vs required quantify for offer","items":{"type":"object","properties":{"availableQuantity":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"measurementValue":{"minimum":1,"type":"integer","description":"Quantity of each item.","format":"int32"},"unitOfMeasure":{"type":"string","description":"Unit of quantity. Currently supported type : 'EA'"}},"description":"Available Quantity Information of an item."},"requestedQuantity":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"measurementValue":{"minimum":1,"type":"integer","description":"Quantity of each item.","format":"int32"},"unitOfMeasure":{"type":"string","description":"Unit of quantity. Currently supported type : 'EA'"}},"description":"Requested Quantity Information of an item."},"lineId":{"type":"string","description":"The identifier (UUID) for each line assigned by seller systems."},"salesUnit":{"type":"string","description":"Sales unit type. Currently supported type : 'EACH'"},"sku":{"type":"string","description":"The identifier of the item in seller system (vendor sku)."}},"description":"Offer details indicating available quantity vs required quantify for offer"}},"destinations":{"type":"array","description":"Customer order destination details.","items":{"type":"object","properties":{"address":{"required":["postalCode","stateCode"],"type":"object","properties":{"city":{"type":"string","description":"City where the address is located in."},"addressType":{"type":"string","description":"The address type. For example: 'RESIDENTIAL'"},"postalCode":{"type":"string","description":"ZIP or postal code where the address is located in."},"addressLineOne":{"type":"string","description":"First line of the address."},"addressLineTwo":{"type":"string","description":"Second line of the address."},"countryCode":{"type":"string","description":"Country code where the address is located in."},"stateCode":{"type":"string","description":"State (two letter) code where the address is located in."},"isPOBox":{"type":"boolean","description":"PO box detail."}},"description":"Address details."},"fulfillmentType":{"type":"string","description":"Fulfillment Type of an order. Currently supported type : 'DELIVERY'"}},"description":"Customer order destination details."}},"fulfillmentPlans":{"type":"array","description":"Fulfillment plans details.","items":{"type":"object","properties":{"fulfillmentModules":{"type":"array","description":"Fulfillment module details.","items":{"type":"object","properties":{"name":{"type":"string","description":"Fulfillment module name. For example : 'UNSCHEDULED_DELIVERY and ERROR'"},"fulfillmentGroups":{"type":"array","description":"Fulfillment Group details.","items":{"type":"object","properties":{"fulfillmentOptions":{"type":"array","description":"Fulfillment options details.","items":{"type":"object","properties":{"fulfillmentMode":{"type":"string","description":"Fulfillment mode detail. For example : 'UNSCHEDULED'"},"accessType":{"type":"string","description":"Fulfillment access type. For example : 'DELIVERY_ADDRESS'"},"fulfillments":{"type":"array","description":"Fulfillment details.","items":{"type":"object","properties":{"fulfillmentId":{"type":"string","description":"The identifier to identify fulfillment."},"lineItemAttributesList":{"type":"array","description":"Line item attribute details.","items":{"type":"object","properties":{"availableQuantity":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"measurementValue":{"minimum":1,"type":"integer","description":"Quantity of each item.","format":"int32"},"unitOfMeasure":{"type":"string","description":"Unit of quantity. Currently supported type : 'EA'"}},"description":"Requested Quantity Information of an item."},"fulfillmentChannel":{"type":"array","description":"Fulfillment channel details. For example : 'WFS_FULFILLED'","items":{"type":"string","description":"Fulfillment channel details. For example : 'WFS_FULFILLED'"}},"lineId":{"type":"string","description":"The identifier to identify each line, assigned by seller systems."}},"description":"Line item attribute details."}},"sla":{"type":"object","properties":{"tier":{"type":"string","description":"Service level agreement tier details.For example : 'TWO_DAY'"},"speed":{"type":"string","description":"Ship method details. For example : 'Rush, Expedited, Value and Standard'"}},"description":"Fulfillment service level agreement details."},"nodeType":{"type":"string","description":"Fulfillment node type details. For example : 'FC'"},"accessMode":{"type":"object","properties":{"mode":{"type":"string","description":"Fulfillment access mode type. For example : 'NATIONAL_CARRIER'"}},"description":"Fulfillment access mode details."},"fulfillmentTime":{"type":"object","properties":{"date":{"type":"object","properties":{"minPromiseDate":{"type":"string","description":"Fulfillment minimum promise date detail.","format":"date-time"},"Fulfillment maximum promise date detail.":{"type":"string","format":"date-time"}},"description":"Fulfillment date details."}},"description":"Fulfillment time details."},"errors":{"type":"array","description":"Error list details.","items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}}},"xml":{"name":"Error"}}}},"description":"Fulfillment details."}},"fulfillmentType":{"type":"string","description":"Fulfillment type detail. For example : 'DELIVERY'"}},"description":"Fulfillment options details."}}},"description":"Fulfillment Group details."}}},"description":"Fulfillment module details."}}},"description":"Fulfillment plans details."}},"estimatedFees":{"type":"object","description":"Estimated fee details for eligible items. Present only when the request contains at least one item with a valid `offerId` or `gtin`. Absent when the request has no `offerSelections` or when no eligible items are found. When status is SUCCESS, `itemDetails` contains per-item fee breakdowns and errors is absent. When status is `FAIL`, errors contains failure details and `itemDetails` is empty.","properties":{"status":{"type":"string","description":"Fee calculator result status. `SUCCESS` indicates that estimated fees were calculated for one or more eligible items. `FAIL` indicates that fee calculation failed and errors contains failure details.","example":"SUCCESS","enum":["SUCCESS","FAIL"]},"errors":{"type":"array","description":"List of errors returned when fee calculation fails.","items":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Error code that identifies the failure.","example":"500.MCS.500"},"field":{"type":"string","description":"Field associated with the error, when applicable.","example":"fee_calculator"},"description":{"type":"string","description":"Human-readable description of the error.","example":"Internal server error."},"info":{"type":"string","description":"Additional information about the error, when available.","example":"Failed to fetch estimated fees from fee-calculator service"},"severity":{"type":"string","description":"Severity level of the error.","enum":["INFO","WARN","ERROR"],"example":"ERROR"},"category":{"type":"string","description":"Category of the error.","enum":["APPLICATION","SYSTEM","REQUEST","DATA"],"example":"APPLICATION"},"causes":{"type":"array","description":"Additional causes associated with the error, when available.","items":{"type":"object","properties":{"code":{"type":"string","description":"Cause-specific error code."},"field":{"type":"string","description":"Field associated with the cause, when applicable."},"type":{"type":"string","description":"Type of cause."},"description":{"type":"string","description":"Human-readable description of the cause."}}}}}}},"itemDetails":{"type":"array","description":"Item-level estimated fee details returned when fee calculation succeeds.","items":{"type":"object","properties":{"offerId":{"type":"string","description":"Offer identifier used to calculate estimated fees.","example":"B41ECC04AE79634D96BEAD31AD1D5A8B0"},"gtin":{"type":"string","description":"GTIN used to calculate estimated fees for the item.","example":"00708429035726"},"chargeDetails":{"type":"array","description":"List of estimated fee charges calculated for the item.","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"Type of estimated fee charge.","example":"MCF_STANDARD","enum":["MCF_STANDARD","MCF_EXPEDITED","FULFILLMENT"]},"currency":{"type":"string","description":"ISO 4217 currency code for the charge amount.","example":"USD"},"netCharge":{"type":"number","format":"double","minimum":0,"multipleOf":0.01,"description":"Estimated fee amount for the charge type, expressed in the specified currency."}}}}}}}}}},"description":"Response payload."}}},"example":{"status":"ACCEPTED","header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"offers":[{"availableQuantity":{"measurementValue":52,"unitOfMeasure":"EA"},"requestedQuantity":{"measurementValue":1,"unitOfMeasure":"EA"},"lineId":"249ac8e1-e6c2-4806-81a5-54215eb16b00","salesUnit":"Each","sku":"OMP-B01-L"}],"destinations":[{"address":{"city":"Name of the city","addressType":"RESIDENTIAL","postalCode":"12345","addressLineOne":"Street address","addressLineTwo":"Optional","isPOBox":false,"countryCode":"Country code, example: USA","stateCode":"Two letter state code, example: KY"},"fulfillmentType":"DELIVERY"}],"fulfillmentPlans":[{"fulfillmentModules":[{"fulfillmentGroups":[{"fulfillmentOptions":[{"fulfillments":[{"lineItemAttributesList":[{"availableQuantity":{"measurementValue":52,"unitOfMeasure":"EA"},"fulfillmentChannel":["WFS_FULFILLED"],"lineId":"249ac8e1-e6c2-4806-81a5-54215eb16b00"}],"sla":{"tier":"TWO_DAY","speed":"EXPEDITED"},"accessMode":{"mode":"NATIONAL_CARRIER"},"fulfillmentTime":{"date":{"minPromiseDate":"2023-02-27","maxPromiseDate":"2023-02-27"}},"fulfillmentId":"a269374b-0c07-4008-8b5c-6831cbb2c112","nodeType":"FC"}],"fulfillmentMode":"UNSCHEDULED","accessType":"DELIVERY_ADDRESS","fulfillmentType":"DELIVERY"}]}],"name":"UNSCHEDULED_DELIVERY"}]}],"estimatedFees":{"status":"SUCCESS","itemDetails":[{"offerId":"B41ECC04AE79634D96BEAD31AD1D5A8B0","gtin":"00708429035726","chargeDetails":[{"chargeType":"MCF_STANDARD","currency":"USD","netCharge":68.85}]}]}}}}}}}}},"/v3/fulfillment/orders-fulfillments/cancel":{"post":{"tags":["Fulfillment"],"summary":"Cancel MCS fulfillment order","description":"Cancels a customer fulfillment order that was created through Walmart Multichannel Solutions (MCS). Call this API before the order is shipped. Orders that have already entered fulfillment processing cannot be canceled using this endpoint.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#10523"},"operationId":"cancelFulfillment","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"required":["orderItems","customerOrderNo"],"type":"object","properties":{"sellerOrderId":{"type":"string","description":"The seller order ID assigned by the Walmart system used to identify the seller's transaction."},"customerOrderNo":{"type":"string","description":"The customer order number provided by the seller system used to identify the seller's transaction."},"orderItems":{"type":"array","xml":{"wrapped":true},"items":{"required":["qty","sellerLineId"],"type":"object","properties":{"sellerLineId":{"maxLength":32,"minLength":1,"type":"string"},"qty":{"required":["measurementValue","unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"maxLength":32,"minLength":1,"type":"string"},"measurementValue":{"minimum":1,"exclusiveMinimum":false,"type":"number"}}}}}}},"description":"request payload"}}},"example":{"header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"customerOrderNo":"sellername001ABC123","orderItems":[{"sellerLineId":"1232456","qty":{"unitOfMeasure":"EACH","measurementValue":2}}]}}}},"required":true},"responses":{"200":{"description":"Successful Request Creation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"header":{"type":"object","properties":{"headerAttributes":{"type":"object","properties":{"martId":{"type":"string","description":"martId of the seller. Currently supported: '202'"},"buId":{"type":"string","description":"buId of the seller. Currently supported: '0'"}},"description":"Header attributes"}},"description":"header to support build and martId"},"payload":{"type":"object","properties":{"requestId":{"type":"string","description":"Unique ID identifying each request"}},"description":"response payload"}}},"example":{"status":"ACCEPTED","header":{"headerAttributes":{"buId":"0","martId":"202"}},"payload":{"requestId":"594ef12e-0d0f-402d-aab9-3f7ca06b0ed7"}}}}}}}},"/v3/fulfillment/inbound-shipments":{"get":{"tags":["Fulfillment"],"summary":"Get Shipments","description":"After Sellers create an Inbound Order successfully, the response from Create Inbound Shipments API will tell whether the order can be sent in a single shipment to one WFS fulfillment center or needs to be split into multiple shipments to different fulfillment centers. To retrieve the Shipment level info, use the Get Inbound Shipments API.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#2855"},"operationId":"getInboundShipments","parameters":[{"name":"offset","in":"query","description":"Offset is the number of records you wish to skip before selecting records.","required":false,"schema":{"type":"string","default":"0"}},{"name":"limit","in":"query","description":"The number of Purchase Orders to be returned.","required":false,"schema":{"type":"string","default":"10"}},{"name":"inboundOrderId","in":"query","description":"Unique ID identifying inbound shipment request.","required":false,"schema":{"type":"string"}},{"name":"shipmentId","in":"query","description":"Unique ID identifying each shipment.","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Current shipment status","required":false,"schema":{"type":"string","enum":["FAILED_GDM","SUBMITTED","CANCELLED","AWAITING_DELIVERY","CANCELLED_GDM","MOVED","CANCELLED_INIT","FAILED","CLOSED","PROCESSED_GDM","ALLOCATED","PROCESSED","RECEIVING_IN_PROGRESS","CREATE_GDM_PUBLISH_FAILED","RECEIVED","TRANSFER_IN_PROGRESS"]}},{"name":"fromCreateDate","in":"query","description":"Shipment create date starting range.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2020-11-21T00:00:00.000Z"},{"name":"toCreateDate","in":"query","description":"Shipment create date starting  end range","required":false,"schema":{"type":"string","format":"date-time"},"example":"2020-11-21T00:00:00.000Z"},{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"headers":{"type":"object","properties":{"totalCount":{"type":"integer","description":"total number of POs for provided GET request.","format":"int32"},"limit":{"type":"integer","description":"provided limit value in the request","format":"int32"},"offset":{"type":"integer","description":"provided offset value in the request.","format":"int32"}}},"payload":{"type":"array","description":"response payload","items":{"type":"object","properties":{"inboundOrderId":{"type":"string","description":"Unique ID identifying inbound shipment request"},"shipmentId":{"type":"string","description":"Unique ID identifying inbound shipment"},"shipToAddress":{"type":"object","properties":{"fcName":{"type":"string","description":"Facility name"},"addressLine1":{"type":"string","description":"Address details "},"addressLine2":{"type":"string","description":"Address details continuation"},"city":{"type":"string","description":"City name"},"stateCode":{"type":"string","description":"State code"},"countryCode":{"type":"string","description":"Country code"},"postalCode":{"type":"string","description":"Zip code"}},"description":"The address to which sellers need to inbound items"},"returnAddress":{"required":["addressLine1","city","countryCode","postalCode","stateCode"],"type":"object","properties":{"addressLine1":{"type":"string","description":"Address details"},"addressLine2":{"type":"string","description":"Address details continuation"},"city":{"type":"string","description":"City name"},"stateCode":{"type":"string","description":"State Code"},"countryCode":{"type":"string","description":"Country code"},"postalCode":{"type":"string","description":"Zip code"}},"description":"return address of seller"},"status":{"type":"string","description":"Current status of the shipment"},"createdDate":{"type":"string","description":"creation date for shipment","format":"date-time"},"shipmentUnits":{"type":"integer","description":"Total number of units in the shipment","format":"int32"},"receivedUnits":{"type":"integer","description":"Total number of units received in FC for the shipment including overage","format":"int32"},"expectedDeliveryDate":{"type":"string","description":"expected delivery date provided by seller","format":"date-time"},"updatedExpectedDeliveryDate":{"type":"string","description":"update expected delivery date based on network capacity","format":"date-time"},"actualDeliveryDate":{"type":"string","description":"Actual delivery date of the shipment at FC","format":"date-time"},"trackingNo":{"type":"array","description":"Tracking info for the shipment","items":{"type":"string","description":"Tracking info for the shipment"}},"carrierName":{"type":"string","description":"Carrier of the shipment"}},"description":"response payload"}}}},"example":{"headers":{"limit":10,"offset":0,"totalCount":177},"payload":[{"inboundOrderId":"month-date-test-2","shipmentId":"0066618GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"12345","countryCode":"Country code, example: USA","postalCode":"Two letter state, example: KY"},"status":"AWAITING_DELIVERY","createdDate":"2021-05-17T19:02:30.467Z","shipmentUnits":1,"receivedUnits":0,"expectedDeliveryDate":"2021-05-22T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-06-01T23:59:00.000Z","trackingNo":["787439195645","787439195174"],"carrierName":"WFS-FEDEX"},{"inboundOrderId":"may-21-test9","shipmentId":"0061782GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"CANCELLED","createdDate":"2021-05-06T17:49:54.743Z","shipmentUnits":0,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-21-test8","shipmentId":"0061779GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"95391"},"status":"CANCELLED","createdDate":"2021-05-06T17:42:42.577Z","shipmentUnits":0,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-06-01T23:59:00.000Z","trackingNo":["787450289224"],"carrierName":"WFS-FEDEX"},{"inboundOrderId":"month-date-test7","shipmentId":"0061763GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"CANCELLED","createdDate":"2021-05-06T16:54:47.310Z","shipmentUnits":0,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-21-test6","shipmentId":"0061752GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"CANCELLED","createdDate":"2021-05-06T16:31:22.383Z","shipmentUnits":0,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-21-test-3","shipmentId":"0061726GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"PENDING_SHIPMENT_DETAILS","createdDate":"2021-05-06T15:09:35.797Z","shipmentUnits":1,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-21-test-2","shipmentId":"0061712GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"PENDING_SHIPMENT_DETAILS","createdDate":"2021-05-06T14:31:32.280Z","shipmentUnits":3,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-21-test-1","shipmentId":"0061665GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"PENDING_SHIPMENT_DETAILS","createdDate":"2021-05-06T14:23:28.673Z","shipmentUnits":1,"receivedUnits":0,"expectedDeliveryDate":"2021-05-20T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-20T00:00:00.000Z"},{"inboundOrderId":"may-4-test-2","shipmentId":"0060645GDM","shipToAddress":{"fcName":"NJ3","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"PENDING_SHIPMENT_DETAILS","createdDate":"2021-05-05T01:24:25.840Z","shipmentUnits":1,"receivedUnits":0,"expectedDeliveryDate":"2021-05-22T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-22T00:00:00.000Z"},{"inboundOrderId":"month-date-test-1","shipmentId":"0060635GDM","movedShipmentId":"0060634GDM","shipToAddress":{"fcName":"KY1","addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"returnAddress":{"addressLine1":"Street address","city":"Name of the city","stateCode":"Two letter state, example: KY","countryCode":"Country code, example: USA","postalCode":"12345"},"status":"AWAITING_DELIVERY","createdDate":"2021-05-04T23:46:18.530Z","shipmentUnits":1,"receivedUnits":0,"expectedDeliveryDate":"2021-05-23T00:00:00.000Z","updatedExpectedDeliveryDate":"2021-05-19T23:59:00.000Z","trackingNo":["787095506139"],"carrierName":"WFS-FEDEX"}]}}}}}},"post":{"tags":["Fulfillment"],"summary":"Create Inbound Shipment","description":"Once you’ve converted items to WFS, you are ready to start shipping items inbound to Walmart. To do this, you will submit an Inbound shipment request. The Inbound shipment details when you expect to ship product, as well as the items and quantities which will be shipped.\n\nEach shipment you send in to WFS should have a corresponding Inbound shipment . In this case, a shipment would be considered a direct truckload, LTL shipment, or set of items shipped via parcel on a given day.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#2901"},"operationId":"createShipment","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["inboundOrderId","returnAddress"],"type":"object","properties":{"inboundOrderId":{"maxLength":100,"minLength":0,"type":"string","description":"Unique ID identifying inbound shipment request"},"inboundServices":{"type":"object","properties":{"inventoryTransferService":{"type":"string","description":"ITS Flag"}},"description":"Requested inbound services such as ITS"},"returnAddress":{"required":["addressLine1","city","countryCode","postalCode","stateCode"],"type":"object","properties":{"addressLine1":{"type":"string","description":"Address details"},"addressLine2":{"type":"string","description":"Address details continuation"},"city":{"type":"string","description":"City name"},"stateCode":{"type":"string","description":"State Code"},"countryCode":{"type":"string","description":"Country code"},"postalCode":{"type":"string","description":"Zip code"}},"description":"return address of seller"},"orderItems":{"maxItems":5000,"minItems":1,"type":"array","description":"inbound shipment request line items","xml":{"wrapped":true},"items":{"required":["expectedDeliveryDate","innerPackQty","itemDesc","itemQty","productId","productType","sku","vendorPackQty"],"type":"object","properties":{"productId":{"type":"string","description":"Unique ID identifying product"},"productType":{"type":"string","description":"Supported product types are GTIN"},"sku":{"type":"string","description":"Seller Item ID"},"itemDesc":{"type":"string","description":"Item description"},"itemQty":{"minimum":1,"type":"integer","description":"Total number of sellable units","format":"int32"},"vendorPackQty":{"minimum":1,"type":"integer","description":"Total number of cases","format":"int32"},"innerPackQty":{"minimum":1,"type":"integer","description":"Total number of sellable units per case","format":"int32"},"expectedDeliveryDate":{"type":"string","description":"expected delivery date for shipment","format":"date-time"},"addOnServices":{"type":"array","description":"Indicate whether add-on services (e.g. item labeling or poly bagging) are needed","xml":{"wrapped":true},"items":{"type":"object","properties":{"serviceType":{"type":"string","description":"Enum: \"LABEL\", \"BAG\", \"TAPE\", \"WRAP\""}},"description":"Indicate whether add-on services (e.g. item labeling or poly bagging) are needed"}},"itemNbr":{"type":"integer","format":"int32"},"dimensions":{"type":"array","items":{"type":"number","format":"float"}},"itemWeightQty":{"type":"number","format":"float"},"nonSortItem":{"type":"boolean"},"shipNode":{"type":"string"}},"description":"inbound shipment request line items"}},"shippingSummary":{"type":"object","description":"A summary of the shipment.","properties":{"boxes":{"type":"array","description":"A list of box configurations that are included.","items":{"type":"object","properties":{"totalNoOfUnits":{"type":"integer","format":"int32","description":"Total number of units that are packed."},"noOfBoxes":{"type":"integer","format":"int32","description":"The number of boxes that are in the packing configuration.","minimum":1},"weight":{"type":"number","format":"float","description":"The weight of each box."},"longestSide":{"type":"number","format":"float","description":"The longest side dimension of the box."},"medianSide":{"type":"number","format":"float","description":"The median side dimension of the box."},"shortestSide":{"type":"number","format":"float","description":"The shortest side dimension of the box."},"weightUnit":{"type":"string","description":"The unit of weight measurement."},"lengthUnit":{"type":"string","description":"The unit of length measurement."},"items":{"minimum":1,"type":"array","description":"The list of items that are packed in the box.","items":{"type":"object","properties":{"productId":{"type":"string","description":"The product identifier of the packed item."},"productType":{"type":"string","description":"The type of product identifier used for the packed item."},"sku":{"type":"string","description":"The seller-defined SKU for the packed item."},"gtin":{"type":"string","description":"The Global Trade Item Number (GTIN) for the packed item."},"unitsPerBox":{"minimum":1,"type":"integer","format":"int32","description":"The number of units of an item packed in each box."}}}}}}}}}}},"example":{"inboundOrderId":"8778881015027","inboundServices":{"inventoryTransferService":"Y"},"returnAddress":{"addressLine1":"860 W California Ave","addressLine2":"","city":"Sunnyvale","stateCode":"CA","countryCode":"USA","postalCode":"94086"},"orderItems":[{"productId":"00894147009695","productType":"GTIN","sku":"WILL-SL969","itemDesc":"Blue jeans","itemQty":10,"vendorPackQty":10,"innerPackQty":1,"expectedDeliveryDate":"2020-11-21T00:00:00.000Z","addOnServices":[{"serviceType":"LABEL"}]}]}}},"required":true},"responses":{"200":{"headers":{"X-Current-Token-Count":{"$ref":"#/components/headers/X-Current-Token-Count"},"X-Next-Replenishment-Time":{"$ref":"#/components/headers/X-Next-Replenishment-Time"}},"description":"Successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"payload":{"type":"array","description":"response payload","items":{"type":"object","properties":{"shipmentId":{"type":"string","description":"Unique ID identifying each shipment"},"shipToAddress":{"type":"object","properties":{"fcName":{"type":"string","description":"Facility name"},"addressLine1":{"type":"string","description":"Address details "},"addressLine2":{"type":"string","description":"Address details continuation"},"city":{"type":"string","description":"City name"},"stateCode":{"type":"string","description":"State code"},"countryCode":{"type":"string","description":"Country code"},"postalCode":{"type":"string","description":"Zip code"}},"description":"The address to which sellers need to inbound items"},"shipmentItems":{"type":"array","description":"The items which needs to be send in the shipment","items":{"type":"object","properties":{"vendorSku":{"type":"string","description":"Seller Item ID"},"itemQty":{"type":"integer","description":"Total number of sellable units","format":"int32"}},"description":"The items which needs to be send in the shipment"}},"expectedDeliveryDate":{"type":"string","description":"expected delivery date for inbounding shipment. Can be different from provided in the rquest based on network capacity","format":"date-time"}},"description":"response payload"}}}},"example":{"status":"OK","payload":[{"shipmentId":"0000966GDM","shipToAddress":{"addressLine1":"120 Velocity Way.","city":"Shepherdsville","stateCode":"KY","countryCode":"US","postalCode":"40165"},"shipmentItems":[{"vendorSku":"WILL-SL969","itemQty":10}],"expectedDeliveryDate":"2020-11-21T00:00:00.000Z"}]}}}},"400":{"description":"Bad request. The inbound shipment request is malformed or contains invalid parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"status":"FAIL","errors":[{"code":"400.WFS.100","field":"inboundOrderId","description":"`inboundOrderId` must not be null","info":"inboundOrderId : must not be null","severity":"ERROR","category":"REQUEST","causes":[]}]}}}},"500":{"description":"Internal Server Error. an unexpected error occurred while processing the inbound shipment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"example":{"status":500,"errors":[{"code":"500.WFS.100","field":null,"description":"An unexpected error occurred.","info":"An unexpected error occurred.","causes":[]}]}}}}}}},"/v3/fulfillment/inbound-preview":{"post":{"tags":["Fulfillment"],"summary":"Fetch Inbound Preview","description":"The new Fetch Inbound Preview API allows you to preview the shipment destinations for Inventory Transfer Services, self-distribution, or single destination shipments. \n\nWhen using Inventory Transfer Services, this API provides a detailed breakdown of projected ITS fees and compares available destination options.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-fulfillment/#12930"},"operationId":"inboundPreview","parameters":[{"in":"header","name":"Authorization","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["header","payload"],"type":"object","properties":{"header":{"required":["headerAttributes"],"type":"object","properties":{"headerAttributes":{"required":["buId","martId"],"type":"object","properties":{"buId":{"type":"string","description":"Business unit identifier and must be 0 for US market.","xml":{"wrapped":true}},"martId":{"type":"string","description":"Market identifier and must be 0 for US market.","xml":{"wrapped":true}}},"description":"Multi Tenant header attributes"}},"description":"Request Multi Tenant Header Wrapper"},"payload":{"required":["inboundOrderId","orderItems","returnAddress"],"type":"object","properties":{"inboundOrde
[...]
