{"openapi":"3.0.1","info":{"title":"Notifications Management","version":"1.0","description":"Notifications Management API"},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"basicScheme":[]}],"paths":{"/v3/webhooks/test":{"post":{"tags":["Notifications"],"summary":"Test Notification","description":"Send a test notification to a destination URL using a sample payload.","operationId":"testNotification","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"required":["eventType","eventUrl","eventVersion","resourceName"],"type":"object","properties":{"eventType":{"type":"string","description":"Event type to test. Use the same identifier you would use to subscribe."},"eventVersion":{"type":"string","description":"Version of the event type to test."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}},"examples":{"sample":{"value":{"eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","authDetails":{"authMethod":"BASIC_AUTH","userName":"abc","password":"test","authHeaderName":"Authorization"},"headers":{"X-Custom-Header":"my-value"}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message confirming that the eventUrl was validated and a test notification was sent."}}},"example":{"message":"Eventurl successfully validated"}}}}}}},"/v3/webhooks/subscriptions":{"get":{"tags":["Notifications"],"summary":"All subscriptions ","description":"Retrieve details of all webhook subscriptions created using the Create Subscription API. Use query parameters to filter by subscription ID, event type, resource, or status.","operationId":"getAllSubscriptions","parameters":[{"name":"subscriptionId","in":"query","description":"Filter results to a specific subscription by its unique identifier.","required":false,"schema":{"type":"string"}},{"name":"eventType","in":"query","description":"Filter results to a specific event type. Refer to the Event Payload section for the list of available event types.","required":false,"schema":{"type":"string"}},{"name":"resourceName","in":"query","description":"Filter results to a specific resource (functional category). Refer to the Event Payload section for the list of available resource names.","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter results by subscription status. Allowed values: ACTIVE, INACTIVE.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","description":"List of subscriptions that match the request filters.","items":{"type":"object","properties":{"event":{"type":"array","items":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to (for example, ITEM, ORDER, PRICE)."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}},"description":"Array of subscription objects returned by the service."}},"description":"List of events"}}}},"examples":{"sample1":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","subscriptionId":"243ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"INACTIVE"},{"eventType":"PO_CREATED","subscriptionId":"343ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/orders","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"ACTIVE"}]}},"sample2":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","subscriptionId":"243ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"INACTIVE"},{"eventType":"PO_CREATED","subscriptionId":"343ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/orders","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"ACTIVE"},{"eventType":"PO_LINE_AUTOCANCELLED","subscriptionId":"243ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/events","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"ACTIVE"},{"eventType":"BUY_BOX_CHANGED","subscriptionId":"243ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"10000000359","eventVersion":"V1","resourceName":"PRICE","eventUrl":"https://example.com/events","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"ACTIVE"}]}}}}}}}},"post":{"tags":["Notifications"],"summary":"Create subscription","description":"Create one or more webhook subscriptions for event notifications by selecting an event type, event version, resource name, and providing a destination event URL. Use the Get Event Types API to retrieve available event types, versions, and resource names. Configure the eventUrl to receive notifications.\n\nURL authentication options\n- If authMethod is BASIC_AUTH, Walmart passes an authentication header to the eventUrl using authHeaderName as the header key and the Base64-encoded userName:password as the value.\n- If authMethod is HMAC, Walmart passes an authentication header to the eventUrl using authHeaderName as the header key and HMACSHA256 of the complete response as the value, with clientSecret as the key.\n- If authMethod is OAUTH, Walmart makes a POST call to authUrl to generate a token with request body \"grant_type=client_credentials\" and headers: (1) Authorization header using authHeaderName as the key and Base64-encoded clientId:clientSecret as the value, (2) Accept: \"application/json; charset=UTF-8\", (3) Content-Type: \"application/x-www-form-urlencoded; charset=ISO-8859-1\", and (4) any custom headers provided in headers. The authUrl must return HTTP 200 with access_token and expires_in fields. When sending notifications to eventUrl, Walmart includes the access_token in headers using authHeaderName as the key and value \"Bearer <access_token>\", along with any custom headers provided in headers.","operationId":"createSubscription","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request body parameters for creating one or more subscriptions.","content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"required":["eventType","eventUrl","eventVersion","resourceName","status"],"type":"object","properties":{"eventType":{"type":"string","description":"Event type to subscribe to. For allowed values, refer to the Event Payload section or use the GET Event Types API."},"eventVersion":{"type":"string","description":"Version of the event type. For supported versions per eventType, refer to the Event Payload section or use the GET Event Types API."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to. For allowed values per eventType, refer to the Event Payload section or use the GET Event Types API."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"status":{"type":"string","description":"Status of the subscription. Allowed values: ACTIVE, INACTIVE. To create a subscription, use status = ACTIVE. Notifications are sent only when the subscription is ACTIVE."}},"description":"Subscription object describing a single event mapping, destination URL, optional authentication, and status."},"description":"Array of subscription definitions to create."}}},"examples":{"sample1":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","status":"ACTIVE"},{"eventType":"PO_CREATED","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/orders","status":"ACTIVE"}]}},"sample2":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","authDetails":{"authMethod":"BASIC_AUTH","userName":"abc","password":"test","authHeaderName":"Authorization"},"headers":{"X-Custom-Header":"my-value"},"status":"ACTIVE"}]}},"sample3":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","status":"ACTIVE"},{"eventType":"BUY_BOX_CHANGED","eventVersion":"V1","resourceName":"PRICE","eventUrl":"https://example.com/orders","authDetails":{"authMethod":"BASIC_AUTH","userName":"abc","password":"test","authHeaderName":"Authorization"},"headers":{"X-Custom-Header":"my-value"},"status":"ACTIVE"}]}},"sample4":{"value":{"events":[{"eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","status":"ACTIVE"},{"eventType":"BUY_BOX_CHANGED","eventVersion":"V1","resourceName":"PRICE","eventUrl":"https://example.com/orders","status":"ACTIVE"},{"eventType":"PO_CREATED","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/events","status":"ACTIVE"},{"eventType":"PO_LINE_AUTOCANCELLED","eventVersion":"V1","resourceName":"ORDER","eventUrl":"https://example.com/events","status":"ACTIVE"}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"event":{"type":"array","items":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to (for example, ITEM, ORDER, PRICE)."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}}}},"description":"List of subscriptions created in response to the request."},"example":{"events":[{"eventType":"OFFER_UNPUBLISHED","subscriptionId":"620b45a0-b321-11ea-ac13-1f88d6025b7d","partnerId":"12300000359","eventVersion":"V1","resourceName":"ITEM","status":"ACTIVE"}]}}}}}}},"/v3/webhooks/subscriptions/{subscriptionId}":{"delete":{"tags":["Notifications"],"summary":"Delete Subscription","description":"Delete an existing webhook subscription by ID. After deletion, the subscription cannot be retrieved.","operationId":"deleteSubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Unique identifier of the subscription to delete.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"subscriptionId":{"type":"string","description":"Unique identifier of the deleted subscription."},"message":{"type":"string","description":"Confirmation message indicating the subscription was deleted."}}},"example":{"subscriptionId":"subscriptionId","message":"Successfully deleted subscription"}}}}}},"patch":{"tags":["Notifications"],"summary":"Update Subscription","description":"Update the details of a subscription. You can update the event version, destination URL, headers, and authentication details. You can also enable or disable the subscription by changing the status to ACTIVE or INACTIVE.","operationId":"updateSubscription","parameters":[{"name":"subscriptionId","in":"path","description":"Unique identifier of the subscription to update.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request body parameters for updating a subscription.","content":{"application/json":{"schema":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type that is subscribed for notifications."},"eventVersion":{"type":"string","description":"Version of the event type."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"status":{"type":"string","description":"Status of the subscription. Allowed values are ACTIVE or INACTIVE."}}},"examples":{"sample1":{"value":{"eventUrl":"https://example.com/events","authDetails":{"authMethod":"BASIC_AUTH","userName":"abc","password":"test","authHeaderName":"Authorization"},"status":"ACTIVE"}},"sample2":{"value":{"status":"ACTIVE"}}}}},"required":true},"responses":{"200":{"description":"Successful Operation. Returns the updated subscription(s).","content":{"application/json":{"schema":{"type":"object","properties":{"event":{"type":"array","items":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to (for example, ITEM, ORDER, PRICE)."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}}}},"description":"List of updated subscription objects."},"example":{"eventType":"OFFER_UNPUBLISHED","subscriptionId":"243ba4d0-b322-11ea-b385-0127e9b85538","partnerId":"12300000359","eventVersion":"V1","resourceName":"ITEM","eventUrl":"https://example.com/events","headers":{"X-Custom-Header":"my-value"},"authDetails":{"authHeaderName":"Authorization","authMethod":"BASIC_AUTH","userName":"abc","password":"test"},"status":"ACTIVE"}}}}}}},"/v3/webhooks/eventTypes":{"get":{"tags":["Notifications"],"summary":"Event Types","description":"Retrieve the list of event types and resource names available for subscription. Notifications are triggered only for event types that you subscribe to using the Create Subscription API.\n\nEvent types are workflow events fired when statuses or conditions change (for example, an offer moving from published to unpublished, an order auto-cancellation, or a buy box change).\n\nResource names are functional API categories (for example, ITEM, PRICE, ORDER, INVENTORY). Permissions to subscribe to an event type are governed by the resource's delegated access permissions.","operationId":"getEventTypes","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful operation. Returns the list of event types and resource names available for subscription.","content":{"application/json":{"schema":{"type":"object","properties":{"eventTypes":{"type":"array","description":"List of event type definitions available for subscription.","items":{"type":"object","properties":{"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to (for example, ITEM, PRICE, ORDER)."},"eventType":{"type":"string","description":"Event type available for subscription."},"eventVersion":{"type":"string","description":"Version identifier of the event type."},"description":{"type":"string","description":"Description of the specific event type."}},"description":"List of event type definitions."}}}},"example":{"events":[{"resourceName":"INVENTORY","eventType":"INVENTORY_OOS","eventVersion":"V1","description":"Notification for inventory out of stock"},{"resourceName":"ITEM","eventType":"OFFER_PUBLISHED","eventVersion":"V1","description":"Notification for published offers"},{"resourceName":"ITEM","eventType":"OFFER_UNPUBLISHED","eventVersion":"V1","description":"Notification for unpublished offers"},{"resourceName":"ITEMS","eventType":"SELLER_PERFORMANCE_ALARMS","eventVersion":"V1","description":"Webhook event for information about late or cancelled deliveries"},{"resourceName":"ITEMS","eventType":"SELLER_PERFORMANCE_REPORT","eventVersion":"V1","description":"Webhook event for information on seller's the KPI scores"},{"resourceName":"ORDER","eventType":"DRIVER_STATUS","eventVersion":"V1","description":"DRIVER STATUS"},{"resourceName":"ORDER","eventType":"INTENT_TO_CANCEL","eventVersion":"V1","description":"Notification for Intent to Cancel orders"},{"resourceName":"ORDER","eventType":"PO_CREATED","eventVersion":"V1","description":"Notification for new purchase order created"},{"resourceName":"ORDER","eventType":"PO_LINE_AUTOCANCELLED","eventVersion":"V1","description":"Notification for purchase order line auto-cancelled"},{"resourceName":"PRICE","eventType":"BUY_BOX_CHANGED","eventVersion":"V1","description":"Notification for change in buy box"},{"resourceName":"REPORTS","eventType":"REPORT_STATUS","eventVersion":"V1","description":"Notification when a report is successfully processed or results in error"},{"resourceName":"ReturnsAndRefunds","eventType":"RETURN_CREATED","eventVersion":"V1","description":"Receive a notification when new return(s) are initiated for Seller Fulfilled Item(s)"},{"resourceName":"ReturnsAndRefunds","eventType":"RETURN_DELIVERED","eventVersion":"V1","description":"Receive a notification when returned items are delivered in the Return Center for Seller Fulfilled Item(s)"},{"resourceName":"ReturnsAndRefunds","eventType":"RETURN_INVOICED","eventVersion":"V1","description":"Receive a notification when a refund is issued for Seller Fulfilled Item(s)"}]}}}}}}}},"components":{"schemas":{"TestNotificationResponseDTO":{"type":"object","properties":{"message":{"type":"string","description":"Message confirming that the eventURL is validated."}}},"AuthDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"Headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"TestNotificationRequest":{"required":["eventType","eventUrl","eventVersion","resourceName"],"type":"object","properties":{"eventType":{"type":"string","description":"Event type to test. Use the same identifier you would use to subscribe."},"eventVersion":{"type":"string","description":"Version of the event type to test."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}},"SubscriptionResponseDTO":{"type":"object","properties":{"event":{"type":"array","items":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}}}},"description":"List of subscription records."},"SubscriptionResponseDTORecord":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}},"CreateSubscriptionRequest":{"type":"object","properties":{"events":{"type":"array","items":{"required":["eventType","eventUrl","eventVersion","resourceName","status"],"type":"object","properties":{"eventType":{"type":"string","description":"Event type to subscribe to. For allowed values, refer to the Event Payload section or use the GET Event Types API."},"eventVersion":{"type":"string","description":"Version of the event type. For supported versions per eventType, refer to the Event Payload section or use the GET Event Types API."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to. For allowed values per eventType, refer to the Event Payload section or use the GET Event Types API."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"status":{"type":"string","description":"Status of the subscription. Allowed values: ACTIVE, INACTIVE. Notifications are sent only when the subscription is ACTIVE."}}}}}},"CreateSubscriptionRequestRecord":{"required":["eventType","eventUrl","eventVersion","resourceName","status"],"type":"object","properties":{"eventType":{"type":"string","description":"Event type to subscribe to. For allowed values, refer to the Event Payload section or use the GET Event Types API."},"eventVersion":{"type":"string","description":"Version of the event type. For supported versions per eventType, refer to the Event Payload section or use the GET Event Types API."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to. For allowed values per eventType, refer to the Event Payload section or use the GET Event Types API"},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"status":{"type":"string","description":"Status of the subscription. Allowed values: ACTIVE, INACTIVE. Notifications are sent only when the subscription is ACTIVE."}}},"UpdateSubscriptionRequest":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type that is subscribed for notifications."},"eventVersion":{"type":"string","description":"Version of the specific event type."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."},"status":{"type":"string","description":"Status of the subscription. Allowed values are ACTIVE or INACTIVE."}}},"Events":{"type":"object","properties":{"events":{"type":"array","description":"List of subscriptions grouped by event.","items":{"type":"object","properties":{"event":{"type":"array","items":{"type":"object","properties":{"eventType":{"type":"string","description":"Event type for which the subscription was created."},"subscriptionId":{"type":"string","description":"Unique identifier for the subscription. Use this ID to retrieve, update, or delete the subscription."},"partnerId":{"type":"string","description":"Partner ID of the seller who created the subscription."},"eventVersion":{"type":"string","description":"Version of the event type for which the subscription was created."},"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"status":{"type":"string","description":"Subscription status. Allowed values: ACTIVE, INACTIVE."},"eventUrl":{"type":"string","description":"Destination URL where notifications are delivered."},"authDetails":{"type":"object","properties":{"authMethod":{"type":"string","description":"Authentication method for the destination URL. Allowed values: BASIC_AUTH, OAUTH, HMAC."},"userName":{"type":"string","description":"Username used to access the destination URL (required for BASIC_AUTH)."},"password":{"type":"string","description":"Password used to access the destination URL (required for BASIC_AUTH)."},"authHeaderName":{"type":"string","description":"Header name used to pass the authorization value to the destination URL (for example, Authorization)."},"authUrl":{"type":"string","description":"OAuth server or token URL used when the authentication method is OAUTH."},"clientSecret":{"type":"string","description":"Client secret used with the OAuth server (OAUTH) or as key material for HMAC."},"clientId":{"type":"string","description":"Client ID used with the OAuth server when the authentication method is OAUTH."}},"description":"Authentication details for accessing the destination URL, if the URL is protected."},"headers":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional HTTP headers to include when delivering notifications to the destination URL. Use for custom authentication headers, tracking identifiers, or any other headers your endpoint requires."}}}}},"description":"List of event-specific subscription arrays."}}}},"EventType":{"type":"object","properties":{"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventType":{"type":"string","description":"Event type available for subscription."},"eventVersion":{"type":"string","description":"Version identifier of the event type."},"description":{"type":"string","description":"Description of the specific event type."}},"description":"List of event types"},"EventTypes":{"type":"object","properties":{"eventTypes":{"type":"array","description":"List of event type definitions.","items":{"type":"object","properties":{"resourceName":{"type":"string","description":"Resource (functional category) that the event type is mapped to."},"eventType":{"type":"string","description":"Event type available for subscription."},"eventVersion":{"type":"string","description":"Version identifier of the event type."},"description":{"type":"string","description":"Description of the specific event type."}},"description":"List of event type definitions."}}}},"SubscriptionDeleteResponseDTO":{"type":"object","properties":{"subscriptionId":{"type":"string","description":"Subscription identifier of the deleted subscription."},"message":{"type":"string","description":"Confirmation message indicating the subscription was deleted."}}}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
