{"openapi":"3.0.1","info":{"title":"On-request Report Management","version":"1.0","description":"The On-request reports API allows you to request reports immediately about your items for faster retrieval. You can request the report, check status on the report availability, and then download the report URL when report is ready. You can also get a list of all reports requested."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"accessToken":[]}],"paths":{"/v3/reports/reportRequests":{"get":{"tags":["On-Request Report"],"summary":"Get All Report Requests","description":"This API retrieves all report requests that match your query parameters.\n\nYou can only view report requests created within the last 30 days.","x-stability":"stable","operationId":"getRequestsStatus","parameters":[{"name":"reportType","in":"query","description":"Specifies the report type to return. For example, use `ITEM` to retrieve Item reports.","required":true,"schema":{"type":"string","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","FITMENT_MISSING_ATTR","FITMENT_ACES_COVERAGE","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]}},{"name":"reportVersion","in":"query","description":"Specifies the version of the report. For example, `v1`.","required":false,"schema":{"type":"string"}},{"name":"requestStatus","in":"query","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","required":false,"schema":{"type":"string","enum":["RECEIVED","INPROGRESS","READY","ERROR"]}},{"name":"src","in":"query","description":"Filters report requests by their creation source. Valid values are `SC` (Seller Center), `API`, or `Scheduler`.","required":false,"schema":{"type":"string","enum":["SC","API","Scheduler"]}},{"name":"requestSubmissionStartDate","in":"query","description":"Returns report requests submitted on or after this timestamp. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`).","required":false,"schema":{"type":"string"}},{"name":"requestSubmissionEndDate","in":"query","description":"Returns report requests submitted on or before this timestamp. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`).","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"integer","description":"Current page","format":"int32"},"totalCount":{"type":"integer","description":"Number of records fetched.","format":"int64"},"limit":{"type":"integer","description":"Number of records to be returned. Default is 10.","format":"int32"},"nextCursor":{"type":"string","description":"Used for pagination when more than specified limit (or default 10) records are found. Use this param for next API call. Just have to use this value as query param. Need to pass only the cursor value and not the initial API call query params. For e.g. if ['nextCursor'='reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1'] then subsequent call to will be [marketplace.walmartapis.com/v3/reports/reportRequests?reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1]. Just have to use nextCursor value instead of query params"},"requests":{"type":"array","description":"List of requests","items":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"src":{"type":"string","description":"Filters report requests by their creation source. Valid values are `SC` (Seller Center), `API`, or `Scheduler`.","enum":["API","SC","Scheduler"]},"requestSubmissionDate":{"type":"string","description":"Date and time on which the report request is submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Version of report for which the request is created. Example, v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}}}}}}}}}},"post":{"tags":["On-Request Report"],"summary":"Create Report Request","description":"This endpoints creates a new report request for the specified `reportType` and `reportVersion`.\n\n**Max reporting window:** For `ITEM_PERFORMANCE` v3, the date range between `dataStartTime` and `dataEndTime` must not exceed 2 years (730 days). Exceeding this limit will return a `400` error.\n\n**Row limit:** There is no limit on the number of rows returned in the report.","x-stability":"stable","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-onrequestreports/#4180"},"operationId":"generateReport","parameters":[{"name":"reportType","in":"query","description":"Specifies the report type. For example, use `ITEM` for item reports.","required":true,"schema":{"type":"string","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","FITMENT_MISSING_ATTR","FITMENT_ACES_COVERAGE","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","API_traffic_report","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","API_traffic_report","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]}},{"name":"reportVersion","in":"query","description":"Specifies the version of the report. For `ITEM`, supported values are `v1` through `v6`. For `ITEM_PERFORMANCE`, supported values are `v1` through `v3`. For all other `reportType` values, only `v1` is supported.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},{"in":"header","name":"Content-Type","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"requestBody":{"description":"Request body","content":{"application/json":{"schema":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format for the date (`YYYY-MM-DDTHH:mm:ssZ`). Required when `reportType=ITEM_PERFORMANCE` and `reportVersion=v3`. The date range from `dataStartTime` to `dataEndTime` must not exceed 2 years (730 days).","x-requiredFor":{"reportType":"ITEM_PERFORMANCE","reportVersion":"v3"},"example":"2026-06-01T00:00:00.000Z"},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format for the date (`YYYY-MM-DDTHH:mm:ssZ`). Required when `reportType=ITEM_PERFORMANCE` and `reportVersion=v3`. Must be greater than or equal to `dataStartTime`.","x-requiredFor":{"reportType":"ITEM_PERFORMANCE","reportVersion":"v3"},"example":"2026-06-30T23:59:59.000Z"},"dateGranularity":{"type":"string","description":"Specifies the date granularity for aggregating report data. Required when `reportType=ITEM_PERFORMANCE` and `reportVersion=v3`. Valid values are `DAILY`, `WEEKLY`, `MONTHLY`, or `QUARTERLY`. Ignored for all other report types and versions.","x-requiredFor":{"reportType":"ITEM_PERFORMANCE","reportVersion":"v3"},"enum":["DAILY","WEEKLY","MONTHLY","QUARTERLY"],"example":"DAILY"}},"description":"Request payload"},"example":{"rowFilters":[{"type":"rangeFilter","columnName":"Offer Start Date","from":"2020-03-16"},{"type":"rangeFilter","columnName":"Offer End Date","to":"2021-06-16"},{"type":"rangeFilter","columnName":"Price","from":"10","to":"100"},{"type":"enumFilter","columnName":"Publish Status","values":["PUBLISHED"]},{"type":"multiValueFilter","columnName":"brand","values":["FELIX LECHEF","ANEZUS"]},{"type":"multiValueFilter","columnName":"category","values":["JEWELRY MAKING AND STORAGE"]}],"excludeColumns":["Average Rating","Shelf Name"],"dataStartTime":"2024-08-10T20:11:24.000Z","dataEndTime":"2024-09-10T20:11:24.000Z"}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"Date and time on which the report request is submitted."},"reportType":{"type":"string","description":"Specifies the report type to return. For example, use `ITEM` to retrieve Item reports.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Version of report for which the request is created. Example, v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"}}}}}},"400":{"description":"Bad request. The request contains invalid or missing parameters.","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"},"examples":{"invalidDateGranularity":{"summary":"Invalid dateGranularity enum value","value":{"type":"https://marketplace.walmart.com/errors/invalid-date-granularity","title":"Invalid date granularity","status":400,"detail":"The value 'YEARLY' is not a valid dateGranularity. Valid values are: `DAILY`, `WEEKLY`, `MONTHLY`, `QUARTERLY`.","instance":"/v3/reports/reportRequests"}},"maxReportingWindowExceeded":{"summary":"Date range exceeds maximum reporting window","value":{"type":"https://marketplace.walmart.com/errors/reporting-window-exceeded","title":"Reporting window exceeded","status":400,"detail":"The date range between `dataStartTime` and `dataEndTime` must not exceed 2 years (730 days) for `ITEM_PERFORMANCE` reports.","instance":"/v3/reports/reportRequests"}},"startAfterEnd":{"summary":"`dataStartTime` is after `dataEndTime`","value":{"type":"https://marketplace.walmart.com/errors/invalid-date-range","title":"Invalid date range","status":400,"detail":"`dataStartTime` must be earlier than or equal to `dataEndTime`.","instance":"/v3/reports/reportRequests"}},"missingV3Fields":{"summary":"Required fields missing for `ITEM_PERFORMANCE v3`","value":{"type":"https://marketplace.walmart.com/errors/missing-required-field","title":"Missing required field","status":400,"detail":"The fields `dataStartTime`, `dataEndTime`, and `dateGranularity` are required when `reportType=ITEM_PERFORMANCE` and `reportVersion=v3`.","instance":"/v3/reports/reportRequests"}}}}}}},"x-maxReportingWindowDays":{"ITEM_PERFORMANCE":730,"description":"Maximum date range in days between `dataStartTime` and `dataEndTime` for `ITEM_PERFORMANCE` reports. Exceeding this will result in a `400` error."}}},"/v3/reports/reportRequests/{requestId}":{"get":{"tags":["On-Request Report"],"summary":"Report Request Status","description":"This endpoint retrieves the status and details of a report request by `requestId`. You can only retrieve report requests created within the last 30 days.","x-stability":"stable","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-onrequestreports/#4180"},"operationId":"getSingleRequestStatus","parameters":[{"name":"requestId","in":"path","description":"System-generated ID that uniquely identifies the report request.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"Date and time on which the report request is submitted."},"reportType":{"type":"string","description":"Specifies the report type to return. For example, use `ITEM` to retrieve Item reports.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Version of report for which the request is created. Example, v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}}}}}}}},"/v3/reports/downloadReport":{"get":{"tags":["On-Request Report"],"summary":"Download Report URL","description":"This endpoint retrieves a pre-signed URL to download a generated report.","x-stability":"stable","externalDocs":{"description":"Refer to the guide","url":"/doc/us/mp/us-mp-onrequestreports/#4180"},"operationId":"downloadReport","parameters":[{"name":"requestId","in":"query","description":"System-generated ID that uniquely identifies the report request.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"in":"header","name":"Accept","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"downloadURL":{"type":"string","description":"URL to be used to download the report."},"downloadURLExpirationTime":{"type":"string","description":"Time till when the URL to download the report will be valid."},"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"Date and time on which the report request is submitted."},"reportType":{"type":"string","description":"Specifies the report type to return. For example, use `ITEM` to retrieve Item reports.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Version of report for which the request is created. Example, v1."},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}}}}}}}},"/v3/reports/schedules":{"post":{"tags":["Report Scheduler"],"summary":"Create Report Schedule","description":"This API allows you to create a new report schedule based on the necessary parameters specified in the request body.","x-stability":"stable","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"frequency":{"type":"string","description":"Specifies the frequency at which the report should be generated. For example, if set to YEARLY, the report will be generated once every year.","enum":["HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency.","example":"1"},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone.","example":"3"},"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered.","example":"28"},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday.","example":"28"},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12.","example":"11"},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD).","example":"2025-05-02"},"filters":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Specifies an array of filters to be applied to the rows.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"Specifies the enum filter values that must be included in the report.","items":{"type":"string","description":"Specifies the enum filter values that must be included in the report."}},"columnName":{"type":"string","description":"Specifies the column to which the filter should be applied."},"type":{"type":"string","description":"Specifies the type of the filter.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Specifies the starting range for the filter."},"to":{"type":"string","description":"Specifies the ending range for the filter."},"rowFilterType":{"type":"string","description":"Specifies the type of the filter.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Specifies the column to which the filter should be applied."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"Specifies the multi-value filter values that must be included in the report.","items":{"type":"string","description":"Specifies the multi-value filter values that must be included in the report."}},"columnName":{"type":"string","description":"Specifies the column to which the filter should be applied."},"type":{"type":"string","description":"Specifies the type of the filter.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"Specifies the columns to be excluded from the report.","items":{"type":"string","description":"Specifies the columns to be excluded from the report."}},"dataStartTime":{"type":"string","description":"Specifies the starting timestamp for the report date range.","example":"2024-08-10T20:11:24.000Z"},"dataEndTime":{"type":"string","description":"Specifies the ending timestamp for the report date range.","example":"2024-08-12T20:11:24.000Z"}}}}},"examples":{"HOURLY":{"value":{"frequency":"HOURLY","repeatsEvery":1,"scheduleStartDate":"2025-05-02"}},"YEARLY":{"value":{"frequency":"YEARLY","repeatsEvery":2,"hour":9,"dayOfMonth":2,"monthOfYear":5,"scheduleStartDate":"2025-05-02","filters":{"rowFilters":[{"type":"enumFilter","columnName":"Publish Status","values":["PUBLISHED"]}],"excludeColumns":["Product Name","Status Change Reason","Primary Image URL","Item Page URL","Primary Category Path","Competitor URL"]}}},"MONTHLY":{"value":{"frequency":"MONTHLY","repeatsEvery":3,"hour":5,"dayOfMonth":9,"scheduleStartDate":"2025-05-02"}},"WEEKLY":{"value":{"frequency":"WEEKLY","repeatsEvery":1,"hour":9,"dayOfWeek":4,"scheduleStartDate":"2025-05-02"}},"DAILY":{"value":{"frequency":"DAILY","repeatsEvery":1,"hour":9,"scheduleStartDate":"2025-05-02"}}}}}},"parameters":[{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"name":"reportType","in":"query","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","required":true,"schema":{"type":"string","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","FITMENT_MISSING_ATTR","FITMENT_ACES_COVERAGE","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]}},{"name":"reportVersion","in":"query","description":"Specifies the version of the report. For example, `v1`.","schema":{"type":"string"},"example":"v2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"scheduleId":{"type":"string","description":"Unique identifier for the schedule."},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"reportSummary":{"type":"string","description":"Provides a brief summary of the report."},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD)."},"nextScheduledTime":{"type":"string","description":"The next scheduled time for the report."},"payload":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered."},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12."},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday."},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone."},"frequency":{"type":"string","description":"Specifies the frequency at which the report should be generated. For example, if set to YEARLY, the report will be generated once every year.","enum":["HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency."},"filters":{"type":"object","properties":{"email":{"type":"string"},"rowFilters":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"columnName":{"type":"string"}},"required":["type","values","columnName"]}}}}}}}},"examples":{"HOURLY":{"value":{"scheduleId":"bdeb04f0-4ae6-4fb2-bd86-ee63f2ce1b17","requestSubmissionDate":"2025-05-02T07:53:34Z","reportType":"ITEM_SALES","reportVersion":"v2","reportSummary":"reportSummary","scheduleStartDate":"2025-05-02T07:00:00Z","nextScheduledTime":"2025-05-02T08:00:00Z","payload":{"frequency":"HOURLY","repeatsEvery":1}}},"YEARLY":{"value":{"scheduleId":"b269dc31-df8b-4421-b59d-6cc00aa50160","requestSubmissionDate":"2025-05-02T08:16:15Z","reportType":"ITEM","reportVersion":"v4","reportSummary":"reportSummary","scheduleStartDate":"2025-05-02T08:00:00Z","nextScheduledTime":"2027-05-02T09:00:00Z","payload":{"dayOfMonth":2,"monthOfYear":5,"hour":9,"frequency":"YEARLY","repeatsEvery":2,"filters":{"rowFilters":[{"type":"enumFilter","values":["PUBLISHED"],"columnName":"Publish Status"}]}}}}}}}}}},"get":{"tags":["Report Scheduler"],"summary":"Get All Report Schedules","description":"This endpoint retrieves a list of all existing report schedules. This helps you to easily view and manage all scheduled reports in one place.","x-stability":"stable","parameters":[{"name":"reportType","in":"query","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","required":true,"schema":{"type":"string","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","FITMENT_MISSING_ATTR","FITMENT_ACES_COVERAGE","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]}},{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"page":{"type":"number","description":"Current page","format":"int32"},"totalCount":{"type":"number","description":"Number of records fetched.","format":"int64"},"limit":{"type":"number","description":"Number of records to be returned. Default is 10.","format":"int32"},"nextCursor":{"type":"string","description":"Specifies pagination when records exceed the specified limit (or default of 10); pass this parameter for the next API call. You only need to pass the cursor value as a query parameter, not the initial API call query parameters. For example, if ['nextCursor'='reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1'] then the subsequent call will be: [marketplace.walmartapis.com/v3/reports/reportRequests?reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1]. You only need to use the nextCursor value instead of the original query parameters."},"schedules":{"type":"array","items":{"type":"object","properties":{"scheduleId":{"type":"string","description":"Unique identifier for the schedule."},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"reportSummary":{"type":"string","description":"Provides a brief summary of the report."},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD)."},"nextScheduledTime":{"type":"string","description":"The next scheduled time for the report."},"payload":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered."},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12."},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday."},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone."},"frequency":{"type":"string","description":"Specifies the frequency at which the report should be generated. For example, if set to YEARLY, the report will be generated once every year.","enum":["HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency."},"filters":{"type":"object","properties":{"email":{"type":"string"},"rowFilters":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"columnName":{"type":"string"}},"required":["type","values","columnName"]}}}}}},"requestModifiedTime":{"type":"string","description":"The date and time when the report schedule was last modified."}}}}}},"example":{"page":1,"totalCount":1,"limit":1,"schedules":[{"scheduleId":"b269dc31-df8b-4421-b59d-6cc00aa50160","requestSubmissionDate":"2025-05-02T08:16:15Z","reportType":"ITEM","reportVersion":"v4","reportSummary":"reportSummary","scheduleStartDate":"2025-05-02T08:00:00Z","nextScheduledTime":"2026-05-02T04:00:00Z","payload":{"dayOfMonth":2,"monthOfYear":5,"hour":9,"frequency":"YEARLY","repeatsEvery":2,"filters":{"rowFilters":[{"type":"enumFilter","values":["PUBLISHED"],"columnName":"Publish Status"}]}},"requestModifiedTime":"2025-05-02T08:16:15Z"}]}}}}}}},"/v3/reports/schedules/{scheduleId}":{"get":{"tags":["Report Scheduler"],"summary":"Get Single Report Schedules","description":"This API retrieves the details of a single report schedule based on the specified scheduleId.","x-stability":"stable","parameters":[{"name":"scheduleId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"scheduleId":{"type":"string","description":"Unique identifier for the schedule."},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"reportSummary":{"type":"string","description":"Provides a brief summary of the report."},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD)."},"nextScheduledTime":{"type":"string","description":"The next scheduled time for the report."},"payload":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered."},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12."},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday."},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone."},"frequency":{"type":"string","description":"Specifies the frequency at which the report should be generated. For example, if set to YEARLY, the report will be generated once every year.","enum":["HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency."},"filters":{"type":"object","properties":{"email":{"type":"string"},"rowFilters":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"columnName":{"type":"string"}},"required":["type","values","columnName"]}}}}}},"requestModifiedTime":{"type":"string","description":"The date and time when the report schedule was last modified."}}},"example":{"scheduleId":"dea4dca3-0b38-4202-85ed-14923686cce1","requestSubmissionDate":"2025-04-29T17:36:51Z","reportType":"ITEM","reportVersion":"v4","reportSummary":"reportSummary","scheduleStartDate":"2025-04-30T18:30:00Z","nextScheduledTime":"2027-06-27T20:30:00Z","payload":{"dayOfMonth":28,"monthOfYear":6,"hour":2,"frequency":"YEARLY","repeatsEvery":2,"filters":{"rowFilters":[{"type":"rangeFilter","columnName":"Offer Start Date","from":"2022-01-01","to":"2022-01-20"},{"type":"rangeFilter","columnName":"Price","from":"100.00","to":"500.00"},{"type":"enumFilter","values":["PUBLISHED"],"columnName":"Publish Status"}]}},"requestModifiedTime":"2025-04-29T17:36:51Z"}}}}}},"put":{"tags":["Report Scheduler"],"summary":"Update Report Schedule","description":"This API allows you to modify an existing report schedule. You can change the parameters to better suit your needs, ensuring that reports are generated and delivered according to the most current requirements.","x-stability":"stable","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency.","example":"1"},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone.","example":"3"},"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered.","example":"28"},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday.","example":"28"},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12.","example":"11"},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD).","example":"2025-05-02"}},"example":{"hour":7}}}}},"parameters":[{"name":"scheduleId","in":"path","description":"A unique identifier assigned to the report schedule.","required":true,"schema":{"type":"string"}},{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"scheduleId":{"type":"string","description":"Unique identifier for the schedule."},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","CONTENT_QUALITY","LISTING_QUALITY","SEM_SEARCH_TERMS"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"reportSummary":{"type":"string","description":"Provides a brief summary of the report."},"scheduleStartDate":{"type":"string","description":"Specifies the start date for the schedule. The date should be in a valid date format (Example: YYYY-MM-DD)."},"nextScheduledTime":{"type":"string","description":"The next scheduled time for the report."},"payload":{"type":"object","properties":{"dayOfMonth":{"type":"number","description":"Specifies the day of the month on which the schedule will be triggered."},"monthOfYear":{"type":"number","description":"Specifies the month in which the schedule will be triggered. Allowed values are from 1 to 12."},"dayOfWeek":{"type":"number","description":"Specifies the day of the week on which the schedule will be triggered. Allowed values are from 0 to 6, where 0 represents Monday and 6 represents Sunday."},"hour":{"type":"number","description":"Specifies the hour of the day at which the schedule will be triggered. Allowed values are from 0 to 23, where 0 corresponds to 12:00 AM UTC and 23 corresponds to 11:00 PM UTC. The hour selection is based on the UTC timezone."},"frequency":{"type":"string","description":"Specifies the frequency at which the report should be generated. For example, if set to YEARLY, the report will be generated once every year.","enum":["HOURLY","DAILY","WEEKLY","MONTHLY","YEARLY"]},"repeatsEvery":{"type":"number","description":"Defines the interval at which the report repeats based on the selected frequency."},"filters":{"type":"object","properties":{"email":{"type":"string"},"rowFilters":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"columnName":{"type":"string"}},"required":["type","values","columnName"]}}}}}},"requestModifiedTime":{"type":"string","description":"The date and time when the report schedule was last modified."}}},"example":{"scheduleId":"468849ca-81c4-4e0c-881d-1c750efe2a7d","requestSubmissionDate":"2025-04-29T17:34:24Z","reportType":"INVENTORY","reportVersion":"v1","reportSummary":"reportSummary","scheduleStartDate":"2025-04-30T18:30:00Z","nextScheduledTime":"2025-05-31T07:00:00Z","payload":{"dayOfWeek":"SATURDAY","hour":7,"frequency":"WEEKLY","repeatsEvery":4},"requestModifiedTime":"2025-04-29T17:34:24Z"}}}}}},"delete":{"tags":["Report Scheduler"],"summary":"Delete Report Schedule","description":"This API allows you to remove an existing report schedule.","x-stability":"stable","parameters":[{"name":"scheduleId","in":"path","description":"A unique identifier assigned to the report schedule.","required":true,"schema":{"type":"string"}},{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}},"example":{"message":"Schedule deleted successfully"}}}}}}}},"components":{"schemas":{"EnumFilter":{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},"GenerateReportPayload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"},"GenerateReportResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"}}},"MultiValueFilter":{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},"RangeFilter":{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},"RowFilter":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]},"RequestStatusResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}},"RequestsStatusResponse":{"type":"object","properties":{"page":{"type":"integer","description":"Current page","format":"int32"},"totalCount":{"type":"integer","description":"Number of records fetched.","format":"int64"},"limit":{"type":"integer","description":"Number of records to be returned. Default is 10.","format":"int32"},"nextCursor":{"type":"string","description":"Used for pagination when more than specified limit (or default 10) records are found. Use this param for next API call. Just have to use this value as query param. Need to pass only the cursor value and not the initial API call query params. For e.g. if ['nextCursor'='reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1'] then subsequent call to will be [marketplace.walmartapis.com/v3/reports/reportRequests?reportType=ITEM&requestStatus=ERROR&requestSubmissionStartDate=2021-08-20T10:52:59Z&requestSubmissionEndDate=2021-09-14T10:52:59Z&page=2&limit=1]. Just have to use nextCursor value instead of query params"},"requests":{"type":"array","description":"List of requests","items":{"type":"object","properties":{"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"payload":{"type":"object","properties":{"rowFilters":{"type":"array","description":"Row-level filters applied to the report output.","items":{"type":"object","description":"Supertype of all row filters.","anyOf":[{"title":"EnumFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this filter.","items":{"type":"string","description":"Enum filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}},{"title":"RangeFilter","required":["columnName","rowFilterType"],"type":"object","properties":{"from":{"type":"string","description":"Start value for the filter range."},"to":{"type":"string","description":"End value for the filter range."},"rowFilterType":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."}}},{"title":"MultiValueFilter","required":["columnName","type"],"type":"object","properties":{"values":{"type":"array","description":"List of values to include in the report for this multiValue filter.","items":{"type":"string","description":"MultiValue filter values which has to be included in report"}},"columnName":{"type":"string","description":"Name of the column to apply this multiValue filter to."},"type":{"type":"string","description":"Specifies the filter type. Valid values are `rangeFilter`, `enumFilter`, or `multiValueFilter`.","enum":["rangeFilter","enumFilter","multiValueFilter"]}}}]}},"excludeColumns":{"type":"array","description":"List of columns to exclude from the report.","items":{"type":"string","description":"Columns to exclude from report"}},"dataStartTime":{"type":"string","description":"Start timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."},"dataEndTime":{"type":"string","description":"End timestamp for the report data range. Use ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`)."}},"description":"Request Payload"},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}}}}},"DownloadReportResponse":{"type":"object","properties":{"downloadURL":{"type":"string","description":"URL to be used to download the report."},"downloadURLExpirationTime":{"type":"string","description":"Time till when the URL to download the report will be valid."},"requestId":{"type":"string","description":"System-generated ID that uniquely identifies the report request.","format":"uuid"},"requestStatus":{"type":"string","description":"Filters report requests by status. Valid values are `RECEIVED`, `INPROGRESS`, `READY`, or `ERROR`.","enum":["RECEIVED","INPROGRESS","READY","ERROR"]},"requestSubmissionDate":{"type":"string","description":"The timestamp (date and time) indicating when the report request was submitted."},"reportType":{"type":"string","description":"Specifies the type of report to be generated. Example: ITEM for Item Report.","enum":["ITEM","INVENTORY","CANCELLATION","DELIVERY_DEFECT","ITEM_PERFORMANCE","PROMO","RETURN_OVERRIDES","CPA","SHIPPING_CONFIGURATION","SHIPPING_PROGRAM","BUYBOX","ASSORTMENT_RECOMMENDATIONS","LAGTIME","SEARCH_INSIGHTS_PERF_REPORT","SEARCH_INSIGHTS_SQR_REPORT","INVENTORY_RECOMMENDATIONS","SEM_PERFORMANCE","SEM_SEARCH_TERMS","INVENTORY_RECON","SETTLEMENT","WFS_ORDERS","WFS_CUSTOMER_RETURNS","CONTENT_QUALITY","LISTING_QUALITY"]},"reportVersion":{"type":"string","description":"Specifies the version of report for which the request is created. Example: v1."},"reportGenerationDate":{"type":"string","description":"Date and time on which the report is generated. Attribute is available only if report is generated."}}},"ProblemDetails":{"type":"object","description":"Problem details for HTTP APIs, as defined by RFC 9457 (https://www.rfc-editor.org/rfc/rfc9457).","required":["type","title","status"],"properties":{"type":{"type":"string","format":"uri","description":"A URI that identifies the problem type.","example":"https://marketplace.walmart.com/errors/invalid-date-granularity"},"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Invalid date granularity"},"status":{"type":"integer","format":"int32","description":"The HTTP status code returned by the origin server for this occurrence.","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"The value 'YEARLY' is not a valid dateGranularity. Valid values are: DAILY, WEEKLY, MONTHLY, QUARTERLY."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"/v3/reports/reportRequests"},"code":{"type":"string","description":"A Walmart-specific error code for legacy compatibility.","example":"REPORTS-400-001"}}}},"securitySchemes":{"accessToken":{"type":"apiKey","in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token required for authenticating API requests.\n\nTo obtain a token, call `POST https://marketplace.walmartapis.com/v3/token` with your client ID and client secret using the client credentials grant type. Refer to the [Token API documentation](https://developer.walmart.com/us-marketplace/docs/get-an-access-token) for details.\n\nPass the resulting token in the `WM_SEC.ACCESS_TOKEN` header with every API request."}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"Access token obtained from the token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
