{"openapi":"3.0.1","info":{"title":"Order Management","version":"1.0","description":"The Walmart Order Management APIs help Sellers to manage customer’s Sales Orders and to stay up-to-date on orders fulfillment, which orders to fulfill, and when to fulfill them."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"accessToken":[]}],"paths":{"/v3/orders/{purchaseOrderId}/shipping":{"post":{"tags":["Orders"],"summary":"Ship Order Lines","description":"Marks specified order lines in a single purchase order as shipped, captures the customer’s payment, and records the carrier-tracking details you supply. Returns the updated purchase order with the shipped lines.","operationId":"shippingUpdates","parameters":[{"name":"purchaseOrderId","in":"path","description":"Unique Walmart `purchaseOrderId` that identifies the purchase order.","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/accessToken"},{"$ref":"#/components/parameters/svcName"},{"$ref":"#/components/parameters/correlationId"},{"in":"header","name":"WM_SANDBOX","description":"Include this header to access the Marketplace dynamic sandbox environment. The dynamic sandbox is only available in the US market.","required":false,"schema":{"type":"string","enum":["v2"]},"example":"v2"}],"x-readme":{"code-samples":[{"language":"curl","code":"curl -X 'POST' \n  'https://sandbox.walmartapis.com/v3/orders/3213/shipping' \n  -H 'accept: application/json' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/xml' \n  -d '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<orderShipment\n  xmlns=\"http://walmart.com/mp/v3/orders\">\n<orderLines>\n<orderLine>\n<lineNumber>1</lineNumber>\n<intentToCancelOverride>false</intentToCancelOverride>\n<orderLineStatuses>\n<orderLineStatus>\n<status>Shipped</status>\n<statusQuantity>\n<unitOfMeasurement>Each</unitOfMeasurement>\n<amount>1</amount>\n</statusQuantity>\n<trackingInfo>\n<shipDateTime>2020-07-17T17:04:42</shipDateTime>\n<carrierName>\n<carrier>UPS</carrier>\n</carrierName>\n<methodCode>Standard</methodCode>\n<trackingNumber>1Z97Y4430300463366</trackingNumber>\n<trackingURL></trackingURL>\n</trackingInfo>\n</orderLineStatus>\n</orderLineStatuses>\n</orderLine>\n</orderLines>\n</orderShipment>'","name":"xml example"},{"language":"curl","code":"curl -X 'POST' \n  'https://sandbox.walmartapis.com/v3/orders/3213/shipping' \n  -H 'accept: application/json' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/json' \n  -d '{\"orderShipment\":{\"orderLines\":{\"orderLine\":[{\"lineNumber\":\"1\",\"intentToCancelOverride\":false,\"sellerOrderId\":\"92344\",\"orderLineStatuses\":{\"orderLineStatus\":[{\"status\":\"Shipped\",\"statusQuantity\":{\"unitOfMeasurement\":\"EACH\",\"amount\":\"1\"},\"trackingInfo\":{\"shipDateTime\":1580821866000,\"carrierName\":{\"carrier\":\"UPS\"},\"methodCode\":\"Standard\",\"trackingNumber\":\"22344\",\"trackingURL\":\"http://walmart/tracking/ups?&type=MP&seller_id=12345&promise_date=03/02/2020&dzip=92840&tracking_numbers=92345\"},\"returnCenterAddress\":{\"name\":\"walmart\",\"address1\":\"walmartstore2\",\"city\":\"Huntsville\",\"state\":\"AL\",\"postalCode\":\"35805\",\"country\":\"USA\",\"dayPhone\":\"12344\",\"emailId\":\"walmart@walmart.com\"}}]}},{\"lineNumber\":\"2\",\"sellerOrderId\":\"92344\",\"orderLineStatuses\":{\"orderLineStatus\":[{\"status\":\"Shipped\",\"statusQuantity\":{\"unitOfMeasurement\":\"EACH\",\"amount\":\"1\"},\"trackingInfo\":{\"shipDateTime\":1580821866000,\"carrierName\":{\"carrier\":\"FedEx\"},\"methodCode\":\"Express\",\"trackingNumber\":\"22344\",\"trackingURL\":\"http://walmart/tracking/fedEx?&type=MP&seller_id=12345&promise_date=03/02/2020&dzip=92840&tracking_numbers=92344\"},\"returnCenterAddress\":{\"name\":\"walmart\",\"address1\":\"walmartstore2\",\"city\":\"Huntsville\",\"state\":\"AL\",\"postalCode\":\"35805\",\"country\":\"USA\",\"dayPhone\":\"12344\",\"emailId\":\"walmart@walmart.com\"}}]}}]}}}'","name":"JSON example"}]},"requestBody":{"description":"File fields","content":{"application/json":{"schema":{"type":"object","properties":{"orderShipment":{"required":["orderLines"],"type":"object","properties":{"processMode":{"type":"string","description":"Optional. When updating tracking details after shipment, set to `PARTIAL_UPDATE` to indicate a partial update of shipment information."},"orderLines":{"description":"List of order lines in the shipment.","required":["orderLine"],"type":"object","properties":{"orderLine":{"type":"array","description":"Array of order line shipment objects. Each element contains shipment details for a single order line.","items":{"required":["lineNumber","orderLineStatuses","sellerOrderId"],"type":"object","properties":{"lineNumber":{"type":"string","description":"Identifier of the specific order line to be cancelled."},"intentToCancelOverride":{"type":"boolean","description":"Optional. If the customer has requested cancellation, set to `true` to confirm you still intend to ship the order.","default":false},"sellerOrderId":{"type":"string","description":"Seller-defined order ID (max 30 characters). Walmart prints this ID on return labels so the seller can reference the sales order."},"orderLineStatuses":{"required":["orderLineStatus"],"type":"object","properties":{"orderLineStatus":{"type":"array","description":"Array of order line status objects. Each element records a timestamped state change (for example, created, acknowledged, shipped, or cancelled).","items":{"required":["status","statusQuantity","trackingInfo"],"type":"object","properties":{"status":{"type":"string","description":"Set to `Shipped` when calling the Ship order lines endpoint.","enum":["Created","Acknowledged","Shipped","Delivered","Cancelled","Refund"]},"asn":{"required":["packageASN"],"type":"object","description":"Object containing Advance Shipment Notice (ASN) identifiers for the shipment, comprising the packageASN and palletASN values.","properties":{"packageASN":{"type":"string","description":"Unique identifier assigned to an individual package within the Advance Shipment Notice (ASN), used to track and reconcile that package throughout the fulfillment process."},"palletASN":{"type":"string","description":"Unique identifier assigned to a pallet within the Advance Shipment Notice (ASN), used to group and track multiple packages on a single pallet during shipment."}}},"statusQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"trackingInfo":{"required":["carrierName","methodCode","shipDateTime","trackingNumber"],"type":"object","properties":{"shipDateTime":{"type":"integer","description":"Timestamp in UNIX epoch (int64) format representing the exact date and time the package was shipped.","format":"int64"},"carrierName":{"type":"object","properties":{"otherCarrier":{"type":"string","description":"Custom name for a shipping carrier when the carrier is not one of the predefined options; if used, a valid `trackingURL` must also be provided."},"carrier":{"type":"string","description":"The package shipment carrier. Valid entries are: UPS, USPS, FedEx, Airborne, OnTrac, DHL Ecommerce - US, DHL, LS (LaserShip), UDS (United Delivery Service), UPSMI (UPS Mail Innovations), FDX, PILOT, ESTES, SAIA, FDS Express, Seko Worldwide, HIT Delivery, FEDEXSP (FedEx SmartPost), RL Carriers, Metropolitan Warehouse & Delivery, China Post, YunExpress,Yellow Freight Sys, AIT Worldwide Logistics, Chukou1, Sendle, Landmark Global, Sunyou, Yanwen, 4PX, GLS, OSM Worldwide, FIRST MILE, AM Trucking, CEVA, India Post, SF Express, CNE, TForce Freight, AxleHire, LSO, Royal Mail, ABF Freight System, WanB, Roadrunner Freight, Meyer Distribution, AAA Cooper, Canada Post, Southeastern Freight Lines, Japan Post, Correos de Mexico, XPO Logistics, JD Logistics, YDH, JCEX, Flyt, Deutsche Post, Better Trucks, Asendia, SFC, UBI, ePost Global, YF Logistics, RXO, Estes Express, Shypmax, WIN.IT America, PITT OHIO, PostNord Sweden, Equick, Whistl, Tusou, Shiprocket, USPS First Class Mail, DTDC, PTS.","enum":["UPS","USPS","FedEx","Airborne","OnTrac","DHL Ecommerce - US","DHL","LS","UDS","UPSMI","FDX","PILOT","ESTES","SAIA","FDS Express","Seko Worldwide","HIT Delivery","FEDEXSP","RL Carriers","Metropolitan Warehouse & Delivery","China Post","YunExpress","Yellow Freight Sys","AIT Worldwide Logistics","Chukou1","Sendle","Landmark Global","Sunyou","Yanwen","4PX","GLS","OSM Worldwide","FIRST MILE","AM Trucking","CEVA","India Post","SF Express","CNE","TForce Freight","AxleHire","LSO","Royal Mail","ABF Freight System","WanB","Roadrunner Freight","Meyer Distribution","AAA Cooper","Canada Post","Southeastern Freight Lines","Japan Post","Correos de Mexico","XPO Logistics","JD Logistics","YDH","JCEX","Flyt","Deutsche Post","Better Trucks","Asendia","SFC","UBI","ePost Global","YF Logistics","RXO","Estes Express","Shypmax","WIN.IT America","PITT OHIO","PostNord Sweden","Equick","Whistl","Tusou","Shiprocket","USPS First Class Mail","DTDC","PTS","ShipGlobal","Western Post"]}},"description":"Object specifying the shipping carrier: use the predefined `carrier` code or provide a custom name via `otherCarrier` (if used, `trackingURL` is required)."},"methodCode":{"type":"string","description":"Shipping service level for the package (such as Standard, Express, OneDay, WhiteGlove, Value, Freight), indicating delivery speed or handling.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."},"trackingURL":{"type":"string","description":"URL where the shipment status can be tracked online. Mandatory when using a custom `otherCarrier` name."}},"description":"Object containing shipment and tracking details for the package, including carrier information, shipping method, shipment timestamp, tracking number, and optional tracking URL."},"returnCenterAddress":{"required":["address1","city","country","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"Name of the person or facility receiving returned shipments at the return center."},"address1":{"type":"string","description":"Primary street address line for the return center location."},"address2":{"type":"string","description":"Secondary street address line (such as suite, unit, or building number) for the return center."},"city":{"type":"string","description":"City where the return center is located."},"state":{"type":"string","description":"State or province where the return center is located."},"postalCode":{"type":"string","description":"Postal or ZIP code for the return center’s address."},"country":{"type":"string","description":"Country of the return center’s address, expressed in ISO 3166-1 alpha-2 format."},"dayPhone":{"type":"string","description":"Daytime contact phone number for the return center."},"emailId":{"type":"string","description":"Email address for inquiries or notifications related to returned shipments."}},"description":"Object representing the return center’s address and contact details for processing returned shipments."},"currentTrackingInfo":{"type":"object","properties":{"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."}},"description":"Object containing the updated tracking information for a purchase order shipment, specifically the current tracking number to apply to the PO."}},"description":"Details about the Order Line status"}}},"description":"List of status updates for the order line, including shipment status changes."},"sellerOrderNo":{"type":"string","description":"Seller’s unique purchase order number for this order, used internally when creating or updating orders.","writeOnly":true}},"description":"Information about one order line shipment"}}}}},"description":"Information about a shipment, including the shipped order lines, carrier, and tracking details.","xml":{"name":"orderShipment"}}}},"example":{"orderShipment":{"orderLines":{"orderLine":[{"lineNumber":"1","intentToCancelOverride":false,"sellerOrderId":"92344","orderLineStatuses":{"orderLineStatus":[{"status":"Shipped","statusQuantity":{"unitOfMeasurement":"EACH","amount":"1"},"trackingInfo":{"shipDateTime":1580821866000,"carrierName":{"carrier":"UPS"},"methodCode":"Standard","trackingNumber":"22344","trackingURL":"http://walmart/tracking/ups?&type=MP&seller_id=12345&promise_date=03/02/2020&dzip=92840&tracking_numbers=92345"},"returnCenterAddress":{"name":"walmart","address1":"walmart store 2","city":"Huntsville","state":"AL","postalCode":"35805","country":"USA","dayPhone":"12344","emailId":"walmart@walmart.com"}}]}},{"lineNumber":"2","sellerOrderId":"92344","orderLineStatuses":{"orderLineStatus":[{"status":"Shipped","statusQuantity":{"unitOfMeasurement":"EACH","amount":"1"},"trackingInfo":{"shipDateTime":1580821866000,"carrierName":{"carrier":"FedEx"},"methodCode":"Express","trackingNumber":"22344","trackingURL":"http://walmart/tracking/fedEx?&type=MP&seller_id=12345&promise_date=03/02/2020&dzip=92840&tracking_numbers=92344"},"returnCenterAddress":{"name":"walmart","address1":"walmart store 2","city":"Huntsville","state":"AL","postalCode":"35805","country":"USA","dayPhone":"12344","emailId":"walmart@walmart.com"}}]}}]}}}},"application/xml":{"schema":{"type":"object","properties":{"orderShipment":{"required":["orderLines"],"type":"object","properties":{"processMode":{"type":"string","description":"Optional. When updating tracking details after shipment, set to `PARTIAL_UPDATE` to indicate a partial update of shipment information."},"orderLines":{"required":["orderLine"],"type":"object","properties":{"orderLine":{"type":"array","description":"Array of order line shipment objects. Each element contains shipment details for a single order line.","items":{"required":["lineNumber","orderLineStatuses","sellerOrderId"],"type":"object","properties":{"lineNumber":{"type":"string","description":"Identifier of the specific order line to be cancelled."},"intentToCancelOverride":{"type":"boolean","description":"Optional. If the customer has requested cancellation, set to `true` to confirm you still intend to ship the order.","default":false},"sellerOrderId":{"type":"string","description":"Seller-defined order ID (max 30 characters). Walmart prints this ID on return labels so the seller can reference the sales order."},"orderLineStatuses":{"required":["orderLineStatus"],"type":"object","properties":{"orderLineStatus":{"type":"array","description":"Array of order line status objects. Each element records a timestamped state change (for example, created, acknowledged, shipped, or cancelled).","items":{"required":["status","statusQuantity","trackingInfo"],"type":"object","properties":{"status":{"type":"string","description":"Set to `Shipped` when calling the Ship order lines endpoint.","enum":["Created","Acknowledged","Shipped","Delivered","Cancelled","Refund"]},"asn":{"required":["packageASN"],"type":"object","description":"Object containing Advance Shipment Notice (ASN) identifiers for the shipment, comprising the packageASN and palletASN values.","properties":{"packageASN":{"type":"string"},"palletASN":{"type":"string"}}},"statusQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"trackingInfo":{"required":["carrierName","methodCode","shipDateTime","trackingNumber"],"type":"object","properties":{"shipDateTime":{"type":"integer","description":"Timestamp in UNIX epoch (int64) format representing the exact date and time the package was shipped.","format":"int64"},"carrierName":{"type":"object","properties":{"otherCarrier":{"type":"string","description":"Custom name for a shipping carrier when the carrier is not one of the predefined options; if used, a valid `trackingURL` must also be provided."},"carrier":{"type":"string","description":"The package shipment carrier. Valid entries are: UPS, USPS, FedEx, Airborne, OnTrac, DHL Ecommerce - US, DHL, LS (LaserShip), UDS (United Delivery Service), UPSMI (UPS Mail Innovations), FDX, PILOT, ESTES, SAIA, FDS Express, Seko Worldwide, HIT Delivery, FEDEXSP (FedEx SmartPost), RL Carriers, Metropolitan Warehouse & Delivery, China Post, YunExpress,Yellow Freight Sys, AIT Worldwide Logistics, Chukou1, Sendle, Landmark Global, Sunyou, Yanwen, 4PX, GLS, OSM Worldwide, FIRST MILE, AM Trucking, CEVA, India Post, SF Express, CNE, TForce Freight, AxleHire, LSO, Royal Mail, ABF Freight System, WanB, Roadrunner Freight, Meyer Distribution, AAA Cooper, Canada Post, Southeastern Freight Lines, Japan Post, Correos de Mexico, XPO Logistics, JD Logistics, YDH, JCEX, Flyt, Deutsche Post, Better Trucks, Asendia, SFC, UBI, ePost Global, YF Logistics, RXO, Estes Express, Shypmax, WIN.IT America, PITT OHIO, PostNord Sweden, Equick, Whistl, Tusou, Shiprocket, USPS First Class Mail, DTDC, PTS.","enum":["UPS","USPS","FedEx","Airborne","OnTrac","DHL Ecommerce - US","DHL","LS","UDS","UPSMI","FDX","PILOT","ESTES","SAIA","FDS Express","Seko Worldwide","HIT Delivery","FEDEXSP","RL Carriers","Metropolitan Warehouse & Delivery","China Post","YunExpress","Yellow Freight Sys","AIT Worldwide Logistics","Chukou1","Sendle","Landmark Global","Sunyou","Yanwen","4PX","GLS","OSM Worldwide","FIRST MILE","AM Trucking","CEVA","India Post","SF Express","CNE","TForce Freight","AxleHire","LSO","Royal Mail","ABF Freight System","WanB","Roadrunner Freight","Meyer Distribution","AAA Cooper","Canada Post","Southeastern Freight Lines","Japan Post","Correos de Mexico","XPO Logistics","JD Logistics","YDH","JCEX","Flyt","Deutsche Post","Better Trucks","Asendia","SFC","UBI","ePost Global","YF Logistics","RXO","Estes Express","Shypmax","WIN.IT America","PITT OHIO","PostNord Sweden","Equick","Whistl","Tusou","Shiprocket","USPS First Class Mail","DTDC","PTS"]}},"description":"Object specifying the shipping carrier: use the predefined `carrier` code or provide a custom name via `otherCarrier` (if used, `trackingURL` is required)."},"methodCode":{"type":"string","description":"Shipping service level for the package (such as Standard, Express, OneDay, WhiteGlove, Value, Freight), indicating delivery speed or handling.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."},"trackingURL":{"type":"string","description":"URL where the shipment status can be tracked online. Mandatory when using a custom `otherCarrier` name."}},"description":"Object containing shipment and tracking details for the package, including carrier information, shipping method, shipment timestamp, tracking number, and optional tracking URL."},"returnCenterAddress":{"required":["address1","city","country","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"Name of the person or facility receiving returned shipments at the return center."},"address1":{"type":"string","description":"Primary street address line for the return center location."},"address2":{"type":"string","description":"Secondary street address line (such as suite, unit, or building number) for the return center."},"city":{"type":"string","description":"City where the return center is located."},"state":{"type":"string","description":"State or province where the return center is located."},"postalCode":{"type":"string","description":"Postal or ZIP code for the return center’s address."},"country":{"type":"string","description":"Country of the return center’s address, expressed in ISO 3166-1 alpha-2 format."},"dayPhone":{"type":"string","description":"Daytime contact phone number for the return center."},"emailId":{"type":"string","description":"Email address for inquiries or notifications related to returned shipments."}},"description":"Object representing the return center’s address and contact details for processing returned shipments."},"currentTrackingInfo":{"type":"object","properties":{"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."}},"description":"Object containing the updated tracking information for a purchase order shipment, specifically the current tracking number to apply to the PO."}},"description":"Details about the Order Line status"}}},"description":"List of status updates for the order line, including shipment status changes."},"sellerOrderNo":{"type":"string","description":"Seller’s unique purchase order number for this order, used internally when creating or updating orders.","writeOnly":true}},"description":"Information about one order line shipment"}}},"description":"List of order lines in the shipment."}},"description":"Information about a shipment, including the shipped order lines, carrier, and tracking details.","xml":{"name":"orderShipment"}}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<orderShipment\n  xmlns=\"http://walmart.com/mp/v3/orders\">\n    <orderLines>\n        <orderLine>\n            <lineNumber>1</lineNumber>\n            <intentToCancelOverride>false</intentToCancelOverride>\n            <orderLineStatuses>\n                <orderLineStatus>\n                    <status>Shipped</status>\n                    <statusQuantity>\n                        <unitOfMeasurement>Each</unitOfMeasurement>\n                        <amount>1</amount>\n                    </statusQuantity>\n                    <trackingInfo>\n                        <shipDateTime>2020-07-17T17:04:42</shipDateTime>\n                        <carrierName>\n                            <carrier>UPS</carrier>\n                        </carrierName>\n                        <methodCode>Standard</methodCode>\n                        <trackingNumber>1Z97Y4430300463366</trackingNumber>\n                        <trackingURL></trackingURL>\n                    </trackingInfo>\n                </orderLineStatus>\n            </orderLineStatuses>\n        </orderLine>\n    </orderLines>\n</orderShipment>"}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"order":{"required":["customerEmailId","customerOrderId","orderDate","orderLines","purchaseOrderId","shippingInfo"],"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"A unique ID associated with the seller's purchase order"},"customerOrderId":{"type":"string","description":"A unique ID associated with the sales order for specified customer"},"customerEmailId":{"type":"string","description":"The email address of the customer for the sales order"},"orderType":{"type":"string","description":"Specifies if the order is a regular order , replacement order or preorder. Possible values are REGULAR , REPLACEMENT or PREORDER. Provided in response only if query parameter replacementInfo=true."},"originalCustomerOrderID":{"type":"string","description":"customer order ID of the original customer order on which the replacement is created. "},"orderDate":{"type":"integer","description":"The date the customer submitted the sales order, in Unix epoch format.","format":"int64"},"buyerId":{"type":"string","description":"Unique ID associated with the specified buyer","format":"uuid"},"mart":{"type":"string","description":"Mart information"},"isGuest":{"type":"boolean","description":"Indicates a guest customer"},"shippingInfo":{"required":["estimatedDeliveryDate","estimatedShipDate","methodCode","phone","postalAddress"],"type":"object","properties":{"phone":{"type":"string","description":"The customer's phone number"},"estimatedDeliveryDate":{"type":"integer","description":"The estimated time and date for the delivery of the item, in Unix epoch format.","format":"int64"},"estimatedShipDate":{"type":"integer","description":"The estimated time and date when the item will be shipped, in Unix epoch format.","format":"int64"},"methodCode":{"type":"string","description":"The shipping method. Can be one of the following: Standard, Express, OneDay, WhiteGlove, Value or Freight.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"postalAddress":{"required":["address1","city","country","name","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"The name for the person/place of shipping address"},"address1":{"type":"string","description":"The first line of the shipping address"},"address2":{"type":"string","description":"The second line of the shipping address"},"city":{"type":"string","description":"The city of the shipping address"},"state":{"type":"string","description":"The state of the shipping address"},"postalCode":{"type":"string","description":"The zip code of the shipping address"},"country":{"type":"string","description":"The country of the shipping address"},"addressType":{"type":"string","description":"The address type, example: 'RESIDENTIAL'"}},"description":"Elements of the customer's postal address"},"carrierMethodName":{"type":"string","description":"The carrier method name can be one of the following: FEDEX_HOME_DELIVERY, FEDEX_EXPRESS, FEDEX_2DAY_EXPRESS, FEDEX_OVERNIGHT, FEDEX_GROUND_ECONOMY, UPS_GROUND, UPS_3DAY_SELECT, UPS_2DAY_AIR, UPS_NEXTDAY_AIR, UPS_SUREPOST, USPS_GROUND, USPS_PRIORITY_MAIL or USPS_PRIORITY_MAIL_EXPRESS","enum":["FEDEX_HOME_DELIVERY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","UPS_GROUND","UPS_3DAY_SELECT","UPS_2DAY_AIR","UPS_NEXTDAY_AIR","UPS_SUREPOST","USPS_GROUND","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS"]}},"description":"The shipping information provided by the customer to the seller"},"orderLines":{"type":"object","properties":{"orderLine":{"type":"array","description":"A list of order lines in the order","items":{"required":["charges","item","lineNumber","orderLineQuantity","orderLineStatuses","statusDate"],"type":"object","properties":{"lineNumber":{"type":"string","description":"Identifier of the specific order line to be cancelled."},"item":{"required":["productName","sku"],"type":"object","properties":{"productName":{"type":"string","description":"The name of the product associated with the line item. Example: 'Kenmore CF1' or '2086883 Canister Secondary Filter Generic 2 Pack'"},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, assigned to each item in the item file"},"condition":{"type":"string","description":"Information about the condition of the product."},"imageUrl":{"type":"string","description":"Optional. Web URL for the image of the item."},"weight":{"required":["unit","value"],"type":"object","properties":{"value":{"type":"string","description":"Numerical amount of weight parameter."},"unit":{"type":"string","description":"Standard value of measurement of the item. Example: 'Pounds'"}},"description":"Optional. Weight information for the item."}},"description":"The information for the item on the orderLine"},"charges":{"type":"object","properties":{"charge":{"type":"array","description":"Information relating to the charge for the orderLine","items":{"required":["chargeAmount","chargeName","chargeType"],"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge being refunded or assessed. Must be either PRODUCT (for item price–related charges) or SHIPPING (for shipping fees)."},"chargeName":{"type":"string","description":"Specific name of the charge. For PRODUCT charges use ItemPrice (or SubscriptionDiscount for discounted subscription orders); for SHIPPING charges use Shipping."},"chargeAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."},"tax":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Object containing tax details for the charge, including the tax name and its monetary amount."},"taxAndOtherFees":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Taxes and other fees for this charge. Same structure as 'tax'."}},"description":"Container object grouping the details of a single monetary charge component."}}},"description":"Information relating to the charge for the orderLine"},"orderLineQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"statusDate":{"type":"integer","description":"The date shown on the recent order status","format":"int64"},"orderLineStatuses":{"type":"object","properties":{"orderLineStatus":{"type":"array","description":"Array of status update objects, each describing a cancellation status change.","items":{"required":["status","statusQuantity"],"type":"object","properties":{"status":{"type":"string","description":"Should be 'Created'","enum":["Created","Acknowledged","Shipped","Delivered","Cancelled","Refund"]},"statusQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"cancellationReason":{"type":"string","description":"If order is cancelled, cancellationReason will explain the reason"},"trackingInfo":{"required":["carrierName","methodCode","shipDateTime","trackingNumber"],"type":"object","properties":{"shipDateTime":{"type":"integer","description":"Timestamp in UNIX epoch (int64) format representing the exact date and time the package was shipped.","format":"int64"},"carrierName":{"type":"object","properties":{"otherCarrier":{"type":"string","description":"Custom name for a shipping carrier when the carrier is not one of the predefined options; if used, a valid `trackingURL` must also be provided."},"carrier":{"type":"string","description":"The package shipment carrier. Valid entries are: UPS, USPS, FedEx, Airborne, OnTrac, DHL Ecommerce - US, DHL, LS (LaserShip), UDS (United Delivery Service), UPSMI (UPS Mail Innovations), FDX, PILOT, ESTES, SAIA, FDS Express, Seko Worldwide, HIT Delivery, FEDEXSP (FedEx SmartPost), RL Carriers, Metropolitan Warehouse & Delivery, China Post, YunExpress,Yellow Freight Sys, AIT Worldwide Logistics, Chukou1, Sendle, Landmark Global, Sunyou, Yanwen, 4PX, GLS, OSM Worldwide, FIRST MILE, AM Trucking, CEVA, India Post, SF Express, CNE, TForce Freight, AxleHire, LSO, Royal Mail, ABF Freight System, WanB, Roadrunner Freight, Meyer Distribution, AAA Cooper, Canada Post, Southeastern Freight Lines, Japan Post, Correos de Mexico, XPO Logistics, JD Logistics, YDH, JCEX, Flyt, Deutsche Post, Better Trucks, Asendia, SFC, UBI, ePost Global, YF Logistics, RXO, Estes Express, Shypmax, WIN.IT America, PITT OHIO, PostNord Sweden, Equick, Whistl, Tusou, Shiprocket, USPS First Class Mail, DTDC, PTS.","enum":["UPS","USPS","FedEx","Airborne","OnTrac","DHL Ecommerce - US","DHL","LS","UDS","UPSMI","FDX","PILOT","ESTES","SAIA","FDS Express","Seko Worldwide","HIT Delivery","FEDEXSP","RL Carriers","Metropolitan Warehouse & Delivery","China Post","YunExpress","Yellow Freight Sys","AIT Worldwide Logistics","Chukou1","Sendle","Landmark Global","Sunyou","Yanwen","4PX","GLS","OSM Worldwide","FIRST MILE","AM Trucking","CEVA","India Post","SF Express","CNE","TForce Freight","AxleHire","LSO","Royal Mail","ABF Freight System","WanB","Roadrunner Freight","Meyer Distribution","AAA Cooper","Canada Post","Southeastern Freight Lines","Japan Post","Correos de Mexico","XPO Logistics","JD Logistics","YDH","JCEX","Flyt","Deutsche Post","Better Trucks","Asendia","SFC","UBI","ePost Global","YF Logistics","RXO","Estes Express","Shypmax","WIN.IT America","PITT OHIO","PostNord Sweden","Equick","Whistl","Tusou","Shiprocket","USPS First Class Mail","DTDC","PTS"]}},"description":"Object specifying the shipping carrier: use the predefined `carrier` code or provide a custom name via `otherCarrier` (if used, `trackingURL` is required)."},"methodCode":{"type":"string","description":"Shipping service level for the package (such as Standard, Express, OneDay, WhiteGlove, Value, Freight), indicating delivery speed or handling.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."},"trackingURL":{"type":"string","description":"URL where the shipment status can be tracked online. Mandatory when using a custom `otherCarrier` name."}},"description":"Object containing shipment and tracking details for the package, including carrier information, shipping method, shipment timestamp, tracking number, and optional tracking URL."},"returnCenterAddress":{"required":["address1","city","country","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"Name of the person or facility receiving returned shipments at the return center."},"address1":{"type":"string","description":"Primary street address line for the return center location."},"address2":{"type":"string","description":"Secondary street address line (such as suite, unit, or building number) for the return center."},"city":{"type":"string","description":"City where the return center is located."},"state":{"type":"string","description":"State or province where the return center is located."},"postalCode":{"type":"string","description":"Postal or ZIP code for the return center’s address."},"country":{"type":"string","description":"Country of the return center’s address, expressed in ISO 3166-1 alpha-2 format."},"dayPhone":{"type":"string","description":"Daytime contact phone number for the return center."},"emailId":{"type":"string","description":"Email address for inquiries or notifications related to returned shipments."}},"description":"Object representing the return center’s address and contact details for processing returned shipments."}},"description":"Detail List of Order Line status"}}},"description":"A list of statuses for the Order Line"},"returnOrderId":{"type":"string","description":"Id of the return order created in case of a full refund"},"refund":{"required":["refundCharges"],"type":"object","properties":{"refundId":{"type":"string","description":"Unique identifier for this specific refund transaction."},"refundComments":{"type":"string","description":"Notes explaining the reason or context for the refund."},"refundCharges":{"type":"object","description":"Object specifying the monetary components of the refund (such as item cost, tax, shipping).","properties":{"refundCharge":{"type":"array","description":"List of monetary charge components for this refund transaction, where each item specifies a refund amount and its reason.","items":{"required":["charge","refundReason"],"type":"object","properties":{"refundReason":{"type":"string","description":"Code or short text indicating why this refund component is being issued, following Walmart’s refund reason conventions.","enum":["BillingError","TaxExemptCustomer","ItemNotAsAdvertised","IncorrectItemReceived","CancelledYetShipped","ItemNotReceivedByCustomer","IncorrectShippingPrice","DamagedItem","DefectiveItem","CustomerChangedMind","CustomerReceivedItemLate","Missing Parts / Instructions","Finance -> Goodwill","Finance -> Rollback","Buyer canceled","Customer returned item","General adjustment","Merchandise not received","Quality -> Missing Parts / Instructions","Shipping & Delivery -> Damaged","Shipping & Delivery -> Shipping Price Discrepancy","Others"]},"charge":{"required":["chargeAmount","chargeName","chargeType"],"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge being refunded or assessed. Must be either PRODUCT (for item price–related charges) or SHIPPING (for shipping fees)."},"chargeName":{"type":"string","description":"Specific name of the charge. For PRODUCT charges use ItemPrice (or SubscriptionDiscount for discounted subscription orders); for SHIPPING charges use Shipping."},"chargeAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."},"tax":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Object containing tax details for the charge, including the tax name and its monetary amount."},"taxAndOtherFees":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Taxes and other fees for this charge. Same structure as 'tax'."}},"description":"Container object grouping the details of a single monetary charge component."}}}}}}},"description":"Details about any partial refund on the order"},"originalCarrierMethod":{"type":"string","description":"Ship method stamped at order line level when order is placed"},"referenceLineId":{"type":"string","description":"Reference line Id"},"fulfillment":{"type":"object","properties":{"fulfillmentOption":{"type":"string","description":"Example : S2H, S2S, etc."},"shipMethod":{"type":"string","description":"Example : Value, Expedited, Standard, Rush, etc."},"storeId":{"type":"string","description":"Store Id"},"pickUpDateTime":{"type":"integer","description":"Gives pick up datetime information","format":"int64"},"pickUpBy":{"type":"string","description":"Gives pick up by information"},"shippingProgramType":{"type":"string","description":"Gives shipping program information. Examples TWO_DAY, THREE_DAY"}},"description":"fulfillment information"},"serialNumbers":{"type":"array","description":"Unique identifier assigned by a manufacturer to an individual item, to uniquely identify it. This number helps with record-keeping, accuracy and compliance","items":{"type":"string","description":"Unique identifier assigned by a manufacturer to an individual item, to uniquely identify it. This number helps with record-keeping, accuracy and compliance"}},"intentToCancel":{"type":"string"},"configId":{"type":"string","description":"Sets ConfigID for Personalised orders"},"sellerOrderId":{"type":"string","description":"Seller-defined order ID (max 30 characters). Walmart prints this ID on return labels so the seller can reference the sales order."},"miscAttributes":{"type":"object","description":"Additional attributes associated with the order line that are not captured in standard fields.","properties":{"miscAttribute":{"type":"array","description":"An additional attribute associated with the order line that is not captured in the standard fields.","items":{"$ref":"#/components/schemas/MiscAttributeGroup"}}}}},"description":"Purchase Order line information for each item"}}},"description":"A list of order lines in the order"},"paymentTypes":{"type":"array","description":"Payment Types","xml":{"wrapped":true},"items":{"type":"string","description":"Payment Types","xml":{"name":"paymentType"}}},"orderSummary":{"type":"object","properties":{"totalAmount":{"required":["currencyAmount","currencyUnit"],"type":"object","properties":{"currencyAmount":{"type":"number"},"currencyUnit":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}}},"orderSubTotals":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"subTotalType":{"type":"string"},"totalAmount":{"required":["currencyAmount","currencyUnit"],"type":"object","properties":{"currencyAmount":{"type":"number"},"currencyUnit":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}}}},"xml":{"name":"orderSubTotal"}}}},"description":"Order Summary","xml":{"name":"orderSummary"}},"pickupPersons":{"type":"array","description":"List of pickup persons","xml":{"wrapped":true},"items":{"type":"object","properties":{"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"generalSuffix":{"type":"string"},"maturitySuffix":{"type":"string"},"titleOfRespect":{"type":"string"},"empty":{"type":"boolean"}}},"phone":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"areaCode":{"type":"string"},"extension":{"type":"string"},"completeNumber":{"type":"string"},"type":{"type":"string","enum":["MOBILE","HOME","WORK"]},"subscriberNumber":{"type":"string"},"countryCode":{"type":"string"},"phoneValidity":{"type":"object","properties":{"validationType":{"type":"string","xml":{"name":"type"},"enum":["SMS","IVR","CALL","UNKNOWN"]},"validationStatus":{"type":"string","xml":{"name":"status"},"enum":["SUCCESS","FAILURE","SKIPPED","UNKNOWN"]},"validatedDate":{"type":"string","format":"date-time","xml":{"name":"validatedOn"}},"validatedBy":{"type":"string"}},"xml":{"name":"phoneValidity","namespace":"com.walmart.services.common.model.address.validation"}}},"xml":{"name":"phone","namespace":"com.walmart.services.common.model.address"}}},"description":"List of pickup persons","xml":{"name":"pickupPerson"}}},"shipNode":{"type":"object","properties":{"type":{"type":"string","description":"Specifies the type of shipNode. Allowed values are SellerFulfilled, WFSFulfilled and 3PLFulfilled."},"name":{"type":"string","description":"Specifies the name of the recommended ship node for order fulfillment."},"id":{"type":"string","description":"Specifies the id of the recommended ship node for order fulfillment."}},"description":"Specifies the type of shipNode"}},"description":"Information about the purchase order","xml":{"name":"order"}}}},"example":{"order":{"purchaseOrderId":"1234567891234","customerOrderId":"9876543212345","sellerOrderId":"13233454564657","customerEmailId":"customer@walmartlabs.com","orderType":"PREORDER","orderDate":1478284060000,"shippingInfo":{"phone":"6501234567","estimatedDeliveryDate":1479798000000,"estimatedShipDate":1478674800000,"methodCode":"Value","postalAddress":{"name":"Jane Doe","address1":"123 Main street","city":"Sunnyvale","state":"CA","postalCode":"94086","country":"USA","addressType":"OFFICE"}},"orderLines":{"orderLine":[{"lineNumber":"1","item":{"productName":"Kenmore CF-1 or 20-86883 Canister Secondary Filter Generic 2 Pack","sku":"wei-ASSET-675gku675"},"charges":{"charge":[{"chargeType":"PRODUCT","chargeName":"ItemPrice","chargeAmount":{"currency":"USD","amount":555},"tax":{"taxName":"Tax1","taxAmount":{"currency":"USD","amount":48.56}},"taxAndOtherFees":{"taxName":"Tax1","taxAmount":{"currency":"USD","amount":48.56}}}]},"orderLineQuantity":{"unitOfMeasurement":"EACH","amount":"1"},"statusDate":1478297929000,"orderLineStatuses":{"orderLineStatus":[{"status":"Shipped","statusQuantity":{"unitOfMeasurement":"EACH","amount":"1"},"trackingInfo":{"shipDateTime":1438163400000,"carrierName":{"carrier":"FedEx"},"methodCode":"Value","trackingNumber":"911001572321619861","trackingURL":"http://www.fedex.com/Tracking?action=track=english=us=x=911001572321619861"},"returnCenterAddress":{"name":"ABC","address1":"123 Bridge street","city":"Huntsville","state":"AL","postalCode":"35805","country":"USA","dayPhone":"6501234567","emailId":"RCemailaddress@company.com"}}]}}]}}}},"application/xml":{"schema":{"type":"object","properties":{"order":{"required":["customerEmailId","customerOrderId","orderDate","orderLines","purchaseOrderId","shippingInfo"],"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"A unique ID associated with the seller's purchase order"},"customerOrderId":{"type":"string","description":"A unique ID associated with the sales order for specified customer"},"customerEmailId":{"type":"string","description":"The email address of the customer for the sales order"},"orderType":{"type":"string","description":"Specifies if the order is a regular order , replacement order or preorder. Possible values are REGULAR , REPLACEMENT or PREORDER. Provided in response only if query parameter replacementInfo=true."},"originalCustomerOrderID":{"type":"string","description":"customer order ID of the original customer order on which the replacement is created. "},"orderDate":{"type":"integer","description":"The date the customer submitted the sales order, in Unix epoch format.","format":"int64"},"buyerId":{"type":"string","description":"Unique ID associated with the specified buyer","format":"uuid"},"mart":{"type":"string","description":"Mart information"},"isGuest":{"type":"boolean","description":"Indicates a guest customer"},"shippingInfo":{"required":["estimatedDeliveryDate","estimatedShipDate","methodCode","phone","postalAddress"],"type":"object","properties":{"phone":{"type":"string","description":"The customer's phone number"},"estimatedDeliveryDate":{"type":"integer","description":"The estimated time and date for the delivery of the item, in Unix epoch format.","format":"int64"},"estimatedShipDate":{"type":"integer","description":"The estimated time and date when the item will be shipped, in Unix epoch format.","format":"int64"},"methodCode":{"type":"string","description":"The shipping method. Can be one of the following: Standard, Express, OneDay, WhiteGlove, Value or Freight.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"postalAddress":{"required":["address1","city","country","name","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"The name for the person/place of shipping address"},"address1":{"type":"string","description":"The first line of the shipping address"},"address2":{"type":"string","description":"The second line of the shipping address"},"city":{"type":"string","description":"The city of the shipping address"},"state":{"type":"string","description":"The state of the shipping address"},"postalCode":{"type":"string","description":"The zip code of the shipping address"},"country":{"type":"string","description":"The country of the shipping address"},"addressType":{"type":"string","description":"The address type, example: 'RESIDENTIAL'"}},"description":"Elements of the customer's postal address"},"carrierMethodName":{"type":"string","description":"The carrier method name can be one of the following: FEDEX_HOME_DELIVERY, FEDEX_EXPRESS, FEDEX_2DAY_EXPRESS, FEDEX_OVERNIGHT, FEDEX_GROUND_ECONOMY, UPS_GROUND, UPS_3DAY_SELECT, UPS_2DAY_AIR, UPS_NEXTDAY_AIR, UPS_SUREPOST, USPS_GROUND, USPS_PRIORITY_MAIL or USPS_PRIORITY_MAIL_EXPRESS","enum":["FEDEX_HOME_DELIVERY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","UPS_GROUND","UPS_3DAY_SELECT","UPS_2DAY_AIR","UPS_NEXTDAY_AIR","UPS_SUREPOST","USPS_GROUND","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS"]}},"description":"The shipping information provided by the customer to the seller"},"orderLines":{"type":"object","properties":{"orderLine":{"type":"array","description":"A list of order lines in the order","items":{"required":["charges","item","lineNumber","orderLineQuantity","orderLineStatuses","statusDate"],"type":"object","properties":{"lineNumber":{"type":"string","description":"Identifier of the specific order line to be cancelled."},"item":{"required":["productName","sku"],"type":"object","properties":{"productName":{"type":"string","description":"The name of the product associated with the line item. Example: 'Kenmore CF1' or '2086883 Canister Secondary Filter Generic 2 Pack'"},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, assigned to each item in the item file"},"condition":{"type":"string","description":"Information about the condition of the product."},"imageUrl":{"type":"string","description":"Optional. Web URL for the image of the item."},"weight":{"required":["unit","value"],"type":"object","properties":{"value":{"type":"string","description":"Numerical amount of weight parameter."},"unit":{"type":"string","description":"Standard value of measurement of the item. Example: 'Pounds'"}},"description":"Optional. Weight information for the item."}},"description":"The information for the item on the orderLine"},"charges":{"type":"object","properties":{"charge":{"type":"array","description":"Information relating to the charge for the orderLine","items":{"required":["chargeAmount","chargeName","chargeType"],"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge being refunded or assessed. Must be either PRODUCT (for item price–related charges) or SHIPPING (for shipping fees)."},"chargeName":{"type":"string","description":"Specific name of the charge. For PRODUCT charges use ItemPrice (or SubscriptionDiscount for discounted subscription orders); for SHIPPING charges use Shipping."},"chargeAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."},"tax":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Object containing tax details for the charge, including the tax name and its monetary amount."},"taxAndOtherFees":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Taxes and other fees for this charge. Same structure as 'tax'."}},"description":"Container object grouping the details of a single monetary charge component."}}},"description":"Information relating to the charge for the orderLine"},"orderLineQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"statusDate":{"type":"integer","description":"The date shown on the recent order status","format":"int64"},"orderLineStatuses":{"type":"object","properties":{"orderLineStatus":{"type":"array","description":"Array of status update objects, each describing a cancellation status change.","items":{"required":["status","statusQuantity"],"type":"object","properties":{"status":{"type":"string","description":"Should be 'Created'","enum":["Created","Acknowledged","Shipped","Delivered","Cancelled","Refund"]},"statusQuantity":{"required":["amount","unitOfMeasurement"],"type":"object","properties":{"unitOfMeasurement":{"type":"string","description":"Unit of measure for the status quantity (such as EACH or EA), defining how the amount is counted.","enum":["EACH","EA"]},"amount":{"type":"string","description":"Numeric value representing how many units fall into the specified status category."}},"description":"Object detailing the count of units for a given status update, including the unit of measurement and the corresponding quantity."},"cancellationReason":{"type":"string","description":"If order is cancelled, cancellationReason will explain the reason"},"trackingInfo":{"required":["carrierName","methodCode","shipDateTime","trackingNumber"],"type":"object","properties":{"shipDateTime":{"type":"integer","description":"Timestamp in UNIX epoch (int64) format representing the exact date and time the package was shipped.","format":"int64"},"carrierName":{"type":"object","properties":{"otherCarrier":{"type":"string","description":"Custom name for a shipping carrier when the carrier is not one of the predefined options; if used, a valid `trackingURL` must also be provided."},"carrier":{"type":"string","description":"The package shipment carrier. Valid entries are: UPS, USPS, FedEx, Airborne, OnTrac, DHL Ecommerce - US, DHL, LS (LaserShip), UDS (United Delivery Service), UPSMI (UPS Mail Innovations), FDX, PILOT, ESTES, SAIA, FDS Express, Seko Worldwide, HIT Delivery, FEDEXSP (FedEx SmartPost), RL Carriers, Metropolitan Warehouse & Delivery, China Post, YunExpress,Yellow Freight Sys, AIT Worldwide Logistics, Chukou1, Sendle, Landmark Global, Sunyou, Yanwen, 4PX, GLS, OSM Worldwide, FIRST MILE, AM Trucking, CEVA, India Post, SF Express, CNE, TForce Freight, AxleHire, LSO, Royal Mail, ABF Freight System, WanB, Roadrunner Freight, Meyer Distribution, AAA Cooper, Canada Post, Southeastern Freight Lines, Japan Post, Correos de Mexico, XPO Logistics, JD Logistics, YDH, JCEX, Flyt, Deutsche Post, Better Trucks, Asendia, SFC, UBI, ePost Global, YF Logistics, RXO, Estes Express, Shypmax, WIN.IT America, PITT OHIO, PostNord Sweden, Equick, Whistl, Tusou, Shiprocket, USPS First Class Mail, DTDC, PTS.","enum":["UPS","USPS","FedEx","Airborne","OnTrac","DHL Ecommerce - US","DHL","LS","UDS","UPSMI","FDX","PILOT","ESTES","SAIA","FDS Express","Seko Worldwide","HIT Delivery","FEDEXSP","RL Carriers","Metropolitan Warehouse & Delivery","China Post","YunExpress","Yellow Freight Sys","AIT Worldwide Logistics","Chukou1","Sendle","Landmark Global","Sunyou","Yanwen","4PX","GLS","OSM Worldwide","FIRST MILE","AM Trucking","CEVA","India Post","SF Express","CNE","TForce Freight","AxleHire","LSO","Royal Mail","ABF Freight System","WanB","Roadrunner Freight","Meyer Distribution","AAA Cooper","Canada Post","Southeastern Freight Lines","Japan Post","Correos de Mexico","XPO Logistics","JD Logistics","YDH","JCEX","Flyt","Deutsche Post","Better Trucks","Asendia","SFC","UBI","ePost Global","YF Logistics","RXO","Estes Express","Shypmax","WIN.IT America","PITT OHIO","PostNord Sweden","Equick","Whistl","Tusou","Shiprocket","USPS First Class Mail","DTDC","PTS"]}},"description":"Object specifying the shipping carrier: use the predefined `carrier` code or provide a custom name via `otherCarrier` (if used, `trackingURL` is required)."},"methodCode":{"type":"string","description":"Shipping service level for the package (such as Standard, Express, OneDay, WhiteGlove, Value, Freight), indicating delivery speed or handling.","enum":["Standard","Express","OneDay","Freight","WhiteGlove","Value"]},"trackingNumber":{"type":"string","description":"Current alphanumeric identifier assigned by the carrier, used to update the purchase order’s tracking status."},"trackingURL":{"type":"string","description":"URL where the shipment status can be tracked online. Mandatory when using a custom `otherCarrier` name."}},"description":"Object containing shipment and tracking details for the package, including carrier information, shipping method, shipment timestamp, tracking number, and optional tracking URL."},"returnCenterAddress":{"required":["address1","city","country","postalCode","state"],"type":"object","properties":{"name":{"type":"string","description":"Name of the person or facility receiving returned shipments at the return center."},"address1":{"type":"string","description":"Primary street address line for the return center location."},"address2":{"type":"string","description":"Secondary street address line (such as suite, unit, or building number) for the return center."},"city":{"type":"string","description":"City where the return center is located."},"state":{"type":"string","description":"State or province where the return center is located."},"postalCode":{"type":"string","description":"Postal or ZIP code for the return center’s address."},"country":{"type":"string","description":"Country of the return center’s address, expressed in ISO 3166-1 alpha-2 format."},"dayPhone":{"type":"string","description":"Daytime contact phone number for the return center."},"emailId":{"type":"string","description":"Email address for inquiries or notifications related to returned shipments."}},"description":"Object representing the return center’s address and contact details for processing returned shipments."}},"description":"Detail List of Order Line status"}}},"description":"A list of statuses for the Order Line"},"returnOrderId":{"type":"string","description":"Id of the return order created in case of a full refund"},"refund":{"required":["refundCharges"],"type":"object","properties":{"refundId":{"type":"string","description":"Unique identifier for this specific refund transaction."},"refundComments":{"type":"string","description":"Notes explaining the reason or context for the refund."},"refundCharges":{"type":"object","description":"Object specifying the monetary components of the refund (such as item cost, tax, shipping).","properties":{"refundCharge":{"type":"array","description":"List of monetary charge components for this refund transaction, where each item specifies a refund amount and its reason.","items":{"required":["charge","refundReason"],"type":"object","properties":{"refundReason":{"type":"string","description":"Code or short text indicating why this refund component is being issued, following Walmart’s refund reason conventions.","enum":["BillingError","TaxExemptCustomer","ItemNotAsAdvertised","IncorrectItemReceived","CancelledYetShipped","ItemNotReceivedByCustomer","IncorrectShippingPrice","DamagedItem","DefectiveItem","CustomerChangedMind","CustomerReceivedItemLate","Missing Parts / Instructions","Finance -> Goodwill","Finance -> Rollback","Buyer canceled","Customer returned item","General adjustment","Merchandise not received","Quality -> Missing Parts / Instructions","Shipping & Delivery -> Damaged","Shipping & Delivery -> Shipping Price Discrepancy","Others"]},"charge":{"required":["chargeAmount","chargeName","chargeType"],"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge being refunded or assessed. Must be either PRODUCT (for item price–related charges) or SHIPPING (for shipping fees)."},"chargeName":{"type":"string","description":"Specific name of the charge. For PRODUCT charges use ItemPrice (or SubscriptionDiscount for discounted subscription orders); for SHIPPING charges use Shipping."},"chargeAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."},"tax":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Object containing tax details for the charge, including the tax name and its monetary amount."},"taxAndOtherFees":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Taxes and other fees for this charge. Same structure as 'tax'."}},"description":"Container object grouping the details of a single monetary charge component."}}}}}}},"description":"Details about any partial refund on the order"},"originalCarrierMethod":{"type":"string","description":"Ship method stamped at order line level when order is placed"},"referenceLineId":{"type":"string","description":"Reference line Id"},"fulfillment":{"type":"object","properties":{"fulfillmentOption":{"type":"string","description":"Example : S2H, S2S, etc."},"shipMethod":{"type":"string","description":"Example : Value, Expedited, Standard, Rush, etc."},"storeId":{"type":"string","description":"Store Id"},"pickUpDateTime":{"type":"integer","description":"Gives pick up datetime information","format":"int64"},"pickUpBy":{"type":"string","description":"Gives pick up by information"},"shippingProgramType":{"type":"string","description":"Gives shipping program information. Examples TWO_DAY, THREE_DAY"}},"description":"fulfillment information"},"serialNumbers":{"type":"array","description":"Unique identifier assigned by a manufacturer to an individual item, to uniquely identify it. This number helps with record-keeping, accuracy and compliance","items":{"type":"string","description":"Unique identifier assigned by a manufacturer to an individual item, to uniquely identify it. This number helps with record-keeping, accuracy and compliance"}},"intentToCancel":{"type":"string"},"configId":{"type":"string","description":"Sets ConfigID for Personalised orders"},"sellerOrderId":{"type":"string","description":"Seller-defined order ID (max 30 characters). Walmart prints this ID on return labels so the seller can reference the sales order."},"miscAttributes":{"type":"object","description":"Additional attributes associated with the order line that are not captured in standard fields.","properties":{"miscAttribute":{"type":"array","description":"An additional attribute associated with the order line that is not captured in the standard fields.","items":{"$ref":"#/components/schemas/MiscAttributeGroup"}}}}},"description":"Purchase Order line information for each item"}}},"description":"A list of order lines in the order"},"paymentTypes":{"type":"array","description":"Payment Types","xml":{"wrapped":true},"items":{"type":"string","description":"Payment Types","xml":{"name":"paymentType"}}},"orderSummary":{"type":"object","properties":{"totalAmount":{"required":["currencyAmount","currencyUnit"],"type":"object","properties":{"currencyAmount":{"type":"number"},"currencyUnit":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}}},"orderSubTotals":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"subTotalType":{"type":"string"},"totalAmount":{"required":["currencyAmount","currencyUnit"],"type":"object","properties":{"currencyAmount":{"type":"number"},"currencyUnit":{"type":"string","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]}}}},"xml":{"name":"orderSubTotal"}}}},"description":"Order Summary","xml":{"name":"orderSummary"}},"pickupPersons":{"type":"array","description":"List of pickup persons","xml":{"wrapped":true},"items":{"type":"object","properties":{"name":{"type":"object","properties":{"completeName":{"type":"string"},"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"generalSuffix":{"type":"string"},"maturitySuffix":{"type":"string"},"titleOfRespect":{"type":"string"},"empty":{"type":"boolean"}}},"phone":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"areaCode":{"type":"string"},"extension":{"type":"string"},"completeNumber":{"type":"string"},"type":{"type":"string","enum":["MOBILE","HOME","WORK"]},"subscriberNumber":{"type":"string"},"countryCode":{"type":"string"},"phoneValidity":{"type":"object","properties":{"validationType":{"type":"string","xml":{"name":"type"},"enum":["SMS","IVR","CALL","UNKNOWN"]},"validationStatus":{"type":"string","xml":{"name":"status"},"enum":["SUCCESS","FAILURE","SKIPPED","UNKNOWN"]},"validatedDate":{"type":"string","format":"date-time","xml":{"name":"validatedOn"}},"validatedBy":{"type":"string"}},"xml":{"name":"phoneValidity","namespace":"com.walmart.services.common.model.address.validation"}}},"xml":{"name":"phone","namespace":"com.walmart.services.common.model.address"}}},"description":"List of pickup persons","xml":{"name":"pickupPerson"}}},"shipNode":{"type":"object","properties":{"type":{"type":"string","description":"Specifies the type of shipNode. Allowed values are SellerFulfilled, WFSFulfilled and 3PLFulfilled."},"name":{"type":"string","description":"Specifies the name of the recommended ship node for order fulfillment."},"id":{"type":"string","description":"Specifies the id of the recommended ship node for order fulfillment."}},"description":"Specifies the type of shipNode"}},"description":"Information about the purchase order","xml":{"name":"order"}}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n<order\n        xmlns:ns2=\"http://walmart.com/mp/orders\"\n        xmlns:ns3=\"http://walmart.com/mp/v3/orders\"\n        xmlns:ns4=\"http://walmart.com/\">\n    <purchaseOrderId>2575193093772</purchaseOrderId>\n    <customerOrderId>4021603841173</customerOrderId>\n    <customerEmailId>mgr@walmartlabs.com</customerEmailId>\n    <orderType>PREORDER</orderType>\n    <orderDate>2016-05-11T22:55:28.000Z</orderDate>\n    <shippingInfo>\n        <phone>6502248603</phone>\n        <estimatedDeliveryDate>2016-05-20T17:00:00.000Z</estimatedDeliveryDate>\n        <estimatedShipDate>2016-05-16T17:00:00.000Z</estimatedShipDate>\n        <methodCode>Standard</methodCode>\n        <postalAddress>\n            <name>Joe Doe PGOMS</name>\n            <address1>860 W Cal Ave</address1>\n            <address2>Seat # 860C.2.176</address2>\n            <city>Sunnyvale</city>\n            <state>CA</state>\n            <postalCode>94086</postalCode>\n            <country>USA</country>\n            <addressType>RESIDENTIAL</addressType>\n        </postalAddress>\n    </shippingInfo>\n    <orderLines>\n        <orderLine>\n            <lineNumber>2</lineNumber>\n            <item>\n                <productName>Garmin Refurbished nuvi 2595LMT 5 GPS w Lifetime Maps and Traffic</productName>\n                <sku>GRMN100201</sku>\n            </item>\n            <charges>\n                <charge>\n                    <chargeType>PRODUCT</chargeType>\n                    <chargeName>ItemPrice</chargeName>\n                    <chargeAmount>\n                        <currency>USD</currency>\n                        <amount>124.98</amount>\n                    </chargeAmount>\n                    <tax>\n                        <taxName>Tax1</taxName>\n                        <taxAmount>\n                            <currency>USD</currency>\n                            <amount>10.93</amount>\n                        </taxAmount>\n                    </tax>\n                </charge>\n            </charges>\n            <orderLineQuantity>\n                <unitOfMeasurement>EACH</unitOfMeasurement>\n                <amount>1</amount>\n            </orderLineQuantity>\n            <statusDate>2016-06-03T23:44:41.000Z</statusDate>\n            <orderLineStatuses>\n                <orderLineStatus>\n                    <status>Shipped</status>\n                    <statusQuantity>\n                        <unitOfMeasurement>EACH</unitOfMeasurement>\n                        <amount>1</amount>\n                    </statusQuantity>\n                    <trackingInfo>\n                        <shipDateTime>2016-06-27T05:30:15.000Z</shipDateTime>\n                        <carrierName>\n                            <carrier>FedEx</carrier>\n                        </carrierName>\n                        <methodCode>Standard</methodCode>\n                        <trackingNumber>12333634122</trackingNumber>\n                        <trackingURL>http://www.fedex.com</trackingURL>\n                    </trackingInfo>\n                </orderLineStatus>\n            </orderLineStatuses>\n        </orderLine>\n    </orderLines>\n</order>"}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"}}}},"/v3/orders/{purchaseOrderId}/refund":{"post":{"tags":["Orders"],"summary":"Refund Order Lines","description":"Refunds one or more order lines that have been shipped. The response to a successful call contains the order with the refunded line items","operationId":"refundOrderLines","parameters":[{"name":"purchaseOrderId","in":"path","description":"Unique Walmart `purchaseOrderId` that identifies the purchase order.","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/accessToken"},{"$ref":"#/components/parameters/svcName"},{"$ref":"#/components/parameters/correlationId"}],"x-readme":{"code-samples":[{"language":"curl","code":"curl-X'POST' \n 'https://sandbox.walmartapis.com/v3/orders/qweq/refund' \n -H'accept:application/json'\n -H'WM_SEC.ACCESS_TOKEN:eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n -H'WM_QOS.CORRELATION_ID:b3261d2d-028a-4ef7-8602-633nc23200af6' \n -H'WM_SVC.NAME:WalmartServiceName' \n -H'Content-Type:application/xml' \n -d'<?xmlversion=\"1.0\"encoding=\"UTF-8\"?>\n<orderRefundxmlns=\"http://walmart.com/mp/v3/orders\">\n<purchaseOrderId>2575193093772</purchaseOrderId>\n<orderLines>\n<orderLine>\n<lineNumber>1</lineNumber>\n<isFullRefund>false</isFullRefund>\n<refunds>\n<refund>\n<refundComments>testtest</refundComments>\n<refundCharges>\n<refundCharge>\n<refundReason>DamagedItem</refundReason>\n<charge>\n<chargeType>PRODUCT</chargeType>\n<chargeName>ItemPrice</chargeName>\n<chargeAmount>\n<currency>USD</currency>\n<amount>-10.02</amount>\n</chargeAmount>\n<tax>\n<taxName>ItemPriceTax</taxName>\n<taxAmount>\n<currency>USD</currency>\n<amount>-5.03</amount>\n</taxAmount>\n</tax>\n</charge>\n</refundCharge>\n<refundCharge>\n<refundReason>TaxExemptCustomer</refundReason>\n<charge>\n<chargeType>SHIPPING</chargeType>\n<chargeName>ShippingPrice</chargeName>\n<chargeAmount>\n<currency>USD</currency>\n<amount>-1.02</amount>\n</chargeAmount>\n<tax>\n<taxName>ShippingTax</taxName>\n<taxAmount>\n<currency>USD</currency>\n<amount>-0.05</amount>\n</taxAmount>\n</tax>\n</charge>\n</refundCharge>\n</refundCharges>\n</refund>\n</refunds>\n</orderLine>\n</orderLines>\n</orderRefund>'","name":"xml example"},{"language":"curl","code":"curl -X 'POST' \n  'https://sandbox.walmartapis.com/v3/orders/qweq/refund' \n  -H 'accept: application/json' \n  -H 'WM_SEC.ACCESS_TOKEN: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM.....' \n  -H 'WM_QOS.CORRELATION_ID: b3261d2d-028a-4ef7-8602-633c23200af6' \n  -H 'WM_SVC.NAME: Walmart Service Name' \n  -H 'Content-Type: application/json' \n -d'{\"orderRefund\":{\"purchaseOrderId\":\"2577453162650\",\"orderLines\":{\"orderLine\":[{\"lineNumber\":\"4\",\"isFullRefund\":false,\"refunds\":{\"refund\":[{\"refundComments\":\"testtest\",\"refundCharges\":{\"refundCharge\":[{\"refundReason\":\"Merchandisenotreceived\",\"charge\":{\"chargeType\":\"PRODUCT\",\"chargeName\":\"ItemPrice\",\"chargeAmount\":{\"currency\":\"USD\",\"amount\":-0.1},\"tax\":{\"taxName\":\"ItemPriceTax\",\"taxAmount\":{\"currency\":\"USD\",\"amount\":-0.1}}}}]}}]}}]}}}'","name":"JSON example"}]},"requestBody":{"description":"File fields","content":{"application/json":{"schema":{"type":"object","properties":{"orderRefund":{"description":"Object defining refund instructions for a purchase order, including the PO identifier and detailed refund specifications for each order line.","required":["orderLines","purchaseOrderId"],"type":"object","properties":{"purchaseOrderId":{"type":"string","description":"Unique identifier of the purchase order for which the refund is being requested."},"orderLines":{"description":"Container object grouping the list of order line refund entries.","required":["orderLine"],"type":"object","properties":{"orderLine":{"type":"array","description":"Array of refund entries, each specifying the line number and refund details for an individual order line.","items":{"required":["lineNumber","refunds"],"type":"object","properties":{"lineNumber":{"type":"string","description":"Identifier of the specific order line to which the refund applies."},"isFullRefund":{"type":"boolean","description":"Flag indicating a full refund for the line: when true, refunds item cost, tax, and shipping; when false, refunds only the amounts explicitly specified. All lines in a multi-line refund request must use the same refund mode.","default":false},"refunds":{"required":["refund"],"type":"object","description":"Container for one or more refund transactions applied to this order line.","properties":{"refund":{"type":"array","items":{"required":["refundCharges"],"type":"object","properties":{"refundId":{"type":"string","description":"Unique identifier for this specific refund transaction."},"refundComments":{"type":"string","description":"Notes explaining the reason or context for the refund."},"refundCharges":{"type":"object","description":"Object specifying the monetary components of the refund (such as item cost, tax, shipping).","properties":{"refundCharge":{"type":"array","description":"List of monetary charge components for this refund transaction, where each item specifies a refund amount and its reason.","items":{"required":["charge","refundReason"],"type":"object","properties":{"refundReason":{"type":"string","description":"Code or short text indicating why this refund component is being issued, following Walmart’s refund reason conventions.","enum":["BillingError","TaxExemptCustomer","ItemNotAsAdvertised","IncorrectItemReceived","CancelledYetShipped","ItemNotReceivedByCustomer","IncorrectShippingPrice","DamagedItem","DefectiveItem","CustomerChangedMind","CustomerReceivedItemLate","Missing Parts / Instructions","Finance -> Goodwill","Finance -> Rollback","Buyer canceled","Customer returned item","General adjustment","Merchandise not received","Quality -> Missing Parts / Instructions","Shipping & Delivery -> Damaged","Shipping & Delivery -> Shipping Price Discrepancy","Others"]},"charge":{"required":["chargeAmount","chargeName","chargeType"],"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge being refunded or assessed. Must be either PRODUCT (for item price–related charges) or SHIPPING (for shipping fees)."},"chargeName":{"type":"string","description":"Specific name of the charge. For PRODUCT charges use ItemPrice (or SubscriptionDiscount for discounted subscription orders); for SHIPPING charges use Shipping."},"chargeAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."},"tax":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RUR","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","STD","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XFU","XOF","XPD","XPF","XPT","XTS","XXX","YER","ZAR","ZMK","ZWL"]},"amount":{"type":"number","description":"Numeric value of the charge in the specified currency (such as 9.99)."}},"description":"Monetary amount details for this charge component."}},"description":"Object containing tax details for the charge, including the tax name and its monetary amount."},"taxAndOtherFees":{"required":["taxAmount","taxName"],"type":"object","properties":{"taxName":{"type":"string","description":"Name of the tax applied to this charge (such as Sales Tax), identifying the tax type."},"taxAmount":{"required":["amount","currency"],"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 currency code for this charge (such as USD).","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYR","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR
[...]
