{"openapi":"3.0.1","info":{"title":"Payments","version":"1.0","description":"These APIs are specifically designed for payment use cases within the Walmart Marketplace."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Refers to the URL used for accessing the production server."},{"url":"https://sandbox.walmartapis.com","description":"Refers to the URL used for accessing the sandbox server."}],"security":[{"basicScheme":[]}],"paths":{"/v3/settings/entitymatchprofile":{"get":{"tags":["Payments API"],"summary":"Entity Match","description":"The Entity Match API allows the Payout Service Providers (PSPs) to access entity profile data. The data includes seller's tax ID, legal business name, and the country of incorporation. PSPs can use this API to validate a seller's entity details during onboarding and payout processes.","operationId":"getEntityMatch","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Request processed successfully. When status is OK, the response includes entity profile data in body.","content":{"application/json":{"schema":{"type":"object","description":"Response envelope for the entity match profile request.","properties":{"body":{"type":"object","description":"Entity profile details returned for the seller.","properties":{"businessRegistrationNumber":{"type":"string","description":"Seller business identifier used for entity matching. This could be the business registration number or tax identifier depending on country. Example: ABCD001122"},"name":{"type":"string","description":"Seller legal business name as registered with the issuing authority. Example: Business Name."},"countryOfIncorporation":{"type":"string","description":"Country where the seller business is incorporated (typically an ISO 3166-1 alpha-2 country code). Example: US"}}},"status":{"type":"string","description":"Overall outcome of the request. Example: OK"}}},"example":{"body":{"businessRegistrationNumber":"ABCD001122","name":"Business Name","countryOfIncorporation":"US"},"status":"OK"}}}}}}},"/v1/settings/gettaxformprofile":{"get":{"tags":["Tax Form APIs"],"summary":"Get Tax Forms","description":"The Get Tax Forms API returns available tax forms for the authenticated seller, including form type and form ID. The response is a JSON object containing tax form metadata.","operationId":"getTaxForms","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"name":"WM_GLOBAL_VERSION","in":"header","description":"The version of the global API used.","required":true,"schema":{"type":"string","enum":["3.1"]}},{"in":"header","name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","required":true,"schema":{"type":"string"},"example":"US"},{"name":"WM_PARTNER_ID","in":"header","description":"The partner (seller) identifier registered in Walmart Marketplace.","required":true,"schema":{"type":"string"},"example":"123456789"},{"name":"WM.TENANT_ID","in":"header","description":"Specifies the tenant identifier for multi-tenant contexts.","required":true,"schema":{"type":"string"},"example":"0"}],"responses":{"200":{"description":"Tax forms retrieved successfully.","content":{"application/json":{"schema":{"type":"object","description":"Envelope containing the partner identifier and available tax forms.","properties":{"payload":{"type":"object","properties":{"partnerId":{"type":"string","description":"Walmart partner identifier for the seller account."},"paymentProcessorSummary":{"type":"array","description":"List of yearly summaries with the tax forms issued for each payout year.","items":{"type":"object","properties":{"payoutYear":{"type":"string","description":"Payout year for which tax forms were generated, formatted as YYYY."},"taxForms":{"type":"array","description":"Tax forms available for the specified payout year.","items":{"type":"object","properties":{"formType":{"type":"string","description":"Tax form type, for example 1099-K."},"formId":{"type":"string","description":"Identifier of the generated tax form document."}}}}}}}}},"status":{"type":"string","description":"Request outcome, for example OK."}}},"example":{"payload":{"partnerId":"10011478510","paymentProcessorSummary":[{"payoutYear":"2024","taxForms":[{"formType":"1099-K","formId":"484202"}]}]},"status":"OK"}}}},"400":{"description":"Missing mandatory input parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"400.MISSING_MANDATORY_PARAMS","message":"Missing mandatory input parameters.","status":400}}}},"404":{"description":"No record found for the given parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"404.RECORD_NOT_FOUND","message":"No record found for the given parameters.","status":404}}}},"500":{"description":"Internal server error occurred while processing the request.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"500.INTERNAL_SERVER_ERROR","message":"Internal server error occurred while processing the request.","status":500}}}}}}},"/v1/settings/downloadtaxformprofile":{"get":{"tags":["Tax Form APIs"],"summary":"Download Tax Form","description":"The Download Tax Form API downloads the selected tax form document as a byte stream.","operationId":"downloadTaxForm","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},{"name":"WM_GLOBAL_VERSION","in":"header","description":"The version of the global API used.","required":true,"schema":{"type":"string","enum":["3.1"]}},{"in":"header","name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","required":true,"schema":{"type":"string"},"example":"US"},{"name":"WM_PARTNER_ID","in":"header","description":"The partner (seller) identifier registered in Walmart Marketplace.","required":true,"schema":{"type":"string"},"example":"123456789"},{"name":"WM.TENANT_ID","in":"header","description":"Specifies the tenant identifier.","required":true,"schema":{"type":"string"},"example":"0"},{"name":"payoutYear","in":"query","required":true,"description":"The tax year associated with the payout (for example, 2024).","schema":{"type":"string"}},{"name":"taxFormType","in":"query","description":"The tax form type to download (for example, 1099-K).","required":true,"schema":{"type":"string"}},{"name":"formId","in":"query","description":"The unique form ID returned by the list tax forms endpoint.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tax form bytes returned.","headers":{"Content-Type":{"description":"The content type of the response","schema":{"type":"string"},"example":"application/pdf"},"Content-Disposition":{"description":"Indicates that the response should be downloaded as a file","schema":{"type":"string"},"example":"attachment; filename=10011478510-1099-K-484202.pdf"}},"content":{"application/pdf":{"schema":{"type":"string","format":"byte","description":"Base64-encoded PDF bytes of the tax form."},"example":"JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlL1BhZ2UvUGFyZW50IDIgMCBSL01lZGlhQm94WzAgMCA2MTIgNzkyXS9Db250ZW50cyA0IDAgUj4+CmVuZG9iago0IDAgb2JqCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggNDQ+PnN0cmVhbQp4nDPQM1QwUDC2NDUwMzXXMzQxVzAwUjA1BgozMDUyBQBPRgVZCmVuZHN0cmVhbQplbmRvYmoKMSAwIG9iago8PC9UeXBlL1BhZ2VzL0NvdW50IDEvS2lkc1szIDAgUl0+PgplbmRvYmoKNSAwIG9iago8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMSAwIFI+PgplbmRvYmoKNiAwIG9iago8PC9Qcm9kdWNlcihpVGV4dCAyLjEuNyBieSAxVDNYVCk+PgplbmRvYmoKMiAwIG9iago8PC9UeXBlL1BhZ2VzL0NvdW50IDEvS2lkc1szIDAgUl0+PgplbmRvYmoKeHJlZgowIDcKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMjE1IDAwMDAwIG4gCjAwMDAwMDAzMDMgMDAwMDAgbiAKMDAwMDAwMDAxNSAwMDAwMCBuIAowMDAwMDAwMDk0IDAwMDAwIG4gCjAwMDAwMDAyNjcgMDAwMDAgbiAKMDAwMDAwMDI5NSAwMDAwMCBuIAp0cmFpbGVyCjw8L1NpemUgNy9Sb290IDUgMCBSL0luZm8gNiAwIFI+PgpzdGFydHhyZWYKMzU2CiUlRU9GCg=="}}},"400":{"description":"Missing mandatory input parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"400.MISSING_MANDATORY_PARAMS","message":"Missing mandatory input parameters.","status":400}}}},"404":{"description":"No record found for the given parameters.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"404.RECORD_NOT_FOUND","message":"No record found for the given parameters.","status":404}}}},"500":{"description":"Internal server error occurred while processing the request.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"500.INTERNAL_SERVER_ERROR","message":"Internal server error occurred while processing the request.","status":500}}}},"502":{"description":"Error calling downstream service.","content":{"application/json":{"schema":{"type":"object","properties":{"errorCode":{"type":"string","description":"The error code identifying the type of error."},"message":{"type":"string","description":"A descriptive message explaining the error."},"status":{"type":"integer","description":"The HTTP status code."}},"required":["errorCode","message","status"]},"example":{"errorCode":"502.BAD_GATEWAY","message":"Error calling downstream service.","status":502}}}}}}}},"components":{"schemas":{"EntityMatchResponse":{"type":"object","properties":{"body":{"type":"object","properties":{"businessRegistrationNumber":{"type":"string"},"name":{"type":"string"},"countryOfIncorporation":{"type":"string"}}},"status":{"type":"string","description":"Indicates the status of the entity match response."}}},"FormInfoDTO":{"type":"object","properties":{"combined":{"type":"string","description":"Indicates whether multiple statements are combined into a single form."},"rollup":{"type":"string","description":"Represents an aggregated view or rolled-up status of the form."},"name":{"type":"string","description":"The display name of the tax form (for example, 1099-K)."},"fChar":{"type":"string","description":"Internal flag character used for processing.","writeOnly":true},"items":{"type":"array","description":"List of item-level details associated with the tax form.","items":{"$ref":"#/components/schemas/ItemDTO"}}}},"ItemDTO":{"type":"object","properties":{"payerId":{"type":"string","description":"Identifier of the payer entity issuing the tax form."},"tin":{"type":"string","description":"Taxpayer identification number associated with the payee."},"groupId":{"type":"string","description":"Logical grouping identifier for related transactions or sub-accounts."},"account":{"type":"string","description":"Account identifier related to the payout or settlement."},"formId":{"type":"string","description":"Unique tax form identifier referenced by the download endpoint."},"formModLevel":{"type":"string","description":"Form modification level or version indicator."},"payeeModLevel":{"type":"string","description":"Payee-level modification indicator."},"tintype":{"type":"string","description":"Type of TIN provided (for example, SSN, EIN, ITIN)."}}}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
