{"openapi":"3.0.1","info":{"title":"Price Management","version":"1.0","description":"Pricing is a fundamental building block for your listing on Walmart.com. You can use the price management APIs to set up and manage the price for a given item"},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"security":[{"basicScheme":[]}],"paths":{"/v3/repricer/strategy/{strategyCollectionId}":{"put":{"tags":["Prices"],"summary":"Update Repricer Strategy","description":"Updates an existing repricer strategy. Use this API to modify and update a repricer strategy rule, name, amount, and unit for a given strategy.\n\n For more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/update-repricer-strategy\">Pricing API Guide</a>.","operationId":"updateStrategy","parameters":[{"name":"strategyCollectionId","in":"path","description":"The unique ID of the repricer strategy. This strategy collection ID is used to identify the specific repricer strategy that should be updated.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"The request body contains details of the repricer strategy to be updated.","content":{"application/json":{"schema":{"type":"object","properties":{"repricerStrategy":{"type":"string","description":"The name of the repricer strategy collection.","example":"Buy Box Strategy"},"enabled":{"type":"boolean","description":"The status of the strategy collection. `Active` status indicates that the strategy collection is active.","example":true},"enableRepricerForPromotion":{"type":"boolean","description":"Specifies whether repricing should be applied to items that are on promotion.","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","description":"If `true`, restores the price to the last submitted price when no repricing target is available.","example":true},"enableBuyboxMeetExternal":{"type":"boolean","description":"Applicable only for Buy Box Strategy. If `true`, enables pricing to match external competitors and beat the Buy Box price.","example":true},"compareWith3pOfferOnly":{"type":"boolean","description":"Indicates whether to compare only against 3P offers.","example":true},"strategies":{"type":"array","description":"List of strategy rules to apply within the repricer strategy.","items":{"type":"object","properties":{"strategyType":{"type":"string","description":"Specifies the type of pricing reference to use.","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","description":"Specifies whether the price adjustment is a fixed unit amount or a percentage.","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","description":"Specifies the value to adjust the price by, based on the `adjustmentType`","example":1.2}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"repricerStrategy":{"type":"string","example":"Buy Box Strategy"},"strategyCollectionId":{"type":"string","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","example":true},"enableRepricerForPromotion":{"type":"boolean","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","example":true},"enableBuyboxMeetExternal":{"type":"boolean","example":true},"compareWith3pOfferOnly":{"type":"boolean","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}}}}}}},"delete":{"tags":["Prices"],"summary":"Delete Repricer Strategy","description":"Deletes a repricer strategy. Use this API to delete an existing repricer strategy and its corresponding details from the system.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/delete-repricer-strategy\">Pricing API Guide</a>.","operationId":"deleteStrategy","parameters":[{"name":"strategyCollectionId","in":"path","description":"The unique ID of the repricer strategy. This strategy collection ID is used to identify the specific repricer strategy that should be deleted.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Strategy with Strategy Collection Id : 41678999-a088-4fd8-9eb4-55f8d8ed4ac8 deleted successfully"}}}}}}}}},"/v3/price":{"put":{"tags":["Prices"],"summary":"Update pricing for a single item","description":"Updates the price of an item listed on Walmart Marketplace. Use this API to change the price of a single item. If you want to update pricing for multiple items, we recommend using the <a href=\"https://developer.walmart.com/us-marketplace/reference/post_v3-feeds-feedtype-price-and-promotion\">Update pricing for multiple items in bulk</a> API. \n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/update-pricing-for-a-single-item\">Pricing API Guide</a>.","operationId":"updatePrice","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Provides the Stock Keeping Unit (SKU) and pricing details for updating the regular or promotional price of a single item.","content":{"application/json":{"schema":{"required":["pricing","sku"],"type":"object","properties":{"offerId":{"type":"string","description":"Applicable only for promotions. Identifies the promotional offer being applied."},"sku":{"type":"string","description":"The seller-defined unique SKU identifying the item whose price is being updated."},"replaceAll":{"type":"string","description":"Applicable only for promotions. Indicates whether to replace all existing promotions.","enum":["true","false"]},"pricing":{"type":"array","description":"List of pricing entries.","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"Applicable only for promotions. Indicates the start date and time when the promotional price become effective.","format":"date-time"},"expirationDate":{"type":"string","description":"Applicable only for promotions. Indicates the end date and time when the promotional price ends.","format":"date-time"},"promoId":{"type":"string","description":"Applicable only for promotions. A unique identifier for the promotional campaign."},"processMode":{"type":"string","description":"Applicable only for promotions. Indicates whether to create/delete (`UPSERT`) or remove (`DELETE`) the promotion.","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","description":"Applicable for both promotions and price. Specifies the type of price being updated.","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","description":"Defines the new price to apply to the item.","properties":{"currency":{"type":"string","enum":["USD","CAD"],"description":"The currency of the price."},"amount":{"type":"number","format":"double","description":"The numeric value of the price in the specified currency."}}},"comparisonPriceType":{"type":"string","description":"Applicable only for promotions. Specifies the type of reference price used for comparison.","enum":["BASE"]},"comparisonPrice":{"type":"object","description":"Applicable only for promotions. Defines the original prices used to calculate savings.","properties":{"currency":{"type":"string","enum":["USD","CAD"],"description":"The currency of the comparison price."},"amount":{"type":"number","format":"double","description":"The numeric value of the comparison price in the specified currency."}}},"priceDisplayCodes":{"type":"string","description":"Applicable only for promotions. Controls where the promotional price is displayed to the customer, either in the cart or at checkout.","enum":["CART","CHECKOUT"]}}}},"definitions":{"type":"object"}}},"example":{"sku":"97964_KFTest","pricing":[{"currentPriceType":"BASE","currentPrice":{"currency":"USD","amount":10}}]}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"A message of acknowledgement for a price update","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":{"ItemPriceResponse":{"mart":"WALMART_US","message":"The price of the item has been updated. Allow up to five minutes for this change to be reflected on the Walmart.com.","sku":"97964_KFTest"}}},"application/xml":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"A message of acknowledgement for a price update","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:ItemPriceResponse xmlns:ns2=\"http://walmart.com/\">\n    <ns2:mart>WALMART_US</ns2:mart>\n    <ns2:sku>97964_KFTest</ns2:sku>\n    <ns2:message>The price of the item has been updated. Allow up to five minutes for this change to be reflected on the Walmart.com.</ns2:message>\n</ns2:ItemPriceResponse>\n"}}}}},"post":{"tags":["Prices"],"summary":"Update pricing and business pricing for a single item (New)","description":"Use this endpoint to update the price and business price for a single item. The change is automatically synchronized across your Marketplace listings. This endpoint supports one SKU per request; bulk or multi-item updates are not supported.","operationId":"updateSyncPrice","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved from the Token API call. This token is required for authentication.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name, used to identify the service making the request.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Walmart Global Version.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Walmart Market associated with the price update.","required":true,"schema":{"type":"string"},"example":"US"}],"requestBody":{"description":"The request body consists price and business price to be updated.","content":{"application/json":{"schema":{"type":"object","properties":{"MPItemFeedHeader":{"type":"object","properties":{"businessUnit":{"type":"string","example":"WALMART_US"},"locale":{"type":"string","description":"Locale of the request.","example":"en"},"version":{"type":"string","example":"5.0.20250328-17_43_36-api"}}},"MPItem":{"type":"object","properties":{"Price":{"type":"object","properties":{"sku":{"type":"string","example":"NEW_S9MI_BRB_CA_0IXC"},"price":{"type":"number","format":"double","example":80},"businessPrice":{"type":"number","format":"double","example":80}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedStatus":{"type":"string","example":"PROCESSED"},"feedSubmissionDate":{"type":"number"},"itemsReceived":{"type":"number"},"itemsSucceeded":{"type":"number"},"itemsFailed":{"type":"number"},"itemsProcessing":{"type":"number"},"itemsDetails":{"type":"object","properties":{"itemIngestionStatus":{"type":"array","items":{"type":"object","properties":{"martId":{"type":"number"},"sku":{"type":"string","example":"NEW_S9MI_BRB_CA_0IXC"},"ingestionStatus":{"type":"string","example":"SUCCESS"}}}}}},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":{"feedStatus":"PROCESSED","feedSubmissionDate":1672531199000,"itemsReceived":1,"itemsSucceeded":1,"itemsFailed":0,"itemsProcessing":0,"itemsDetails":{"itemIngestionStatus":[{"martId":123456789,"sku":"NEW_S9MI_BRB_CA_0IXC","ingestionStatus":"SUCCESS"}]}}},"application/xml":{"schema":{"type":"object","properties":{"feedStatus":{"type":"string","example":"PROCESSED"},"feedSubmissionDate":{"type":"number"},"itemsReceived":{"type":"number"},"itemsSucceeded":{"type":"number"},"itemsFailed":{"type":"number"},"itemsProcessing":{"type":"number"},"itemsDetails":{"type":"object","properties":{"itemIngestionStatus":{"type":"array","items":{"type":"object","properties":{"martId":{"type":"number"},"sku":{"type":"string","example":"NEW_S9MI_BRB_CA_0IXC"},"ingestionStatus":{"type":"string","example":"SUCCESS"}}}}}},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedStatus>PROCESSED</ns2:feedStatus>\n    <ns2:feedSubmissionDate>1746212253791</ns2:feedSubmissionDate>\n    <ns2:itemsReceived>1</ns2:itemsReceived>\n    <ns2:itemsSucceeded>1</ns2:itemsSucceeded>\n    <ns2:itemsFailed>0</ns2:itemsFailed>\n    <ns2:itemsProcessing>0</ns2:itemsProcessing>\n    <ns2:itemDetails>\n        <ns2:itemIngestionStatus>\n            <ns2:ingestion>\n                <ns2:martId>0</ns2:martId>\n                <ns2:sku>NEW_S9MI_BRB_CA_0IXC</ns2:sku>\n                <ns2:ingestionStatus>SUCCESS</ns2:ingestionStatus>\n            </ns2:ingestion>\n        </ns2:itemIngestionStatus>\n    </ns2:itemDetails>\n</ns2:FeedAcknowledgement>\n"}}}}}},"/v3/repricerFeeds":{"post":{"tags":["Prices"],"summary":"Assign/unassign items to/from repricer strategy","description":"Adds or removes one or more items from a repricer strategy. Use this API to assign or unassign repricer strategies for items listed in Walmart Marketplace.\n\nIn one feed you can update up to 10,000 items in bulk. To ensure optimal feed processing time, we recommend sending no more than 1000 items in one feed and keeping the feed sizes below 10 MB.\n\n For more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/assign-unassign-items-to-repricer\">Pricing API Guide</a>.","operationId":"getRepricerFeed","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"Contains feed metadata and a list of item strategies for assigning or unassigning items to/from a repricer strategy.","properties":{"ItemFeedHeader":{"type":"object","description":"Defines how the feed is processed and targeted.","properties":{"processMode":{"type":"string","description":"Defines how to process the feed. Use `REPLACE` to replace all the assigned repricer strategies.","example":"REPLACE"},"subset":{"type":"string","description":"Indicates the ownership. For example, `EXTERNAL` identifies this as external system data.","example":"EXTERNAL"},"mart":{"type":"string","description":"Specifies the target marketplace. Use `WALMART_US` for U.S. Walmart Marketplace.","example":"WALMART_US"},"sellingChannel":{"type":"string","description":"Identifies the selling channel for this feed. Use `repricerstrategy` for strategy updates.","example":"repricerstrategy"},"version":{"type":"string","description":"Indicates the feed schema version. This must match the current version supported by the API.","example":"1.1"},"locale":{"type":"string","description":"Indicates the locale for the feed content. Use `en` for English.","example":"en"}}},"Item":{"type":"array","description":"List of items to assign or unassign repricer strategies for.","items":{"type":"object","properties":{"Strategy":{"type":"object","description":"Details of the repricer strategy assignment for a specific item.","properties":{"sku":{"type":"string","description":"The Stock Keeping Unit (SKU) identifier of the item being updated.","example":"06068064605122shoe"},"repricerStrategy":{"type":"string","description":"Name of the repricer strategy to assign. To unassign, omit this field.","example":"Match Competitive Price"},"minimumSellerAllowedPrice":{"type":"number","description":"Minimum price you are willing to sell this item for. The repricer will not go below this value.","format":"double","example":7.2},"maximumSellerAllowedPrice":{"type":"number","description":"Maximum price you are willing to sell this item for. The repricer will not exceed this value.","format":"double","example":8}}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","example":"AFEE4EEC9C3541B6A7B58E694416EC82@AUoBAwA"}}}}}}}}},"/v3/repricer/strategy":{"post":{"tags":["Prices"],"summary":"Create repricer strategy","description":"Creates a new repricing strategy on Walmart Marketplace. A repricer strategy defines how item prices should be automatically adjusted based on competitor pricing, buy box position, or other rules.\n\nUse this API when onboarding new pricing logic or launching a dynamic pricing strategy that responds to market conditions automatically.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/create-new-repricer-strategy\">Pricing API Guide</a>.","operationId":"createStrategy","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Provides the details for creating a repricer strategy.","content":{"application/json":{"schema":{"type":"object","properties":{"repricerStrategy":{"type":"string","description":"A unique name used to identify the repricer strategy. This value helps you manage or reference the strategy in future operations.","example":"Buy Box Strategy For testing"},"enabled":{"type":"boolean","description":"Indicates whether the strategy is active. Set to `true` to enable repricing for items assigned to this strategy.","example":true},"enableRepricerForPromotion":{"type":"boolean","description":"Specifies whether the strategy should apply to items that are currently under promotion.","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","description":"If `true`, reprices item prices to last submitted price when no competitive or target price is available.","example":true},"enableBuyboxMeetExternal":{"type":"boolean","description":"Applicable only to Buy Box strategies. When `true`, attempts to match or beat external prices when staying competitive with the Buy Box price.","example":true},"compareWith3pOfferOnly":{"type":"boolean","description":"Indicates whether to compare only against 3P offers.","example":true},"strategies":{"type":"array","description":"Pricing strategies that define how item prices should be adjusted.","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"],"description":"Specifies the pricing strategy used for repricing."},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"],"description":"Specifies how the adjustment should be applied: as a fixed unit or as a percentage."},"adjustmentValue":{"type":"number","format":"double","description":"Sets the value by which you want your offer to beat other offers.","example":1.2}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"repricerStrategy":{"type":"string","example":"Buy Box Strategy For testing"},"strategyCollectionId":{"type":"string","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","example":true},"enableRepricerForPromotion":{"type":"boolean","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","example":true},"enableBuyboxMeetExternal":{"type":"boolean","example":true},"compareWith3pOfferOnly":{"type":"boolean","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}}}}}}}},"/v3/feeds":{"post":{"tags":["Prices"],"summary":"Update bulk prices (Legacy)","description":"Updates prices in bulk.\n\nIn one Feed you can update up to 10,000 items in bulk. To ensure optimal Feed processing time, we recommend sending no more than 1000 items in one Feed and keeping the Feed sizes below 10 MB.\n\nThe price sequence guarantee is observed by the bulk price update functionality, subject to the following rules:\n\nThe timestamp used to determine precedence is passed in the request headers. All price updates in the feed are considered to have the same timestamp. The timestamp in the XML file is used only for auditing.\nYou can send a single SKU multiple times in one Feed. If a SKU is repeated in a Feed, the price will be set for that SKU on Walmart.com, but there is no guarantee as to which SKU's price within that feed will be used.\nThis API should be used in preference to the update a price. It should be called no sooner than 24 hours after a new item is set up and a wpid (Walmart Part ID) is available. Thereafter, the bulk price update has an service level agreement (SLA) of 15 minutes.\n\nAfter the update is submitted, wait for at least five minutes before verifying whether the bulk price update was successful. Individual SKU price update success or failure is only available after the entire feed is processed.\n\nIf a SKU's price update fails (for example, multiple price updates were sent for the same SKU in a single feed), an error will be returned. \n\n<b>You can download the request body sample from <a href=\"/file/mp/us/price-feed.zip\">here</a></b>","operationId":"priceBulkUploads","parameters":[{"name":"feedType","in":"query","description":"The feed Type","required":true,"schema":{"type":"string","enum":["price","CPT_SELLER_ELIGIBILITY"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"The request body consists of a Feed file attached to the request based on the feedType selected ","content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Feed file to upload","format":"binary"}}},"examples":{"json1":{"value":{"PriceHeader":{"version":"1.7"},"Price":[{"sku":"30348_KFTest","pricing":[{"currentPrice":{"currency":"USD","amount":3},"currentPriceType":"REDUCED","comparisonPriceType":"BASE","comparisonPrice":{"currency":"USD","amount":4.99}}]},{"sku":"OT-PP7F-QGUG","pricing":[{"currentPrice":{"currency":"USD","amount":3},"currentPriceType":"REDUCED","comparisonPriceType":"BASE","comparisonPrice":{"currency":"USD","amount":4.99}}]}]}},"xml1":{"value":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<PriceFeed xmlns=\"http://walmart.com/\">\n    <PriceHeader>\n        <version>1.5.1</version>\n    </PriceHeader>\n    <Price>\n        <itemIdentifier>\n            <sku>30348_KFTest</sku>\n        </itemIdentifier>\n        <pricingList>\n            <pricing>\n                <currentPrice>\n                    <value currency=\"USD\" amount=\"4.00\"/>\n                </currentPrice>\n            </pricing>\n        </pricingList>\n    </Price>\n    <Price>\n        <itemIdentifier>\n            <sku>OT-PP7F-QGUG</sku>\n        </itemIdentifier>\n        <pricingList>\n            <pricing>\n                <currentPrice>\n                    <value currency=\"USD\" amount=\"4.00\"/>\n                </currentPrice>\n            </pricing>\n        </pricingList>\n    </Price>\n</PriceFeed>\n"}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file"},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":{"feedId":"14066B6642344B76A8B77AC094F8C63B@AVMBAgA"}},"application/xml":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file"},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>55DE8A53B09F41BBBF261C1AB5FB2BC8@AVMBAgA</ns2:feedId>\n</ns2:FeedAcknowledgement>"}}}}}},"/v3/feeds?feedType=PRICE_AND_PROMOTION":{"post":{"tags":["Prices"],"summary":"Update pricing for multiple items in bulk (New)","description":"Updates prices and promotions in bulk for multiple items. You can modify the prices of multiple items in bulk using a price feed. This is useful for implementing pricing strategies across your catalog, such as seasonal discounts, competitive pricing adjustments, or clearance sales.\n\nEach price feed can contain up to 10,000 items. To ensure optimal performance (feed processing time), we recommend limiting feeds to 1,000 items and keeping the payload under 10 MB.\n\nUse this API instead of the single price update API when updating prices for multiple items. For newly created items, ensure that the Walmart Part ID (WPID) has been assigned and that at least 24 hours have passed since item creation before submitting a bulk price update feed. The bulk price update Service Level Agreement (SLA) is 15 minutes.\n\nThe price sequence guarantee is observed by the bulk price update functionality, subject to the following rules:\n\n<ul><li>You may include the same Stock Keeping Unit (SKU) multiple times in a single feed. However, if a SKU is repeated in a feed, only one price will be applied.</li><li>The price sequence guarantee ensures that the latest price update, based on its creation timestamp, is the one that changes the item's price, overwriting the previous version.</li><li>Price updates received with an earlier timestamp are ignored. We recommend using UTC timestamps for the value of <code>feedDate</code> in all feed-based bulk updates.</li></ul>\n\nAfter submitting the price feed, wait at least 5 minutes before checking whether the bulk price update was successful. If a price update fails, for example, due to duplicate SKU entries, an error response will be returned.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/update-bulk-prices\">Pricing API Guide</a>.","parameters":[{"name":"feedType","in":"query","description":"The type of feed, which specifies the nature of the update.","required":true,"schema":{"type":"string","enum":["PRICE_AND_PROMOTION"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"The request body consists of a feed file in JSON format, structured based on the selected`feedType`.","content":{"application/json":{"schema":{"type":"object","properties":{"MPItemFeedHeader":{"type":"object","properties":{"businessUnit":{"type":"string","description":"The business unit for which the feed is submitted. For example, use 'Walmart_US' for U.S. Marketplace.","example":"WALMART_US"},"version":{"type":"string","description":"The version of the feed schema being used.","example":"2.0.20240126-12_25_52-api"},"locale":{"type":"string","description":"The locale code for the content in the feed. For example, 'en' for English.","example":"en"}}},"MPItem":{"type":"array","description":"Pricing and promotional information for a specific item.","items":{"type":"object","properties":{"Promo&Discount":{"type":"object","properties":{"sku":{"type":"string","description":"The SKU of the item for which the price is being updated.","example":"SKU00638931255307"},"price":{"type":"number","format":"double","description":"The current selling price of the item on Walmart.com.","example":11},"msrp":{"type":"number","format":"double","description":"The manufacturer's suggested retail price (MSRP) for the item.","example":15}}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file."},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":{"feedId":"14066B6642344B76A8B77AC094F8C63B@AVMBAgA"}}}}}}},"/v3/feeds?feedType=WALMART_FUNDED_INCENTIVES_ENROLLMENT":{"post":{"tags":["Prices"],"summary":"Update walmart-funded incentives enrollment for specific items","description":"Updates the enrollment status of specific items in the Walmart-funded incentives program. By default, all items are auto-enrolled in Walmart-funded incentives, meaning that eligible items are automatically included in this program to benefit from price reductions funded by Walmart.\n\nYou have the flexibility to modify the enrollment status for specific items using this API: <ul><li>Opt-Out - Use this option to opt-out of Walmart-funded incentives for specific items for which you do not want to lower the price.</li> <li>Opt-in - Use this option to opt-in items that were previously opted-out from Walmart-funded incentives. For instance, you can re-enroll items in Walmart-funded incentives programs at any time depending on your business needs.</li></ul>\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/manage-enrollment-specific-items-in-walmart-funded-incentives\">Pricing API Guide</a>.","operationId":"walmartFundedIncentivesEnrollment","parameters":[{"name":"feedType","in":"query","description":"Specifies the feed operation.","required":true,"schema":{"type":"string","enum":["WALMART_FUNDED_INCENTIVES_ENROLLMENT"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Feed payload to update Walmart-funded incentives enrollment (opt-in or opt-out) for one or more SKUs.","content":{"application/json":{"schema":{"type":"object","properties":{"ProgramActionFeedHeader":{"type":"object","properties":{"requestId":{"type":"string","description":"A unique identifier that identifies this feed and is used to track this request.","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","description":"The identifier used to group multiple related feed submissions.","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","description":"Specifies targetPrice processing behavior for this feed.","example":"REPLACE"},"subset":{"type":"string","description":"Specifies the ownership source for the data.","example":"EXTERNAL"},"sellingChannel":{"type":"string","description":"Specifies the selling channel targeted by this feed.","example":"online"},"version":{"type":"string","description":"The feed schema version used by the payload.","example":"5.0.20240805-15_25_31"},"locale":{"type":"string","description":"Specifies the locale code for the feed content.","example":"en"},"feedDate":{"type":"string","description":"The UTC timestamp indicating when the feed was generated.","format":"date-time","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","description":"The feed type recorded in the header for internal processing.","example":"PROGRAM_ACTIONS"}}},"ProgramAction":{"type":"array","items":{"type":"object","properties":{"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","description":"Seller defined SKU for the item whose incentive enrollment is being updated.","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"WalmartFundedIncentivesEnrollment":{"type":"object","properties":{"walmartFundedIncentivesEnrollment":{"type":"string","example":"Opt-in","description":"Enrollment action for Walmart-funded incentives.","enum":["Opt-in","Opt-out"]}}}}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file,"},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":{"feedId":"14066B6642344B76A8B77AC094F8C63B@AVMBAgA"}},"application/xml":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file."},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>55DE8A53B09F41BBBF261C1AB5FB2BC8@AVMBAgA</ns2:feedId>\n</ns2:FeedAcknowledgement>"}}}}}},"/v3/feeds?feedType=INCENTIVE_ENROLLMENT":{"post":{"tags":["Prices"],"summary":"Update reduced referral fee incentives enrollment","description":"You can use this API endpoint to enroll any eligible item to Reduced Referral Fee incentive. You can also use this endpoint to unenroll any items from active Reduced Referral Fee incentives. \n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/enroll-in-reduced-referral-fee-incentives\">Pricing API Guide</a>.","operationId":"reducedReferralFeeIncentivesEnrollment","parameters":[{"name":"feedType","in":"query","description":"The feed Type for Reduced Referral Fee incentive enroll or unenroll actions.","required":true,"schema":{"type":"string","enum":["INCENTIVE_ENROLLMENT"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Submit a feed with one or more SKU-level changes to the Reduced Referral Fee incentives program. For each SKU, set `referralFeeIncentiveEnrollment` to `Y` to enroll (opt in) or `N` to unenroll (opt out).","content":{"application/json":{"schema":{"type":"object","properties":{"ProgramActionFeedHeader":{"type":"object","description":"Metadata describing the feed submission.","properties":{"requestId":{"type":"string","description":"Unique identifier for this feed submission (GUID recommended).","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","description":"Identifier for the batch of actions contained in this request. Use the same value as `requestId` for single-batch submissions.","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","description":"Specifies the processing behavior for this feed. Use `REPLACE` to overwrite any previous enrollment settings for the SKUs in this feed.","example":"REPLACE"},"subset":{"type":"string","description":"Indicates the data source used by the feed. Use `External` for partner-submitted feeds.","example":"EXTERNAL"},"sellingChannel":{"type":"string","description":"Indicates the target sales channel.","example":"online"},"version":{"type":"string","description":"Specifies the feed schema version.","example":"5.0.20250322-01_07_46"},"locale":{"type":"string","description":"Locale code for the feed content.","example":"en"},"feedDate":{"type":"string","format":"date-time","description":"The timestamp when the feed was generated, in ISO 8601 UTC format.","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","description":"The feed type for Reduced Referral Fee incentive enroll/unenroll actions. Must be `INCENTIVE_ENROLLMENT`","example":"INCENTIVE_ENROLLMENT"}}},"ProgramAction":{"type":"array","description":"List of per-SKU enrollment updates for the Reduced Referral Fee incentives.","items":{"type":"object","description":"An action that targets a single SKU and sets its enrollment state.","properties":{"ItemIdentifiers":{"type":"object","description":"Identifier(s) to the target item. ","properties":{"sku":{"type":"string","description":"The seller-defined SKU that uniquely identifies the item.","example":"SKU-121212121212"}}},"Programs":{"type":"object","description":"Container for program-specific enrollment directives.","properties":{"IncentivesEnrollment":{"type":"object","description":"Reduced Referral Fee incentive enrollment directive for this SKU.","properties":{"referralFeeIncentiveEnrollment":{"type":"string","description":"Set to `Y` to enroll (opt in) this SKU in the Reduced Referral Fee incentives program, or `N` to unenroll (opt out).","enum":["Y","N"],"example":"Y"},"incentiveType":{"type":"string","example":"The incentive program targeted by this action. For example, Reduced Referral Fee."},"incentiveId":{"type":"string","description":"Optional program identifier used by Walmart for specific incentive campaigns. Provide if supplied; otherwise omit or set to `null`.","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710","default":null}}}}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file."},"message":{"type":"string","description":"Your items were successfully enrolled in the Reduced Referral Fee incentives."},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":{"feedId":"14066B6642344B76A8B77AC094F8C63B@AVMBAgA","message":"Your items are enrolled in Reduced Referral Fee incentives. Prices will adjust to the incentive thresholds within 4 hours. These incentives will apply until their expiration, but lower prices may continue to apply afterward."}},"application/xml":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file."},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>55DE8A53B09F41BBBF261C1AB5FB2BC8@AVMBAgA</ns2:feedId>\n     <ns2:message>Your items are enrolled in Reduced Referral Fee incentives. Prices will adjust to the incentive thresholds within 4 hours. These incentives will apply until their expiration, but lower prices may continue to apply afterward.</ns2:message>\n </ns2:FeedAcknowledgement>"}}}}}},"/v3/cppreference":{"post":{"tags":["Prices"],"summary":"Set up CAP SKU All (Legacy)","description":"This API helps Sellers to completely opt-in or opt-out from CAP program.\n\nIf the subsidyEnrolled value = \"true\", the Seller enrolls in the CAP program. All eligible SKUs (current and future) are by default opt-in. Seller should use the SKU opt-in/opt-out API to opt-out individual items.\n\nIf the subsidyEnrolled value = \"false\", the Seller stops participating in the CAP program and all eligible SKUs (current and future) are opt-out of the CAP program.","externalDocs":{"description":"View Guide","url":"/doc/us/mp/us-mp-price/#1290"},"operationId":"optCapProgramInPrice","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"subsidyEnrolled":{"type":"boolean","description":"A Boolean parameter that allows all sellers to completely enroll in or out of the Competitive Price Adjustment program"},"subsidyPreference":{"type":"boolean","description":"A Boolean parameter that determines whether offer level subsidy setting override seller level subsidy setting"}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"martId":{"type":"string","description":"A unique ID that a user or seller uses for a marketplace."},"statusInfo":{"type":"object","properties":{"subsidyEnrolled":{"type":"boolean","description":"A Boolean parameter that allows all sellers to completely enroll in or out of the Competitive Price Adjustment program"},"subsidyPreference":{"type":"boolean","description":"A Boolean parameter that determines whether offer level subsidy setting override seller level subsidy setting"}}}}}}}}}}},"/v3/repricer/strategies":{"get":{"tags":["Prices"],"summary":"Retrieve repricer strategy details","description":"Retrieves the details of a specific repricer strategy that was previously created for items in Walmart Marketplace.\n\n Use this API to view the list of strategies used and details about the strategy including the strategy collection name, status, assigned items count, and strategy type.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/get-repricer-strategy\">Pricing API Guide</a>.","operationId":"getStrategies","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"totalElements":{"type":"integer","description":"The total number of strategy collections returned by this request.","format":"int32","example":1},"strategyCollections":{"type":"array","items":{"type":"object","properties":{"repricerStrategy":{"type":"string","description":"Name of the repricer strategy collection.","example":"Buy Box Strategy For testing"},"strategyCollectionId":{"type":"string","description":"Unique identifer of the repricer strategy collection.","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","description":"Indicates whether this strategy collection is currently active.","example":true},"assignedCount":{"type":"integer","description":"The number of items that are assigned to this strategy collection.","format":"int32","example":1},"enableRepricerForPromotion":{"type":"boolean","description":"If `true`, the repricer can operate during promotions.","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","description":"If `true`, revert to the seller price when no target or benchmark price is available.","example":true},"enableBuyboxMeetExternal":{"type":"boolean","description":"If `true`, attempt to meet the external buy box price when applicable.","example":true},"compareWith3pOfferOnly":{"type":"boolean","description":"If `true`, compare against third-party offers only. ","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","description":"The type of pricing strategy used by this strategy.","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","description":"Specifies how the price adjustment is applied.","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","description":"Specifies the value by which you want your offer to beat other offers.","format":"double","example":1.2}}}}}}}}}}}}}}},"/v3/price/incentives":{"get":{"tags":["Prices"],"summary":"Retrieve price incentives data","description":"Retrieves a comprehensive list of all price incentives available for items in your catalog.\n\nThe response includes detailed information such as Item ID, Product Name, Product URL, SKU ID, Target Price, current Price, Incentive Type, Incentive Status, Base referral fee, Reduced Referral Fee, Enrollment Type, Inventory count, Enrollment Date (epoch Timestamp), Expiration date (epoch timestamp), Start date (epoch timestamp), and Incentive ID.\n\nFor Walmart-funded items, the Target Price, Expiration Date, Start Date, Incentive ID, Reduced Referral Fee, and Enrollment Type will not be displayed (null values). Additionally, Enrollment Type and Date will not be shown for items eligible for Reduced Referral Fee incentives.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/retrieve-price-incentives-data\">Pricing API Guide</a>.","parameters":[{"name":"limit","in":"query","description":"Specifies the number of items to return. Allowed range is 1 to 200. Default is 25.","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"offset","in":"query","description":"Specifies the offset of item list to be returned. Minimum offset value is 0.","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sortBy","in":"query","description":"Specifies the sort criteria for items.","required":false,"schema":{"type":"string","default":"EXPIRATION_DATE","enum":["ITEM_ID","PRODUCT_NAME","CURRENT_PRICE","EXPIRATION_DATE","ENROLLMENT_DATE"]}},{"name":"sortOrder","in":"query","description":"Specifies the sort order for given sort criteria.","required":false,"schema":{"type":"string","default":"DESC","enum":["ASC","DESC"]}},{"name":"incentiveType","in":"query","description":"Specifies the incentive type to filter the incentive items.","required":false,"schema":{"type":"string","enum":["REDUCED_REFERRAL","WALMART_FUNDED"]}},{"name":"incentiveStatus","in":"query","description":"Specifies the incentive status to retrieve items with `ELIGIBLE` or `ENROLLED` incentives.","required":true,"schema":{"type":"string","default":"ELIGIBLE","enum":["ELIGIBLE","ENROLLED"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"pageContext":{"type":"object","properties":{"pageNo":{"type":"integer","description":"The current page number in the result set.","format":"int32","example":1},"currentPageCount":{"type":"integer","description":"The number of items included in this page.","format":"int32","example":1},"totalCount":{"type":"integer","description":"The total number of items matching the filter criteria.","format":"int32","example":10},"totalPages":{"type":"integer","description":"The total number of pages available for the current query.","format":"int32","example":1}},"description":"Pagination metadata for the response."},"items":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","description":"Walmart item identifier.","example":"649861121"},"productName":{"type":"string","description":"Name of the item.","example":"Fake Firearm"},"productUrl":{"type":"string","description":"Product detail page URL","example":"http://producturl"},"productImageUrl":{"type":"string","description":"Product image url","example":"http://imageurl"},"skuId":{"type":"string","description":"Seller SKU identifier for the item.","example":"sku123"},"currentPrice":{"type":"number","description":"Current offer price.","format":"double","example":20.5},"targetPrice":{"type":"number","description":"Target price for the incentive, when applicable.","format":"double","example":20},"shippingPrice":{"type":"number","description":"Shipping charge associated with the offer.","format":"double","example":2},"incentiveType":{"type":"string","description":"Type of incentive applied to the item","enum":["REDUCED_REFERRAL","WALMART_FUNDED"],"example":"REDUCED_REFERRAL"},"baseReferralFee":{"type":"number","description":"Standard referral fee amount before any reduction.","format":"double","example":8},"reducedReferralFee":{"type":"number","description":"Reduced referral fee amount, when eligible.","format":"double","example":7},"enrollmentType":{"type":"string","description":"Specifies how the item was enrolled in the incentive.","enum":["MANUAL","AUTO"],"example":"MANUAL"},"enrollmentDate":{"type":"string","description":"Enrollment timestamp as epoch milliseconds, represented as a string.","example":"1652857199000"},"incentiveStatus":{"type":"string","description":"Current incentive status for the item.","enum":["New","ELIGIBLE","ENROLLED"],"example":"NEW"},"inventoryCount":{"type":"number","description":"Available inventory quantity.","example":"200"},"startDate":{"type":"string","description":"Incentive start timestamp as epoch milliseconds.","example":"1660805999000"},"expirationDate":{"type":"string","description":"Incentive end timestamp as epoch milliseconds.","example":"1660805999000"},"incentiveId":{"type":"string","description":"Unique identifier of the incentive, if applicable.","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710"}}}}}}}}}}}},"/v3/price/incentives/wfpreference":{"put":{"tags":["Prices"],"summary":"Update Walmart-funded incentives enrollment for all items","description":"Updates the enrollment status of all items in the Walmart-funded incentives program. By default, all items are auto-enrolled in Walmart-funded incentives, meaning that eligible items are automatically included in these programs to benefit from price reductions funded by Walmart.\n\nIf you wish to permanently turn off Walmart-funded incentives for all items in your catalog, you can use this API to set the Walmart-funded incentives program status to `OFF`. The default value of this variable is `ON`. Any changes to preferences will lock in (disable) the preference option for a period of 4 hours, as indicated by the `isDisabled` response field of the API.\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/manage-enrollment-all-items-in-walmart-funded-incentives\">Pricing API Guide</a>","operationId":"updateWalmartFundedIncentivesEnrollmentStatus","parameters":[{"name":"autoEnrollEnabled","in":"query","description":"Specify the boolean for enabling auto enrollment. Examples of the allowed values are `true` or `false`.","required":true,"schema":{"type":"boolean","default":true}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"autoEnrollEnabled":{"type":"boolean","description":"Effective global auto-enrollment setting after the update. `True` means the Walmart-funded incentives program is on for all items.","example":true},"isDisabled":{"type":"boolean","description":"Indicates whether the preference control is locked (disabled) from further changes, typically for about 4 hours after a change.","example":true}}}}}}}}},"/v3/price/getPricingInsights":{"post":{"tags":["Prices"],"summary":"Get Pricing Insights","description":"Retrieve pricing insights with filters, sorting, and pagination.Use this API to get comprehensive pricing insights for your items on Walmart Marketplace. You can query your catalog for various pricing attributes, including current price, Buy Box pricing information, competitive pricing information, repricer details, and more.","operationId":"PricingInsights","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"filter":{"type":"array","items":{"type":"object","required":["name","operator","value"],"properties":{"name":{"type":"string","enum":["buyBoxWinRate","priceCompetitiveness","gmvL30D","traffic","itemPublishStatus","isInDemand"]},"operator":{"type":"string","enum":["BETWEEN","IN"]},"value":{"oneOf":[{"title":"Range (Min, Max)","description":"Use this when operator is 'BETWEEN'. The array must contain two numbers in the order: [min, max].","type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},{"title":"List of Values","description":"Use this when operator is 'IN'. A list of accepted string values.","type":"array","items":{"type":"string"},"minItems":1}]}}}},"searchCriteria":{"type":"object","properties":{"searchField":{"type":"string","enum":["SKU"]},"searchValue":{"type":"array","items":{"type":"string"}}}},"sort":{"type":"object","properties":{"sortField":{"type":"string","enum":["PRICE_COMPETITIVE_SCORE","GMVL30D","PAGE_VIEWS","BUY_BOX_WIN_RATE","REFERENCE_PRICE","IS_IN_DEMAND","TRAFFIC"]},"sortOrder":{"type":"string","enum":["ASC","DESC"]}}},"pageNumber":{"type":"integer","minimum":0}},"required":["pageNumber"]},"example":{"filter":[{"name":"buyBoxWinRate","operator":"BETWEEN","value":[0,75]},{"name":"priceCompetitiveness","operator":"BETWEEN","value":[0,100]},{"name":"gmvL30D","operator":"BETWEEN","value":[0,100]}],"searchCriteria":{"searchField":"SKU","searchValue":["21203526","Candle-lavender-green-tea","504312(1)","hvff"]},"sort":{"sortField":"GMVL30D","sortOrder":"DESC"},"pageNumber":0}}}},"parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"pageContext":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32","example":0},"currentPageCount":{"type":"integer","format":"int32","example":0},"totalCount":{"type":"integer","format":"int32","example":4},"totalPages":{"type":"integer","format":"int32","example":0}}},"pricingInsightsResponseList":{"type":"array","items":{"type":"object","description":"The suggested price and its corresponding driver are always returned together. Either both `suggestedPrice` and `suggestedPriceDriver` are present, or both are null.","properties":{"itemName":{"type":"string","example":"Sambazon Sambazon; Inc. Jungle Love Amazon Energy Drink Acai Passion Fruit, 12 oz - Case of 12"},"sku":{"type":"string","example":"21203526"},"currentPrice":{"type":"number","format":"double","nullable":true,"example":10},"buyBoxBasePrice":{"type":"number","format":"double","nullable":true,"example":28.57},"buyBoxTotalPrice":{"type":"number","format":"double","nullable":true,"example":44.07},"buyBoxWinRate":{"type":"string","example":"0.0"},"competitorPrice":{"type":"number","format":"double","nullable":true,"example":38.17},"comparisonPrice":{"type":"number","format":"double","nullable":true,"example":12},"fulfillment":{"type":"string","nullable":true,"example":"SELLER_FULFILLED"},"inventoryCount":{"type":"integer","nullable":true,"example":null},"repricerStrategyType":{"type":"string","nullable":true,"example":null},"repricerStrategyName":{"type":"string","nullable":true,"example":null},"repricerStatus":{"type":"string","nullable":true,"example":null},"repricerMinPrice":{"type":"number","format":"double","nullable":true,"example":null},"repricerMaxPrice":{"type":"number","format":"double","nullable":true,"example":null},"priceCompetitiveScore":{"type":"number","format":"double","example":0},"promoStatus":{"type":"string","nullable":true,"example":null},"potentialGmvLift":{"type":"number","format":"double","nullable":true,"example":null},"gmv30":{"type":"number","format":"double","example":0},"inDemand":{"type":"boolean","example":false},"priceDifferential":{"type":"string","nullable":true,"example":null},"traffic":{"type":"string","nullable":true,"example":null},"priceCompetitive":{"type":"boolean","example":true},"reducedReferralStatus":{"type":"string","nullable":true,"example":null},"walmartFundedStatus":{"type":"string","nullable":true,"example":"INACTIVE_OPT_IN"},"suggestedPrice":{"type":"number","format":"double","nullable":true,"description":"Walmart's recommended price for the SKU.","minimum":0,"multipleOf":0.01,"example":18.75},"suggestedPriceDriver":{"type":"string","nullable":true,"description":"Signal that drove the price suggestion. For example, Buy Box price.","enum":["BUYBOX_PRICE","COMPETITOR_PRICE","WALMART_SUGGESTED_PRICE","REFERENCE_PRICE","COMPARISON_PRICE","NONE"],"example":"COMPARISON_PRICE"}}}}}}}}}}}}},"components":{"schemas":{"IncentivesEnrollment":{"type":"object","properties":{"referralFeeIncentiveEnrollment":{"type":"string","example":"Y"},"incentiveType":{"type":"string","example":"Reduced Referral Fee"},"incentiveId":{"type":"string","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710"}}},"ProgramActionFeedRequestIncentive":{"type":"object","properties":{"ProgramActionFeedHeader":{"type":"object","properties":{"requestId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"sellingChannel":{"type":"string","example":"online"},"version":{"type":"string","example":"5.0.20250322-01_07_46"},"locale":{"type":"string","description":"en","example":"en"},"feedDate":{"type":"string","format":"date-time","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","example":"INCENTIVE_ENROLLMENT"}}},"ProgramAction":{"type":"array","items":{"type":"object","properties":{"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"IncentivesEnrollment":{"type":"object","properties":{"referralFeeIncentiveEnrollment":{"type":"string","example":"Y"},"incentiveType":{"type":"string","example":"Reduced Referral Fee"},"incentiveId":{"type":"string","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710"}}}}}}}}}},"ProgramActionIncentive":{"type":"object","properties":{"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"IncentivesEnrollment":{"type":"object","properties":{"referralFeeIncentiveEnrollment":{"type":"string","example":"Y"},"incentiveType":{"type":"string","example":"Reduced Referral Fee"},"incentiveId":{"type":"string","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710"}}}}}}},"ProgramsIncentive":{"type":"object","properties":{"IncentivesEnrollment":{"type":"object","properties":{"referralFeeIncentiveEnrollment":{"type":"string","example":"Y"},"incentiveType":{"type":"string","example":"Reduced Referral Fee"},"incentiveId":{"type":"string","example":"d9c8b7f9-ff0c-461e-8d1f-d3064c156710"}}}}},"ProgramActionFeedRequest":{"type":"object","properties":{"ProgramActionFeedHeader":{"type":"object","properties":{"requestId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"sellingChannel":{"type":"string","example":"online"},"version":{"type":"string","example":"5.0.20240805-15_25_31"},"locale":{"type":"string","description":"en","example":"en"},"feedDate":{"type":"string","format":"date-time","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","example":"PROGRAM_ACTIONS"}}},"ProgramAction":{"type":"array","items":{"type":"object","properties":{"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"WalmartFundedIncentivesEnrollment":{"type":"object","properties":{"walmartFundedIncentivesEnrollment":{"type":"string","example":"Opt-in"}}}}}}}}}},"ProgramActionFeedHeader":{"type":"object","properties":{"requestId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"sellingChannel":{"type":"string","example":"online"},"version":{"type":"string","example":"5.0.20240805-15_25_31"},"locale":{"type":"string","description":"en","example":"en"},"feedDate":{"type":"string","format":"date-time","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","example":"PROGRAM_ACTIONS"}}},"ProgramActionFeedHeaderIncentive":{"type":"object","properties":{"requestId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"requestBatchId":{"type":"string","example":"0a90b332-1f92-40f4-afb1-92301f5d828e"},"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"sellingChannel":{"type":"string","example":"online"},"version":{"type":"string","example":"5.0.20250322-01_07_46"},"locale":{"type":"string","description":"en","example":"en"},"feedDate":{"type":"string","format":"date-time","example":"2024-07-11T00:29:58Z"},"feedType":{"type":"string","example":"INCENTIVE_ENROLLMENT"}}},"ProgramAction":{"type":"object","properties":{"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"WalmartFundedIncentivesEnrollment":{"type":"object","properties":{"walmartFundedIncentivesEnrollment":{"type":"string","example":"Opt-in"}}}}}}},"ItemIdentifiers":{"type":"object","properties":{"sku":{"type":"string","example":"SKU-121212121212"}}},"Programs":{"type":"object","properties":{"WalmartFundedIncentivesEnrollment":{"type":"object","properties":{"walmartFundedIncentivesEnrollment":{"type":"string","example":"Opt-in"}}}}},"WalmartFundedIncentivesEnrollment":{"type":"object","properties":{"walmartFundedIncentivesEnrollment":{"type":"string","example":"Opt-in"}}},"RepricerEntityResponse":{"type":"object","properties":{"repricerStrategy":{"type":"string","example":"Buy Box Strategy For testing"},"strategyCollectionId":{"type":"string","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","example":true},"enableRepricerForPromotion":{"type":"boolean","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","example":true},"enableBuyboxMeetExternal":{"type":"boolean","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}},"RepricerStrategyType":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}},"RepricerEntityRequest":{"type":"object","properties":{"repricerStrategy":{"type":"string","description":"Name of the Strategy Collection","example":"Buy Box Strategy For testing"},"enabled":{"type":"boolean","description":"Status of the Strategy Collection","example":true},"enableRepricerForPromotion":{"type":"boolean","description":"Status of item on promotions to be enable on repricer","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","description":"Reprice back to last submitted price","example":true},"enableBuyboxMeetExternal":{"type":"boolean","description":"Flag to meet external and beat buybox price, applicable only for Buy Box Strategy.","example":true},"strategies":{"type":"array","description":"Strategies","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}},"ErrorResponseDto":{"type":"object","properties":{"errorMessage":{"type":"string","example":"SKU XX is not eligible for price incentives and will not be price adjusted"}}},"UpdateRepricerIncentiveResponse":{"type":"object","properties":{"feedId":{"type":"string","example":"AFEE4EEC9C3541B6A7B58E694416EC82@AUoBAwA"},"errors":{"type":"array","items":{"type":"object","properties":{"errorMessage":{"type":"string","example":"SKU XX is not eligible for price incentives and will not be price adjusted"}}}}}},"UpdateRepricerIncentiveRequest":{"required":["skus"],"type":"object","properties":{"skus":{"type":"array","description":"selected skus","items":{"type":"string","description":"selected skus"}}}},"Cause":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}},"GatewayError":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}},"ItemPriceResponse":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"A message of acknowledgement for a price update","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"ComparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"CurrentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"Price":{"required":["pricing","sku"],"type":"object","properties":{"offerId":{"type":"string","description":"This is applicable only for promotions"},"sku":{"type":"string"},"replaceAll":{"type":"string","description":"This is applicable only for promotions","enum":["true","false"]},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"expirationDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"promoId":{"type":"string","description":"This is applicable only for promotions"},"processMode":{"type":"string","description":"This is applicable only for promotions","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","description":"This is applicable only for both promotions and price","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"comparisonPriceType":{"type":"string","description":"This is applicable only for promotions","enum":["BASE"]},"comparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"priceDisplayCodes":{"type":"string","description":"Represent promo placement. This is applicable only for promotions","enum":["CART","CHECKOUT"]}}}},"definitions":{"type":"object"}}},"Pricing":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"expirationDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"promoId":{"type":"string","description":"This is applicable only for promotions"},"processMode":{"type":"string","description":"This is applicable only for promotions","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","description":"This is applicable only for both promotions and price","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"comparisonPriceType":{"type":"string","description":"This is applicable only for promotions","enum":["BASE"]},"comparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"priceDisplayCodes":{"type":"string","description":"Represent promo placement. This is applicable only for promotions","enum":["CART","CHECKOUT"]}}},"FeedUploadResponseDTO":{"type":"object","properties":{"feedId":{"type":"string","example":"AFEE4EEC9C3541B6A7B58E694416EC82@AUoBAwA"}}},"FeedItemsHeaderRequestDTO":{"type":"object","properties":{"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"mart":{"type":"string","example":"WALMART_US"},"sellingChannel":{"type":"string","example":"repricerstrategy"},"version":{"type":"string","example":"1.1"},"locale":{"type":"string","example":"en"}}},"FeedItemsRequestDTO":{"type":"object","properties":{"sku":{"type":"string","example":"06068064605122shoe"},"repricerStrategy":{"type":"string","example":"Match Competitive Price"},"minimumSellerAllowedPrice":{"type":"number","format":"double","example":7.2},"maximumSellerAllowedPrice":{"type":"number","format":"double","example":8}}},"FeedUploadRequestDTO":{"type":"object","properties":{"ItemFeedHeader":{"type":"object","properties":{"processMode":{"type":"string","example":"REPLACE"},"subset":{"type":"string","example":"EXTERNAL"},"mart":{"type":"string","example":"WALMART_US"},"sellingChannel":{"type":"string","example":"repricerstrategy"},"version":{"type":"string","example":"1.1"},"locale":{"type":"string","example":"en"}}},"Item":{"type":"array","items":{"type":"object","properties":{"Strategy":{"type":"object","properties":{"sku":{"type":"string","example":"06068064605122shoe"},"repricerStrategy":{"type":"string","example":"Match Competitive Price"},"minimumSellerAllowedPrice":{"type":"number","format":"double","example":7.2},"maximumSellerAllowedPrice":{"type":"number","format":"double","example":8}}}}}}}},"StrategyDetailsRequestDTO":{"type":"object","properties":{"Strategy":{"type":"object","properties":{"sku":{"type":"string","example":"06068064605122shoe"},"repricerStrategy":{"type":"string","example":"Match Competitive Price"},"minimumSellerAllowedPrice":{"type":"number","format":"double","example":7.2},"maximumSellerAllowedPrice":{"type":"number","format":"double","example":8}}}}},"FeedId":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the feed file"},"additionalAttributes":{"type":"object","nullable":true},"errors":{"type":"object","nullable":true}}},"CapProgramResponse":{"type":"object","properties":{"martId":{"type":"string","description":"A unique ID that a user or seller uses for a marketplace."},"statusInfo":{"type":"object","properties":{"subsidyEnrolled":{"type":"boolean","description":"A Boolean parameter that allows all sellers to completely enroll in or out of the Competitive Price Adjustment program"},"subsidyPreference":{"type":"boolean","description":"A Boolean parameter that determines whether offer level subsidy setting override seller level subsidy setting"}}}}},"StatusInfo":{"type":"object","properties":{"subsidyEnrolled":{"type":"boolean","description":"A Boolean parameter that allows all sellers to completely enroll in or out of the Competitive Price Adjustment program"},"subsidyPreference":{"type":"boolean","description":"A Boolean parameter that determines whether offer level subsidy setting override seller level subsidy setting"}}},"RepricerEntityCollectionResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int32","example":1},"strategyCollections":{"type":"array","items":{"type":"object","properties":{"repricerStrategy":{"type":"string","example":"Buy Box Strategy For testing"},"strategyCollectionId":{"type":"string","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","example":true},"assignedCount":{"type":"integer","format":"int32","example":1},"enableRepricerForPromotion":{"type":"boolean","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","example":true},"enableBuyboxMeetExternal":{"type":"boolean","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}}}}},"RepricerEntityGetResponse":{"type":"object","properties":{"repricerStrategy":{"type":"string","example":"Buy Box Strategy For testing"},"strategyCollectionId":{"type":"string","example":"41678999-a088-4fd8-9eb4-55f8d8ed4ac8"},"enabled":{"type":"boolean","example":true},"assignedCount":{"type":"integer","format":"int32","example":1},"enableRepricerForPromotion":{"type":"boolean","example":true},"restoreSellerPriceWithoutTarget":{"type":"boolean","example":true},"enableBuyboxMeetExternal":{"type":"boolean","example":true},"strategies":{"type":"array","items":{"type":"object","properties":{"strategyType":{"type":"string","enum":["Buy Box Price","External Price","Competitive Price"]},"adjustmentType":{"type":"string","enum":["UNIT","PERCENTAGE"]},"adjustmentValue":{"type":"number","format":"double","example":1.2}}}}}},"RepricerIncentiveCollectionResponse":{"type":"object","properties":{"totalItems":{"type":"integer","format":"int32","example":1},"items":{"type":"array","items":{"type":"object","properties":{"productName":{"type":"string","example":"Ring Defense"},"skuId":{"type":"string","example":"sku123"},"sellerPrice":{"type":"number","format":"double","example":22},"floorPrice":{"type":"number","format":"double","example":14},"incentiveLimit":{"type":"number","format":"double","example":3},"incentiveStartDate":{"type":"string","example":"2023-06-22"},"incentiveEndDate":{"type":"string","example":"2023-07-22"},"shippingPrice":{"type":"number","format":"double","example":0},"competitivePrice":{"type":"number","format":"double","example":21},"competitorShippingPrice":{"type":"number","format":"double","example":1},"competitorUrl":{"type":"string","example":"amazon.com/dp/123"}}}}}},"RepricerIncentiveItems":{"type":"object","properties":{"productName":{"type":"string","example":"Ring Defense"},"skuId":{"type":"string","example":"sku123"},"sellerPrice":{"type":"number","format":"double","example":22},"floorPrice":{"type":"number","format":"double","example":14},"incentiveLimit":{"type":"number","format":"double","example":3},"incentiveStartDate":{"type":"string","example":"2023-06-22"},"incentiveEndDate":{"type":"string","example":"2023-07-22"},"shippingPrice":{"type":"number","format":"double","example":0},"competitivePrice":{"type":"number","format":"double","example":21},"competitorShippingPrice":{"type":"number","format":"double","example":1},"competitorUrl":{"type":"string","example":"amazon.com/dp/123"}}},"RepricerEntityDeleteResponse":{"type":"object","properties":{"message":{"type":"string","example":"Strategy with Strategy Collection Id : 41678999-a088-4fd8-9eb4-55f8d8ed4ac8 deleted successfully"}}},"UpdateStatus":{"type":"object","properties":{"autoEnrollEnabled":{"type":"boolean","example":true},"isDisabled":{"type":"boolean","example":true}}},"PageContext":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32","example":1},"currentPageCount":{"type":"integer","format":"int32","example":1},"totalCount":{"type":"integer","format":"int32","example":10},"totalPages":{"type":"integer","format":"int32","example":1}}},"IncentiveItemResponse":{"type":"object","properties":{"itemId":{"type":"string","example":"649861121"},"productName":{"type":"string","example":"Fake Firearm"},"productUrl":{"type":"string","example":"http://localhost"},"productImageUrl":{"type":"string","example":"http://localhost"},"skuId":{"type":"string","example":"sku123"},"currentPrice":{"type":"number","format":"double","example":20.5},"targetPrice":{"type":"number","format":"double","example":20},"shippingPrice":{"type":"number","format":"double","example":2},"incentiveType":{"type":"string","example":"REDUCED_REFERRAL"},"baseReferralFee":{"type":"number","format":"double","example":8},"reducedReferralFee":{"type":"number","format":"double","example":7},"enrollmentType":{"type":"string","example":"MANUAL"},"enrollmentDate":{"type":"string","example":"1652857199000"},"incentiveStatus":{"type":"string","example":"NEW"},"inventoryCount":{"type":"number","example":"200"},"expirationDate":{"type":"string","example":"1660805999000"}}},"IncentiveItemsResponse":{"type":"object","properties":{"pageContext":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32","example":1},"currentPageCount":{"type":"integer","format":"int32","example":1},"totalCount":{"type":"integer","format":"int32","example":10},"totalPages":{"type":"integer","format":"int32","example":1}}},"items":{"type":"array","items":{"type":"object","properties":{"itemId":{"type":"string","example":"649861121"},"productName":{"type":"string","example":"Fake Firearm"},"productUrl":{"type":"string","example":"http://localhost"},"productImageUrl":{"type":"string","example":"http://localhost"},"skuId":{"type":"string","example":"sku123"},"currentPrice":{"type":"number","format":"double","example":20.5},"targetPrice":{"type":"number","format":"double","example":20},"shippingPrice":{"type":"number","format":"double","example":2},"incentiveType":{"type":"string","example":"REDUCED_REFERRAL"},"baseReferralFee":{"type":"number","format":"double","example":8},"reducedReferralFee":{"type":"number","format":"double","example":7},"enrollmentType":{"type":"string","example":"MANUAL"},"enrollmentDate":{"type":"string","example":"1652857199000"},"incentiveStatus":{"type":"string","example":"NEW"},"inventoryCount":{"type":"number","example":"200"},"expirationDate":{"type":"string","example":"1660805999000"}}}}}}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"}}}}
