{"openapi":"3.0.1","info":{"title":"Promotion Management","version":"1.0","description":"Sellers can set regular or promotional prices for their items. Setting the Promotional prices is an option to create unique pricing for events such as clearance sales or to call out a comparison price."},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"paths":{"/v3/price":{"put":{"tags":["Promotions"],"summary":"Update promotional price for a single item","description":"Updates the promotional price.\n\nUse this API to update or delete an existing promotional price as well as set up a new promotional price.\n\n<ul><li>To set a new promotional price or update an existing one, set the pricing attribute `processMode` to `UPSERT`.</li><li>To delete a promotional price, set the pricing attribute `processMode` to `DELETE`.</li><li>To delete all promotions for a SKU, set `replaceAll` to an empty payload.</li>\n\nFor more information and usage examples, refer to the <a href=\"https://developer.walmart.com/us-marketplace/docs/update-promotional-price-for-a-single-item\">Marketplace Promotions API Guide</a>.","operationId":"updatePromotionalPrices","parameters":[{"name":"promo","in":"query","description":"Indicates the promotional price. To retrieve the promotional prices, set this value to `true`.","required":true,"schema":{"type":"boolean","default":true}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"SON payload specifying the SKU and promotional pricing details. To remove all promotions for a SKU, set replaceAll and provide an empty pricing array.","content":{"application/json":{"schema":{"required":["pricing","sku"],"type":"object","properties":{"offerId":{"type":"string","description":"Applicable only for promotions. Indicates the promotional offer being applied."},"sku":{"type":"string","description":"SKU of the item for which the promotional price is being updated."},"replaceAll":{"type":"string","description":"Applicable only for promotions. Indicates whether to replace all existing promotions for the SKU.","enum":["true","false"]},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"Applicable only for promotions. Timestamp when the promotional price becomes effective.","format":"date-time"},"expirationDate":{"type":"string","description":"Applicable only for promotions. Timestamp when the promotional price ends.","format":"date-time"},"promoId":{"type":"string","description":"Applicable only for promotions. Unique identifier for the promotional campaign."},"processMode":{"type":"string","description":"Applicable only for promotions. Use `UPSERT` to create or update a promotion, or `DELETE` to remove one. ","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"comparisonPriceType":{"type":"string","description":"Applicable only for promotions. The type of reference price used for comparison.","enum":["BASE"]},"comparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"Applicable only for promotions. The original price used to calculate savings."},"priceDisplayCodes":{"type":"string","description":"Applicable only for promotions. Controls where the promotional price is shown to customers.","enum":["CART","CHECKOUT"]}}}},"definitions":{"type":"object"}}},"examples":{"Promotional Pricing Update JSON":{"value":{"sku":"97964_KFTest","pricing":[{"currentPrice":{"currency":"USD","amount":4},"currentPriceType":"REDUCED","comparisonPriceType":"BASE","comparisonPrice":{"currency":"USD","amount":4},"priceDisplayCodes":"CART","effectiveDate":"2019-11-03T09:49:57.943Z","expirationDate":"2019-12-03T09:49:57.943Z","processMode":"UPSERT"}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"Acknowledgement message for a price update. The site may take a few minutes to reflect changes.","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":{"ItemPriceResponse":{"mart":"WALMART_US","message":"Price has been updated for the item. It may take up to five minutes for this change to be reflected on the site.","sku":"97964_KFTest"}}},"application/xml":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"Acknowledgement message for a price update. The site may take a few minutes to reflect changes.","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:ItemPriceResponse xmlns:ns2=\"http://walmart.com/\">\n    <ns2:mart>WALMART_US</ns2:mart>\n    <ns2:sku>97964_KFTest</ns2:sku>\n    <ns2:message>Price has been updated for the item. It may take up to five minutes for this change to be reflected on the site.</ns2:message>\n</ns2:ItemPriceResponse>\n"}}}}},"post":{"tags":["Promotions"],"summary":"Update promotional price for a single item (New Flow)","description":"The price and promotional price API allows you to creates, updates, or deletes promotional prices for single SKU \n\n To set a new promotional price, set the \"promotionSettingAction\" attribute to \"Create\". To update an existing one, set the \"promotionSettingAction\" attribute to \"Create\" with promoId. To delete a promotional price, set the \"promotionSettingAction\" attribute to \"Delete\". To delete all promotions for a SKU, set the \"promotionSettingAction\" attribute to \"Replace All\" \n\n Please Note: \n- The effective start date for a given promotion should be within 365 days from the current date and time. \n- The end date of a given promotion should be within 180 days from the start date and time. Any promotions beyond 180 days will result in an error.","operationId":"updateSyncPromotionalPrices","parameters":[{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"in":"header","name":"WM_GLOBAL_VERSION","description":"Walmart Global Version.","required":true,"schema":{"type":"string"},"example":"3.1"},{"in":"header","name":"WM_MARKET","description":"Walmart Market associated with the price update.","required":true,"schema":{"type":"string"},"example":"US"}],"requestBody":{"description":"The request body consists price and business price to be updated.","content":{"application/json":{"schema":{"type":"object","properties":{"MPItemFeedHeader":{"type":"object","properties":{"businessUnit":{"type":"string","example":"WALMART_US"},"locale":{"type":"string","description":"Locale of the request.","example":"en"},"version":{"type":"string","example":"5.0.20250328-17_43_36-api"}}},"MPItem":{"type":"object","properties":{"Price":{"type":"object","properties":{"sku":{"type":"string","example":"NEW_S9MI_BRB_CA_0IXC"},"price":{"type":"number","format":"double","example":80},"businessPrice":{"type":"number","format":"double","example":80},"msrp":{"type":"number","format":"double","example":80},"promoid":{"type":"string","description":"The promotion identifier. Provide this when updating or deleting an existing promotion.","example":"28cc0144-5d70-4acb-b366-98a07c3ac671"},"promotionInformation":{"type":"object","properties":{"promotionSettingAction":{"type":"string","description":"The action to apply to promotions for this SKU.","enum":["Create","Delete","Replace All"]},"promotionPlacement":{"type":"string","description":"Indicates where the promotion is applied or displayed.","enum":["MAP Cart"]},"promotionType":{"type":"string","description":"The promotion type to apply.","enum":["Clearance","Reduced"]},"promotionPrice":{"type":"number","format":"double","description":"The promotional price for the item during the promotion window.","example":8.5},"promotionPriceStartDateTime":{"type":"string","format":"date-time","description":"The UTC date and time when the promotional price becomes effective.","example":"2024-10-01T20:52:46Z"},"promotionPriceEndDateTime":{"type":"string","format":"date-time","description":"The UTC date and time when the promotional price ends.","example":"2024-10-22T20:52:46Z"}}}}}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"Acknowledgement message for a price update. The site may take a few minutes to reflect changes.","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":{"ItemPriceResponse":{"mart":"WALMART_US","message":"Price has been updated for the item. It may take up to five minutes for this change to be reflected on the site.","sku":"97964_KFTest"}}},"application/xml":{"schema":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"Acknowledgement message for a price update. The site may take a few minutes to reflect changes.","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:ItemPriceResponse xmlns:ns2=\"http://walmart.com/\">\n    <ns2:mart>WALMART_US</ns2:mart>\n    <ns2:sku>97964_KFTest</ns2:sku>\n    <ns2:message>Price has been updated for the item. It may take up to five minutes for this change to be reflected on the site.</ns2:message>\n</ns2:ItemPriceResponse>\n"}}}}}},"/v3/feeds":{"post":{"tags":["Promotions"],"summary":"Updates bulk promotional prices","description":"Updates or creates promotional prices for multiple specified SKUs","operationId":"updateBulkPromotionalPrice","parameters":[{"name":"feedType","in":"query","description":"Feed Type","required":true,"schema":{"type":"string","default":"promo"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"The request body consists of a Feed file attached to the request. ","content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Feed file to upload","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the Feed File."}}},"example":{"feedId":"609B1E4C0B3E48989690263DEAC85C63@AVUBAQA"}},"application/xml":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the Feed File."}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>55DE8A53B09F41BBBF261C1AB5FB2BC8@AVMBAgA</ns2:feedId>\n</ns2:FeedAcknowledgement>"}}}}}},"/v3/feeds?feedType=PRICE_AND_PROMOTION":{"post":{"tags":["Promotions"],"summary":"Update bulk promotional price (New flow)","description":"The price and promotional price API allows you to creates, updates, or deletes promotional prices for multiple SKUs \n\n To set a new promotional price, set the \"promotionSettingAction\" attribute to \"Create\". To update an existing one, set the \"promotionSettingAction\" attribute to \"Create\" with promoId. To delete a promotional price, set the \"promotionSettingAction\" attribute to \"Delete\". To delete all promotions for a SKU, set the \"promotionSettingAction\" attribute to \"Replace All\" \n\n Note: \n- The effective start date for a given promotion should be within 365 days from the current date and time. \n- The end date of a given promotion should be within 180 days from the start date and time. Any promotions beyond 180 days will result in an error","operationId":"priceBulkUploads","parameters":[{"name":"feedType","in":"query","description":"The feed Type","required":true,"schema":{"type":"string","enum":["PRICE_AND_PROMOTION"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"requestBody":{"description":"The request body consists of a Feed file attached to the request based on the feedType selected ","content":{"application/json":{"schema":{"type":"object","properties":{"MPItemFeedHeader":{"type":"object","properties":{"businessUnit":{"type":"string","description":"WALMART_US","example":"WALMART_US"},"version":{"type":"string","description":"2.0.20240126-12_25_52-api","example":"2.0.20240126-12_25_52-api"},"locale":{"type":"string","description":"en","example":"en"}}},"MPItem":{"type":"array","items":{"type":"object","properties":{"Promo&Discount":{"type":"object","properties":{"sku":{"type":"string","description":"SKU00638931255307","example":"SKU00638931255307"},"price":{"type":"number","format":"double","description":"11","example":11},"msrp":{"type":"number","format":"double","description":"15","example":15},"promoid":{"type":"string","description":"28cc0144-5d70-4acb-b366-98a07c3ac671","example":"28cc0144-5d70-4acb-b366-98a07c3ac671"},"promotionInformation":{"type":"object","properties":{"promotionSettingAction":{"type":"string","enum":["Create","Delete","Replace All"]},"promotionPlacement":{"type":"string","enum":["MAP Cart"]},"promotionType":{"type":"string","enum":["Clearance","Reduced"]},"promotionPrice":{"type":"number","format":"double","description":"8.5","example":8.5},"promotionPriceStartDateTime":{"type":"string","format":"date-time","description":"2024-10-01T20:52:46Z","example":"2024-10-01T20:52:46Z"},"promotionPriceEndDateTime":{"type":"string","format":"date-time","description":"2024-10-22T20:52:46Z","example":"2024-10-22T20:52:46Z"}}}}}}}}}}}}},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the Feed File."}}},"example":{"feedId":"609B1E4C0B3E48989690263DEAC85C63@AVUBAQA"}},"application/xml":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the Feed File."}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns2:FeedAcknowledgement xmlns:ns2=\"http://walmart.com/\">\n    <ns2:feedId>55DE8A53B09F41BBBF261C1AB5FB2BC8@AVMBAgA</ns2:feedId>\n</ns2:FeedAcknowledgement>"}}}}}},"/v3/promo/sku/{sku}":{"get":{"tags":["Promotions"],"summary":"Promotional prices","description":" Retrieves a list of promotional prices for a single SKU.","operationId":"getPromotionalPrices","parameters":[{"name":"sku","in":"path","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item. This will be used by the seller in the XSD file to refer to each item. Special characters in the sku needing encoding are: ':', '?', '#', '[', ']', '@', '!', '$', '&', \"'\", '(', ')', '*', '+', ',', ';', '=', as well as '%' itself. Other characters don't need to be encoded.","required":true,"schema":{"type":"string"}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"}],"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"payload":{"required":["itemIdentifier","pricingList"],"type":"object","properties":{"itemIdentifier":{"type":"object","properties":{"sku":{"type":"string"},"offerId":{"type":"string"},"itemId":{"type":"string"},"wpid":{"type":"string"},"productType":{"type":"string"}}},"pricingList":{"required":["pricing"],"type":"object","properties":{"replaceAll":{"type":"boolean","xml":{"attribute":true}},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}}}}},"maxSalesRetailPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minAdvtPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"rebate":{"required":["rebateAmt"],"type":"object","properties":{"rebateAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"infoUrl":{"type":"string","xml":{"attribute":true}},"rebateType":{"type":"string","xml":{"attribute":true},"enum":["AMOUNT","PRODUCT"]},"startDate":{"type":"string","format":"date-time","xml":{"attribute":true}},"endDate":{"type":"string","format":"date-time","xml":{"attribute":true}}}},"additionalAttributes":{"required":["additionalAttribute"],"type":"object","properties":{"additionalAttribute":{"type":"array","items":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}}}}}},"xml":{"name":"Price"}},"header":{"type":"object","properties":{"headerAttributes":{"type":"object"}}},"status":{"type":"string"}}},"example":{"status":"OK","header":{"headerAttributes":null},"payload":{"itemIdentifier":{"sku":"97964_KFTest"},"pricingList":{"pricing":[{"currentPrice":{"value":{"value":null,"currency":"USD","amount":4},"uomType":null,"minValue":null,"maxValue":null,"perUnitValue":null,"minUnitValue":null,"maxUnitValue":null},"currentPriceType":"REDUCED","comparisonPrice":{"value":{"value":null,"currency":"USD","amount":4},"uomType":null,"minValue":null,"maxValue":null,"perUnitValue":null,"minUnitValue":null,"maxUnitValue":null},"comparisonPriceType":"BASE","savingsAmount":0,"savingsPercent":0,"priceDisplayCodes":{"isRollback":false,"isStrikethrough":true,"isReducedPrice":true,"isClearance":false,"hidePriceForSOI":null,"isEligibleForAssociateDiscount":null,"submapType":null},"effectiveDate":1572774597943,"expirationDate":1575366597943,"promoId":"ce9dfbce-4043-442c-8cb9-77d39d0f727f","processMode":null}],"replaceAll":false},"maxSalesRetailPrice":null,"minAdvtPrice":null,"rebate":null}}},"application/xml":{"schema":{"type":"object","properties":{"payload":{"required":["itemIdentifier","pricingList"],"type":"object","properties":{"itemIdentifier":{"type":"object","properties":{"sku":{"type":"string"},"offerId":{"type":"string"},"itemId":{"type":"string"},"wpid":{"type":"string"},"productType":{"type":"string"}}},"pricingList":{"required":["pricing"],"type":"object","properties":{"replaceAll":{"type":"boolean","xml":{"attribute":true}},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}}}}},"maxSalesRetailPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minAdvtPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"rebate":{"required":["rebateAmt"],"type":"object","properties":{"rebateAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"infoUrl":{"type":"string","xml":{"attribute":true}},"rebateType":{"type":"string","xml":{"attribute":true},"enum":["AMOUNT","PRODUCT"]},"startDate":{"type":"string","format":"date-time","xml":{"attribute":true}},"endDate":{"type":"string","format":"date-time","xml":{"attribute":true}}}},"additionalAttributes":{"required":["additionalAttribute"],"type":"object","properties":{"additionalAttribute":{"type":"array","items":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}}}}}},"xml":{"name":"Price"}},"header":{"type":"object","properties":{"headerAttributes":{"type":"object"}}},"status":{"type":"string"}}},"example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ServiceResponse xmlns:ns2=\"http://walmart.com/\">\n    <status>OK</status>\n    <header/>\n    <payload>\n        <ns2:itemIdentifier>\n            <ns2:sku>97964_KFTest</ns2:sku>\n        </ns2:itemIdentifier>\n        <ns2:pricingList replaceAll=\"false\">\n            <ns2:pricing promoId=\"ce9dfbce-4043-442c-8cb9-77d39d0f727f\" expirationDate=\"2019-12-03T09:49:57.943Z\" effectiveDate=\"2019-11-03T09:49:57.943Z\">\n                <ns2:currentPrice>\n                    <ns2:value amount=\"4.00\" currency=\"USD\"/>\n                </ns2:currentPrice>\n                <ns2:currentPriceType>REDUCED</ns2:currentPriceType>\n                <ns2:comparisonPrice>\n                    <ns2:value amount=\"4.00\" currency=\"USD\"/>\n                </ns2:comparisonPrice>\n                <ns2:comparisonPriceType>BASE</ns2:comparisonPriceType>\n                <ns2:savingsAmount>0.00</ns2:savingsAmount>\n                <ns2:savingsPercent>0.00</ns2:savingsPercent>\n                <ns2:priceDisplayCodes isClearance=\"false\" isReducedPrice=\"true\" isStrikethrough=\"true\" isRollback=\"false\"/>\n            </ns2:pricing>\n        </ns2:pricingList>\n    </payload>\n</ServiceResponse>"}}}}}}},"components":{"schemas":{"Cause":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}},"GatewayError":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}},"ItemPriceResponse":{"type":"object","properties":{"errors":{"type":"array","xml":{"name":"error"},"items":{"required":["code"],"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"description":{"type":"string"},"info":{"type":"string"},"severity":{"type":"string","enum":["INFO","WARN","ERROR"]},"category":{"type":"string","enum":["APPLICATION","SYSTEM","REQUEST","DATA"]},"causes":{"type":"array","xml":{"wrapped":true},"items":{"type":"object","properties":{"code":{"type":"string"},"field":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"}},"xml":{"name":"Cause"}}},"errorIdentifiers":{"type":"object","additionalProperties":{"type":"object"}},"component":{"type":"string"},"type":{"type":"string"},"serviceName":{"type":"string"},"gatewayErrorCategory":{"type":"string","enum":["INTERNAL_DATA_ERROR","EXTERNAL_DATA_ERROR","SYSTEM_ERROR"]}},"xml":{"name":"GatewayError"}}},"statusCode":{"type":"integer","format":"int32"},"mart":{"type":"string","description":"Marketplace name. Example: Walmart-US","xml":{"namespace":"http://walmart.com/"}},"sku":{"type":"string","description":"An arbitrary alphanumeric unique ID, specified by the seller, which identifies each item.","xml":{"namespace":"http://walmart.com/"}},"message":{"type":"string","description":"A message of acknowledgement for a price update","xml":{"namespace":"http://walmart.com/"}}},"xml":{"name":"ItemPriceResponse","namespace":"http://walmart.com/"}},"ComparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"CurrentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"Price":{"required":["pricing","sku"],"type":"object","properties":{"offerId":{"type":"string","description":"This is applicable only for promotions"},"sku":{"type":"string"},"replaceAll":{"type":"string","description":"This is applicable only for promotions","enum":["true","false"]},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"expirationDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"promoId":{"type":"string","description":"This is applicable only for promotions"},"processMode":{"type":"string","description":"This is applicable only for promotions","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"comparisonPriceType":{"type":"string","description":"This is applicable only for promotions","enum":["BASE"]},"comparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"priceDisplayCodes":{"type":"string","description":"This is applicable only for promotions","enum":["CART","CHECKOUT"]}}}},"definitions":{"type":"object"}}},"Pricing":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"effectiveDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"expirationDate":{"type":"string","description":"This is applicable only for promotions","format":"date-time"},"promoId":{"type":"string","description":"This is applicable only for promotions"},"processMode":{"type":"string","description":"This is applicable only for promotions","enum":["UPSERT","DELETE"]},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","CLEARANCE"]},"currentPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}}},"comparisonPriceType":{"type":"string","description":"This is applicable only for promotions","enum":["BASE"]},"comparisonPrice":{"type":"object","properties":{"currency":{"type":"string","enum":["USD","CAD"]},"amount":{"type":"number","format":"double"}},"description":"This is applicable only for promotions"},"priceDisplayCodes":{"type":"string","description":"This is applicable only for promotions","enum":["CART","CHECKOUT"]}}},"FeedId":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Upload API, used for tracking the Feed File."}}},"AdditionalAttribute":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"AdditionalAttributes":{"required":["additionalAttribute"],"type":"object","properties":{"additionalAttribute":{"type":"array","items":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}}}}},"Header":{"type":"object","properties":{"headerAttributes":{"type":"object"}}},"ItemIdentifierType":{"type":"object","properties":{"sku":{"type":"string"},"offerId":{"type":"string"},"itemId":{"type":"string"},"wpid":{"type":"string"},"productType":{"type":"string"}}},"ItemPriceType":{"required":["itemIdentifier","pricingList"],"type":"object","properties":{"itemIdentifier":{"type":"object","properties":{"sku":{"type":"string"},"offerId":{"type":"string"},"itemId":{"type":"string"},"wpid":{"type":"string"},"productType":{"type":"string"}}},"pricingList":{"required":["pricing"],"type":"object","properties":{"replaceAll":{"type":"boolean","xml":{"attribute":true}},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}}}}},"maxSalesRetailPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minAdvtPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"rebate":{"required":["rebateAmt"],"type":"object","properties":{"rebateAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"infoUrl":{"type":"string","xml":{"attribute":true}},"rebateType":{"type":"string","xml":{"attribute":true},"enum":["AMOUNT","PRODUCT"]},"startDate":{"type":"string","format":"date-time","xml":{"attribute":true}},"endDate":{"type":"string","format":"date-time","xml":{"attribute":true}}}},"additionalAttributes":{"required":["additionalAttribute"],"type":"object","properties":{"additionalAttribute":{"type":"array","items":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}}}}}},"xml":{"name":"Price"}},"MoneyType":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"PickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"PriceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"PricingListType":{"required":["pricing"],"type":"object","properties":{"replaceAll":{"type":"boolean","xml":{"attribute":true}},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}}}}},"PricingType":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}},"PromotionalPriceResponse":{"type":"object","properties":{"payload":{"required":["itemIdentifier","pricingList"],"type":"object","properties":{"itemIdentifier":{"type":"object","properties":{"sku":{"type":"string"},"offerId":{"type":"string"},"itemId":{"type":"string"},"wpid":{"type":"string"},"productType":{"type":"string"}}},"pricingList":{"required":["pricing"],"type":"object","properties":{"replaceAll":{"type":"boolean","xml":{"attribute":true}},"pricing":{"type":"array","items":{"required":["currentPrice","currentPriceType"],"type":"object","properties":{"currentPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"currentPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"comparisonPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"comparisonPriceType":{"type":"string","enum":["BASE","REDUCED","SAVINGS_AMT","SAVINGS_PCT","ROLLBACK","CLEARANCE","LIST_PRICE"]},"savingsAmount":{"type":"number"},"savingsPercent":{"type":"number"},"priceDisplayCodes":{"type":"object","properties":{"isClearance":{"type":"boolean"},"hidePriceForSOI":{"type":"object"},"submapType":{"type":"object"},"isRollback":{"type":"boolean"},"isReducedPrice":{"type":"boolean"},"isEligibleForAssociateDiscount":{"type":"object"},"isStrikethrough":{"type":"boolean"}}},"pickupDiscount":{"type":"object","properties":{"isPickUpDiscountEligible":{"type":"boolean","xml":{"attribute":true}},"pickupDiscountAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"effectiveDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"expirationDate":{"type":"integer","format":"int64","xml":{"attribute":true}},"processMode":{"type":"string","xml":{"attribute":true},"enum":["UPSERT","DELETE"]},"pid":{"type":"string"}}}}}},"maxSalesRetailPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minAdvtPrice":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"rebate":{"required":["rebateAmt"],"type":"object","properties":{"rebateAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"infoUrl":{"type":"string","xml":{"attribute":true}},"rebateType":{"type":"string","xml":{"attribute":true},"enum":["AMOUNT","PRODUCT"]},"startDate":{"type":"string","format":"date-time","xml":{"attribute":true}},"endDate":{"type":"string","format":"date-time","xml":{"attribute":true}}}},"additionalAttributes":{"required":["additionalAttribute"],"type":"object","properties":{"additionalAttribute":{"type":"array","items":{"required":["name","value"],"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}}}}}},"xml":{"name":"Price"}},"header":{"type":"object","properties":{"headerAttributes":{"type":"object"}}},"status":{"type":"string"}}},"PromotionsPrice":{"type":"object","properties":{"value":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"uomType":{"type":"string"},"minValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"perUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"minUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"maxUnitValue":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}}}},"Rebate":{"required":["rebateAmt"],"type":"object","properties":{"rebateAmt":{"type":"object","properties":{"value":{"type":"string"},"currency":{"type":"string","xml":{"attribute":true}},"amount":{"type":"number","xml":{"attribute":true}}}},"infoUrl":{"type":"string","xml":{"attribute":true}},"rebateType":{"type":"string","xml":{"attribute":true},"enum":["AMOUNT","PRODUCT"]},"startDate":{"type":"string","format":"date-time","xml":{"attribute":true}},"endDate":{"type":"string","format":"date-time","xml":{"attribute":true}}}}},"parameters":{"authorization":{"name":"Authorization","in":"header","description":"Basic authorization header. Base 64 encodes the Client ID and Client Secret retrieved in step two of the integration steps.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},"accessToken":{"name":"WM_SEC.ACCESS_TOKEN","in":"header","description":"The access token retrieved in the Token API call","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},"channelType":{"name":"WM_CONSUMER.CHANNEL.TYPE","in":"header","description":"A unique ID to track the consumer request by channel. Use the Consumer Channel Type received during onboarding","required":false,"schema":{"type":"string"}},"correlationId":{"name":"WM_QOS.CORRELATION_ID","in":"header","description":"A unique ID which identifies each API call and used to track and debug issues; use a random generated GUID for this ID","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},"svcName":{"name":"WM_SVC.NAME","in":"header","description":"Walmart Service Name","required":true,"schema":{"type":"string"},"example":"Walmart Service Name"},"accept":{"name":"Accept","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"content-type":{"name":"Content-Type","in":"header","description":"Only supported Media Type : application/json","required":true,"schema":{"type":"string"},"example":"application/json"},"serviceEnvironment":{"name":"WM_SVC.ENV","in":"header","description":"Service Environment required to access the API1","required":true,"schema":{"type":"string"}},"serviceVersion":{"name":"WM_SVC.VERSION","in":"header","description":"Service Version to access the API based on the version","required":false,"schema":{"type":"string"}},"serviceVersionRequired":{"name":"WM_SVC.VERSION","in":"header","description":"Service Version to access the API based on the version","required":true,"schema":{"type":"string"}},"consumerId":{"name":"WM_CONSUMER.ID","in":"header","description":"The vendor's digital signature, generated by running the JAR file or custom generation code","required":true,"schema":{"type":"string"}}}}}
