{"openapi":"3.0.1","info":{"title":"Simplified Shipping Settings Management","version":"1.0","description":"The Simplified Shipping Settings APIs allow sellers to manage all the simplified shipping configuration for better shipping and delivery promise experience. We heard your feedback and are making Simplified Shipping Settings (SSS) more flexible, giving you the ability to rate shop across carrier services. As we prepare for this launch, the current SSS v1 APIs are temporarily deprecated. API support will be restored with the upcoming release on August 31st. In the meantime, you can continue to manage your Simplified Shipping Settings through the Seller Center UI"},"x-readme":{"samples-languages":["shell"],"proxy-enabled":false},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Refers to the URL used for accessing the production server."},{"url":"https://sandbox.walmartapis.com","description":"Refers to the URL used for accessing the sandbox server."}],"paths":{"/v3/settings/shipping/simplifiedshippingsettings/fulfillmentcenter":{"put":{"tags":["Simplified Shipping Settings"],"summary":"Update FC Level Simplified Shipping Settings (Deprecated)","description":"Use this API to override configurations for one or more fulfillment centers.\n\n<div class=\"callout-light\"><strong>Deprecation notice:</strong> We heard your feedback and are making Simplified Shipping Settings (SSS) more flexible, giving you the ability to rate shop across carrier services. As we prepare for this launch, the current SSS v1 APIs are temporarily deprecated. API support will be restored with the upcoming release on August 31st. In the meantime, you can continue to manage your Simplified Shipping Settings through the Seller Center UI.</div>","operationId":"updateFCLevelSimplifiedShippingSettings","deprecated":true,"parameters":[{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding..","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"shipNodeConfigs":{"uniqueItems":true,"type":"array","description":"List of all fulfillment center IDs and their configurations.","items":{"type":"object","properties":{"shipNodes":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"string","description":"Fulfillment Center ID used as a shipping node."}},"isOverridden":{"type":"boolean","description":"Indicates whether the Fulfillment Center configuration settings override the account-level settings."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"List of all fulfillment center IDs and their configurations."}}},"description":"Simplified Shipping Settings"}}},"examples":{"Sample Request":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"isOverridden":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":5,"currency":"USD"},"chargePerItem":{"amount":3,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL"}],"configurations":[{"regions":[{"regionCode":"H","regionName":"AK and HI"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":5,"currency":"USD"},"chargePerItem":{"amount":3,"currency":"USD"}}}}]}]}]}}},"Sample Request - All 48 states + DC are not covered for fulfillment center":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["832541431719002113"],"isOverridden":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionName":"APO/FPO","regionCode":"A"},{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":5,"currency":"USD"},"chargePerItem":{"amount":3,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"addressTypes":["STREET"],"regions":[{"regionCode":"H","regionName":"AK and HI"}],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":13,"currency":"USD"},"chargePerWeight":{"amount":9,"currency":"USD"}}}},{"addressTypes":["STREET"],"regions":[{"regionCode":"C","regionName":"48 State"}],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":9,"currency":"USD"},"chargePerItem":{"amount":12,"currency":"USD"}}}}]}]}]}}},"Sample Request - Invalid carrier name":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"carrierConfigs":[{"carriers":[{"carrierName":"Test","carrierService":"Test_1"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}]}}},"Sample Request - Empty Shipping Charge":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"]}]}]}]}}},"Sample Request - Valid subtype of shippingCharge object not present":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING"}}]}]}]}}},"Sample Request - Shipping charge amount cannot exceed 700":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":780,"currency":"USD"}}}}]}]}]}}},"Sample Request - Duplicate regions not allowed at FC level":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}},{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":8,"currency":"USD"},"chargePerWeight":{"amount":3,"currency":"USD"}}}}]}]}]}}}}}},"required":true},"responses":{"200":{"description":"Successful operation","headers":{"Sunset":{"description":"Indicates the date this API version will be shut down. Consumers must migrate to v2 before this date.","schema":{"type":"string","example":"Sat, 27 Mar 2027 00:00:00 GMT"}},"Deprecation":{"description":"Indicates the API has entered deprecation.","schema":{"type":"string","example":"true"}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"shipNodeConfigs":{"uniqueItems":true,"type":"array","description":"List of all fulfillment center IDs and their configurations.","items":{"type":"object","properties":{"shipNodes":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"string","description":"Fulfillment Center ID used as a shipping node."}},"isOverridden":{"type":"boolean","description":"Indicates whether the Fulfillment Center configuration settings override the account-level settings."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"List of all fulfillment center IDs and their configurations."}}},"description":"Simplified Shipping Settings"}}}},"examples":{"Sample Response":{"value":{"simplifiedShippingSettings":{"shipNodeConfigs":[{"shipNodes":["677756464221356033"],"isOverridden":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":5,"currency":"USD"},"chargePerItem":{"amount":3,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL"}],"configurations":[{"regions":[{"regionCode":"H","regionName":"AK and HI"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}]}}},"Sample - Invalid Carrier Configs":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Provided carrier service is not valid.","info":"Please provide a valid carrier service.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Coverage 2":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"states/stateCode","description":"All 48 states + DC are not covered at account level","info":"All 48 states + DC are not covered at account level","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Region Combination":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"regionCode and regionName","description":"Invalid region code: P and region name: US Protectorate 6s combination","info":"Invalid region code: P and region name: US Protectorate 6s combination","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Carrier Name":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Invalid Carrier Name","info":"Invalid Carrier Name","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Empty Shipping Charge":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Shipping charge object cannot be empty","info":"Shipping charge object cannot be empty","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Valid subtype of shippingCharge object not present":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Provide the shipping charges in perShippingCharges","info":"Provide the shipping charges in perShippingCharges","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Shipping charge amount cannot exceed 700":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"perShippingCharge","description":"Shipping charge amount can't exceed the max allowed limit 700","info":"Shipping charge amount can't exceed the max allowed limit 700","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Duplicate regions not allowed at FC level":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Duplicate regions are not allowed at FC Level for carrier and node","info":"Duplicate regions are not allowed at FC Level for carrier and node","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}}}}}}}}},"/v3/settings/shipping/simplifiedshippingsettings/account":{"put":{"tags":["Simplified Shipping Settings"],"summary":"Update Simplified Shipping Settings (Deprecated)","description":"This API is used for updating the Account level configuration. The carrier configurations that are updated using this API will be used across all of the FCs, unless overridden using FC Configuration API.\n\n<div class=\"callout-light\"><strong>Deprecation notice:</strong> We heard your feedback and are making Simplified Shipping Settings (SSS) more flexible, giving you the ability to rate shop across carrier services. As we prepare for this launch, the current SSS v1 APIs are temporarily deprecated. API support will be restored with the upcoming release on August 31st. In the meantime, you can continue to manage your Simplified Shipping Settings through the Seller Center UI.</div>","operationId":"updateSimplifiedShippingSettings","deprecated":true,"parameters":[{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"accountConfigs":{"type":"object","properties":{"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. ","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"Account configuration to be set for a seller, comprising of Carrier configurations and Region configurations."}},"description":"Simplified Shipping Settings"}}},"examples":{"Sample Request":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":2,"currency":"USD"},"chargePerWeight":{"amount":5,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"UPS","carrierService":"UPS_3DAY_SELECT"}],"configurations":[{"regions":[{"regionCode":"P","regionName":"US Protectorates"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 1 - Carrier Configuration":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 2 - Carrier Configuration":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 3 - Invalid Carrier Name":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"test","carrierService":"testService"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_GROUND_ECONOMY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 4 - Shipping Charge object is empty":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"]}]}]}}}},"Sample 5 - Valid subtype of shippingCharge object not present":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING"}}]}]}}}},"Sample 6 - Shipping charge amount cannot exceed 700":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":780,"currency":"USD"}}}}]}]}}}},"Sample 8 - Duplicate regions are not allowed for same carrier at account level":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}},{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":10,"currency":"USD"},"chargePerWeight":{"amount":20,"currency":"USD"}}}}]}]}}}}}}},"required":true},"responses":{"200":{"description":"Successful operation","headers":{"Sunset":{"description":"Indicates the date this API version will be shut down. Consumers must migrate to v2 before this date.","schema":{"type":"string","example":"Sat, 27 Mar 2027 00:00:00 GMT"}},"Deprecation":{"description":"Indicates the API has entered deprecation.","schema":{"type":"string","example":"true"}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"accountConfigs":{"type":"object","properties":{"shippingPriority":{"type":"string","description":"Shipping priority will help system decide the carrier service for fulfillment in case there are multiple shipping options available for customers with different carrier services in terms of shipping cost and speed.","enum":["SLOWEST","FASTEST"]},"migrateEligibleOffers":{"type":"boolean","description":"Flag used to migrate/not migrate all the eligible offers for a seller."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. ","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"Account configuration to be set for a seller, comprising of Carrier configurations and Region configurations."}},"description":"Simplified Shipping Settings"}}}},"examples":{"Sample Response":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_3DAY_SELECT"}],"configurations":[{"regions":[{"regionCode":"P","regionName":"US Protectorates"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"H","regionName":"AK and HI"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":2,"currency":"USD"},"chargePerWeight":{"amount":5,"currency":"USD"}}}}]}]}}}},"Sample - Duplicate State Codes":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"stateCode","description":"Duplicate stateCodes for: CT","info":"Duplicate stateCodes for: CT","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Carrier Configs":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Provided carrier service is not valid.","info":"Please provide a valid carrier service.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Coverage":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierConfigs","description":"The provided coverage for the given carrier service is not supported: USPS_PRIORITY_MAIL_EXPRESS","info":"The provided coverage for the given carrier service is not supported: USPS_PRIORITY_MAIL_EXPRESS","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Coverage 2":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"states/stateCode","description":"All 48 states + DC are not covered at account level","info":"All 48 states + DC are not covered at account level","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Region Combination":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"regionCode and regionName","description":"Invalid region code: P and region name: US Protectorate 6s combination","info":"Invalid region code: P and region name: US Protectorate 6s combination","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - 3PL Node":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you have 3PL fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you have 3PL fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Bundle Items":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"Seller with Bundles: We noticed you have Bundle items which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later","info":"Seller with Bundles: We noticed you have Bundle items which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - International Nodes":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you have international fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you have international fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Major Appliances":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you are enabled for Major Appliances program which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you are enabled for Major Appliances program which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Carrier Name":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Invalid Carrier Name","info":"Invalid Carrier Name","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Shipping Charge object is empty":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Shipping charge object cannot be empty","info":"Shipping charge object cannot be empty","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Valid subtype of shippingCharge object not present":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Provide the shipping charges in perShippingCharges","info":"Provide the shipping charges in perShippingCharges","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Shipping charge amount cannot exceed 700":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"perShippingCharge","description":"Shipping charge amount can't exceed the max allowed limit 700","info":"Shipping charge amount can't exceed the max allowed limit 700","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Duplicate regions not allowed at FC level":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Duplicate regions are not allowed at account Level for carrier and node","info":"Duplicate regions are not allowed at account Level for carrier and node","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}}}}}}}},"post":{"tags":["Simplified Shipping Settings"],"summary":"Create Simplified Shipping Settings (Deprecated)","description":"This API is used for creating the Account level configuration. The carrier configurations that are created using this API will be used across all of the FCs, unless overridden using FC Configuration API.\n\n<div class=\"callout-light\"><strong>Deprecation notice:</strong> We heard your feedback and are making Simplified Shipping Settings (SSS) more flexible, giving you the ability to rate shop across carrier services. As we prepare for this launch, the current SSS v1 APIs are temporarily deprecated. API support will be restored with the upcoming release on August 31st. In the meantime, you can continue to manage your Simplified Shipping Settings through the Seller Center UI.</div>","operationId":"createSimplifiedShippingSettings","deprecated":true,"parameters":[{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"accountConfigs":{"type":"object","properties":{"shippingPriority":{"type":"string","description":"Shipping priority will help system decide the carrier service for fulfillment in case there are multiple shipping options available for customers with different carrier services in terms of shipping cost and speed.","enum":["SLOWEST","FASTEST"]},"migrateEligibleOffers":{"type":"boolean","description":"Flag used to migrate/not migrate all the eligible offers for a seller."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. ","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"Account configuration to be set for a seller, comprising of Carrier configurations and Region configurations."}},"description":"Simplified Shipping Settings"}}},"examples":{"Sample Request":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":2,"currency":"USD"},"chargePerWeight":{"amount":5,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"UPS","carrierService":"UPS_3DAY_SELECT"}],"configurations":[{"regions":[{"regionCode":"P","regionName":"US Protectorates"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 1 - Carrier Configuration":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 2 - Carrier Configuration":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 3 - Invalid Carrier Name":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"test","carrierService":"testService"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_GROUND_ECONOMY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]}}}},"Sample 4 - Shipping Charge is empty":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"]}]}]}}}},"Sample 5 - Valid subtype of shippingCharge object not present":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING"}}]}]}}}},"Sample 6 - Shipping charge amount cannot exceed 700":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"},{"regionName":"AK and HI","regionCode":"H"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":780,"currency":"USD"}}}}]}]}}}},"Sample 8 - Duplicate regions for same carrier is not allowed at account level":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}},{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":10,"currency":"USD"},"chargePerWeight":{"amount":20,"currency":"USD"}}}}]}]}}}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","headers":{"Sunset":{"description":"Indicates the date this API version will be shut down. Consumers must migrate to v2 before this date.","schema":{"type":"string","example":"Sat, 27 Mar 2027 00:00:00 GMT"}},"Deprecation":{"description":"Indicates the API has entered deprecation.","schema":{"type":"string","example":"true"}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"accountConfigs":{"type":"object","properties":{"shippingPriority":{"type":"string","description":"Shipping priority will help system decide the carrier service for fulfillment in case there are multiple shipping options available for customers with different carrier services in terms of shipping cost and speed.","enum":["SLOWEST","FASTEST"]},"migrateEligibleOffers":{"type":"boolean","description":"Flag used to migrate/not migrate all the eligible offers for a seller."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. ","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"Account configuration to be set for a seller, comprising of Carrier configurations and Region configurations."}},"description":"Simplified Shipping Settings"}}}},"examples":{"Sample Response":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_3DAY_SELECT"}],"configurations":[{"regions":[{"regionCode":"P","regionName":"US Protectorates"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"H","regionName":"AK and HI"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":2,"currency":"USD"},"chargePerWeight":{"amount":5,"currency":"USD"}}}}]}]}}}},"Sample - Duplicate State Codes":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"stateCode","description":"Duplicate stateCodes for: CT","info":"Duplicate stateCodes for: CT","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Carrier Configs":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Provided carrier service is not valid.","info":"Please provide a valid carrier service.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Coverage":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierConfigs","description":"The provided coverage for the given carrier service is not supported: USPS_PRIORITY_MAIL_EXPRESS","info":"The provided coverage for the given carrier service is not supported: USPS_PRIORITY_MAIL_EXPRESS","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Coverage 2":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"states/stateCode","description":"All 48 states + DC are not covered at account level","info":"All 48 states + DC are not covered at account level","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Region Combination":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"regionCode and regionName","description":"Invalid region code: P and region name: US Protectorate 6s combination","info":"Invalid region code: P and region name: US Protectorate 6s combination","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Settings Already Exists":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"simplifiedShippingSettings","description":"Simplified Shipping Settings already exists at account level for seller: ","info":"Simplified Shipping Settings already exists at account level for seller: ","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - 3PL Node":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you have 3PL fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you have 3PL fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Bundle Items":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"Seller with Bundles: We noticed you have Bundle items which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later","info":"Seller with Bundles: We noticed you have Bundle items which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - International Nodes":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you have international fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you have international fulfillment centers which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Major Appliances":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"sellerEligibility","description":"We noticed you are enabled for Major Appliances program which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","info":"We noticed you are enabled for Major Appliances program which Simplified Shipping Settings currently do not support. We are working on bringing that support in. Please check back later.","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Invalid Carrier Name":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"carrierName","description":"Invalid Carrier Name","info":"Invalid Carrier Name","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Shipping Charge object is empty":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Shipping charge object cannot be empty","info":"Shipping charge object cannot be empty","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Valid subtype of shippingCharge object not present":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Provide the shipping charges in perShippingCharges","info":"Provide the shipping charges in perShippingCharges","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Shipping charge amount cannot exceed 700":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"perShippingCharge","description":"Shipping charge amount can't exceed the max allowed limit 700","info":"Shipping charge amount can't exceed the max allowed limit 700","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}},"Sample - Duplicate regions not allowed at account level":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"shippingCharges","description":"Duplicate regions are not allowed at account Level for carrier and node","info":"Duplicate regions are not allowed at account Level for carrier and node","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}}}}}}}}},"/v3/feeds":{"post":{"tags":["Simplified Shipping Settings"],"summary":"Bulk Item Migration for Simplified Shipping Configuration","description":"This API is used to bulk migrate offers from Manual templates to Simplified shipping settings and vice-versa. Please ensure to create account level settings before proceeding with item migration to Simplified Shipping Settings.","operationId":"bulkMigrateOffersForSimplifiedShippingSettings","parameters":[{"name":"feedType","in":"query","description":"Feed Type","required":true,"schema":{"type":"string","default":"PROGRAM_ACTIONS"}},{"name":"requestType","in":"query","description":"Request Type","required":true,"schema":{"type":"string","default":"SHIPPING_CONFIG"}},{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"requestBody":{"description":"Request fields","content":{"application/json":{"schema":{"type":"object","required":["ProgramActionFeedHeader","ProgramAction"],"properties":{"ProgramActionFeedHeader":{"type":"object","required":["version","locale"],"properties":{"version":{"type":"string","description":"This is static spec version."},"locale":{"type":"string","description":"The associated language locale."},"businessUnit":{"type":"string","description":"This is is static Walmart BU."}},"description":"ProgramAction feed header details"},"ProgramAction":{"uniqueItems":true,"type":"array","description":"This includes all the SKU ids and the type of shipping configuration to migrate.","items":{"type":"object","required":["Programs","ItemIdentifiers"],"properties":{"Programs":{"type":"object","required":["ShippingConfiguration"],"properties":{"ShippingConfiguration":{"type":"object","required":["itemShippingConfiguration"],"properties":{"itemShippingConfiguration":{"type":"string","description":"Type of shipping configuration to where current SKU should be migrated to. Eligible values for the field are: Simplified Shipping Settings & Manual Template"}}}},"description":"The type of shipping configuration to migrate."},"ItemIdentifiers":{"type":"object","required":["sku"],"properties":{"sku":{"type":"string","description":"SKU of the item which seller wants to migrate."}},"description":"Item Identifier which needs to be migrated."}},"description":"This includes all the SKU ids and the type of shipping configuration to migrate."}}}},"examples":{"Sample Request":{"value":{"ProgramActionFeedHeader":{"version":"5.0.20241002-17_27_17-api","locale":"en","businessUnit":"WALMART_US"},"ProgramAction":[{"Programs":{"ShippingConfiguration":{"itemShippingConfiguration":"Simplified Shipping Settings"}},"ItemIdentifiers":{"sku":"8922gfgf"}}]}}}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"application/json":{"schema":{"type":"object","properties":{"feedId":{"type":"string","description":"A unique ID, returned from the Bulk Migration API, used for tracking the Feed File."}}},"examples":{"Sample Response":{"value":{"feedId":"17EF05E37122540094F294ED0F8F66B8@Af8BBgAY"}}}}}}}}},"/v3/settings/shipping/simplifiedshippingsettings":{"get":{"tags":["Simplified Shipping Settings"],"summary":"Get Simplified Shipping Settings (Deprecated)","description":"This API helps seller to fetch the Simplified Shipping Settings for a seller account and FC level configurations.\n\n<div class=\"callout-light\"><strong>Deprecation notice:</strong> We heard your feedback and are making Simplified Shipping Settings (SSS) more flexible, giving you the ability to rate shop across carrier services. As we prepare for this launch, the current SSS v1 APIs are temporarily deprecated. API support will be restored with the upcoming release on August 31st. In the meantime, you can continue to manage your Simplified Shipping Settings through the Seller Center UI.</div>","operationId":"getSimplifiedShippingSettings","deprecated":true,"parameters":[{"in":"header","name":"Authorization","description":"Use a Basic Authorization header by Base64-encoding the Client ID and Client Secret obtained in step two of the integration process. Format the credentials as ClientID:ClientSecret before encoding.","required":true,"schema":{"type":"string"},"example":"Basic YzcyOTFjNmItNzI5MC00...."},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM....."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"}],"responses":{"200":{"description":"Successful operation","headers":{"Sunset":{"description":"Indicates the date this API version will be shut down. Consumers must migrate to v2 before this date.","schema":{"type":"string","example":"Sat, 27 Mar 2027 00:00:00 GMT"}},"Deprecation":{"description":"Indicates the API has entered deprecation.","schema":{"type":"string","example":"true"}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"simplifiedShippingSettings":{"type":"object","properties":{"accountConfigs":{"type":"object","properties":{"shippingPriority":{"type":"string","description":"Shipping priority will help system decide the carrier service for fulfillment in case there are multiple shipping options available for customers with different carrier services in terms of shipping cost and speed.","enum":["SLOWEST","FASTEST"]},"migrateEligibleOffers":{"type":"boolean","description":"Flag used to migrate/not migrate all the eligible offers for a seller."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. ","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"Type of shipping rate model. PER_SHIPMENT_PRICING: Charges based on item weight (per pound) or quantity per order.","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage. "}}},"description":"Account configuration to be set for a seller, comprising of Carrier configurations and Region configurations."},"shipNodeConfigs":{"uniqueItems":true,"type":"array","description":"List of all fulfillment center IDs and their configurations.","items":{"type":"object","properties":{"shipNodes":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"string","description":"Fulfillment Center ID used as a shipping node."}},"isOverridden":{"type":"boolean","description":"Indicates whether the Fulfillment Center configuration settings override the account-level settings."},"carrierConfigs":{"uniqueItems":true,"type":"array","description":"Array of Fulfillment Center IDs designated as shipping nodes.","items":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}},"shippingCharge":{"uniqueItems":true,"type":"array","description":"Shipping charge to be applied for the given carrier service and region.","items":{"type":"object","properties":{"rateModelType":{"type":"string","description":"This is the shipping model type. PER_SHIPMENT_PRICING: This model means that you charge shipping based on the weight of your items (per pound), or you charge shipping based on the number of items purchased in an order","enum":["PER_SHIPMENT_PRICING"]},"perShippingCharge":{"required":["unitOfMeasure"],"type":"object","properties":{"unitOfMeasure":{"type":"string","description":"Unit of measure for shipping charges (For example, LB)."},"shippingAndHandling":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Shipping and handling charge amount."},"currency":{"type":"string","description":"The type of currency for the charge. Example: USD for US Dollars","enum":["USD"]}},"description":"Shipping and Handling Charge"},"chargePerWeight":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge Per weight, value USD"},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per unit weight (amount and currency)."},"chargePerItem":{"required":["amount","currency"],"type":"object","properties":{"amount":{"type":"number","description":"Charge amount per item."},"currency":{"type":"string","description":"Currency, eg. USD","enum":["USD"]}},"description":"Shipping charge per item."}},"description":"Charge per shipping"}},"description":"Contains an array of Regions, an array of Address Type, Transit Time and Per shipping charge"}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."}},"carriers":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping. Like carrier name and carrier service.","items":{"type":"object","properties":{"carrierName":{"type":"string","description":"Name of the carrier to use for shipping.","enum":["Fedex","UPS","USPS"]},"carrierService":{"type":"string","description":"Service name of the carrier to use for shipping","enum":["UPS_NEXTDAY_AIR","USPS_PRIORITY_MAIL","USPS_PRIORITY_MAIL_EXPRESS","FEDEX_HOME_DELIVERY","UPS_2DAY_AIR","FEDEX_OVERNIGHT","FEDEX_GROUND_ECONOMY","FEDEX_EXPRESS","FEDEX_2DAY_EXPRESS","UPS_3DAY_SELECT","UPS_GROUND","UPS_SUREPOST","USPS_GROUND"]}},"description":"Carrier configurations to use for shipping. Like carrier name and carrier service."}}},"description":"Array of Fulfillment Center IDs designated as shipping nodes."}}},"description":"List of all fulfillment center IDs and their configurations."}}},"description":"Simplified Shipping Settings"}}}},"examples":{"Sample Response":{"value":{"simplifiedShippingSettings":{"accountConfigs":{"shippingPriority":"FASTEST","migrateFreeShippingOffers":true,"carrierConfigs":[{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_HOME_DELIVERY"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]},{"carriers":[{"carrierName":"Fedex","carrierService":"FEDEX_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"H","regionName":"AK and HI"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":2,"currency":"USD"},"chargePerWeight":{"amount":5,"currency":"USD"}}}}]}]},"shipNodeConfigs":[{"shipNodes":["884069491409248257"],"isOverridden":true,"carrierConfigs":[{"carriers":[{"carrierName":"UPS","carrierService":"UPS_GROUND"}],"configurations":[{"regions":[{"regionCode":"P","regionName":"US Protectorates"}],"addressTypes":["STREET"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerWeight":{"amount":0,"currency":"USD"}}}}]}]},{"shipNodes":["10011355840","856191970194255873","883645272636612609","10011340","738626175162052609","738624394650644481","738625470982942721"],"isOverridden":false},{"shipNodes":["832541431719002113"],"isOverridden":true,"carrierConfigs":[{"carriers":[{"carrierName":"USPS","carrierService":"USPS_PRIORITY_MAIL_EXPRESS"}],"configurations":[{"regions":[{"regionCode":"C","regionName":"48 State"}],"addressTypes":["PO_BOX"],"shippingCharge":{"rateModelType":"PER_SHIPMENT_PRICING","perShippingCharge":{"unitOfMeasure":"LB","shippingAndHandling":{"amount":0,"currency":"USD"},"chargePerItem":{"amount":0,"currency":"USD"}}}}]}]}]}}},"Sample - Settings Not Present":{"value":{"errors":[{"code":"INVALID_REQUEST_CONTENT.INVALID_REQUEST","field":"simplifiedShippingSettings","description":"Simplified Shipping Settings not found for given partnerPk","info":"Simplified Shipping Settings not found for given partnerPk","severity":"ERROR","category":"DATA","causes":[],"errorIdentifiers":{}}]}}}}}}}}}},"components":{"schemas":{"AutomatedShippingSettingsConfigurationDTO":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage."},"CarrierConfigDTO":{"type":"object","properties":{"configurations":{"uniqueItems":true,"type":"array","description":"Carrier configurations to use for shipping, including carrier details and corresponding region coverage.","items":{"type":"object","properties":{"regions":{"uniqueItems":true,"type":"array","description":"Region configurations specifying shipping coverage by carrier.","items":{"type":"object","properties":{"regionCode":{"type":"string","description":"Region code for covered shipping.","enum":["C","H","P","A"]},"regionName":{"type":"string","description":"Region name for covered shipping.","enum":["48 State","AK and HI","US Protectorates","APO/FPO"]},"subRegions":{"uniqueItems":true,"type":"array","description":"Sub-region configurations covered by this carrier.","items":{"type":"object","properties":{"subRegionCode":{"type":"string","description":"Sub-Region code for covered shipping."},"subRegionName":{"type":"string","description":"Sub-Region name for covered shipping."},"states":{"uniqueItems":true,"type":"array","description":"States covered in this sub-region for shipping.","items":{"type":"object","properties":{"stateCode":{"type":"string","description":"State code or covered shipping."},"stateName":{"type":"string","description":"State name for covered shipping."}},"description":"States covered in this sub-region for shipping."}}},"description":"Sub-region configurations covered by this carrier."}}},"description":"Region configurations specifying shipping coverage by carrier."}},"addressTypes":{"uniqueItems":true,"type":"array","description":"The address types eligible for shipping within the specified region, sub-region, and states.","items":{"type":"string","description":"The address types eligible for shipping within the specified region, sub-region, and states.","enum":["PO_BOX","MILITARY","STREET"]}}},"description":"Carrier configurations to use for shipping, including carrier details and corresponding region covera
[...]
