{"openapi":"3.0.1","info":{"title":"Walmart+","description":"API for bulk enrollment/unenrollment of items in Walmart Plus program","version":"3.1"},"servers":[{"url":"https://marketplace.walmartapis.com","description":"Production URL"},{"url":"https://sandbox.walmartapis.com","description":"Sandbox URL"}],"paths":{"/v3/feeds?feedType=PROGRAM_ACTIONS&requestType=WALMART_PLUS_SFF":{"post":{"tags":["Walmart+ Seller Fulfilled"],"summary":"Bulk Item Enrollment for Walmart+","description":"This API endpoint allows you to efficiently manage item participation in the Walmart+ program. Use it to enroll eligible items in Walmart+ or to unenroll items that are currently part of the program.<br><b style='color:green;'>Market availability: US</b> \n\n\n\n<b>Download and review the <a href=\"/file/mp/us/PROGRAM_ACTIONS_5.0.20250617-00_03_34_US_WalmartPlusEnrollment.xlsx\">Excel template sample </a> and the <a href=\"/file/mp/us/bulk-enroll-requestBody-template.json\">JSON body sample</a> to ensure proper formatting of the updated file before uploading it for processing.</b>","operationId":"walmartPlusEnrollment","parameters":[{"name":"feedType","in":"query","description":"The type of feed, which specifies the nature of the update.","required":true,"schema":{"type":"string","enum":["PROGRAM_ACTIONS"]}},{"name":"requestType","in":"query","description":"Specifies the type of request for the Walmart+ SFF (Seller-Fulfilled) program.","required":true,"schema":{"type":"string","enum":["WALMART_PLUS_SFF"]}},{"in":"header","name":"WM_SEC.ACCESS_TOKEN","description":"Access token obtained from the Token API. This is required for authenticating requests to Walmart Marketplace APIs.","required":true,"schema":{"type":"string"},"example":"eyJraWQiOiIxNWNhNGIyYi0yODVjLTQ0ZDUtYmExNC05ZDk1NTlkZmUwNjgiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0...."},{"in":"header","name":"WM_CONSUMER.CHANNEL.TYPE","description":"A unique ID to identify the consumer request by channel. Use the Consumer Channel Type received during onboarding.","required":false,"schema":{"type":"string"}},{"in":"header","name":"WM_QOS.CORRELATION_ID","description":"A unique ID that identifies each API call and is used to track and debug issues. Use a randomly generated GUID for this ID.","required":true,"schema":{"type":"string"},"example":"b3261d2d-028a-4ef7-8602-633c23200af6"},{"in":"header","name":"WM_SVC.NAME","description":"Specifies the name of the Walmart service being called.","required":true,"schema":{"type":"string"},"example":"Walmart Marketplace"},{"name":"WM_MARKET","description":"Identifies the Walmart Marketplace region for the request. If not specified, US is used by default.","in":"header","required":true,"schema":{"type":"string","enum":["us"]}}],"requestBody":{"description":"The request body consists of an Excel file or a JSON containing Walmart Plus enrollment data to be uploaded.","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fileName":{"type":"string","format":"binary","description":"Upload an Excel file or a JSON file containing the data for Walmart+ enrollment or unenrollment.","example":"PROGRAM_ACTIONS_5.0.20250617-00_03_34_US_WalmartPlusEnrollment.xlsx"}},"required":["fileName"]}}},"required":true},"responses":{"200":{"description":"Indicates successful operation. The response provides details on both successful and failed item enrollments or unenrollments, allowing you to review which items were updated and which encountered issues.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Overall status of the request.","example":"OK"},"header":{"type":"object","description":"Response header information.","properties":{"headerAttributes":{"type":"object","description":"Contains additional header attributes with information relevant to the API response."}}},"errors":{"type":"array","description":"Contains a list of high-level errors encountered during the operation."},"payload":{"type":"object","description":"Response payload containing operation results.","properties":{"feedId":{"type":"string","description":"A unique ID returned from the Bulk Upload API, used for tracking the feed file."},"errorCount":{"type":"integer","description":"Number of errors encountered during processing."}}}}},"examples":{"Success Response":{"summary":"Indicates successful operation","value":{"status":"OK","header":{"headerAttributes":{}},"errors":[],"payload":{"feedId":"17EDFEDFF1575740B334559E402C4D60@AX8BBgA","errorCount":0}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Contains a list of high-level errors encountered during the operation."}}},"examples":{"Success Response":{"summary":"BAD Request","value":{"errors":[["Action is required"]]}}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","description":"Overall status of the request.","example":"FAIL"},"header":{"type":"object","description":"Response header information.","properties":{"headerAttributes":{"type":"object","description":"Contains additional header attributes with information relevant to the API response."}}},"errors":{"type":"array","description":"Contains a list of high-level errors encountered during the operation."}}},"examples":{"InternalServerError":{"summary":"Internal server error","value":{"status":"FAIL","header":{"headerAttributes":{}},"errors":[["Internal server error"]]}}}}}}}}}}}
