{
  "openapi": "3.0.1",
  "info": {
    "description": "Display REST API specifications",
    "title": "Display REST API",
    "version": "2.0"
  },
  "servers": [
    {
      "description": "Use this URL to request operations on display-api.",
      "url": "https://developer.api.us.stg.walmart.com/api-proxy/service/display/api/v1/"
    }
  ],
  "security": [
    {
      "auth_token": []
    },
    {
      "consumer_id": []
    },
    {
      "timestamp": []
    },
    {
      "auth_signature": []
    }
  ],
  "tags": [
    {
      "name": "Campaign"
    },
    {
      "name": "Ad Group"
    },
    {
      "name": "Targeting"
    },
    {
      "name": "Itemset"
    },
    {
      "name": "Forecast"
    },
    {
      "name": "Ad Group Creative Associations"
    },
    {
      "name": "Itemset Campaign association"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Creatives"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Folder"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Audience"
    },
    {
      "name": "Recommendation"
    }
  ],
  "paths": {
    "/api/v1/campaigns": {
      "patch": {
        "description": "Performs partial updates on existing campaigns in bulk. Only fields explicitly included in the request body will be modified; all other campaign attributes remain unchanged. Max batch size: 10. advertiserId must be the same across all items in the payload. Fields can be cleared by passing null. All of budgetType, dailyBudget, totalBudget, startDate, endDate, and deliverySpeed must be set at same level i.e. either at campaign level or ad group level.\n",
        "operationId": "patchCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "summary": "Update campaign name",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "test-name"
                    }
                  ]
                },
                "example2": {
                  "summary": "Update multiple campaigns",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "test-name1",
                      "description": "test-description"
                    },
                    {
                      "campaignId": 2,
                      "advertiserId": 1,
                      "name": "test-name2",
                      "description": "test-description",
                      "objective": "awareness"
                    }
                  ]
                },
                "example3": {
                  "summary": "Remove description and update campaign name",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "description": null,
                      "name": "test-name3"
                    }
                  ]
                }
              },
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CampaignPatchRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "missingCampaignId": {
                    "summary": "campaignId missing or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MISSING_FIELD_CAMPAIGN_ID"
                      ]
                    }
                  },
                  "missingAdvertiserId": {
                    "summary": "advertiserId missing or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MISSING_FIELD_ADVERTISER_ID"
                      ]
                    }
                  },
                  "invalidValueNull": {
                    "summary": "A non-nullable field is explicitly set to null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_VALUE_NULL=<fieldNames>"
                      ]
                    }
                  },
                  "invalidTypeForFields": {
                    "summary": "The field value does not match its expected data type",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_TYPE_FOR_FIELDS=<fieldNames>"
                      ]
                    }
                  },
                  "invalidPatchFields": {
                    "summary": "Unknown or unrecognized fields in PATCH body (like status, mediaType etc)",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_PATCH_FIELDS=<fieldNames>"
                      ]
                    }
                  },
                  "totalAndDailyBudgetNotAllowed": {
                    "summary": "Both totalBudget AND dailyBudget should not be present together",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TOTAL_AND_DAILY_BUDGET_NOT_ALLOWED_TOGETHER"
                      ]
                    }
                  },
                  "totalBudgetShouldBeEmptyForDaily": {
                    "summary": "budgetType=DAILY with totalBudget should not be present",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TOTAL_BUDGET_SHOULD_BE_EMPTY_FOR_DAILY_BUDGET_TYPE"
                      ]
                    }
                  },
                  "dailyBudgetShouldBeEmptyForTotal": {
                    "summary": "budgetType=TOTAL with dailyBudget should not be  present",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DAILY_BUDGET_SHOULD_BE_EMPTY_FOR_TOTAL_BUDGET_TYPE"
                      ]
                    }
                  },
                  "invalidBudgetType": {
                    "summary": "budgetType not a valid enum",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FIELD_BUDGET_TYPE"
                      ]
                    }
                  },
                  "multipleAdvertisersNotSupported": {
                    "summary": "Multiple advertiserId values in bulk request",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MULTIPLE_ADVERTISERS_NOT_SUPPORTED"
                      ]
                    }
                  },
                  "maxLimitExceeded": {
                    "summary": "Bulk size exceeds 10",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MAX_LIMIT_EXCEEDED_IN_BULK_REQUEST"
                      ]
                    }
                  },
                  "totalBudgetNotAllowedForDaily": {
                    "summary": "Existing budgetType=DAILY and patch has totalBudget without budgetType",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TOTAL_BUDGET_NOT_ALLOWED_FOR_DAILY_BUDGET_TYPE"
                      ]
                    }
                  },
                  "dailyBudgetNotAllowedForTotal": {
                    "summary": "Existing budgetType=TOTAL and patch has dailyBudget without budgetType",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DAILY_BUDGET_NOT_ALLOWED_FOR_TOTAL_BUDGET_TYPE"
                      ]
                    }
                  },
                  "budgetAmountNeedsToBeSet": {
                    "summary": "Switching budget type but missing the new budget amount",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BUDGET_AMOUNT_NEEDS_TO_BE_SET"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "internalServerError": {
                    "summary": "Downstream returned 5xx",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Patch Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      },
      "post": {
        "operationId": "createCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CampaignCreateRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Create Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      },
      "put": {
        "operationId": "updateCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CampaignUpdateRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Update Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      }
    },
    "/api/v1/campaigns/action": {
      "put": {
        "operationId": "deliveryStatusActionOnCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CampaignActionRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CampaignActionResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Pause/Resume/Archive/Unarchive Campaign",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      }
    },
    "/api/v1/campaigns/list": {
      "post": {
        "operationId": "listCampaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "List Campaigns",
        "tags": [
          "Campaign"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Campaign"
          }
        ]
      }
    },
    "/api/v1/adGroups": {
      "patch": {
        "description": "Performs partial updates on existing ad groups in bulk. Only fields explicitly included in the request body will be modified; all other attributes remain unchanged. Max batch size: 10. advertiserId must be the same across all items in the payload. Supports both expression-based and flattened targeting structures (not mixed). Supports delta targeting updates (add/remove) for keywords and audiences. Fields can be cleared by passing null.\n",
        "operationId": "patchAdGroupRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "summary": "Update name, frequencyCapDay, frequencyCapWeek and targeting (Expression based)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 11,
                      "name": "Ad Group 1",
                      "frequencyCapDay": 1,
                      "frequencyCapWeek": 3,
                      "targeting": {
                        "and": [
                          {
                            "contextual": [
                              {
                                "id": 3452,
                                "reach": "tier_2"
                              },
                              {
                                "id": 2343,
                                "reach": "tier_3"
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 123
                              },
                              {
                                "id": 234
                              },
                              {
                                "id": 235
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example2": {
                  "summary": "Update name, frequencyCapDay, frequencyCapWeek and targeting (Flattened)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 11,
                      "name": "Ad Group 1",
                      "frequencyCapDay": 1,
                      "frequencyCapWeek": 3,
                      "targeting": {
                        "contextual": {
                          "include": [
                            {
                              "id": 3455,
                              "reach": "tier_2"
                            },
                            {
                              "id": 3456,
                              "reach": "tier_3"
                            }
                          ]
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 123
                            },
                            {
                              "id": 122
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example3": {
                  "summary": "Update multiple adGroups (Expression based)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 11,
                      "frequencyCapDay": null,
                      "frequencyCapWeek": null,
                      "frequencyCapMonth": null,
                      "targeting": {
                        "and": [
                          {
                            "and": [
                              {
                                "keywords": [
                                  {
                                    "keywordText": "running shoes",
                                    "matchType": "BROAD"
                                  }
                                ]
                              },
                              {
                                "not": [
                                  {
                                    "keywords": [
                                      {
                                        "keywordText": "cheap shoes",
                                        "matchType": "EXACT"
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 234
                              },
                              {
                                "id": 235
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "advertiserId": 1,
                      "adGroupId": 12,
                      "endDate": "2023-12-09T12:00:00Z",
                      "frequencyCapMonth": 5,
                      "targeting": {
                        "and": [
                          {
                            "behavioral": [
                              {
                                "id": 134,
                                "audienceType": "retail",
                                "attribute": "historical"
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 234
                              },
                              {
                                "id": 235
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example4": {
                  "summary": "Update multiple adGroups with add/remove keywords (Flattened, delta targeting)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 11,
                      "frequencyCapDay": null,
                      "frequencyCapWeek": null,
                      "frequencyCapMonth": null,
                      "targeting": {
                        "keywords": {
                          "include": {
                            "add": [
                              {
                                "matchType": "BROAD",
                                "keywordText": "running shoes"
                              },
                              {
                                "matchType": "PHRASE",
                                "keywordText": "trail sneakers"
                              }
                            ],
                            "remove": [
                              {
                                "matchType": "BROAD",
                                "keywordText": "old broad term"
                              },
                              {
                                "matchType": "BROAD",
                                "keywordText": "new broad term"
                              }
                            ]
                          },
                          "exclude": {
                            "add": [
                              {
                                "matchType": "EXACT",
                                "keywordText": "free shoes"
                              },
                              {
                                "matchType": "EXACT",
                                "keywordText": "nike shoes"
                              }
                            ],
                            "remove": [
                              {
                                "matchType": "EXACT",
                                "keywordText": "cheap shoes"
                              },
                              {
                                "matchType": "EXACT",
                                "keywordText": "old shoes"
                              }
                            ]
                          }
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 234
                            },
                            {
                              "id": 235
                            }
                          ]
                        }
                      }
                    },
                    {
                      "advertiserId": 1,
                      "adGroupId": 12,
                      "endDate": "2023-12-09T12:00:00Z",
                      "frequencyCapMonth": 5,
                      "targeting": {
                        "behavioral": {
                          "include": [
                            {
                              "audienceType": "retail",
                              "attribute": "historical",
                              "id": 134
                            },
                            {
                              "audienceType": "retail",
                              "attribute": "historical",
                              "id": 234
                            }
                          ],
                          "exclude": [
                            {
                              "audienceType": "retail",
                              "attribute": "historical",
                              "id": 123
                            },
                            {
                              "audienceType": "retail",
                              "attribute": "historical",
                              "id": 111
                            }
                          ]
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 234
                            },
                            {
                              "id": 235
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example5": {
                  "summary": "Update ad group end date",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 11,
                      "endDate": "2024-12-09T12:00:00Z"
                    }
                  ]
                }
              },
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AdGroupPatchRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupCreateUpdateResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalidFieldStartOrEndDate": {
                    "summary": "Invalid start or end date",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FIELD_START_OR_END_DATE"
                      ]
                    }
                  },
                  "invalidKeywordTargetingType": {
                    "summary": "Invalid match type for keywords",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_KEYWORD_TARGETING_TYPE"
                      ]
                    }
                  },
                  "invalidContextualTargeting": {
                    "summary": "Invalid node passed in inclusions/exclusions",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_CONTEXTUAL_TARGETING"
                      ]
                    }
                  },
                  "invalidGeoTargeting": {
                    "summary": "Invalid geo targeting structure",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_GEO_TARGETING"
                      ]
                    }
                  },
                  "invalidKeywordTargeting": {
                    "summary": "Invalid keyword targeting structure",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_KEYWORD_TARGETING"
                      ]
                    }
                  },
                  "adGroupStartEndDateNotAllowed": {
                    "summary": "Start/end date should not be present with ad group setting enabled",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AD_GROUP_START_END_DATE_NOT_ALLOWED"
                      ]
                    }
                  },
                  "adGroupEndDateCannotBeNull": {
                    "summary": "End date cannot be null if schedule and budget are defined at ad group level",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AD_GROUP_END_DATE_CANNOT_BE_NULL"
                      ]
                    }
                  },
                  "endDateMustBeLaterThanStartDate": {
                    "summary": "End date must be later than start date",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "END_DATE_MUSTBE_LATER_THAN_START_DATE"
                      ]
                    }
                  },
                  "startDateShouldBeWithinYear": {
                    "summary": "Start date should be within a year from the current date",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "START_DATE_SHOULD_BE_WITHIN_YEAR"
                      ]
                    }
                  },
                  "adGroupStartDateCannotBeNull": {
                    "summary": "Start date cannot be null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AD_GROUP_START_DATE_CANNOT_BE_NULL"
                      ]
                    }
                  },
                  "eitherDailyOrTotalBudgetCanBeSet": {
                    "summary": "Either daily or total budget can be set for an ad group",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "EITHER_DAILY_OR_TOTAL_BUDGET_CAN_BE_SET"
                      ]
                    }
                  },
                  "invalidTargetingCombination": {
                    "summary": "Only geo targeting can be combined with any other targetings",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_TARGETING_COMBINATION"
                      ]
                    }
                  },
                  "adGroupInvalidNameSize": {
                    "summary": "Ad group name length must be between 4 and 1024 characters",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_INVALID_NAME_SIZE"
                      ]
                    }
                  },
                  "adGroupStartAndEndDateShouldBeNull": {
                    "summary": "Start and end date should be null if schedule and budget are defined at campaign level",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_START_AND_END_DATE_SHOULD_BE_NULL"
                      ]
                    }
                  },
                  "rosAdGroupCannotHaveTargetingDetailsSet": {
                    "summary": "Run of site ad group cannot have targeting details set",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ROS_ADGROUP_CANNOT_HAVE_TARGETING_DETAILS_SET"
                      ]
                    }
                  },
                  "moreThanOneTargetingCannotBeSelected": {
                    "summary": "More than one targeting tactic cannot be selected",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MORE_THAN_ONE_TARGETING_CANNOT_BE_SELECTED"
                      ]
                    }
                  },
                  "startDateCannotBeNull": {
                    "summary": "Start date cannot be null if schedule and budget are defined at ad group level",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "START_DATE_CANNOT_BE_NULL"
                      ]
                    }
                  },
                  "budgetFieldCannotBeNegative": {
                    "summary": "Budget must be greater than or equal to 0",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BUDGET_FIELD_CANNOT_BE_NEGATIVE"
                      ]
                    }
                  },
                  "dailyCapCannotBeGreaterThanWeeklyCap": {
                    "summary": "Daily cap can't be greater than weekly cap",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DAILY_CAP_CANNOT_BE_GREATER_THAN_WEEKLY_CAP"
                      ]
                    }
                  },
                  "dailyCapCannotBeGreaterThanMonthlyCap": {
                    "summary": "Daily cap can't be greater than monthly cap",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DAILY_CAP_CANNOT_BE_GREATER_THAN_MONTHLY_CAP"
                      ]
                    }
                  },
                  "weeklyCapCannotBeGreaterThanMonthlyCap": {
                    "summary": "Weekly cap can't be greater than monthly cap",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "WEEKLY_CAP_CANNOT_BE_GREATER_THAN_MONTHLY_CAP"
                      ]
                    }
                  },
                  "frontloadedNotAllowedForDailyBudgetType": {
                    "summary": "Frontloaded delivery is not allowed for daily budget type",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "FRONTLOADED_NOT_ALLOWED_FOR_DAILY_BUDGET_TYPE"
                      ]
                    }
                  },
                  "totalAndDailyBudgetNotAllowedTogether": {
                    "summary": "Either daily or total budget can be set, not both",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TOTAL_AND_DAILY_BUDGET_NOT_ALLOWED_TOGETHER"
                      ]
                    }
                  },
                  "unsupportedPostFlightUpdate": {
                    "summary": "Post flight update is not supported",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "UNSUPPORTED_POST_FLIGHT_UPDATE"
                      ]
                    }
                  },
                  "invalidGeoLocationId": {
                    "summary": "GeoIds provided in targeting request are invalid",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_GEO_LOCATION_ID"
                      ]
                    }
                  },
                  "invalidContextualTargetingIds": {
                    "summary": "Contextual targeting ids provided in targeting request are invalid",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_CONTEXTUAL_TARGETING_IDS"
                      ]
                    }
                  },
                  "invalidAudienceId": {
                    "summary": "Audience id provided in targeting request is invalid",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_AUDIENCE_ID"
                      ]
                    }
                  },
                  "invalidTargetingExpression": {
                    "summary": "Targeting expression provided is invalid",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_TARGETING_EXPRESSION"
                      ]
                    }
                  },
                  "targetingConversionFailed": {
                    "summary": "Invalid input expression for targeting",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TARGETING_CONVERSION_FAILED"
                      ]
                    }
                  },
                  "unableToFetchAdGroupDetail": {
                    "summary": "AdGroup details not found",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "UNABLE_TO_FETCH_ADGROUP_DETAIL"
                      ]
                    }
                  },
                  "invalidGeoTargetType": {
                    "summary": "Invalid geo target type value. Supported values are [STATE, CITY, DMA, COUNTRY]",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_GEO_TARGET_TYPE"
                      ]
                    }
                  },
                  "adGroupStartOrEndDateCannotBeInPastDuringPreFlight": {
                    "summary": "AdGroup startDate/endDate can't be in past during pre flight",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_START_OR_END_DATE_CANNOT_BE_IN_PAST_DURING_PRE_FLIGHT"
                      ]
                    }
                  },
                  "adGroupEndDateOnlyUnlimitedForDraftAdGroup": {
                    "summary": "End date cannot be empty (Unlimited) for other than draft ad groups",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_END_DATE_ONLY_UNLIMITED_FOR_DRAFT_ADGROUP"
                      ]
                    }
                  },
                  "endDateCannotBeUnlimitedForCampaignIfDefinedAtAdGroupLevel": {
                    "summary": "End date cannot be set for campaign if schedule is defined at ad group level",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "END_DATE_CANNOT_BE_UNLIMITED_FOR_CAMPAIGN_IF_IT_DEFINED_AT_ADGROUP_LEVEL"
                      ]
                    }
                  },
                  "keywordMatchTypeCannotBeEmpty": {
                    "summary": "Keyword match type cannot be empty",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "KEYWORD_MATCH_TYPE_CANNOT_BE_EMPTY"
                      ]
                    }
                  },
                  "invalidKeywordMatchType": {
                    "summary": "Invalid keyword match type",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_KEYWORD_MATCH_TYPE"
                      ]
                    }
                  },
                  "audienceTypeCannotBeEmpty": {
                    "summary": "Audience type cannot be empty",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AUDIENCE_TYPE_CANNOT_BE_EMPTY"
                      ]
                    }
                  },
                  "audienceTypeAndAttributeShouldBeSameAcrossAllNodes": {
                    "summary": "Audience type and attribute combination should be same across all nodes in a single request",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AUDIENCE_TYPE_AND_ATTRIBUTE_SHOULD_BE_SAME_ACROSS_ALL_NODE"
                      ]
                    }
                  },
                  "dailyBudgetNotHaveExpectedValue": {
                    "summary": "Daily budget should not be less than expected value",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DAILY_BUDGET_NOT_HAVE_EXPECTED_VALUE"
                      ]
                    }
                  },
                  "totalBudgetNotHaveExpectedValue": {
                    "summary": "Total budget should not be less than expected value",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TOTAL_BUDGET_NOT_HAVE_EXPECTED_VALUE"
                      ]
                    }
                  },
                  "endDateTooFarStartDate": {
                    "summary": "End date not after start date",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "END_DATE_TOO_FAR_START_DATE"
                      ]
                    }
                  },
                  "maxBidLessThanExpectedValue": {
                    "summary": "Max bid less than expected value",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MAX_BID_LESS_THAN_EXPECTED_VALUE"
                      ]
                    }
                  },
                  "baseBidLessThanExpectedValue": {
                    "summary": "Base bid less than expected value",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BASE_BID_LESS_THAN_EXPECTED_VALUE"
                      ]
                    }
                  },
                  "invalidFrequencyCapWeeklyLimit": {
                    "summary": "Invalid frequency cap weekly limit",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FREQUENCY_CAP_WEEKLY_LIMIT"
                      ]
                    }
                  },
                  "invalidFrequencyCapMonthlyLimit": {
                    "summary": "Invalid frequency cap monthly limit",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FREQUENCY_CAP_MONTHLY_LIMIT"
                      ]
                    }
                  },
                  "invalidFrequencyCapDailyLimit": {
                    "summary": "Invalid frequency cap daily limit",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FREQUENCY_CAP_DAILY_LIMIT"
                      ]
                    }
                  },
                  "invalidFrequencyCap": {
                    "summary": "Invalid frequency cap",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_FREQUENCY_CAP"
                      ]
                    }
                  },
                  "rosLinItemCannotHaveTargetingDetails": {
                    "summary": "Run of site line item cannot have targeting details, mark either one of them as null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ROS_LINEITEM_CANNOT_HAVE_TARGETING_DETAILS_MARK_EITHER_ONE_OF_THEM_AS_NULL"
                      ]
                    }
                  },
                  "moreThanOneTargetingTacticIsSelected": {
                    "summary": "More than one targeting tactic is selected",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MORE_THAN_ONE_TARGETING_TACTIC_IS_SELECTED"
                      ]
                    }
                  },
                  "midFlightChangesNotSupported": {
                    "summary": "AdGroup targeting cannot be updated during mid flight",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MID_FLIGHT_CHANGES_NOT_SUPPORTED"
                      ]
                    }
                  },
                  "startDateCannotBeChangedDuringMidFlight": {
                    "summary": "Start date cannot be changed when adGroup is in mid flight, scheduled or paused state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "START_DATE_CANNOT_BE_CHANGED_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_STATE"
                      ]
                    }
                  },
                  "budgetTypeCannotBeChangedDuringMidFlight": {
                    "summary": "Budget type cannot be changed when adGroup is in mid flight, scheduled, paused or completed state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BUDGET_TYPE_CANNOT_BE_CHANGED_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_OR_COMPLETED_STATE"
                      ]
                    }
                  },
                  "biddingCannotBeChangedDuringMidFlight": {
                    "summary": "Bidding cannot be changed when adGroup is in mid flight, scheduled, paused or completed state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BIDDING_CANNOT_BE_CHANGED_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_OR_COMPLETED_STATE"
                      ]
                    }
                  },
                  "deliveryProfileCannotBeChangedDuringMidFlight": {
                    "summary": "Delivery profile cannot be changed when adGroup is in mid flight, scheduled, paused or completed state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DELIVERY_PROFILE_CANNOT_BE_CHANGED_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_OR_COMPLETED_STATE"
                      ]
                    }
                  },
                  "targetingTypeCannotBeChangedDuringMidFlight": {
                    "summary": "Targeting type cannot be changed when adGroup is in mid flight, scheduled or paused state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "TARGETING_TYPE_CANNOT_BE_CHANGED_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_STATE"
                      ]
                    }
                  },
                  "atLeastOneApprovedKeywordShouldBePresent": {
                    "summary": "At least one approved keyword should be present while updating keywords when adGroup is in mid flight, scheduled or paused state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AT_LEAST_ONE_APPROVED_KEYWORD_SHOULD_BE_PRESENT_DURING_MID_FLIGHT_OR_SCHEDULED_OR_PAUSED_STATE"
                      ]
                    }
                  },
                  "baseBidShouldBeLesserThanOrEqualToBudget": {
                    "summary": "Base bid should be less than or equal to the daily or total budget",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BASE_BID_SHOULD_BE_LESSER_THAN_OR_EQUAL_TO_DAILY_OR_TOTAL_BUDGET"
                      ]
                    }
                  },
                  "maxBidShouldBeLesserThanOrEqualToBudget": {
                    "summary": "Max bid should be less than or equal to the daily or total budget",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "MAX_BID_SHOULD_BE_LESSER_THAN_OR_EQUAL_TO_DAILY_OR_TOTAL_BUDGET"
                      ]
                    }
                  },
                  "baseBidCannotBeGreaterThanMaxBid": {
                    "summary": "Base bid should be lesser than or equal to max bid",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "BASE_BID_CANNOT_BE_GREATER_THAN_MAX_BID"
                      ]
                    }
                  },
                  "adGroupNotFound": {
                    "summary": "There is no adGroup present with given adGroupId",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_NOT_FOUND"
                      ]
                    }
                  },
                  "invalidRateType": {
                    "summary": "Invalid rate type passed for adGroup",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_RATE_TYPE"
                      ]
                    }
                  },
                  "adGroupLimitReachedForCampaign": {
                    "summary": "Maximum number of adGroups per campaign is reached",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "ADGROUP_LIMIT_REACHED_FOR_CAMPAIGN"
                      ]
                    }
                  },
                  "keywordTextCannotBeEmptyOrNull": {
                    "summary": "Keyword text cannot be empty or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "KEYWORD_TEXT_CANNOT_BE_EMPTY_OR_NULL"
                      ]
                    }
                  },
                  "audienceIdCannotBeEmptyOrNull": {
                    "summary": "Audience id cannot be empty or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "AUDIENCE_ID_CANNOT_BE_EMPTY_OR_NULL"
                      ]
                    }
                  },
                  "contextualTargetingIdCannotBeEmptyOrNull": {
                    "summary": "Contextual targeting id cannot be empty or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "CONTEXTUAL_TARGETING_ID_CANNOT_BE_EMPTY_OR_NULL"
                      ]
                    }
                  },
                  "geoLocationIdCannotBeEmptyOrNull": {
                    "summary": "Geo location id / zipCode both cannot be empty or null",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "GEO_LOCATION_ID_CANNOT_BE_EMPTY_OR_NULL"
                      ]
                    }
                  },
                  "invalidContextualTargetingTier": {
                    "summary": "Invalid contextual targeting tier",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_CONTEXTUAL_TARGETING_TIER"
                      ]
                    }
                  },
                  "noAudienceDetailFetched": {
                    "summary": "No audience detail fetched for given audience type and attribute",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "NO_AUDIENCE_DETAIL_FETCHED_FOR_GIVEN_AUDIENCE_TYPE_AND_ATTRIBUTE"
                      ]
                    }
                  },
                  "differenceBetweenStartAndEndDateCrossedLimit": {
                    "summary": "Difference between start date and end date crossed limit",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DIFFERENCE_BETWEEN_START_DATE_AND_END_DATE_CROSSED_LIMIT"
                      ]
                    }
                  },
                  "duplicateAdGroupRequest": {
                    "summary": "Two or more entries with same adgroup identifier are not allowed in a request",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "DUPLICATE_ADGROUP_REQUEST"
                      ]
                    }
                  },
                  "updateAdGroupNotAllowedIfArchived": {
                    "summary": "AdGroup update is not allowed if the given adgroup is in archived state",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "UPDATE_ADGROUP_NOT_ALLOWED_IF_ADGROUP_STATUS_IS_ARCHIVED"
                      ]
                    }
                  },
                  "invalidAdGroupCampaignId": {
                    "summary": "AdGroup does not belong to the campaign id passed in the request",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_ADGROUP_CAMPAIGN_ID"
                      ]
                    }
                  },
                  "provideEitherGeoLocationIdOrZipCode": {
                    "summary": "Either geo location id or zipCode is allowed",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "PROVIDE_EITHER_GEO_LOCATION_ID_OR_ZIP_CODE"
                      ]
                    }
                  },
                  "invalidGeoLocationZipCode": {
                    "summary": "Invalid geo location zipCode provided",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INVALID_GEO_LOCATION_ZIP_CODE"
                      ]
                    }
                  },
                  "otherGeoTargetTypeNotAllowedWithZipCode": {
                    "summary": "Geo targeting should contain either zip code or regions/DMA, not both",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "OTHER_GEO_TARGET_TYPE_NOT_ALLOWED_WITH_ZIPCODE"
                      ]
                    }
                  },
                  "endDateMustBeAfterNoon": {
                    "summary": "End date is less than 12 noon EST. It should be greater than 12 noon EST",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "END_DATE_MUST_BE_AFTER_NOON"
                      ]
                    }
                  },
                  "unsupportedTargetingForGivenMediaType": {
                    "summary": "Keyword targeting is not supported for ad groups in video campaigns",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "UNSUPPORTED_TARGETING_FOR_GIVEN_MEDIATYPE"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AdGroupErrorResponse"
                }
              }
            },
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "internalServerError": {
                    "summary": "Downstream returned 5xx",
                    "value": {
                      "code": "FAILURE",
                      "details": [
                        "INTERNAL_SERVER_ERROR"
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AdGroupErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Patch AdGroup",
        "tags": [
          "Ad Group"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group"
          }
        ]
      },
      "post": {
        "operationId": "createAdGroupRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "summary": "Keyword Targeting(Expression based)",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "string",
                      "startDate": "string",
                      "endDate": "string",
                      "rateType": "string",
                      "budgetType": "string",
                      "dailyBudget": 0,
                      "totalBudget": 0,
                      "deliverySpeed": "string",
                      "frequencyCapDay": 0,
                      "frequencyCapWeek": 0,
                      "frequencyCapMonth": 0,
                      "maxBid": 0,
                      "targeting": {
                        "and": [
                          {
                            "keywords": [
                              {
                                "keywordText": "test-keyword-1",
                                "matchType": "BROAD"
                              },
                              {
                                "keywordText": "test-keyword-2",
                                "matchType": "EXACT"
                              }
                            ],
                            "not": [
                              {
                                "keywords": [
                                  {
                                    "keywordText": "test-keyword-negative",
                                    "matchType": "BROAD"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 123
                              },
                              {
                                "id": 234
                              },
                              {
                                "id": 235
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example2": {
                  "summary": "Contextual Targeting (Expression based)",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "string",
                      "startDate": "string",
                      "endDate": "string",
                      "rateType": "string",
                      "budgetType": "string",
                      "dailyBudget": 0,
                      "totalBudget": 0,
                      "deliverySpeed": "string",
                      "frequencyCapDay": 0,
                      "frequencyCapWeek": 0,
                      "frequencyCapMonth": 0,
                      "maxBid": 0,
                      "targeting": {
                        "and": [
                          {
                            "contextual": [
                              {
                                "id": 3452,
                                "reach": "tier_2"
                              },
                              {
                                "id": 2343,
                                "reach": "tier_3"
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 123
                              },
                              {
                                "id": 234
                              },
                              {
                                "id": 235
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example3": {
                  "summary": "Keyword Targeting (Flattened)",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "string",
                      "startDate": "string",
                      "endDate": "string",
                      "rateType": "string",
                      "budgetType": "string",
                      "dailyBudget": 0,
                      "totalBudget": 0,
                      "deliverySpeed": "string",
                      "frequencyCapDay": 0,
                      "frequencyCapWeek": 0,
                      "frequencyCapMonth": 0,
                      "maxBid": 0,
                      "targeting": {
                        "keywords": {
                          "include": [
                            {
                              "keywordText": "test-keyword-1",
                              "matchType": "BROAD"
                            },
                            {
                              "keywordText": "test-keyword-2",
                              "matchType": "EXACT"
                            }
                          ],
                          "exclude": [
                            {
                              "keywordText": "test-keyword-negative",
                              "matchType": "EXACT"
                            }
                          ]
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 123
                            },
                            {
                              "id": 234
                            },
                            {
                              "id": 235
                            }
                          ]
                        }
                      }
                    }
                  ]
                },
                "example4": {
                  "summary": "Contextual Targeting (Flattened)",
                  "value": [
                    {
                      "campaignId": 1,
                      "advertiserId": 1,
                      "name": "string",
                      "startDate": "string",
                      "endDate": "string",
                      "rateType": "string",
                      "budgetType": "string",
                      "dailyBudget": 0,
                      "totalBudget": 0,
                      "deliverySpeed": "string",
                      "frequencyCapDay": 0,
                      "frequencyCapWeek": 0,
                      "frequencyCapMonth": 0,
                      "maxBid": 0,
                      "targeting": {
                        "contextual": {
                          "include": [
                            {
                              "id": 3452,
                              "reach": "tier_2"
                            },
                            {
                              "id": 2343,
                              "reach": "tier_3"
                            }
                          ]
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 123
                            },
                            {
                              "id": 234
                            },
                            {
                              "id": 235
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AdGroupCreateRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupCreateUpdateResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Create AdGroup",
        "tags": [
          "Ad Group"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group"
          }
        ]
      },
      "put": {
        "operationId": "updateAdGroupRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "summary": "Update AdGroup with targeting (Expression based)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "campaignId": 1,
                      "adGroupId": 11,
                      "name": "Ad Group 1",
                      "startDate": "2024-06-27T00:00:00Z",
                      "endDate": "2024-12-30T23:59:59Z",
                      "rateType": "CPM",
                      "budgetType": "daily",
                      "dailyBudget": 100,
                      "deliverySpeed": "EVENLY",
                      "frequencyCapDay": 5,
                      "frequencyCapWeek": 15,
                      "frequencyCapMonth": 50,
                      "maxBid": 10,
                      "targeting": {
                        "and": [
                          {
                            "keywords": [
                              {
                                "keywordText": "running shoes",
                                "matchType": "BROAD"
                              },
                              {
                                "keywordText": "trail sneakers",
                                "matchType": "EXACT"
                              }
                            ],
                            "not": [
                              {
                                "keywords": [
                                  {
                                    "keywordText": "cheap shoes",
                                    "matchType": "EXACT"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "geoTargets": [
                              {
                                "id": 123
                              },
                              {
                                "id": 234
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                "example2": {
                  "summary": "Update AdGroup with targeting (Flattened)",
                  "value": [
                    {
                      "advertiserId": 1,
                      "campaignId": 1,
                      "adGroupId": 11,
                      "name": "Ad Group 1",
                      "startDate": "2024-06-27T00:00:00Z",
                      "endDate": "2024-12-30T23:59:59Z",
                      "rateType": "CPM",
                      "budgetType": "daily",
                      "dailyBudget": 100,
                      "deliverySpeed": "EVENLY",
                      "frequencyCapDay": 5,
                      "frequencyCapWeek": 15,
                      "frequencyCapMonth": 50,
                      "maxBid": 10,
                      "targeting": {
                        "keywords": {
                          "include": [
                            {
                              "keywordText": "running shoes",
                              "matchType": "BROAD"
                            },
                            {
                              "keywordText": "trail sneakers",
                              "matchType": "EXACT"
                            }
                          ],
                          "exclude": [
                            {
                              "keywordText": "cheap shoes",
                              "matchType": "EXACT"
                            }
                          ]
                        },
                        "geoTargets": {
                          "include": [
                            {
                              "id": 123
                            },
                            {
                              "id": 234
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AdGroupRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupCreateUpdateResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Update AdGroup",
        "tags": [
          "Ad Group"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group"
          }
        ]
      }
    },
    "/api/v1/adGroups/action": {
      "put": {
        "operationId": "deliveryStatusActionOnAdGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/AdGroupActionRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdGroupActionResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Pause/Resume/Archive/Unarchive AdGroup",
        "tags": [
          "Ad Group"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group"
          }
        ]
      }
    },
    "/api/v1/adGroups/list": {
      "post": {
        "operationId": "listAdGroupRequest",
        "parameters": [
          {
            "description": "Authentication signature.",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique consumer ID.",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bearer authentication token.",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp of the request.",
            "in": "header",
            "name": "WM_CONSUMER.intimestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the JSON schema used to evaluate and return the targeting object. <br>To ensure backward compatibility, omitting this header defaults to the legacy expression structure.\n  <br><strong>Note:</strong> This header is applicable only for the Line Item entity snapshot.\n",
            "in": "header",
            "name": "x-targeting-format",
            "required": false,
            "schema": {
              "enum": [
                "FLAT",
                "EXPRESSION"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-1": {
                    "summary": "AdGroupList response with targeting sample",
                    "value": {
                      "totalResults": 1,
                      "response": [
                        {
                          "campaignId": 1,
                          "adGroupId": 1,
                          "adGroupExtId": 1,
                          "name": "string",
                          "status": "string",
                          "startDate": "string",
                          "endDate": "string",
                          "budgetType": "string",
                          "deliverySpeed": "string",
                          "dailyBudget": 0,
                          "totalBudget": 0,
                          "rateType": "string",
                          "frequencyCapDay": 0,
                          "frequencyCapWeek": 0,
                          "frequencyCapMonth": 0,
                          "baseBid": 0,
                          "maxBid": 0,
                          "targeting": {
                            "and": [
                              {
                                "behavioral": [
                                  {
                                    "audienceType": "RETAIL",
                                    "attribute": "HISTORICAL",
                                    "id": 1,
                                    "name": "tropicana",
                                    "mappingType": "PRODUCT_CATEGORY"
                                  },
                                  {
                                    "audienceType": "RETAIL",
                                    "attribute": "HISTORICAL",
                                    "id": 5,
                                    "name": "sprite",
                                    "mappingType": "PRODUCT_FAMILY"
                                  }
                                ]
                              },
                              {
                                "geoTargets": [
                                  {
                                    "id": 2,
                                    "name": "Alabama",
                                    "locationType": "STATE"
                                  },
                                  {
                                    "id": 3,
                                    "name": "Alaska",
                                    "locationType": "STATE"
                                  },
                                  {
                                    "id": 10,
                                    "name": "Abbeville",
                                    "locationType": "CITY"
                                  },
                                  {
                                    "zipCode": "35004"
                                  }
                                ]
                              }
                            ]
                          },
                          "creationDate": "string"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AdGroupListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": [],
            "x-targeting-format": []
          }
        ],
        "summary": "List AdGroup",
        "tags": [
          "Ad Group"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group"
          }
        ]
      }
    },
    "/api/v1/adGroupCreativeAssociations": {
      "post": {
        "operationId": "addCreativeAdgroupAssociation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CreativeAdgroupAssociationRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeAdGroupAssociationResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Add Adgroup Creative Association",
        "tags": [
          "Ad Group Creative Associations"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group Creative Associations"
          }
        ]
      },
      "put": {
        "operationId": "editCreativeAdgroupAssociation",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "summary": "Item List response success",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 1,
                      "creativeId": "abcd-1234",
                      "urlTracker": [
                        {
                          "adUnit": "MARQUEE",
                          "clickUrlDesktopMWeb": "https://www.test.com/search?q=test+url+desktop+mweb",
                          "clickUrlApp": "https://www.test.com/search?q=test+url+desktop+app",
                          "dcmClickUrlDesktopMWeb": "https://test.net",
                          "dcmClickUrlApp": "https://test.net",
                          "iasClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                          "iasClickUrlApp": "https://test.com/def.jpeg",
                          "dvClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                          "dvClickUrlApp": "https://test.com/def.jpeg",
                          "desktopMWebTag": "https://test.com/abc.js"
                        },
                        {
                          "adUnit": "GALLERY",
                          "clickUrlDesktopMWeb": "https://www.test.com/search?q=test+url+desktop+mweb",
                          "clickUrlApp": "https://www.test.com/search?q=test+url+desktop+app",
                          "dcmClickUrlDesktopMWeb": "https://test.net",
                          "dcmClickUrlApp": "https://test.net",
                          "iasClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                          "iasClickUrlApp": "https://test.com/def.jpeg",
                          "dvClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                          "dvClickUrlApp": "https://test.com/def.jpeg",
                          "desktopMWebTag": "https://test.com/abc.js"
                        }
                      ],
                      "showPrice": false,
                      "badgeSettings": [
                        {
                          "type": "ROLLBACK",
                          "enabled": true
                        },
                        {
                          "type": "EXPRESS_DELIVERY",
                          "enabled": true
                        }
                      ],
                      "associatedItems": [
                        "12345"
                      ]
                    }
                  ]
                },
                "example2": {
                  "summary": "Ad Group Creative Associations with default URL tracker response success",
                  "value": [
                    {
                      "advertiserId": 1,
                      "adGroupId": 1,
                      "creativeId": "abcd-1234",
                      "defaultUrlTracker": {
                        "clickUrlDesktopMWeb": "https://www.test.com/search?q=test+url+desktop+mweb",
                        "clickUrlApp": "https://www.test.com/search?q=test+url+desktop+app",
                        "dcmClickUrlDesktopMWeb": "https://test.net",
                        "dcmClickUrlApp": "https://test.net",
                        "iasClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                        "iasClickUrlApp": "https://test.com/def.jpeg",
                        "dvClickUrlDesktopMWeb": "https://test.com/abd.jpeg",
                        "dvClickUrlApp": "https://test.com/def.jpeg",
                        "desktopMWebTag": "https://test.com/abc.js"
                      },
                      "urlTracker": [
                        {
                          "adUnit": "MARQUEE",
                          "clickUrlDesktopMWeb": "https://www.test.com/search?q=test+url+desktop+mweb",
                          "clickUrlApp": "https://www.test.com/search?q=test+url+desktop+app"
                        }
                      ],
                      "showPrice": false,
                      "badgeSettings": [
                        {
                          "type": "ROLLBACK",
                          "enabled": true
                        },
                        {
                          "type": "EXPRESS_DELIVERY",
                          "enabled": true
                        }
                      ],
                      "associatedItems": [
                        "12345"
                      ]
                    }
                  ]
                }
              },
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CreativeAdgroupAssociationRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeAdGroupAssociationResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Update Adgroup Creative Association",
        "tags": [
          "Ad Group Creative Associations"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group Creative Associations"
          }
        ]
      }
    },
    "/api/v1/adGroupCreativeAssociations/list": {
      "post": {
        "operationId": "listCreativeAdGroupAssociation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeAdgroupAssociationGetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreativeAdGroupAssociationListResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "List Creative Association",
        "tags": [
          "Ad Group Creative Associations"
        ],
        "x-content-type": "application/json",
        "x-accepts": "*/*",
        "x-tags": [
          {
            "tag": "Ad Group Creative Associations"
          }
        ]
      }
    },
    "/api/v1/adGroupCreativeAssociations/delete": {
      "post": {
        "operationId": "deleteCreativeAdgroupAssociation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/CreativeAdGroupAssociationDeleteRequest"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeAdGroupAssociationResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Remove Adgroup Creative Association",
        "tags": [
          "Ad Group Creative Associations"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Ad Group Creative Associations"
          }
        ]
      }
    },
    "/api/v1/creatives": {
      "post": {
        "operationId": "createCreative",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreativeRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Create Creative",
        "tags": [
          "Creatives"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Creatives"
          }
        ]
      }
    },
    "/api/v1/creatives/{creativeId}/preview/{adUnitName}": {
      "post": {
        "operationId": "getCreativePreviewForAdUnit",
        "parameters": [
          {
            "in": "path",
            "name": "creativeId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "adUnitName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAdUnitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Get Creative Preview for AdUnit",
        "tags": [
          "Creatives"
        ],
        "x-content-type": "application/json",
        "x-accepts": "image/jpeg",
        "x-tags": [
          {
            "tag": "Creatives"
          }
        ]
      }
    },
    "/api/v1/creatives/submit": {
      "post": {
        "operationId": "submitCreative",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeWithCreativeIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeStateIdResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Submit Creative",
        "tags": [
          "Creatives"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Creatives"
          }
        ]
      }
    },
    "/api/v1/creatives/submit/status": {
      "post": {
        "operationId": "getCreativeSubmitStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeStateIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Check status of submitted creative",
        "tags": [
          "Creatives"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Creatives"
          }
        ]
      }
    },
    "/api/v1/creatives/preview": {
      "post": {
        "operationId": "previewCreative",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeWithCreativeIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CreativeStateIdResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid request parameters supplied"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "security": [
          {
            "auth_signature": [],
            "consumer_id": [],
            "auth_token": [],
            "timestamp": []
          }
        ],
        "summary": "Preview Creative",
        "tags": [
          "Creatives"
        ],
        "x-content-type": "application/json",
        "x-accepts": "application/json",
        "x-tags": [
          {
            "tag": "Creatives"
          }
        ]
      }
    },
    "/api/v1/creatives/previews": {
      "post": {
        "operationId": "listCreativePreviews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAdUnitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
[...]
